In [1]:
# レースID・登録番号ごとに、直近100レース分の順位分布と平均スタートタイム偏差を取得し、
# バッチでテーブルにinsertする。

# 汎用ライブラリのimport
import sys
import os
import pandas as pd
import numpy as np
import statsmodels.api as sm
import math
import csv

In [2]:
# 自作ライブラリのimport
if os.environ['BR_HOME']+"/boatrace" not in sys.path:
    sys.path.append(os.environ['BR_HOME']+"/boatrace")
#print(sys.path)

from setup.myUtil import dbHandler

In [7]:
args = sys.argv
if len(args)==0:
    Debug=True
else:
    Debug=False
    
# 分析期間の指定は一旦ここでまとめてみる。
if Debug:
    trainStartDate="20170919"
    trainEndDate="20170919"
else:
    trainStartDate=args[1]
    trainEndDate=args[2]
print(trainStartDate,trainEndDate)

-f /home/ec2-user/.local/share/jupyter/runtime/kernel-5cd5069b-a23a-421d-a48a-16cae5dd40c7.json

In [4]:
dbh=dbHandler.getDBHandle()
#dbHandler.closeDBHandle(dbh)

In [6]:
# 指定期間のレースIDリストを作る
with dbh.cursor() as cursor:
    sel_sql = "select raceId from racemanagement \
               where raceDate between '%s' and '%s' \
               order by raceId "\
               % (trainStartDate,trainEndDate)
    cursor.execute(sel_sql)
    raceIdList=cursor.fetchall()
print("raceIdList:",len(raceIdList))

select raceId from racemanagement                where raceDate between '-f' and '/home/ec2-user/.local/share/jupyter/runtime/kernel-5cd5069b-a23a-421d-a48a-16cae5dd40c7.json'                order by raceId
raceIdList: 0

In [38]:
for raceId in [ raceIdList[i]['raceId'] for i in range(len(raceIdList))]:
    print(raceId)
    # 各レースIDで、メンバーリストを順次とっていく
    with dbh.cursor() as membercursor:
        selmember_sql = "select rmToban from racemember \
                         where raceId = '%s' order by rmLane" \
                         % (raceId)
        membercursor.execute(selmember_sql)
        tmpMemList=membercursor.fetchall()
        # 取得したメンバーリストに基づき、それぞれの過去レースリストを取得
        with dbh.cursor() as oldResultCursor:
            #tmpOldDict={'raceId':racdId}
            lane=0
            for tobanHash in tmpMemList:
                lane+=1
                # あとでまた変換するのが面倒だから、変数名をレーン別にわける。
                sel_sql = "select \
                               count(CASE WHEN a.goalRank=1 THEN a.goalRank END)/100 as oldRank1,\
                               count(CASE WHEN a.goalRank=2 THEN a.goalRank END)/100 as oldRank2,\
                               count(CASE WHEN a.goalRank=3 THEN a.goalRank END)/100 as oldRank3,\
                               count(CASE WHEN a.goalRank=4 THEN a.goalRank END)/100 as oldRank4,\
                               count(CASE WHEN a.goalRank=5 THEN a.goalRank END)/100 as oldRank5,\
                               count(CASE WHEN a.goalRank=6 THEN a.goalRank END)/100 as oldRank6 \
                           from ( \
                                select tr.goalRank from raceresult tr\
                                where tr.toban = '%s' \
                                and tr.raceId < '%s'\
                                order by tr.raceId desc \
                                limit 100 \
                           ) a "\
                           % (tobanHash['rmToban'],raceId)
                oldResultCursor.execute(sel_sql)
                tmpOldDict=(oldResultCursor.fetchall())[0]
                
                # 次に、過去のレースタイム関連情報をとってくる。
                seltime_sql = "select \
                                 rr.toban,avg(rr.startDev) as avgStartDev,avg(rr.startTime) as avgStartTime \
                               from \
                                (   select \
                                        r.raceId,r.toban, \
                                        ( r.startTime-avgAll.avgStartAll) as startDev, \
                                        r.startTime \
                                    from \
                                        raceresult r,\
                                        ( select raceId,avg(startTime) as avgStartAll from raceresult \
                                          group by raceId ) avgAll  \
                                    where avgAll.raceId = r.raceId \
                                      and r.toban = '%s' \
                                      and r.raceId < '%s' \
                                    group by r.raceId,r.toban,r.startTime \
                                    order by r.raceId desc \
                                    limit 100  ) as rr \
                               group by rr.toban " \
                              % (tobanHash['rmToban'],raceId)
                
                oldResultCursor.execute(seltime_sql)
                try:
                    tmpOldTimeDict=(oldResultCursor.fetchall())[0]
                except IndexError as e:
                    tmpOldTimeDict={'avgStartDev':0.0,'avgStartTime':0.20}
                
        # 終わったらraceId別にテーブルに突っ込む
                with dbh.cursor() as insOldRaceByTobanCursor:
                    ins_sql = "INSERT INTO oldResultByTobanEasy \
                               (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6, \
                                avgStartDev,avgStartTime) \
                               VALUES \
                               ('%s','%s',%d,%f,%f,%f,%f,%f,%f,%f,%f) "\
                              % (raceId,tobanHash['rmToban'],lane,
                                 tmpOldDict['oldRank1'],tmpOldDict['oldRank2'],tmpOldDict['oldRank3'],
                                 tmpOldDict['oldRank4'],tmpOldDict['oldRank5'],tmpOldDict['oldRank6'],
                                 tmpOldTimeDict['avgStartDev']  ,tmpOldTimeDict['avgStartTime']
                                )
                    #print(ins_sql)
                    insOldRaceByTobanCursor.execute(ins_sql)
                    dbh.commit()

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-01','4915',1,0.010000,0.030000,0.060000,0.140000,0.260000,0.500000,0.004567,0.174200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-01','4177',2,0.190000,0.150000,0.210000,0.180000,0.150000,0.120000,-0.007500,0.182700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-01','2538',3,0.080000,0.110000,0.140000,0.270000,0.240000,0.160000,0.006833,0.171100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-01','4928',4,0.180000,0.130000,0.110000,0.170000,0.130000,0.280000,-0.005200,0.164100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-01','3286',5,0.140000,0.200000,0.170000,0.180000,0.130000,0.180000,-0.022750,0.169400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-01','4327',6,0.140000,0.150000,0.110000,0.140000,0.150000,0.310000,-0.010367,0.182900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-02','4078',1,0.050000,0.050000,0.220000,0.180000,0.260000,0.240000,0.033933,0.220600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-02','4814',2,0.050000,0.150000,0.080000,0.160000,0.300000,0.260000,0.075033,0.252500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-02','4859',3,0.110000,0.130000,0.130000,0.160000,0.190000,0.280000,-0.048433,0.154600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-02','3664',4,0.160000,0.240000,0.120000,0.100000,0.110000,0.270000,-0.053200,0.182100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-02','3799',5,0.090000,0.100000,0.210000,0.150000,0.230000,0.220000,0.001217,0.169700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-02','5042',6,0.030000,0.090000,0.140000,0.240000,0.190000,0.310000,-0.010450,0.167500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-03','4520',1,0.120000,0.170000,0.130000,0.250000,0.190000,0.140000,0.000783,0.175600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-03','4650',2,0.320000,0.160000,0.160000,0.170000,0.170000,0.020000,-0.039650,0.164600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-03','3902',3,0.190000,0.200000,0.230000,0.170000,0.130000,0.080000,0.005400,0.193200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-03','5005',4,0.050000,0.080000,0.080000,0.290000,0.280000,0.220000,-0.009200,0.156400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-03','4139',5,0.100000,0.170000,0.160000,0.190000,0.170000,0.210000,-0.019200,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-03','3699',6,0.160000,0.210000,0.170000,0.170000,0.160000,0.130000,0.098567,0.288400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-04','3850',1,0.110000,0.100000,0.180000,0.160000,0.290000,0.160000,-0.007517,0.202200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-04','4335',2,0.300000,0.230000,0.200000,0.110000,0.110000,0.050000,-0.042983,0.136600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-04','4201',3,0.200000,0.230000,0.170000,0.170000,0.130000,0.100000,-0.034100,0.177800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-04','4186',4,0.090000,0.140000,0.130000,0.150000,0.230000,0.260000,-0.008000,0.176400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-04','5035',5,0.020000,0.020000,0.060000,0.050000,0.230000,0.620000,0.069433,0.266200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-04','4036',6,0.340000,0.200000,0.170000,0.150000,0.070000,0.070000,0.003067,0.179900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-05','3838',1,0.230000,0.170000,0.170000,0.160000,0.140000,0.130000,-0.029883,0.145000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-05','3860',2,0.040000,0.180000,0.190000,0.270000,0.200000,0.120000,0.015583,0.219700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-05','3952',3,0.370000,0.220000,0.200000,0.090000,0.040000,0.080000,-0.047767,0.154100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-05','4281',4,0.160000,0.170000,0.210000,0.190000,0.130000,0.140000,-0.020767,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-05','4231',5,0.180000,0.170000,0.130000,0.130000,0.170000,0.220000,-0.015883,0.158500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-05','2538',6,0.080000,0.120000,0.140000,0.270000,0.240000,0.150000,0.006183,0.170900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-06','3200',1,0.250000,0.220000,0.100000,0.180000,0.150000,0.100000,-0.014217,0.150900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-06','4078',2,0.050000,0.060000,0.220000,0.180000,0.260000,0.230000,0.032850,0.219200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-06','4432',3,0.070000,0.120000,0.210000,0.240000,0.220000,0.140000,-0.038883,0.169400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-06','4327',4,0.130000,0.150000,0.110000,0.150000,0.150000,0.310000,-0.010383,0.183000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-06','4859',5,0.110000,0.130000,0.130000,0.160000,0.190000,0.280000,-0.048333,0.154400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-06','3594',6,0.020000,0.130000,0.110000,0.210000,0.300000,0.230000,0.013383,0.195900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-07','3833',1,0.250000,0.200000,0.220000,0.110000,0.080000,0.140000,0.042567,0.232700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-07','3286',2,0.130000,0.200000,0.170000,0.180000,0.140000,0.180000,-0.022783,0.169600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-07','4520',3,0.120000,0.170000,0.130000,0.250000,0.190000,0.140000,-0.002300,0.172400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-07','3902',4,0.190000,0.190000,0.230000,0.170000,0.140000,0.080000,0.006333,0.194100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-07','3629',5,0.180000,0.240000,0.110000,0.230000,0.130000,0.110000,-0.031133,0.157100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-07','3799',6,0.090000,0.100000,0.210000,0.160000,0.220000,0.220000,0.002333,0.171700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-08','3716',1,0.440000,0.210000,0.190000,0.090000,0.040000,0.030000,-0.037583,0.131400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-08','3664',2,0.160000,0.230000,0.120000,0.100000,0.110000,0.280000,-0.051933,0.183500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-08','4186',3,0.090000,0.140000,0.130000,0.150000,0.220000,0.270000,-0.007467,0.176300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-08','5042',4,0.040000,0.090000,0.140000,0.240000,0.190000,0.300000,-0.009950,0.167700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-08','4191',5,0.220000,0.240000,0.260000,0.150000,0.120000,0.010000,-0.008267,0.170100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-08','4177',6,0.190000,0.140000,0.220000,0.180000,0.150000,0.120000,-0.005400,0.185800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-09','5005',1,0.050000,0.080000,0.080000,0.300000,0.280000,0.210000,-0.008867,0.157100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-09','3850',2,0.110000,0.100000,0.180000,0.160000,0.290000,0.160000,-0.007967,0.201700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-09','4928',3,0.170000,0.130000,0.110000,0.170000,0.130000,0.290000,-0.006067,0.164200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-09','3860',4,0.040000,0.180000,0.190000,0.260000,0.210000,0.120000,0.014800,0.218000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-09','4814',5,0.050000,0.150000,0.080000,0.160000,0.300000,0.260000,0.073683,0.251300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-09','5035',6,0.020000,0.020000,0.060000,0.060000,0.230000,0.610000,0.068850,0.265000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-10','4036',1,0.330000,0.210000,0.170000,0.150000,0.070000,0.070000,0.003067,0.179600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-10','4139',2,0.110000,0.170000,0.160000,0.190000,0.160000,0.210000,-0.020067,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-10','3833',3,0.250000,0.200000,0.220000,0.110000,0.080000,0.140000,0.042433,0.232400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-10','4201',4,0.200000,0.230000,0.180000,0.160000,0.130000,0.100000,-0.034250,0.176500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-10','3952',5,0.360000,0.220000,0.200000,0.100000,0.040000,0.080000,-0.047267,0.153900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-10','3838',6,0.230000,0.170000,0.170000,0.160000,0.140000,0.130000,-0.029283,0.145400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-11','4191',1,0.220000,0.230000,0.260000,0.160000,0.120000,0.010000,-0.007833,0.170700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-11','3629',2,0.180000,0.240000,0.110000,0.220000,0.140000,0.110000,-0.029967,0.157100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-11','4231',3,0.170000,0.180000,0.130000,0.130000,0.170000,0.220000,-0.015717,0.157600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-11','4650',4,0.310000,0.170000,0.160000,0.170000,0.170000,0.020000,-0.040567,0.163800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-11','4335',5,0.300000,0.230000,0.200000,0.110000,0.110000,0.050000,-0.043417,0.135800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-11','3200',6,0.260000,0.210000,0.100000,0.180000,0.150000,0.100000,-0.013133,0.151900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-12','4061',1,0.320000,0.240000,0.160000,0.110000,0.070000,0.100000,-0.015683,0.148600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-12','4342',2,0.250000,0.220000,0.190000,0.130000,0.110000,0.100000,-0.026767,0.129800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-12','4572',3,0.240000,0.180000,0.210000,0.150000,0.120000,0.100000,-0.009367,0.151900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-12','4653',4,0.310000,0.210000,0.260000,0.090000,0.070000,0.060000,-0.016417,0.149900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-12','3995',5,0.310000,0.160000,0.150000,0.150000,0.130000,0.100000,-0.053150,0.117000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-01-12','4428',6,0.220000,0.200000,0.140000,0.180000,0.150000,0.110000,-0.023783,0.150200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-01','4053',1,0.190000,0.210000,0.170000,0.180000,0.200000,0.050000,-0.024350,0.164900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-01','4889',2,0.070000,0.090000,0.120000,0.130000,0.240000,0.350000,0.044500,0.267000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-01','5044',3,0.010000,0.070000,0.140000,0.130000,0.200000,0.450000,0.010483,0.195500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-01','3681',4,0.220000,0.230000,0.180000,0.150000,0.110000,0.110000,-0.009833,0.150800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-01','4921',5,0.030000,0.080000,0.070000,0.130000,0.300000,0.390000,-0.005600,0.159600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-01','4906',6,0.180000,0.150000,0.160000,0.140000,0.210000,0.160000,-0.005633,0.161500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-02','3293',1,0.090000,0.120000,0.180000,0.280000,0.140000,0.190000,0.001367,0.208200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-02','4152',2,0.160000,0.210000,0.180000,0.170000,0.160000,0.120000,0.009600,0.190300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-02','3868',3,0.120000,0.180000,0.160000,0.210000,0.170000,0.160000,-0.028633,0.182300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-02','4847',4,0.260000,0.210000,0.130000,0.110000,0.180000,0.110000,-0.003300,0.157400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-02','3340',5,0.070000,0.140000,0.140000,0.230000,0.230000,0.190000,0.005033,0.184100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-02','3488',6,0.190000,0.170000,0.170000,0.160000,0.220000,0.090000,-0.032550,0.145600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-03','4615',1,0.070000,0.100000,0.170000,0.210000,0.250000,0.200000,0.012050,0.212900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-03','4911',2,0.020000,0.020000,0.110000,0.170000,0.300000,0.380000,0.001583,0.193700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-03','3085',3,0.070000,0.200000,0.160000,0.180000,0.200000,0.190000,0.007500,0.182600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-03','4086',4,0.280000,0.150000,0.190000,0.170000,0.130000,0.080000,-0.021500,0.165000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-03','4465',5,0.040000,0.130000,0.160000,0.200000,0.250000,0.220000,0.019100,0.197700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-03','4769',6,0.240000,0.190000,0.090000,0.210000,0.100000,0.170000,-0.071517,0.113600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-04','4956',1,0.010000,0.010000,0.070000,0.160000,0.330000,0.420000,-0.022000,0.172100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-04','3236',2,0.130000,0.110000,0.110000,0.160000,0.220000,0.270000,-0.010867,0.190400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-04','3656',3,0.220000,0.190000,0.230000,0.180000,0.050000,0.130000,0.053150,0.275200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-04','3347',4,0.240000,0.290000,0.250000,0.130000,0.060000,0.030000,-0.018400,0.166100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-04','4818',5,0.060000,0.120000,0.170000,0.190000,0.230000,0.230000,0.008283,0.203400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-04','3590',6,0.260000,0.190000,0.170000,0.150000,0.120000,0.110000,-0.013383,0.133900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-05','4863',1,0.080000,0.090000,0.230000,0.260000,0.120000,0.220000,-0.022800,0.163100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-05','3641',2,0.190000,0.250000,0.190000,0.170000,0.130000,0.070000,-0.022333,0.161400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-05','3256',3,0.310000,0.270000,0.120000,0.130000,0.150000,0.020000,-0.038317,0.138000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-05','4921',4,0.030000,0.080000,0.070000,0.130000,0.290000,0.400000,-0.005833,0.158600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-05','3857',5,0.040000,0.150000,0.230000,0.250000,0.160000,0.170000,-0.013800,0.164800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-05','3227',6,0.270000,0.170000,0.210000,0.130000,0.110000,0.110000,-0.009850,0.168800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-06','4245',1,0.110000,0.210000,0.250000,0.100000,0.120000,0.210000,-0.033983,0.208600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-06','3293',2,0.090000,0.120000,0.180000,0.270000,0.140000,0.200000,0.000783,0.207700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-06','4053',3,0.190000,0.220000,0.160000,0.180000,0.200000,0.050000,-0.024867,0.163300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-06','3613',4,0.280000,0.180000,0.150000,0.190000,0.110000,0.090000,-0.006583,0.148100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-06','4366',5,0.390000,0.200000,0.160000,0.100000,0.050000,0.100000,-0.023917,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-06','3377',6,0.100000,0.060000,0.160000,0.160000,0.240000,0.280000,0.018317,0.204600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-07','5044',1,0.010000,0.070000,0.140000,0.130000,0.200000,0.450000,0.010300,0.194900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-07','4460',2,0.320000,0.220000,0.200000,0.110000,0.100000,0.050000,-0.070800,0.135100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-07','3826',3,0.270000,0.240000,0.190000,0.160000,0.100000,0.040000,-0.028650,0.178900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-07','3488',4,0.190000,0.160000,0.180000,0.160000,0.220000,0.090000,-0.032117,0.146700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-07','3517',5,0.280000,0.200000,0.130000,0.160000,0.160000,0.070000,0.071217,0.268700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-07','4075',6,0.330000,0.200000,0.170000,0.120000,0.100000,0.080000,-0.039167,0.156700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-08','3313',1,0.040000,0.140000,0.130000,0.250000,0.250000,0.190000,0.003817,0.201100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-08','3681',2,0.230000,0.230000,0.170000,0.150000,0.110000,0.110000,-0.010033,0.150300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-08','4769',3,0.240000,0.190000,0.090000,0.210000,0.110000,0.160000,-0.071333,0.114900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-08','4956',4,0.010000,0.010000,0.070000,0.160000,0.330000,0.420000,-0.022800,0.169500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-08','4083',5,0.270000,0.230000,0.150000,0.120000,0.130000,0.100000,0.004283,0.164100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-08','4266',6,0.250000,0.170000,0.170000,0.170000,0.070000,0.170000,-0.002800,0.145900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-09','3256',1,0.320000,0.270000,0.120000,0.130000,0.140000,0.020000,-0.021967,0.137000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-09','3085',2,0.080000,0.200000,0.160000,0.180000,0.200000,0.180000,0.006500,0.182100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-09','4906',3,0.180000,0.150000,0.160000,0.140000,0.210000,0.160000,-0.005583,0.160200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-09','4895',4,0.040000,0.140000,0.140000,0.220000,0.210000,0.250000,-0.000183,0.173700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-09','4880',5,0.150000,0.080000,0.170000,0.180000,0.210000,0.210000,-0.000750,0.166700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-09','3236',6,0.130000,0.110000,0.120000,0.160000,0.220000,0.260000,-0.011750,0.188400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-10','3382',1,0.140000,0.120000,0.130000,0.200000,0.240000,0.170000,0.065717,0.277300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-10','4568',2,0.170000,0.150000,0.190000,0.180000,0.160000,0.150000,-0.014167,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-10','4086',3,0.280000,0.150000,0.180000,0.170000,0.130000,0.090000,-0.020450,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-10','3590',4,0.250000,0.200000,0.170000,0.150000,0.120000,0.110000,-0.013300,0.132100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-10','3227',5,0.270000,0.170000,0.210000,0.130000,0.100000,0.120000,-0.012033,0.165000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-10','4847',6,0.270000,0.210000,0.130000,0.100000,0.180000,0.110000,-0.002733,0.157900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-11','3641',1,0.190000,0.260000,0.190000,0.160000,0.130000,0.070000,-0.022683,0.160200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-11','3826',2,0.270000,0.240000,0.200000,0.160000,0.100000,0.030000,-0.028517,0.178500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-11','4366',3,0.380000,0.210000,0.160000,0.100000,0.050000,0.100000,-0.023133,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-11','4615',4,0.070000,0.100000,0.170000,0.220000,0.250000,0.190000,0.011367,0.213000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-11','3347',5,0.230000,0.290000,0.250000,0.140000,0.060000,0.030000,-0.017400,0.166300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-11','4644',6,0.200000,0.140000,0.210000,0.220000,0.150000,0.080000,-0.004567,0.175200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-12','3613',1,0.270000,0.180000,0.150000,0.190000,0.120000,0.090000,-0.007600,0.147500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-12','3656',2,0.220000,0.190000,0.230000,0.180000,0.050000,0.130000,0.052467,0.274200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-12','4083',3,0.260000,0.230000,0.160000,0.120000,0.130000,0.100000,0.004717,0.163700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-12','4465',4,0.040000,0.140000,0.160000,0.200000,0.250000,0.210000,0.019133,0.198000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-12','3463',5,0.170000,0.260000,0.170000,0.190000,0.080000,0.130000,-0.031783,0.179400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-05-12','3517',6,0.280000,0.200000,0.130000,0.170000,0.160000,0.060000,0.072283,0.270200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-01','4461',1,0.110000,0.070000,0.210000,0.160000,0.270000,0.180000,-0.020200,0.172700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-01','4439',2,0.120000,0.100000,0.160000,0.200000,0.240000,0.180000,-0.008500,0.195100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-01','4273',3,0.130000,0.190000,0.180000,0.130000,0.170000,0.200000,0.006583,0.203400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-01','4284',4,0.090000,0.110000,0.100000,0.150000,0.360000,0.190000,0.005283,0.184000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-01','5020',5,0.000000,0.000000,0.000000,0.010000,0.130000,0.840000,0.023299,0.205612)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-01','4310',6,0.080000,0.150000,0.140000,0.180000,0.210000,0.240000,-0.007467,0.169000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-02','3398',1,0.030000,0.120000,0.140000,0.230000,0.210000,0.270000,0.106317,0.323900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-02','3792',2,0.200000,0.190000,0.250000,0.130000,0.160000,0.070000,-0.009400,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-02','3921',3,0.200000,0.190000,0.170000,0.170000,0.190000,0.080000,0.075250,0.266600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-02','4285',4,0.130000,0.150000,0.090000,0.260000,0.180000,0.190000,0.005667,0.177300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-02','4677',5,0.320000,0.200000,0.230000,0.060000,0.090000,0.100000,-0.068833,0.123600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-02','4270',6,0.130000,0.120000,0.110000,0.270000,0.170000,0.200000,0.078583,0.304800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-03','3560',1,0.080000,0.110000,0.150000,0.120000,0.130000,0.410000,0.096583,0.291300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-03','4828',2,0.290000,0.180000,0.170000,0.140000,0.150000,0.070000,-0.057300,0.127700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-03','4082',3,0.240000,0.200000,0.160000,0.170000,0.100000,0.130000,-0.043700,0.164000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-03','3433',4,0.060000,0.180000,0.120000,0.180000,0.200000,0.260000,-0.014317,0.193500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-03','3502',5,0.230000,0.180000,0.210000,0.170000,0.170000,0.040000,0.004050,0.178700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-03','4700',6,0.090000,0.170000,0.180000,0.210000,0.160000,0.190000,0.018033,0.184300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-04','4512',1,0.300000,0.230000,0.130000,0.130000,0.080000,0.130000,0.155483,0.350500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-04','4875',2,0.060000,0.130000,0.190000,0.300000,0.150000,0.170000,-0.034383,0.197100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-04','4059',3,0.200000,0.120000,0.210000,0.110000,0.140000,0.220000,-0.004867,0.173800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-04','3339',4,0.100000,0.150000,0.260000,0.210000,0.090000,0.190000,-0.010967,0.159200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-04','4989',5,0.020000,0.060000,0.160000,0.160000,0.200000,0.400000,0.028767,0.229900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-04','3503',6,0.100000,0.150000,0.130000,0.230000,0.190000,0.200000,-0.039717,0.151500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-05','4943',1,0.040000,0.110000,0.150000,0.230000,0.220000,0.250000,-0.033517,0.186800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-05','4340',2,0.060000,0.150000,0.180000,0.190000,0.230000,0.190000,0.042800,0.235600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-05','3467',3,0.110000,0.180000,0.140000,0.160000,0.240000,0.170000,0.007800,0.187500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-05','3582',4,0.370000,0.210000,0.100000,0.130000,0.120000,0.070000,0.002050,0.175600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-05','4470',5,0.190000,0.200000,0.180000,0.100000,0.170000,0.160000,-0.007817,0.152900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-05','4297',6,0.350000,0.130000,0.180000,0.120000,0.110000,0.110000,-0.055983,0.135900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-06','4688',1,0.200000,0.270000,0.210000,0.090000,0.110000,0.120000,-0.057983,0.147200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-06','4270',2,0.130000,0.130000,0.100000,0.270000,0.170000,0.200000,0.078217,0.304100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-06','4124',3,0.190000,0.280000,0.140000,0.150000,0.160000,0.080000,-0.018617,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-06','3992',4,0.190000,0.170000,0.190000,0.120000,0.190000,0.140000,-0.038117,0.142000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-06','4284',5,0.090000,0.100000,0.110000,0.150000,0.360000,0.190000,0.005533,0.183600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-06','4664',6,0.020000,0.140000,0.140000,0.160000,0.240000,0.300000,0.008367,0.210700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-07','3978',1,0.210000,0.300000,0.180000,0.090000,0.110000,0.110000,-0.046700,0.166500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-07','4310',2,0.080000,0.150000,0.140000,0.190000,0.210000,0.230000,-0.007600,0.168600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-07','3771',3,0.170000,0.180000,0.170000,0.200000,0.210000,0.070000,-0.027683,0.141300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-07','3398',4,0.030000,0.120000,0.140000,0.220000,0.220000,0.270000,0.107717,0.324400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-07','3606',5,0.350000,0.270000,0.180000,0.110000,0.040000,0.050000,-0.040900,0.147900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-07','4710',6,0.140000,0.230000,0.210000,0.120000,0.110000,0.190000,0.000017,0.166200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-08','4470',1,0.190000,0.190000,0.180000,0.110000,0.170000,0.160000,-0.007100,0.153600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-08','4103',2,0.060000,0.190000,0.170000,0.210000,0.150000,0.220000,0.041433,0.225200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-08','3439',3,0.200000,0.260000,0.240000,0.160000,0.100000,0.040000,-0.012950,0.157800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-08','5020',4,0.000000,0.000000,0.000000,0.010000,0.130000,0.850000,0.022963,0.205354)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-08','4748',5,0.230000,0.240000,0.200000,0.170000,0.080000,0.080000,-0.029600,0.130900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-08','2876',6,0.210000,0.190000,0.110000,0.140000,0.190000,0.160000,-0.003550,0.166700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-09','3441',1,0.100000,0.220000,0.180000,0.230000,0.150000,0.120000,-0.006117,0.195100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-09','4285',2,0.130000,0.150000,0.090000,0.260000,0.170000,0.200000,0.004817,0.176600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-09','3560',3,0.080000,0.110000,0.150000,0.120000,0.130000,0.410000,0.097117,0.291500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-09','4340',4,0.050000,0.150000,0.180000,0.190000,0.230000,0.200000,0.042867,0.236000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-09','4461',5,0.120000,0.070000,0.210000,0.160000,0.260000,0.180000,-0.021400,0.171800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-09','4875',6,0.060000,0.140000,0.190000,0.290000,0.150000,0.170000,-0.035050,0.196700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-10','4297',1,0.360000,0.130000,0.170000,0.120000,0.110000,0.110000,-0.055683,0.136300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-10','3502',2,0.220000,0.190000,0.210000,0.170000,0.170000,0.040000,0.003717,0.178900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-10','4512',3,0.310000,0.230000,0.130000,0.120000,0.080000,0.130000,0.154983,0.350400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-10','4828',4,0.280000,0.180000,0.180000,0.140000,0.150000,0.070000,-0.056683,0.128000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-10','3792',5,0.200000,0.190000,0.250000,0.130000,0.160000,0.070000,-0.008800,0.178600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-10','3992',6,0.190000,0.170000,0.190000,0.120000,0.190000,0.140000,-0.037067,0.142000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-11','3606',1,0.360000,0.270000,0.180000,0.100000,0.040000,0.050000,-0.042183,0.145100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-11','3582',2,0.360000,0.220000,0.100000,0.130000,0.120000,0.070000,0.001183,0.174000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-11','4677',3,0.310000,0.200000,0.240000,0.060000,0.090000,0.100000,-0.069833,0.122600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-11','4082',4,0.250000,0.200000,0.160000,0.170000,0.100000,0.120000,-0.043767,0.163800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-11','3339',5,0.100000,0.150000,0.260000,0.210000,0.090000,0.190000,-0.010650,0.160400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-11','4124',6,0.190000,0.280000,0.140000,0.140000,0.160000,0.090000,-0.018750,0.166500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-12','3439',1,0.210000,0.260000,0.230000,0.160000,0.100000,0.040000,-0.013100,0.159000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-12','4688',2,0.210000,0.260000,0.210000,0.090000,0.110000,0.120000,-0.057867,0.146600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-12','3978',3,0.210000,0.300000,0.180000,0.090000,0.110000,0.110000,-0.046833,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-12','3921',4,0.210000,0.180000,0.170000,0.170000,0.190000,0.080000,0.074600,0.266600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-12','4059',5,0.200000,0.120000,0.200000,0.110000,0.140000,0.230000,-0.004750,0.174000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-06-12','4943',6,0.040000,0.110000,0.160000,0.230000,0.210000,0.250000,-0.033850,0.186500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-01','3950',1,0.160000,0.170000,0.130000,0.220000,0.170000,0.150000,-0.022983,0.158300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-01','4665',2,0.060000,0.120000,0.140000,0.250000,0.200000,0.230000,-0.013400,0.158300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-01','4982',3,0.030000,0.080000,0.120000,0.170000,0.260000,0.340000,-0.019867,0.169100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-01','4293',4,0.120000,0.090000,0.140000,0.220000,0.280000,0.150000,-0.009800,0.184200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-01','3831',5,0.210000,0.130000,0.140000,0.190000,0.200000,0.130000,-0.012083,0.151300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-01','4979',6,0.040000,0.090000,0.210000,0.130000,0.280000,0.250000,-0.008900,0.172400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-02','3867',1,0.040000,0.100000,0.200000,0.220000,0.240000,0.200000,0.050817,0.268200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-02','3276',2,0.080000,0.090000,0.090000,0.140000,0.290000,0.310000,0.020233,0.214300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-02','3637',3,0.110000,0.120000,0.150000,0.240000,0.170000,0.210000,0.013050,0.190800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-02','3895',4,0.100000,0.250000,0.180000,0.120000,0.220000,0.130000,0.000617,0.175900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-02','4176',5,0.100000,0.150000,0.210000,0.120000,0.190000,0.230000,-0.009133,0.158700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-02','5049',6,0.010000,0.010000,0.030000,0.020000,0.210000,0.330000,-0.003197,0.160820)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-03','4681',1,0.090000,0.160000,0.100000,0.120000,0.180000,0.350000,0.089817,0.283800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-03','4492',2,0.240000,0.190000,0.220000,0.160000,0.090000,0.100000,-0.034833,0.137800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-03','3519',3,0.120000,0.200000,0.150000,0.190000,0.220000,0.120000,-0.023683,0.181000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-03','3690',4,0.110000,0.240000,0.250000,0.130000,0.100000,0.170000,-0.052200,0.179300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-03','4910',5,0.240000,0.210000,0.170000,0.120000,0.150000,0.110000,-0.087050,0.144300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-03','3455',6,0.170000,0.210000,0.220000,0.220000,0.130000,0.050000,-0.023250,0.169800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-04','4663',1,0.080000,0.170000,0.240000,0.200000,0.180000,0.130000,0.091683,0.296000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-04','3988',2,0.250000,0.250000,0.160000,0.180000,0.090000,0.070000,-0.021300,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-04','4162',3,0.130000,0.120000,0.140000,0.250000,0.170000,0.190000,-0.002333,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-04','4308',4,0.200000,0.170000,0.220000,0.170000,0.110000,0.130000,0.069267,0.244000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-04','5068',5,0.000000,0.060000,0.110000,0.050000,0.280000,0.250000,0.006933,0.182800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-04','4084',6,0.260000,0.160000,0.190000,0.160000,0.100000,0.130000,0.005933,0.171200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-05','4365',1,0.100000,0.160000,0.180000,0.230000,0.130000,0.200000,0.015883,0.194600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-05','3946',2,0.290000,0.190000,0.140000,0.140000,0.120000,0.120000,-0.023033,0.145900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-05','4665',3,0.060000,0.120000,0.140000,0.250000,0.200000,0.230000,-0.013533,0.158700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-05','4016',4,0.200000,0.200000,0.190000,0.230000,0.090000,0.090000,0.051000,0.253400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-05','4062',5,0.120000,0.170000,0.100000,0.180000,0.160000,0.270000,-0.004333,0.175500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-05','4118',6,0.230000,0.130000,0.200000,0.170000,0.060000,0.210000,-0.061533,0.153600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-06','4483',1,0.230000,0.210000,0.210000,0.160000,0.090000,0.100000,-0.030450,0.140000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-06','4176',2,0.110000,0.150000,0.200000,0.120000,0.190000,0.230000,-0.008100,0.160400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-06','4979',3,0.040000,0.090000,0.210000,0.120000,0.290000,0.250000,-0.007150,0.173600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-06','4369',4,0.250000,0.180000,0.130000,0.140000,0.120000,0.180000,-0.007500,0.172200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-06','4307',5,0.060000,0.070000,0.120000,0.210000,0.280000,0.260000,0.008600,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-06','3713',6,0.190000,0.150000,0.200000,0.180000,0.170000,0.110000,-0.036983,0.139100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-07','4199',1,0.150000,0.230000,0.150000,0.210000,0.190000,0.070000,0.001750,0.188600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-07','3637',2,0.100000,0.120000,0.150000,0.240000,0.180000,0.210000,0.012733,0.190100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-07','4293',3,0.110000,0.090000,0.150000,0.220000,0.280000,0.150000,-0.007817,0.186200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-07','4409',4,0.200000,0.230000,0.130000,0.200000,0.070000,0.170000,0.003600,0.160700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-07','4903',5,0.260000,0.240000,0.190000,0.120000,0.120000,0.070000,-0.021533,0.144700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-07','4960',6,0.190000,0.170000,0.230000,0.150000,0.150000,0.110000,-0.016767,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-08','3690',1,0.110000,0.230000,0.260000,0.130000,0.100000,0.170000,-0.053300,0.177100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-08','4080',2,0.230000,0.240000,0.210000,0.080000,0.170000,0.070000,-0.021367,0.135800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-08','4337',3,0.330000,0.210000,0.200000,0.080000,0.050000,0.130000,-0.007067,0.143000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-08','4663',4,0.090000,0.170000,0.230000,0.200000,0.180000,0.130000,0.091867,0.296300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-08','3276',5,0.080000,0.090000,0.080000,0.140000,0.290000,0.320000,0.020200,0.214000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-08','3885',6,0.160000,0.100000,0.200000,0.170000,0.200000,0.170000,-0.014783,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-09','4593',1,0.210000,0.160000,0.120000,0.140000,0.170000,0.200000,0.073217,0.260300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-09','3950',2,0.170000,0.160000,0.130000,0.220000,0.170000,0.150000,-0.022783,0.159200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-09','4365',3,0.100000,0.170000,0.180000,0.230000,0.120000,0.200000,0.015817,0.193600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-09','5049',4,0.010000,0.010000,0.040000,0.020000,0.210000,0.330000,-0.003522,0.160968)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-09','3455',5,0.170000,0.220000,0.210000,0.220000,0.130000,0.050000,-0.022783,0.170600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-09','4706',6,0.160000,0.170000,0.150000,0.240000,0.130000,0.150000,0.001883,0.168000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-10','4308',1,0.200000,0.160000,0.230000,0.170000,0.110000,0.130000,0.068967,0.244600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-10','3519',2,0.120000,0.200000,0.150000,0.190000,0.220000,0.120000,-0.024150,0.181400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-10','4903',3,0.260000,0.250000,0.190000,0.120000,0.110000,0.070000,-0.021733,0.144600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-10','4483',4,0.240000,0.210000,0.200000,0.160000,0.090000,0.100000,-0.014933,0.138600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-10','3895',5,0.100000,0.250000,0.180000,0.120000,0.220000,0.130000,0.000250,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-10','4016',6,0.200000,0.200000,0.190000,0.220000,0.090000,0.100000,0.051183,0.253200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-11','4337',1,0.340000,0.210000,0.190000,0.080000,0.050000,0.130000,-0.006833,0.143300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-11','4062',2,0.120000,0.170000,0.100000,0.180000,0.160000,0.270000,-0.004467,0.176000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-11','4369',3,0.250000,0.190000,0.130000,0.130000,0.120000,0.180000,-0.007550,0.171400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-11','4492',4,0.240000,0.190000,0.220000,0.160000,0.090000,0.100000,-0.034533,0.138100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-11','4199',5,0.160000,0.230000,0.150000,0.200000,0.190000,0.070000,0.001933,0.188800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-11','3988',6,0.250000,0.250000,0.160000,0.180000,0.090000,0.070000,-0.020867,0.162500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-12','3946',1,0.290000,0.190000,0.140000,0.140000,0.120000,0.120000,-0.022950,0.146600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-12','3713',2,0.190000,0.150000,0.200000,0.190000,0.170000,0.100000,-0.037333,0.138100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-12','4409',3,0.200000,0.230000,0.130000,0.200000,0.080000,0.160000,0.003600,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-12','4593',4,0.210000,0.160000,0.110000,0.150000,0.170000,0.200000,0.073867,0.260100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-12','4080',5,0.230000,0.230000,0.210000,0.090000,0.170000,0.070000,-0.021367,0.136200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-07-12','4162',6,0.130000,0.120000,0.140000,0.250000,0.170000,0.190000,-0.002050,0.160200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-01','4953',1,0.090000,0.070000,0.140000,0.190000,0.270000,0.240000,-0.009583,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-01','4081',2,0.130000,0.110000,0.190000,0.230000,0.190000,0.150000,0.094033,0.292700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-01','3565',3,0.060000,0.130000,0.130000,0.180000,0.230000,0.270000,0.016200,0.192200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-01','3294',4,0.080000,0.200000,0.170000,0.180000,0.170000,0.200000,-0.030600,0.150800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-01','4289',5,0.180000,0.210000,0.130000,0.100000,0.210000,0.170000,-0.009350,0.157500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-01','5030',6,0.000000,0.000000,0.010000,0.000000,0.170000,0.820000,0.017083,0.200700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-02','3461',1,0.050000,0.140000,0.210000,0.150000,0.300000,0.150000,0.007450,0.187400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-02','3811',2,0.190000,0.220000,0.190000,0.140000,0.140000,0.120000,-0.015017,0.169900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-02','3945',3,0.080000,0.100000,0.170000,0.260000,0.190000,0.200000,0.146400,0.383400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-02','4622',4,0.050000,0.060000,0.220000,0.120000,0.220000,0.330000,0.082250,0.273200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-02','4548',5,0.060000,0.120000,0.160000,0.240000,0.240000,0.180000,0.024883,0.209200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-02','5052',6,0.000000,0.000000,0.000000,0.030000,0.020000,0.500000,0.024455,0.192727)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-03','4945',1,0.030000,0.150000,0.180000,0.190000,0.210000,0.240000,-0.012567,0.184400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-03','4120',2,0.140000,0.160000,0.230000,0.190000,0.200000,0.080000,-0.011267,0.187700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-03','3692',3,0.080000,0.230000,0.180000,0.160000,0.140000,0.210000,0.003667,0.167500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-03','4556',4,0.280000,0.220000,0.140000,0.080000,0.200000,0.080000,-0.052283,0.137200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-03','3072',5,0.180000,0.150000,0.160000,0.190000,0.190000,0.130000,-0.004700,0.179200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-03','3796',6,0.150000,0.170000,0.160000,0.190000,0.200000,0.130000,0.006067,0.188100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-04','3740',1,0.180000,0.250000,0.130000,0.160000,0.180000,0.100000,-0.062050,0.183700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-04','3489',2,0.320000,0.220000,0.170000,0.120000,0.060000,0.110000,-0.004883,0.158200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-04','4058',3,0.210000,0.250000,0.200000,0.130000,0.110000,0.100000,-0.003917,0.189600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-04','4666',4,0.040000,0.170000,0.180000,0.200000,0.230000,0.180000,-0.030200,0.139900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-04','3939',5,0.240000,0.230000,0.200000,0.130000,0.150000,0.050000,0.054167,0.262400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-04','4988',6,0.030000,0.050000,0.080000,0.150000,0.190000,0.500000,0.022150,0.202400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-05','3655',1,0.120000,0.160000,0.170000,0.290000,0.120000,0.140000,-0.028083,0.180500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-05','4436',2,0.160000,0.260000,0.160000,0.170000,0.130000,0.120000,-0.008517,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-05','4645',3,0.250000,0.160000,0.230000,0.110000,0.070000,0.180000,-0.033850,0.128000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-05','4321',4,0.150000,0.110000,0.060000,0.190000,0.200000,0.290000,-0.014950,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-05','4422',5,0.100000,0.170000,0.110000,0.220000,0.190000,0.210000,-0.024283,0.170300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-05','3470',6,0.220000,0.130000,0.140000,0.240000,0.170000,0.100000,-0.001750,0.174300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-06','3294',1,0.080000,0.210000,0.160000,0.180000,0.170000,0.200000,-0.030300,0.152000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-06','3918',2,0.220000,0.260000,0.200000,0.170000,0.080000,0.070000,-0.012650,0.182700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-06','3555',3,0.270000,0.210000,0.130000,0.170000,0.100000,0.120000,-0.026217,0.151500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-06','3461',4,0.060000,0.140000,0.200000,0.150000,0.300000,0.150000,0.006400,0.186500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-06','4391',5,0.450000,0.210000,0.090000,0.090000,0.030000,0.130000,0.057517,0.261400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-06','4548',6,0.060000,0.120000,0.170000,0.240000,0.240000,0.170000,0.024450,0.210000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-07','3692',1,0.080000,0.230000,0.180000,0.160000,0.140000,0.210000,0.003083,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-07','3956',2,0.300000,0.190000,0.160000,0.140000,0.110000,0.100000,0.098733,0.292400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-07','3327',3,0.220000,0.240000,0.210000,0.180000,0.060000,0.090000,0.057450,0.259100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-07','3905',4,0.150000,0.140000,0.300000,0.140000,0.120000,0.150000,-0.025350,0.165600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-07','3679',5,0.230000,0.250000,0.170000,0.210000,0.060000,0.080000,-0.020750,0.166300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-07','4622',6,0.050000,0.060000,0.220000,0.120000,0.220000,0.330000,0.082233,0.273700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-08','4666',1,0.040000,0.180000,0.170000,0.200000,0.230000,0.180000,-0.030250,0.139300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-08','3518',2,0.140000,0.210000,0.130000,0.180000,0.180000,0.160000,0.084300,0.279200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-08','3983',3,0.340000,0.220000,0.230000,0.100000,0.070000,0.040000,-0.032150,0.136800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-08','4581',4,0.120000,0.200000,0.220000,0.180000,0.170000,0.110000,0.078150,0.265800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-08','4988',5,0.030000,0.050000,0.080000,0.150000,0.180000,0.510000,0.020250,0.199300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-08','3945',6,0.080000,0.100000,0.170000,0.260000,0.190000,0.200000,0.146200,0.383900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-09','3981',1,0.190000,0.160000,0.140000,0.200000,0.130000,0.180000,-0.046300,0.137800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-09','4422',2,0.090000,0.170000,0.110000,0.230000,0.190000,0.210000,-0.023683,0.171600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-09','4953',3,0.100000,0.070000,0.140000,0.190000,0.260000,0.240000,-0.010367,0.165700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-09','4945',4,0.030000,0.150000,0.170000,0.190000,0.210000,0.250000,-0.011100,0.186200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-09','4321',5,0.150000,0.100000,0.060000,0.190000,0.200000,0.300000,-0.014283,0.167800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-09','4934',6,0.100000,0.130000,0.160000,0.210000,0.230000,0.170000,-0.004867,0.161400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-10','3555',1,0.280000,0.200000,0.130000,0.170000,0.100000,0.120000,-0.025617,0.153200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-10','3939',2,0.240000,0.230000,0.210000,0.130000,0.140000,0.050000,0.054000,0.261700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-10','4556',3,0.290000,0.220000,0.140000,0.080000,0.190000,0.080000,-0.052000,0.137000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-10','4645',4,0.260000,0.160000,0.220000,0.110000,0.070000,0.180000,-0.034283,0.127200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-10','4120',5,0.140000,0.170000,0.230000,0.190000,0.190000,0.080000,-0.011533,0.187000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-10','3489',6,0.320000,0.220000,0.160000,0.130000,0.060000,0.110000,-0.004400,0.158800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-11','3327',1,0.220000,0.240000,0.210000,0.190000,0.060000,0.080000,0.056300,0.256600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-11','4391',2,0.450000,0.200000,0.090000,0.090000,0.030000,0.140000,0.057433,0.262600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-11','3918',3,0.220000,0.270000,0.190000,0.170000,0.080000,0.070000,-0.012317,0.184100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-11','4058',4,0.210000,0.250000,0.200000,0.120000,0.120000,0.100000,-0.004600,0.187800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-11','3956',5,0.300000,0.190000,0.160000,0.140000,0.110000,0.100000,0.099917,0.293800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-11','4436',6,0.160000,0.260000,0.170000,0.160000,0.130000,0.120000,-0.008183,0.162200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-12','3983',1,0.340000,0.220000,0.230000,0.100000,0.070000,0.040000,-0.032500,0.136900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-12','3679',2,0.220000,0.260000,0.170000,0.210000,0.060000,0.080000,-0.021083,0.164600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-12','3905',3,0.150000,0.140000,0.300000,0.140000,0.120000,0.150000,-0.025100,0.165700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-12','3740',4,0.190000,0.250000,0.130000,0.150000,0.180000,0.100000,-0.060950,0.183200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-12','3655',5,0.120000,0.170000,0.170000,0.280000,0.120000,0.140000,-0.027717,0.180900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-08-12','4581',6,0.120000,0.190000,0.220000,0.190000,0.170000,0.110000,0.078967,0.266300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-01','4183',1,0.330000,0.130000,0.110000,0.110000,0.110000,0.210000,-0.028333,0.134500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-01','4354',2,0.070000,0.120000,0.160000,0.190000,0.140000,0.320000,0.010933,0.193800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-01','4065',3,0.290000,0.150000,0.140000,0.120000,0.130000,0.170000,-0.015433,0.171700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-01','3932',4,0.130000,0.130000,0.170000,0.080000,0.180000,0.310000,-0.008167,0.173300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-01','4744',5,0.020000,0.090000,0.190000,0.240000,0.250000,0.210000,0.088800,0.279600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-01','4844',6,0.120000,0.180000,0.110000,0.210000,0.230000,0.150000,-0.019467,0.200300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-02','3580',1,0.100000,0.120000,0.250000,0.190000,0.210000,0.130000,0.157583,0.375900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-02','4501',2,0.210000,0.190000,0.230000,0.120000,0.140000,0.110000,-0.008117,0.161700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-02','4443',3,0.140000,0.180000,0.170000,0.180000,0.160000,0.170000,0.008717,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-02','4225',4,0.190000,0.210000,0.160000,0.200000,0.100000,0.140000,-0.028000,0.150200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-02','4924',5,0.060000,0.070000,0.110000,0.310000,0.230000,0.220000,-0.032233,0.158900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-02','5021',6,0.000000,0.000000,0.010000,0.040000,0.190000,0.760000,0.014167,0.215400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-03','4243',1,0.140000,0.210000,0.160000,0.210000,0.160000,0.120000,-0.044350,0.160300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-03','4870',2,0.140000,0.160000,0.180000,0.200000,0.130000,0.190000,0.044967,0.246200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-03','4373',3,0.150000,0.210000,0.210000,0.180000,0.130000,0.120000,0.008283,0.183600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-03','3845',4,0.220000,0.260000,0.220000,0.100000,0.090000,0.110000,0.007500,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-03','3302',5,0.230000,0.150000,0.150000,0.180000,0.190000,0.100000,0.176467,0.384200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-03','4240',6,0.110000,0.130000,0.100000,0.110000,0.190000,0.360000,-0.044750,0.164400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-04','2983',1,0.060000,0.090000,0.210000,0.170000,0.250000,0.220000,-0.012600,0.176000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-04','3469',2,0.060000,0.070000,0.260000,0.180000,0.220000,0.210000,-0.029183,0.198400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-04','3175',3,0.060000,0.210000,0.290000,0.190000,0.170000,0.080000,-0.030400,0.156400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-04','3994',4,0.130000,0.140000,0.240000,0.200000,0.170000,0.120000,0.015633,0.201100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-04','5045',5,0.000000,0.010000,0.070000,0.110000,0.220000,0.590000,0.105167,0.335500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-04','4399',6,0.360000,0.170000,0.160000,0.100000,0.100000,0.110000,0.002667,0.157400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-05','4190',1,0.290000,0.150000,0.170000,0.200000,0.120000,0.070000,-0.017917,0.154400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-05','3900',2,0.210000,0.180000,0.190000,0.110000,0.180000,0.130000,-0.042483,0.160200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-05','4744',3,0.010000,0.090000,0.190000,0.240000,0.260000,0.210000,0.089850,0.279900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-05','4897',4,0.040000,0.100000,0.150000,0.220000,0.240000,0.250000,0.088150,0.320100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-05','4941',5,0.030000,0.130000,0.220000,0.220000,0.200000,0.200000,0.001200,0.178400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-05','4974',6,0.060000,0.040000,0.170000,0.190000,0.260000,0.280000,0.010250,0.202400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-06','4354',1,0.070000,0.120000,0.150000,0.200000,0.140000,0.320000,0.011150,0.194400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-06','4338',2,0.060000,0.120000,0.070000,0.100000,0.280000,0.360000,0.007694,0.183535)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-06','4678',3,0.140000,0.180000,0.190000,0.180000,0.140000,0.170000,0.008117,0.177500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-06','3618',4,0.170000,0.240000,0.230000,0.170000,0.110000,0.080000,0.004817,0.186300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-06','4964',5,0.140000,0.140000,0.180000,0.190000,0.190000,0.160000,-0.017283,0.145200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-06','4045',6,0.220000,0.190000,0.170000,0.080000,0.160000,0.180000,0.141667,0.362100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-07','4870',1,0.140000,0.150000,0.180000,0.200000,0.130000,0.200000,0.044733,0.246400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-07','4065',2,0.290000,0.160000,0.130000,0.120000,0.130000,0.170000,-0.015417,0.172100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-07','3999',3,0.190000,0.180000,0.220000,0.170000,0.170000,0.070000,0.158783,0.362700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-07','4530',4,0.380000,0.230000,0.160000,0.120000,0.060000,0.050000,-0.023283,0.152700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-07','4993',5,0.010000,0.020000,0.040000,0.010000,0.220000,0.700000,0.008833,0.202000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-07','5003',6,0.020000,0.000000,0.060000,0.080000,0.240000,0.600000,0.032917,0.221900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-08','3232',1,0.270000,0.210000,0.120000,0.150000,0.120000,0.130000,-0.041083,0.130900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-08','4901',2,0.140000,0.110000,0.200000,0.170000,0.210000,0.170000,-0.029567,0.157000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-08','3474',3,0.150000,0.230000,0.150000,0.200000,0.140000,0.130000,-0.048333,0.181900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-08','4501',4,0.210000,0.190000,0.220000,0.120000,0.150000,0.110000,-0.008000,0.161600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-08','4240',5,0.110000,0.130000,0.100000,0.110000,0.190000,0.360000,-0.046033,0.162800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-08','4929',6,0.000000,0.080000,0.080000,0.100000,0.300000,0.440000,-0.002383,0.208700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-09','3175',1,0.070000,0.210000,0.290000,0.190000,0.160000,0.080000,-0.029967,0.157700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-09','3580',2,0.100000,0.130000,0.240000,0.190000,0.210000,0.130000,0.157400,0.374900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-09','4183',3,0.340000,0.130000,0.110000,0.100000,0.110000,0.210000,-0.028617,0.134600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-09','4941',4,0.030000,0.130000,0.220000,0.220000,0.210000,0.190000,0.001333,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-09','4373',5,0.160000,0.210000,0.210000,0.170000,0.130000,0.120000,0.007583,0.182300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-09','4990',6,0.010000,0.000000,0.020000,0.050000,0.310000,0.610000,0.030850,0.212500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-10','4443',1,0.130000,0.180000,0.180000,0.180000,0.160000,0.170000,0.009500,0.180900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-10','4775',2,0.070000,0.160000,0.200000,0.170000,0.200000,0.200000,0.141300,0.392500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-10','3302',3,0.230000,0.150000,0.150000,0.180000,0.200000,0.090000,0.176267,0.383600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-10','4844',4,0.120000,0.180000,0.110000,0.210000,0.230000,0.150000,-0.019667,0.199800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-10','3994',5,0.130000,0.150000,0.240000,0.200000,0.160000,0.120000,0.015183,0.200500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-10','4964',6,0.140000,0.140000,0.190000,0.190000,0.180000,0.160000,-0.016233,0.147500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-11','4225',1,0.200000,0.210000,0.150000,0.200000,0.100000,0.140000,-0.028433,0.149500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-11','3932',2,0.130000,0.130000,0.180000,0.080000,0.170000,0.310000,-0.007767,0.173900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-11','3900',3,0.220000,0.180000,0.190000,0.110000,0.170000,0.130000,-0.042783,0.160100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-11','4243',4,0.130000,0.220000,0.160000,0.210000,0.160000,0.120000,-0.043633,0.159800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-11','4045',5,0.220000,0.200000,0.170000,0.080000,0.150000,0.180000,0.142900,0.364300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-11','3999',6,0.190000,0.190000,0.220000,0.170000,0.160000,0.070000,0.158733,0.361100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-12','4530',1,0.390000,0.230000,0.150000,0.120000,0.060000,0.050000,-0.023617,0.150900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-12','4190',2,0.290000,0.160000,0.170000,0.200000,0.110000,0.070000,-0.018333,0.153000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-12','4399',3,0.350000,0.170000,0.160000,0.110000,0.100000,0.110000,0.002217,0.157000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-12','3232',4,0.270000,0.220000,0.120000,0.150000,0.110000,0.130000,-0.041933,0.130000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-12','3618',5,0.180000,0.240000,0.220000,0.170000,0.110000,0.080000,0.005000,0.186900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-11-12','3845',6,0.220000,0.250000,0.230000,0.100000,0.090000,0.110000,0.007750,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-01','4712',1,0.070000,0.090000,0.150000,0.250000,0.270000,0.170000,0.025983,0.204500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-01','3804',2,0.120000,0.270000,0.200000,0.240000,0.050000,0.120000,-0.005283,0.155400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-01','4549',3,0.050000,0.140000,0.190000,0.240000,0.270000,0.110000,0.005950,0.186800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-01','3705',4,0.120000,0.180000,0.140000,0.090000,0.210000,0.260000,-0.040867,0.197700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-01','4743',5,0.220000,0.130000,0.210000,0.160000,0.190000,0.090000,-0.021850,0.159200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-01','4902',6,0.080000,0.140000,0.170000,0.180000,0.210000,0.220000,0.014500,0.188300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-02','4394',1,0.090000,0.200000,0.200000,0.190000,0.190000,0.130000,-0.009683,0.163600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-02','4850',2,0.140000,0.130000,0.090000,0.130000,0.220000,0.290000,0.062000,0.232800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-02','4648',3,0.100000,0.110000,0.150000,0.310000,0.180000,0.150000,-0.005867,0.186100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-02','4404',4,0.200000,0.220000,0.140000,0.170000,0.110000,0.160000,-0.002833,0.155900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-02','3616',5,0.240000,0.210000,0.190000,0.110000,0.120000,0.130000,0.067017,0.273300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-02','5024',6,0.000000,0.020000,0.020000,0.070000,0.210000,0.680000,0.069700,0.291300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-03','3904',1,0.120000,0.200000,0.200000,0.230000,0.110000,0.140000,-0.018600,0.172000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-03','4129',2,0.050000,0.140000,0.100000,0.170000,0.310000,0.230000,-0.021183,0.169600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-03','4442',3,0.120000,0.160000,0.180000,0.250000,0.190000,0.100000,-0.014117,0.178800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-03','4939',4,0.190000,0.210000,0.170000,0.110000,0.140000,0.180000,0.086233,0.263100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-03','4253',5,0.100000,0.160000,0.180000,0.240000,0.190000,0.130000,0.009383,0.214700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-03','4883',6,0.120000,0.160000,0.130000,0.200000,0.210000,0.180000,0.001650,0.157900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-04','3896',1,0.180000,0.180000,0.140000,0.190000,0.160000,0.150000,0.068817,0.257800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-04','4330',2,0.250000,0.230000,0.220000,0.090000,0.110000,0.100000,-0.028483,0.150700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-04','4133',3,0.230000,0.230000,0.110000,0.190000,0.100000,0.140000,-0.023117,0.167300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-04','3442',4,0.170000,0.160000,0.250000,0.180000,0.150000,0.090000,0.064567,0.257700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-04','4250',5,0.040000,0.190000,0.160000,0.200000,0.210000,0.200000,-0.014983,0.170600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-04','3498',6,0.080000,0.090000,0.130000,0.180000,0.310000,0.210000,-0.002500,0.175100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-05','4446',1,0.190000,0.190000,0.250000,0.140000,0.140000,0.090000,-0.011333,0.149000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-05','3187',2,0.110000,0.090000,0.160000,0.200000,0.170000,0.270000,0.016300,0.200500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-05','4142',3,0.190000,0.220000,0.190000,0.140000,0.180000,0.080000,-0.025383,0.185400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-05','3620',4,0.080000,0.100000,0.120000,0.250000,0.230000,0.220000,-0.007467,0.190600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-05','4876',5,0.160000,0.130000,0.140000,0.180000,0.200000,0.190000,-0.021450,0.158100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-05','4586',6,0.350000,0.170000,0.150000,0.130000,0.080000,0.120000,-0.023883,0.126500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-06','4148',1,0.290000,0.200000,0.210000,0.140000,0.070000,0.090000,-0.042817,0.160700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-06','3873',2,0.230000,0.190000,0.170000,0.170000,0.170000,0.070000,-0.013817,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-06','4404',3,0.190000,0.220000,0.140000,0.170000,0.110000,0.170000,-0.002700,0.155700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-06','4262',4,0.450000,0.200000,0.100000,0.080000,0.050000,0.120000,-0.021633,0.165500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-06','4549',5,0.050000,0.140000,0.180000,0.240000,0.280000,0.110000,0.006067,0.186400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-06','3769',6,0.180000,0.170000,0.240000,0.240000,0.110000,0.060000,0.005067,0.179800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-07','3550',1,0.400000,0.230000,0.070000,0.080000,0.150000,0.070000,-0.009100,0.162200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-07','4902',2,0.080000,0.140000,0.170000,0.180000,0.200000,0.230000,0.014067,0.187500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-07','4394',3,0.090000,0.210000,0.190000,0.190000,0.190000,0.130000,-0.009367,0.163500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-07','3783',4,0.350000,0.290000,0.090000,0.100000,0.090000,0.080000,-0.017000,0.154100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-07','4146',5,0.150000,0.250000,0.170000,0.150000,0.160000,0.120000,-0.020250,0.171400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-07','4453',6,0.140000,0.150000,0.080000,0.130000,0.190000,0.310000,-0.055750,0.155900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-08','3534',1,0.250000,0.210000,0.160000,0.160000,0.120000,0.100000,0.049800,0.243300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-08','4743',2,0.220000,0.130000,0.210000,0.160000,0.190000,0.090000,-0.021850,0.158400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-08','4253',3,0.100000,0.160000,0.170000,0.250000,0.190000,0.130000,0.009217,0.214000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-08','3616',4,0.230000,0.210000,0.200000,0.110000,0.120000,0.130000,0.067150,0.273500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-08','4588',5,0.220000,0.100000,0.150000,0.130000,0.210000,0.190000,-0.017417,0.155500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-08','4833',6,0.110000,0.170000,0.160000,0.100000,0.190000,0.270000,-0.023017,0.164500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-09','4586',1,0.350000,0.160000,0.150000,0.130000,0.080000,0.130000,-0.023900,0.127100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-09','4939',2,0.190000,0.210000,0.180000,0.110000,0.130000,0.180000,0.085350,0.261200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-09','3896',3,0.180000,0.180000,0.140000,0.200000,0.160000,0.140000,0.069300,0.257200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-09','3804',4,0.130000,0.270000,0.200000,0.240000,0.050000,0.110000,-0.004600,0.155200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-09','3873',5,0.220000,0.200000,0.170000,0.170000,0.170000,0.070000,-0.013700,0.184400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-09','4133',6,0.230000,0.240000,0.110000,0.190000,0.100000,0.130000,-0.022983,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-10','4262',1,0.450000,0.190000,0.100000,0.090000,0.050000,0.120000,-0.021733,0.166100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-10','4148',2,0.290000,0.200000,0.210000,0.140000,0.070000,0.090000,-0.042567,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-10','4446',3,0.200000,0.190000,0.240000,0.140000,0.140000,0.090000,-0.011850,0.148800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-10','4330',4,0.250000,0.230000,0.220000,0.090000,0.110000,0.100000,-0.028467,0.149500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-10','3550',5,0.410000,0.230000,0.060000,0.080000,0.150000,0.070000,-0.008467,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-10','3904',6,0.130000,0.200000,0.200000,0.220000,0.110000,0.140000,-0.018167,0.172500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-11','3783',1,0.350000,0.300000,0.090000,0.090000,0.090000,0.080000,-0.017467,0.153000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-11','3442',2,0.170000,0.160000,0.250000,0.180000,0.150000,0.090000,0.064433,0.256000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-11','3534',3,0.250000,0.210000,0.160000,0.160000,0.120000,0.100000,0.049833,0.243300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-11','4129',4,0.050000,0.140000,0.100000,0.170000,0.310000,0.230000,-0.021067,0.169600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-11','4850',5,0.150000,0.130000,0.090000,0.120000,0.220000,0.290000,0.062383,0.232600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-11','3187',6,0.110000,0.100000,0.160000,0.200000,0.160000,0.270000,0.016467,0.199700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-12','4146',1,0.150000,0.250000,0.170000,0.160000,0.160000,0.110000,-0.020733,0.170800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-12','3769',2,0.180000,0.170000,0.230000,0.240000,0.120000,0.060000,0.004883,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-12','4588',3,0.220000,0.100000,0.150000,0.130000,0.220000,0.180000,-0.017350,0.155000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-12','3498',4,0.080000,0.090000,0.130000,0.170000,0.310000,0.220000,-0.003917,0.172000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-12','3705',5,0.120000,0.190000,0.140000,0.090000,0.210000,0.250000,-0.041617,0.195200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-12-12','4142',6,0.180000,0.220000,0.200000,0.140000,0.180000,0.080000,-0.024900,0.185100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-01','4857',1,0.140000,0.170000,0.200000,0.150000,0.110000,0.230000,0.028083,0.208300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-01','3893',2,0.110000,0.200000,0.230000,0.180000,0.130000,0.150000,0.071600,0.263800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-01','4735',3,0.140000,0.130000,0.190000,0.210000,0.140000,0.190000,-0.034933,0.153900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-01','3577',4,0.260000,0.160000,0.260000,0.150000,0.110000,0.060000,-0.023533,0.141600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-01','3346',5,0.150000,0.250000,0.100000,0.180000,0.170000,0.150000,-0.024600,0.168400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-01','4167',6,0.090000,0.160000,0.190000,0.210000,0.240000,0.110000,-0.068850,0.140700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-02','3881',1,0.150000,0.140000,0.230000,0.180000,0.190000,0.110000,-0.007933,0.167400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-02','4182',2,0.090000,0.130000,0.220000,0.210000,0.200000,0.150000,-0.021800,0.195200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-02','4002',3,0.390000,0.140000,0.150000,0.140000,0.150000,0.030000,-0.021867,0.154400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-02','4035',4,0.100000,0.150000,0.170000,0.090000,0.140000,0.350000,-0.000650,0.195400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-02','5050',5,0.000000,0.000000,0.000000,0.060000,0.080000,0.360000,0.021867,0.201400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-02','3507',6,0.080000,0.210000,0.180000,0.250000,0.180000,0.100000,0.084067,0.281000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-03','3820',1,0.070000,0.170000,0.130000,0.230000,0.260000,0.140000,0.072617,0.281900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-03','4356',2,0.260000,0.120000,0.150000,0.200000,0.160000,0.110000,0.070650,0.278300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-03','3572',3,0.260000,0.180000,0.200000,0.170000,0.110000,0.080000,0.013400,0.194500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-03','4761',4,0.120000,0.190000,0.140000,0.160000,0.120000,0.270000,-0.018833,0.150200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-03','5016',5,0.000000,0.010000,0.020000,0.090000,0.250000,0.630000,0.094300,0.280300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-03','4630',6,0.210000,0.170000,0.220000,0.150000,0.130000,0.120000,-0.004667,0.160600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-04','3781',1,0.100000,0.130000,0.140000,0.150000,0.180000,0.300000,-0.032450,0.161100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-04','4472',2,0.230000,0.190000,0.270000,0.120000,0.110000,0.080000,-0.020600,0.160400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-04','4986',3,0.000000,0.000000,0.000000,0.030000,0.120000,0.850000,0.011283,0.193400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-04','4917',4,0.060000,0.070000,0.100000,0.120000,0.290000,0.360000,0.001133,0.169000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-04','4594',5,0.270000,0.180000,0.150000,0.140000,0.130000,0.130000,-0.024283,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-04','3761',6,0.230000,0.200000,0.220000,0.090000,0.140000,0.120000,-0.020050,0.146300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-05','3893',1,0.110000,0.210000,0.230000,0.180000,0.120000,0.150000,0.071950,0.263100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-05','4654',2,0.100000,0.150000,0.180000,0.210000,0.150000,0.210000,-0.023733,0.187100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-05','3795',3,0.150000,0.100000,0.190000,0.180000,0.230000,0.150000,0.003517,0.181500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-05','3108',4,0.040000,0.100000,0.150000,0.270000,0.220000,0.220000,-0.038267,0.177800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-05','4278',5,0.280000,0.150000,0.220000,0.210000,0.100000,0.040000,-0.073733,0.130200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-05','4800',6,0.010000,0.090000,0.130000,0.210000,0.270000,0.290000,0.081183,0.284400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-06','3612',1,0.280000,0.270000,0.110000,0.090000,0.100000,0.150000,-0.014617,0.142300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-06','4339',2,0.110000,0.130000,0.100000,0.140000,0.230000,0.290000,0.090533,0.283800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-06','4375',3,0.190000,0.180000,0.170000,0.210000,0.120000,0.130000,-0.009983,0.182200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-06','4025',4,0.240000,0.200000,0.210000,0.110000,0.150000,0.090000,0.006950,0.183000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-06','3881',5,0.160000,0.140000,0.230000,0.180000,0.190000,0.100000,-0.008467,0.166100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-06','4735',6,0.140000,0.130000,0.190000,0.220000,0.140000,0.180000,-0.036967,0.149900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-07','4761',1,0.110000,0.190000,0.140000,0.170000,0.120000,0.270000,-0.017667,0.150900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-07','4055',2,0.310000,0.230000,0.190000,0.100000,0.100000,0.070000,-0.025433,0.148600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-07','3246',3,0.090000,0.180000,0.220000,0.170000,0.230000,0.110000,0.007750,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-07','4543',4,0.280000,0.170000,0.220000,0.150000,0.050000,0.130000,-0.014800,0.158600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-07','4857',5,0.150000,0.170000,0.200000,0.150000,0.100000,0.230000,0.028717,0.208900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-07','3529',6,0.230000,0.210000,0.200000,0.210000,0.100000,0.050000,-0.003117,0.161900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-08','4057',1,0.200000,0.200000,0.210000,0.160000,0.130000,0.100000,-0.009200,0.157100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-08','3820',2,0.070000,0.170000,0.130000,0.230000,0.270000,0.130000,0.074667,0.285900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-08','3346',3,0.150000,0.250000,0.110000,0.180000,0.160000,0.150000,-0.025133,0.167600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-08','3781',4,0.090000,0.130000,0.140000,0.160000,0.180000,0.300000,-0.032367,0.161700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-08','3484',5,0.410000,0.200000,0.150000,0.110000,0.110000,0.020000,-0.016517,0.149600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-08','4035',6,0.100000,0.150000,0.170000,0.090000,0.140000,0.350000,-0.000533,0.195600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-09','3572',1,0.250000,0.190000,0.200000,0.170000,0.110000,0.080000,0.014033,0.194600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-09','3761',2,0.230000,0.200000,0.210000,0.090000,0.140000,0.130000,-0.020333,0.146900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-09','4290',3,0.280000,0.260000,0.170000,0.100000,0.060000,0.130000,-0.045433,0.125400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-09','3507',4,0.080000,0.210000,0.190000,0.240000,0.180000,0.100000,0.084233,0.280800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-09','4167',5,0.090000,0.160000,0.180000,0.210000,0.240000,0.120000,-0.068467,0.140000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-09','3795',6,0.150000,0.100000,0.190000,0.180000,0.220000,0.160000,0.003267,0.181400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-10','3828',1,0.210000,0.210000,0.220000,0.150000,0.110000,0.100000,0.145967,0.373200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-10','3854',2,0.380000,0.190000,0.240000,0.070000,0.070000,0.050000,-0.016117,0.140300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-10','3122',3,0.090000,0.160000,0.100000,0.170000,0.210000,0.270000,-0.001400,0.165800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-10','4182',4,0.090000,0.130000,0.210000,0.220000,0.200000,0.150000,-0.021300,0.194700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-10','4388',5,0.290000,0.220000,0.190000,0.080000,0.170000,0.050000,-0.002583,0.173600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-10','4472',6,0.230000,0.200000,0.260000,0.120000,0.110000,0.080000,-0.019650,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-11','3577',1,0.250000,0.160000,0.260000,0.150000,0.120000,0.060000,-0.023783,0.141300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-11','3612',2,0.270000,0.270000,0.110000,0.090000,0.110000,0.150000,-0.013783,0.143700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-11','4105',3,0.120000,0.210000,0.230000,0.150000,0.120000,0.170000,0.022433,0.211600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-11','3903',4,0.310000,0.300000,0.150000,0.120000,0.050000,0.070000,-0.049417,0.126200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-11','4055',5,0.320000,0.220000,0.190000,0.100000,0.100000,0.070000,-0.025167,0.149300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-11','4356',6,0.260000,0.120000,0.150000,0.200000,0.160000,0.110000,0.071067,0.278200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-12','3780',1,0.240000,0.200000,0.200000,0.190000,0.100000,0.070000,0.015883,0.170100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-12','4278',2,0.280000,0.160000,0.220000,0.200000,0.100000,0.040000,-0.074100,0.129200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-12','3529',3,0.230000,0.210000,0.200000,0.210000,0.100000,0.050000,-0.002867,0.164000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-12','4594',4,0.280000,0.180000,0.150000,0.140000,0.130000,0.120000,-0.026183,0.160500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-12','4057',5,0.200000,0.200000,0.210000,0.160000,0.130000,0.100000,-0.009417,0.156500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-13-12','4002',6,0.380000,0.150000,0.150000,0.140000,0.150000,0.030000,-0.021733,0.154000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-01','4757',1,0.430000,0.210000,0.140000,0.060000,0.040000,0.120000,-0.041883,0.128900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-01','3521',2,0.030000,0.100000,0.190000,0.200000,0.180000,0.300000,0.009733,0.179000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-01','4198',3,0.120000,0.190000,0.150000,0.160000,0.170000,0.210000,0.002650,0.190400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-01','4691',4,0.090000,0.210000,0.140000,0.190000,0.180000,0.190000,0.079433,0.257600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-01','3750',5,0.060000,0.090000,0.120000,0.300000,0.190000,0.240000,0.006750,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-01','5025',6,0.000000,0.000000,0.020000,0.030000,0.130000,0.820000,-0.002450,0.164900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-02','3951',1,0.100000,0.180000,0.210000,0.130000,0.190000,0.190000,0.010000,0.181800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-02','3743',2,0.310000,0.230000,0.160000,0.110000,0.110000,0.080000,-0.007250,0.151600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-02','4359',3,0.210000,0.150000,0.210000,0.160000,0.160000,0.110000,-0.040450,0.143600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-02','3841',4,0.270000,0.210000,0.240000,0.130000,0.070000,0.080000,-0.011150,0.163900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-02','4674',5,0.090000,0.210000,0.140000,0.100000,0.230000,0.230000,0.009483,0.180100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-02','3361',6,0.070000,0.140000,0.280000,0.230000,0.190000,0.090000,0.003317,0.178000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-03','4383',1,0.140000,0.170000,0.190000,0.180000,0.230000,0.090000,0.008050,0.191400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-03','4449',2,0.090000,0.150000,0.130000,0.200000,0.180000,0.250000,-0.020917,0.175100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-03','4368',3,0.120000,0.120000,0.160000,0.240000,0.190000,0.170000,0.033950,0.221900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-03','3456',4,0.050000,0.130000,0.150000,0.170000,0.170000,0.330000,0.025250,0.207200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-03','3643',5,0.100000,0.190000,0.270000,0.210000,0.150000,0.080000,-0.007050,0.180800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-03','3281',6,0.030000,0.080000,0.200000,0.170000,0.280000,0.240000,0.123733,0.338500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-04','4832',1,0.180000,0.260000,0.220000,0.140000,0.150000,0.050000,-0.004250,0.161500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-04','3535',2,0.120000,0.110000,0.150000,0.210000,0.230000,0.180000,-0.013283,0.201900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-04','3477',3,0.080000,0.130000,0.140000,0.240000,0.210000,0.200000,-0.005217,0.192600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-04','4839',4,0.180000,0.190000,0.190000,0.140000,0.160000,0.140000,-0.022050,0.139400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-04','4669',5,0.080000,0.140000,0.150000,0.180000,0.220000,0.230000,0.012133,0.179400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-04','4063',6,0.320000,0.230000,0.140000,0.130000,0.130000,0.050000,-0.012100,0.130500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-05','4691',1,0.090000,0.210000,0.140000,0.190000,0.180000,0.190000,0.078750,0.257100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-05','4390',2,0.100000,0.160000,0.120000,0.270000,0.200000,0.150000,-0.020133,0.170400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-05','3587',3,0.170000,0.140000,0.160000,0.190000,0.150000,0.190000,-0.043900,0.160400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-05','4725',4,0.050000,0.100000,0.180000,0.190000,0.230000,0.250000,0.020300,0.197000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-05','4028',5,0.320000,0.150000,0.230000,0.130000,0.090000,0.080000,-0.017200,0.153900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-05','3304',6,0.240000,0.260000,0.180000,0.160000,0.100000,0.060000,-0.028300,0.176000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-06','4782',1,0.150000,0.130000,0.190000,0.140000,0.190000,0.200000,-0.007317,0.159900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-06','4489',2,0.120000,0.130000,0.200000,0.220000,0.180000,0.150000,-0.008283,0.192400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-06','3951',3,0.100000,0.180000,0.210000,0.130000,0.190000,0.190000,0.011050,0.182300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-06','4116',4,0.160000,0.180000,0.210000,0.210000,0.160000,0.080000,0.035983,0.272800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-06','4812',5,0.330000,0.160000,0.150000,0.150000,0.110000,0.100000,-0.015467,0.139200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-06','4198',6,0.120000,0.180000,0.150000,0.170000,0.170000,0.210000,0.002350,0.187400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-07','3456',1,0.050000,0.130000,0.160000,0.160000,0.170000,0.330000,0.024983,0.205800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-07','4732',2,0.240000,0.190000,0.200000,0.170000,0.120000,0.080000,-0.027050,0.126400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-07','4636',3,0.180000,0.120000,0.110000,0.140000,0.210000,0.240000,0.011383,0.180800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-07','3361',4,0.070000,0.140000,0.270000,0.230000,0.200000,0.090000,0.003533,0.177300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-07','4701',5,0.040000,0.090000,0.150000,0.270000,0.220000,0.230000,-0.039550,0.161100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-07','4052',6,0.340000,0.200000,0.180000,0.130000,0.100000,0.050000,-0.045233,0.146700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-08','3884',1,0.110000,0.110000,0.230000,0.200000,0.240000,0.110000,0.003817,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-08','4383',2,0.150000,0.170000,0.190000,0.180000,0.220000,0.090000,0.006933,0.189500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-08','3841',3,0.270000,0.220000,0.240000,0.120000,0.070000,0.080000,-0.012067,0.161900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-08','4180',4,0.130000,0.150000,0.160000,0.190000,0.170000,0.200000,-0.030400,0.174700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-08','4571',5,0.350000,0.160000,0.170000,0.110000,0.090000,0.120000,-0.006333,0.151000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-08','3535',6,0.120000,0.120000,0.150000,0.210000,0.230000,0.170000,-0.013083,0.201700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-09','4232',1,0.060000,0.110000,0.150000,0.200000,0.230000,0.250000,-0.011433,0.203500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-09','4669',2,0.080000,0.130000,0.150000,0.180000,0.230000,0.230000,0.012600,0.179200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-09','3746',3,0.230000,0.270000,0.170000,0.210000,0.100000,0.020000,-0.030133,0.170800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-09','4390',4,0.100000,0.160000,0.120000,0.260000,0.210000,0.150000,-0.020850,0.169600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-09','3521',5,0.030000,0.110000,0.190000,0.200000,0.180000,0.290000,0.010533,0.179700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-09','3743',6,0.300000,0.230000,0.170000,0.110000,0.110000,0.080000,-0.006800,0.151100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-10','3587',1,0.180000,0.130000,0.160000,0.190000,0.150000,0.190000,-0.044417,0.159900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-10','4063',2,0.320000,0.230000,0.150000,0.130000,0.120000,0.050000,-0.012067,0.130500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-10','3750',3,0.050000,0.090000,0.130000,0.300000,0.190000,0.240000,0.007700,0.180700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-10','4489',4,0.120000,0.120000,0.210000,0.220000,0.180000,0.150000,-0.008350,0.191700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-10','4359',5,0.210000,0.150000,0.210000,0.160000,0.160000,0.110000,-0.039633,0.144300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-10','4449',6,0.090000,0.150000,0.130000,0.200000,0.180000,0.250000,-0.021517,0.174400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-11','3955',1,0.170000,0.180000,0.250000,0.170000,0.140000,0.090000,-0.041617,0.191600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-11','4757',2,0.430000,0.210000,0.140000,0.060000,0.040000,0.120000,-0.041767,0.128300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-11','4357',3,0.230000,0.320000,0.140000,0.120000,0.100000,0.090000,-0.038350,0.175900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-11','4052',4,0.340000,0.200000,0.180000,0.130000,0.100000,0.050000,-0.045750,0.145800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-11','4116',5,0.160000,0.180000,0.210000,0.210000,0.160000,0.080000,0.035767,0.271900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-11','4826',6,0.260000,0.220000,0.130000,0.130000,0.160000,0.100000,-0.039700,0.159100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-12','4812',1,0.320000,0.160000,0.150000,0.150000,0.110000,0.110000,-0.015417,0.138800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-12','4571',2,0.350000,0.160000,0.180000,0.110000,0.090000,0.110000,-0.006150,0.151200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-12','4028',3,0.310000,0.160000,0.230000,0.130000,0.090000,0.080000,-0.016767,0.153700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-12','3643',4,0.100000,0.190000,0.270000,0.220000,0.140000,0.080000,-0.007350,0.179800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-12','4839',5,0.170000,0.190000,0.190000,0.140000,0.160000,0.150000,-0.022083,0.138300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-14-12','4732',6,0.230000,0.190000,0.210000,0.170000,0.120000,0.080000,-0.026467,0.125900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-01','4852',1,0.150000,0.150000,0.230000,0.280000,0.130000,0.060000,-0.050283,0.142800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-01','4185',2,0.040000,0.110000,0.130000,0.200000,0.260000,0.260000,0.069800,0.282800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-01','4034',3,0.080000,0.180000,0.170000,0.110000,0.180000,0.280000,0.031850,0.208800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-01','4511',4,0.140000,0.090000,0.220000,0.190000,0.180000,0.180000,0.005333,0.163200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-01','3064',5,0.200000,0.260000,0.070000,0.140000,0.160000,0.170000,0.001167,0.176400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-01','3753',6,0.100000,0.170000,0.150000,0.110000,0.210000,0.260000,0.003167,0.171700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-02','3234',1,0.090000,0.170000,0.100000,0.190000,0.170000,0.280000,-0.022750,0.162300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-02','4249',2,0.040000,0.080000,0.100000,0.210000,0.300000,0.270000,0.172283,0.380100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-02','3660',3,0.070000,0.140000,0.150000,0.250000,0.200000,0.190000,0.008800,0.193300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-02','4221',4,0.050000,0.120000,0.170000,0.140000,0.280000,0.240000,-0.018250,0.164000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-02','4931',5,0.200000,0.140000,0.190000,0.170000,0.180000,0.120000,0.083283,0.264200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-02','3701',6,0.110000,0.150000,0.090000,0.190000,0.220000,0.240000,-0.005333,0.159200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-03','4020',1,0.090000,0.240000,0.090000,0.100000,0.200000,0.280000,0.016717,0.204400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-03','3975',2,0.160000,0.220000,0.280000,0.170000,0.070000,0.100000,-0.016433,0.175400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-03','4946',3,0.020000,0.050000,0.120000,0.140000,0.240000,0.430000,-0.011833,0.154700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-03','3855',4,0.060000,0.150000,0.200000,0.180000,0.300000,0.110000,0.055433,0.248800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-03','4772',5,0.350000,0.210000,0.100000,0.170000,0.080000,0.090000,-0.034350,0.148900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-03','4331',6,0.230000,0.150000,0.130000,0.200000,0.140000,0.150000,-0.030300,0.167700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-04','3478',1,0.170000,0.140000,0.130000,0.160000,0.250000,0.150000,-0.013317,0.175300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-04','3907',2,0.160000,0.200000,0.230000,0.100000,0.130000,0.180000,-0.007550,0.157800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-04','3710',3,0.060000,0.180000,0.180000,0.220000,0.150000,0.210000,-0.021000,0.168300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-04','5037',4,0.000000,0.020000,0.020000,0.070000,0.230000,0.660000,0.015967,0.205900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-04','3837',5,0.360000,0.150000,0.200000,0.140000,0.100000,0.050000,-0.045900,0.169800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-04','3849',6,0.420000,0.230000,0.090000,0.120000,0.090000,0.050000,-0.036050,0.136300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-05','4452',1,0.210000,0.190000,0.200000,0.130000,0.110000,0.160000,0.011167,0.177300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-05','3543',2,0.200000,0.270000,0.180000,0.130000,0.150000,0.070000,0.003933,0.264200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-05','4185',3,0.040000,0.110000,0.140000,0.190000,0.260000,0.260000,0.069583,0.282500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-05','3568',4,0.300000,0.190000,0.130000,0.110000,0.140000,0.130000,-0.017700,0.158300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-05','3578',5,0.090000,0.130000,0.220000,0.180000,0.220000,0.160000,0.004300,0.185200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-05','5032',6,0.010000,0.000000,0.050000,0.100000,0.170000,0.670000,0.042483,0.214600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-06','3910',1,0.170000,0.140000,0.230000,0.130000,0.170000,0.160000,-0.003950,0.179400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-06','4776',2,0.220000,0.210000,0.160000,0.170000,0.170000,0.070000,-0.010667,0.152200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-06','4221',3,0.060000,0.110000,0.170000,0.140000,0.280000,0.240000,-0.018600,0.163800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-06','3553',4,0.110000,0.140000,0.180000,0.190000,0.140000,0.240000,0.002200,0.184500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-06','4034',5,0.080000,0.180000,0.170000,0.120000,0.180000,0.270000,0.031117,0.207000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-06','4459',6,0.290000,0.210000,0.160000,0.120000,0.120000,0.100000,-0.015267,0.142600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-07','3975',1,0.160000,0.210000,0.290000,0.170000,0.070000,0.100000,-0.015667,0.177200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-07','4511',2,0.130000,0.090000,0.220000,0.190000,0.190000,0.180000,0.005567,0.162600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-07','3541',3,0.220000,0.320000,0.190000,0.120000,0.090000,0.060000,-0.019783,0.151900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-07','4010',4,0.080000,0.120000,0.220000,0.210000,0.240000,0.130000,0.001033,0.203000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-07','4030',5,0.280000,0.250000,0.230000,0.150000,0.050000,0.040000,-0.026767,0.140100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-07','3660',6,0.060000,0.140000,0.150000,0.260000,0.200000,0.190000,0.008950,0.193100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-08','4739',1,0.240000,0.180000,0.220000,0.150000,0.080000,0.130000,-0.040850,0.128900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-08','3832',2,0.150000,0.140000,0.220000,0.280000,0.120000,0.090000,0.126883,0.361000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-08','3753',3,0.100000,0.180000,0.150000,0.110000,0.210000,0.250000,0.002733,0.170000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-08','4260',4,0.250000,0.250000,0.190000,0.120000,0.130000,0.060000,0.003533,0.172200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-08','4946',5,0.020000,0.050000,0.110000,0.150000,0.240000,0.430000,-0.012333,0.155100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-08','5037',6,0.000000,0.020000,0.020000,0.070000,0.230000,0.660000,0.016417,0.204600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-09','4348',1,0.120000,0.280000,0.190000,0.200000,0.090000,0.120000,-0.037200,0.183200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-09','4821',2,0.140000,0.160000,0.170000,0.230000,0.190000,0.110000,0.101200,0.294800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-09','4249',3,0.030000,0.080000,0.100000,0.210000,0.310000,0.270000,0.173050,0.380300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-09','3837',4,0.350000,0.150000,0.200000,0.150000,0.100000,0.050000,-0.046517,0.167400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-09','4643',5,0.310000,0.140000,0.160000,0.230000,0.100000,0.060000,0.048033,0.240000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-09','3568',6,0.300000,0.180000,0.140000,0.110000,0.140000,0.130000,-0.017500,0.157900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-10','4776',1,0.220000,0.200000,0.160000,0.170000,0.180000,0.070000,-0.010417,0.152400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-10','3401',2,0.200000,0.210000,0.130000,0.210000,0.160000,0.090000,-0.027917,0.179500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-10','3849',3,0.420000,0.230000,0.100000,0.110000,0.090000,0.050000,-0.036200,0.136100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-10','3701',4,0.110000,0.150000,0.100000,0.190000,0.210000,0.240000,-0.005367,0.159300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-10','3543',5,0.200000,0.280000,0.170000,0.130000,0.150000,0.070000,0.003950,0.264600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-10','4772',6,0.340000,0.220000,0.100000,0.170000,0.080000,0.090000,-0.034933,0.147300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-11','3541',1,0.220000,0.320000,0.190000,0.110000,0.090000,0.070000,-0.019833,0.152100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-11','4452',2,0.220000,0.190000,0.190000,0.130000,0.110000,0.160000,0.010650,0.176900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-11','4459',3,0.290000,0.220000,0.150000,0.120000,0.120000,0.100000,-0.015067,0.142100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-11','3234',4,0.090000,0.160000,0.100000,0.190000,0.170000,0.290000,-0.021367,0.163300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-11','4260',5,0.250000,0.250000,0.200000,0.110000,0.130000,0.060000,0.004350,0.171600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-11','3907',6,0.170000,0.200000,0.220000,0.100000,0.130000,0.180000,-0.007750,0.156800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-12','4030',1,0.270000,0.260000,0.230000,0.150000,0.050000,0.040000,-0.026650,0.140400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-12','4331',2,0.230000,0.150000,0.130000,0.200000,0.140000,0.150000,-0.030233,0.167900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-12','4643',3,0.310000,0.150000,0.150000,0.230000,0.100000,0.060000,0.048100,0.240100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-12','4739',4,0.240000,0.180000,0.220000,0.150000,0.080000,0.130000,-0.041433,0.128500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-12','4852',5,0.160000,0.150000,0.220000,0.280000,0.130000,0.060000,-0.051067,0.141600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-15-12','3553',6,0.110000,0.140000,0.190000,0.190000,0.140000,0.230000,0.002333,0.184300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-01','3300',1,0.270000,0.220000,0.180000,0.170000,0.100000,0.060000,-0.025500,0.149200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-01','4355',2,0.070000,0.100000,0.200000,0.190000,0.230000,0.210000,0.005017,0.199300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-01','4213',3,0.050000,0.130000,0.160000,0.230000,0.220000,0.210000,-0.016083,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-01','4957',4,0.060000,0.110000,0.090000,0.200000,0.230000,0.310000,-0.029017,0.156300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-01','5054',5,0.000000,0.000000,0.010000,0.020000,0.150000,0.370000,0.028000,0.202182)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-01','3561',6,0.120000,0.100000,0.100000,0.230000,0.240000,0.210000,-0.001950,0.199500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-02','3982',1,0.130000,0.140000,0.160000,0.110000,0.210000,0.250000,0.155900,0.382100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-02','4959',2,0.140000,0.210000,0.170000,0.120000,0.160000,0.200000,0.074750,0.260300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-02','3261',3,0.030000,0.200000,0.180000,0.280000,0.190000,0.120000,-0.035300,0.200500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-02','5001',4,0.000000,0.000000,0.050000,0.070000,0.290000,0.590000,-0.054967,0.144800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-02','5046',5,0.000000,0.000000,0.000000,0.010000,0.040000,0.470000,0.027115,0.201731)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-02','3436',6,0.210000,0.190000,0.190000,0.240000,0.090000,0.080000,0.046550,0.238100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-03','4603',1,0.050000,0.200000,0.160000,0.210000,0.200000,0.180000,-0.012450,0.165000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-03','4498',2,0.160000,0.200000,0.160000,0.170000,0.150000,0.160000,0.014750,0.210400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-03','4635',3,0.130000,0.130000,0.150000,0.120000,0.140000,0.330000,-0.053283,0.139500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-03','3866',4,0.130000,0.090000,0.240000,0.200000,0.180000,0.160000,-0.062033,0.155500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-03','3933',5,0.260000,0.160000,0.160000,0.110000,0.170000,0.140000,-0.004767,0.163200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-03','5058',6,0.010000,0.020000,0.030000,0.070000,0.180000,0.260000,0.012778,0.180351)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-04','4538',1,0.140000,0.160000,0.210000,0.130000,0.210000,0.150000,-0.025350,0.144300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-04','4886',2,0.170000,0.200000,0.220000,0.160000,0.110000,0.140000,0.046883,0.230000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-04','3585',3,0.060000,0.160000,0.190000,0.220000,0.220000,0.150000,0.001667,0.193000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-04','4905',4,0.080000,0.120000,0.120000,0.220000,0.240000,0.220000,0.006400,0.196000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-04','4166',5,0.370000,0.230000,0.100000,0.070000,0.070000,0.160000,-0.029600,0.138900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-04','4580',6,0.240000,0.180000,0.140000,0.130000,0.150000,0.160000,-0.013100,0.173600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-05','4957',1,0.060000,0.110000,0.090000,0.200000,0.230000,0.310000,-0.030417,0.154600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-05','4441',2,0.170000,0.240000,0.210000,0.160000,0.120000,0.100000,-0.006167,0.164800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-05','4584',3,0.210000,0.290000,0.160000,0.180000,0.070000,0.090000,-0.031367,0.135300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-05','4200',4,0.020000,0.180000,0.180000,0.250000,0.230000,0.140000,-0.007733,0.177000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-05','3874',5,0.260000,0.200000,0.230000,0.080000,0.130000,0.100000,0.006817,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-05','4172',6,0.190000,0.230000,0.230000,0.170000,0.120000,0.060000,-0.027400,0.171300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-06','4370',1,0.580000,0.180000,0.130000,0.050000,0.040000,0.020000,-0.027967,0.159800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-06','4089',2,0.250000,0.190000,0.240000,0.150000,0.110000,0.060000,0.040600,0.256500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-06','3685',3,0.230000,0.200000,0.190000,0.140000,0.200000,0.040000,-0.033333,0.170300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-06','3715',4,0.120000,0.150000,0.210000,0.190000,0.220000,0.110000,-0.037650,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-06','3564',5,0.110000,0.090000,0.160000,0.200000,0.260000,0.180000,0.001600,0.172400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-06','5046',6,0.000000,0.000000,0.000000,0.020000,0.040000,0.470000,0.024937,0.200000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-07','4423',1,0.120000,0.100000,0.120000,0.240000,0.200000,0.220000,-0.013833,0.198500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-07','3982',2,0.130000,0.140000,0.170000,0.110000,0.210000,0.240000,0.157567,0.383800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-07','3822',3,0.360000,0.230000,0.140000,0.060000,0.080000,0.130000,-0.007667,0.166200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-07','4355',4,0.070000,0.100000,0.210000,0.190000,0.220000,0.210000,0.005283,0.199600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-07','3458',5,0.200000,0.180000,0.170000,0.160000,0.180000,0.110000,-0.000183,0.168100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-07','3233',6,0.170000,0.230000,0.240000,0.200000,0.140000,0.020000,-0.018967,0.178700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-08','4533',1,0.140000,0.220000,0.150000,0.210000,0.150000,0.130000,-0.004167,0.172000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-08','3933',2,0.270000,0.160000,0.150000,0.110000,0.170000,0.140000,-0.005100,0.163400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-08','4713',3,0.220000,0.190000,0.160000,0.180000,0.160000,0.090000,-0.021833,0.155700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-08','4214',4,0.200000,0.210000,0.140000,0.120000,0.220000,0.110000,-0.021800,0.174600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-08','4418',5,0.230000,0.270000,0.200000,0.150000,0.050000,0.100000,-0.003300,0.147100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-08','4905',6,0.080000,0.110000,0.120000,0.220000,0.250000,0.220000,0.007133,0.196000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-09','3874',1,0.260000,0.200000,0.230000,0.070000,0.130000,0.110000,0.006067,0.166600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-09','3585',2,0.060000,0.170000,0.190000,0.220000,0.210000,0.150000,0.001567,0.192400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-09','3600',3,0.100000,0.120000,0.120000,0.150000,0.170000,0.340000,0.118467,0.312100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-09','4762',4,0.280000,0.230000,0.150000,0.110000,0.160000,0.070000,-0.030283,0.142100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-09','4603',5,0.040000,0.200000,0.160000,0.210000,0.210000,0.180000,-0.011550,0.165700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-09','5054',6,0.000000,0.000000,0.010000,0.030000,0.150000,0.370000,0.026280,0.201071)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-10','4166',1,0.370000,0.230000,0.100000,0.070000,0.070000,0.160000,-0.029367,0.138300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-10','3685',2,0.230000,0.200000,0.180000,0.150000,0.200000,0.040000,-0.033000,0.170200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-10','4200',3,0.020000,0.180000,0.180000,0.260000,0.220000,0.140000,-0.008017,0.176600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-10','4054',4,0.060000,0.110000,0.120000,0.260000,0.180000,0.270000,-0.007400,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-10','4635',5,0.130000,0.130000,0.160000,0.120000,0.140000,0.320000,-0.053750,0.139400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-10','4410',6,0.140000,0.180000,0.160000,0.200000,0.180000,0.140000,0.003383,0.183100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-11','3822',1,0.360000,0.230000,0.140000,0.060000,0.080000,0.130000,-0.007400,0.166600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-11','4584',2,0.210000,0.290000,0.160000,0.170000,0.080000,0.090000,-0.031067,0.135000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-11','4370',3,0.590000,0.170000,0.130000,0.050000,0.040000,0.020000,-0.011383,0.159300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-11','4886',4,0.170000,0.200000,0.220000,0.160000,0.110000,0.140000,0.047450,0.230000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-11','3866',5,0.130000,0.090000,0.240000,0.210000,0.170000,0.160000,-0.065850,0.151500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-11','4959',6,0.150000,0.210000,0.170000,0.120000,0.160000,0.190000,0.074950,0.260900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-12','4418',1,0.240000,0.270000,0.190000,0.150000,0.050000,0.100000,-0.004217,0.145500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-12','3436',2,0.210000,0.180000,0.190000,0.240000,0.100000,0.080000,0.045983,0.237600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-12','4498',3,0.160000,0.210000,0.160000,0.160000,0.150000,0.160000,0.013400,0.208200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-12','3300',4,0.280000,0.210000,0.180000,0.170000,0.100000,0.060000,-0.025250,0.149900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-12','4089',5,0.250000,0.200000,0.240000,0.150000,0.100000,0.060000,0.041300,0.256600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-16-12','4441',6,0.170000,0.240000,0.210000,0.160000,0.120000,0.100000,-0.005650,0.164900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-01','3584',1,0.140000,0.200000,0.220000,0.170000,0.140000,0.130000,-0.060150,0.164600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-01','2844',2,0.130000,0.170000,0.180000,0.150000,0.220000,0.150000,-0.009217,0.175100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-01','4592',3,0.100000,0.150000,0.150000,0.210000,0.240000,0.150000,-0.033667,0.155500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-01','3273',4,0.100000,0.150000,0.240000,0.160000,0.220000,0.130000,-0.000450,0.172400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-01','4955',5,0.010000,0.030000,0.060000,0.110000,0.340000,0.450000,-0.003183,0.161500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-01','4991',6,0.040000,0.090000,0.130000,0.210000,0.300000,0.230000,-0.005950,0.175400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-02','3338',1,0.090000,0.090000,0.180000,0.260000,0.200000,0.180000,-0.012417,0.159600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-02','4672',2,0.070000,0.140000,0.150000,0.180000,0.170000,0.290000,-0.024700,0.161200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-02','3411',3,0.070000,0.070000,0.110000,0.190000,0.340000,0.220000,0.083350,0.305300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-02','4951',4,0.030000,0.060000,0.160000,0.210000,0.290000,0.250000,0.000933,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-02','3424',5,0.060000,0.130000,0.130000,0.190000,0.210000,0.280000,0.230050,0.470700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-02','4708',6,0.030000,0.100000,0.140000,0.330000,0.260000,0.140000,0.017117,0.197600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-03','4835',1,0.110000,0.090000,0.210000,0.240000,0.180000,0.170000,0.094283,0.286900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-03','3516',2,0.140000,0.150000,0.090000,0.240000,0.190000,0.190000,-0.021250,0.176900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-03','3430',3,0.130000,0.140000,0.240000,0.170000,0.160000,0.160000,-0.020433,0.160600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-03','3797',4,0.050000,0.190000,0.140000,0.220000,0.230000,0.170000,0.008183,0.183200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-03','4416',5,0.130000,0.180000,0.150000,0.220000,0.180000,0.140000,0.016450,0.193000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-03','3562',6,0.190000,0.250000,0.170000,0.110000,0.140000,0.140000,0.079283,0.261000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-04','3979',1,0.070000,0.060000,0.160000,0.130000,0.230000,0.350000,0.001333,0.185700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-04','3212',2,0.210000,0.240000,0.190000,0.190000,0.130000,0.040000,-0.012667,0.172600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-04','4816',3,0.310000,0.270000,0.130000,0.080000,0.130000,0.080000,-0.009083,0.155800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-04','4564',4,0.160000,0.140000,0.190000,0.180000,0.180000,0.150000,-0.006900,0.156500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-04','4343',5,0.070000,0.130000,0.190000,0.200000,0.270000,0.140000,0.016150,0.189100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-04','4097',6,0.100000,0.190000,0.150000,0.250000,0.200000,0.110000,0.029400,0.224600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-05','3920',1,0.280000,0.300000,0.120000,0.130000,0.130000,0.040000,-0.046650,0.164400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-05','4971',2,0.020000,0.010000,0.060000,0.070000,0.310000,0.530000,0.019517,0.202200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-05','3663',3,0.190000,0.170000,0.200000,0.110000,0.240000,0.090000,-0.042867,0.163700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-05','4872',4,0.170000,0.180000,0.210000,0.120000,0.150000,0.170000,-0.017917,0.152600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-05','3282',5,0.210000,0.210000,0.220000,0.170000,0.140000,0.050000,-0.014250,0.203100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-05','2844',6,0.120000,0.170000,0.180000,0.150000,0.230000,0.150000,-0.008550,0.175300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-06','3273',1,0.100000,0.150000,0.250000,0.160000,0.220000,0.120000,-0.001017,0.171000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-06','4708',2,0.030000,0.100000,0.140000,0.330000,0.260000,0.140000,0.016100,0.196700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-06','3158',3,0.310000,0.250000,0.130000,0.070000,0.150000,0.090000,-0.046217,0.139700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-06','4000',4,0.210000,0.180000,0.200000,0.190000,0.140000,0.080000,-0.004300,0.174600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-06','3719',5,0.410000,0.240000,0.170000,0.060000,0.090000,0.030000,-0.020083,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-06','5067',6,0.000000,0.010000,0.000000,0.050000,0.120000,0.380000,0.007917,0.181964)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-07','4592',1,0.110000,0.150000,0.150000,0.210000,0.240000,0.140000,-0.034917,0.151800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-07','3424',2,0.060000,0.130000,0.130000,0.190000,0.210000,0.280000,0.148967,0.372300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-07','4434',3,0.140000,0.230000,0.220000,0.170000,0.160000,0.080000,-0.010450,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-07','4205',4,0.370000,0.240000,0.130000,0.110000,0.090000,0.060000,-0.049800,0.142800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-07','3883',5,0.050000,0.110000,0.220000,0.200000,0.260000,0.160000,-0.008750,0.185800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-07','3024',6,0.320000,0.220000,0.160000,0.090000,0.160000,0.050000,-0.026350,0.154000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-08','4343',1,0.070000,0.130000,0.190000,0.190000,0.270000,0.150000,0.016183,0.188400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-08','3338',2,0.100000,0.090000,0.170000,0.260000,0.200000,0.180000,-0.012133,0.159200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-08','3058',3,0.090000,0.120000,0.190000,0.120000,0.280000,0.200000,-0.005200,0.179200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-08','3562',4,0.190000,0.250000,0.180000,0.110000,0.130000,0.140000,0.079533,0.261400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-08','3499',5,0.320000,0.180000,0.240000,0.100000,0.090000,0.070000,0.033300,0.240100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-08','4257',6,0.180000,0.150000,0.140000,0.150000,0.160000,0.220000,-0.029617,0.149100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-09','3516',1,0.140000,0.160000,0.090000,0.230000,0.190000,0.190000,-0.021883,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-09','3920',2,0.290000,0.290000,0.120000,0.130000,0.130000,0.040000,-0.030883,0.163400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-09','2935',3,0.090000,0.170000,0.100000,0.220000,0.220000,0.200000,-0.026483,0.185200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-09','3979',4,0.080000,0.060000,0.160000,0.130000,0.220000,0.350000,0.000517,0.183900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-09','4672',5,0.070000,0.150000,0.150000,0.180000,0.160000,0.290000,-0.024567,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-09','4955',6,0.010000,0.030000,0.060000,0.120000,0.340000,0.440000,-0.002817,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-10','3212',1,0.210000,0.240000,0.190000,0.190000,0.130000,0.040000,-0.012883,0.172500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-10','3719',2,0.400000,0.240000,0.180000,0.060000,0.090000,0.030000,-0.020583,0.166600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-10','3584',3,0.140000,0.200000,0.220000,0.170000,0.140000,0.130000,-0.059367,0.165800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-10','3282',4,0.210000,0.220000,0.220000,0.160000,0.140000,0.050000,-0.013383,0.203000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-10','3797',5,0.050000,0.180000,0.140000,0.230000,0.230000,0.170000,0.008667,0.182900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-10','4951',6,0.030000,0.060000,0.170000,0.210000,0.290000,0.240000,0.000867,0.166900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-11','4398',1,0.260000,0.290000,0.140000,0.120000,0.100000,0.090000,0.066417,0.235000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-11','4416',2,0.130000,0.180000,0.150000,0.210000,0.190000,0.140000,0.016867,0.192400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-11','4111',3,0.190000,0.210000,0.150000,0.100000,0.200000,0.150000,-0.018717,0.174500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-11','3158',4,0.310000,0.240000,0.130000,0.080000,0.150000,0.090000,-0.045750,0.140200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-11','4434',5,0.140000,0.240000,0.220000,0.160000,0.160000,0.080000,-0.009017,0.182500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-11','3614',6,0.110000,0.160000,0.150000,0.150000,0.190000,0.240000,-0.022317,0.176900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-12','4816',1,0.310000,0.270000,0.140000,0.080000,0.120000,0.080000,-0.009517,0.154700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-12','4257',2,0.180000,0.150000,0.150000,0.140000,0.160000,0.220000,-0.030150,0.148600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-12','4205',3,0.370000,0.240000,0.130000,0.110000,0.090000,0.060000,-0.051683,0.142300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-12','4173',4,0.240000,0.160000,0.210000,0.210000,0.130000,0.050000,-0.011367,0.188300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-12','3663',5,0.190000,0.170000,0.200000,0.110000,0.250000,0.080000,-0.043483,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-17-12','4000',6,0.210000,0.190000,0.200000,0.180000,0.140000,0.080000,-0.004283,0.174800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-01','4703',1,0.210000,0.220000,0.250000,0.130000,0.090000,0.100000,-0.013467,0.173300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-01','3709',2,0.070000,0.110000,0.150000,0.240000,0.260000,0.170000,0.020367,0.206000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-01','4374',3,0.070000,0.170000,0.200000,0.210000,0.230000,0.120000,-0.009783,0.155000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-01','3443',4,0.070000,0.100000,0.180000,0.240000,0.250000,0.160000,0.018933,0.204600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-01','3878',5,0.140000,0.110000,0.180000,0.200000,0.230000,0.140000,-0.006483,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-01','5040',6,0.010000,0.010000,0.000000,0.050000,0.170000,0.720000,0.021840,0.195312)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-02','4263',1,0.220000,0.130000,0.160000,0.160000,0.170000,0.160000,-0.026250,0.170400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-02','3834',2,0.150000,0.160000,0.180000,0.220000,0.160000,0.130000,0.087017,0.286800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-02','2930',3,0.110000,0.220000,0.130000,0.160000,0.190000,0.190000,0.149467,0.384200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-02','4064',4,0.340000,0.180000,0.170000,0.110000,0.140000,0.060000,-0.021233,0.170400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-02','3661',5,0.070000,0.160000,0.270000,0.210000,0.180000,0.110000,0.018717,0.198900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-02','4219',6,0.100000,0.120000,0.120000,0.220000,0.300000,0.140000,-0.026917,0.178700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-03','3427',1,0.200000,0.200000,0.100000,0.200000,0.100000,0.200000,0.021300,0.204700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-03','4985',2,0.080000,0.090000,0.080000,0.190000,0.360000,0.200000,0.004633,0.202900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-03','3454',3,0.110000,0.240000,0.270000,0.170000,0.140000,0.070000,-0.011133,0.181600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-03','4009',4,0.130000,0.190000,0.200000,0.190000,0.180000,0.110000,-0.038150,0.128200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-03','3949',5,0.040000,0.080000,0.260000,0.230000,0.240000,0.150000,-0.012200,0.182100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-03','4574',6,0.160000,0.170000,0.170000,0.210000,0.200000,0.090000,-0.011067,0.175500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-04','4237',1,0.330000,0.170000,0.110000,0.140000,0.110000,0.140000,0.073833,0.260700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-04','4239',2,0.260000,0.180000,0.240000,0.100000,0.160000,0.060000,-0.009233,0.161900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-04','3581',3,0.120000,0.140000,0.200000,0.200000,0.200000,0.140000,0.002083,0.187000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-04','4251',4,0.110000,0.150000,0.070000,0.250000,0.250000,0.170000,0.000067,0.209200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-04','3036',5,0.060000,0.190000,0.150000,0.240000,0.180000,0.180000,0.003883,0.188000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-04','5015',6,0.000000,0.030000,0.180000,0.280000,0.200000,0.310000,0.089717,0.272100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-05','3925',1,0.130000,0.130000,0.200000,0.120000,0.170000,0.250000,-0.017867,0.192100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-05','3846',2,0.060000,0.100000,0.120000,0.260000,0.320000,0.140000,0.006033,0.176800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-05','4703',3,0.210000,0.220000,0.250000,0.130000,0.090000,0.100000,-0.013483,0.173900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-05','4403',4,0.150000,0.160000,0.210000,0.200000,0.170000,0.110000,-0.004433,0.160600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-05','4871',5,0.050000,0.110000,0.080000,0.230000,0.310000,0.220000,0.012333,0.193900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-05','3717',6,0.300000,0.180000,0.150000,0.160000,0.090000,0.120000,-0.025650,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-06','4950',1,0.060000,0.110000,0.250000,0.180000,0.210000,0.190000,0.003033,0.172200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-06','4361',2,0.250000,0.230000,0.170000,0.150000,0.110000,0.090000,-0.051233,0.150900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-06','3834',3,0.150000,0.160000,0.180000,0.210000,0.160000,0.140000,0.087267,0.286600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-06','5000',4,0.020000,0.080000,0.050000,0.110000,0.280000,0.460000,-0.014083,0.180800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-06','3928',5,0.080000,0.210000,0.110000,0.170000,0.230000,0.200000,0.002317,0.202300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-06','4015',6,0.250000,0.200000,0.260000,0.160000,0.100000,0.030000,-0.011283,0.158100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-07','3661',1,0.070000,0.160000,0.270000,0.210000,0.190000,0.100000,0.018833,0.199300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-07','3949',2,0.040000,0.080000,0.260000,0.230000,0.240000,0.150000,-0.011583,0.182900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-07','3684',3,0.150000,0.230000,0.170000,0.190000,0.160000,0.100000,0.009517,0.221700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-07','3976',4,0.090000,0.150000,0.130000,0.120000,0.160000,0.350000,0.088950,0.287200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-07','4292',5,0.210000,0.180000,0.220000,0.110000,0.180000,0.100000,-0.043883,0.130500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-07','4374',6,0.070000,0.160000,0.200000,0.220000,0.230000,0.120000,-0.009700,0.154200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-08','3036',1,0.060000,0.190000,0.150000,0.240000,0.180000,0.180000,0.003433,0.187700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-08','3567',2,0.040000,0.110000,0.160000,0.260000,0.190000,0.240000,0.009283,0.196300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-08','4179',3,0.200000,0.200000,0.170000,0.150000,0.170000,0.110000,-0.009833,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-08','3942',4,0.290000,0.220000,0.180000,0.100000,0.110000,0.100000,0.045533,0.252100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-08','4009',5,0.130000,0.190000,0.200000,0.190000,0.180000,0.110000,-0.038783,0.126700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-08','3709',6,0.060000,0.110000,0.150000,0.240000,0.270000,0.170000,0.020550,0.206300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-09','3454',1,0.110000,0.240000,0.270000,0.170000,0.140000,0.070000,-0.011800,0.181400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-09','3878',2,0.140000,0.110000,0.180000,0.200000,0.230000,0.140000,-0.007133,0.168200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-09','4403',3,0.150000,0.160000,0.210000,0.200000,0.170000,0.110000,-0.004450,0.159700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-09','3668',4,0.070000,0.120000,0.120000,0.180000,0.220000,0.290000,0.012667,0.213500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-09','4263',5,0.220000,0.130000,0.160000,0.160000,0.170000,0.160000,-0.026283,0.170400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-09','5064',6,0.000000,0.020000,0.010000,0.060000,0.170000,0.260000,0.021058,0.197885)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-10','3928',1,0.080000,0.210000,0.100000,0.170000,0.230000,0.210000,0.002783,0.202700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-10','3559',2,0.110000,0.220000,0.180000,0.160000,0.220000,0.110000,-0.008317,0.184200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-10','4239',3,0.250000,0.190000,0.240000,0.100000,0.160000,0.060000,-0.009867,0.162300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-10','4985',4,0.080000,0.090000,0.080000,0.180000,0.370000,0.200000,0.004150,0.200600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-10','5040',5,0.010000,0.010000,0.000000,0.050000,0.170000,0.730000,0.022457,0.195876)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-10','4064',6,0.340000,0.180000,0.180000,0.100000,0.140000,0.060000,-0.022150,0.169200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-11','2930',1,0.110000,0.220000,0.130000,0.160000,0.190000,0.190000,0.149800,0.384600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-11','4574',2,0.150000,0.170000,0.170000,0.220000,0.200000,0.090000,-0.011667,0.175300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-11','3925',3,0.140000,0.130000,0.190000,0.120000,0.170000,0.250000,-0.018567,0.191700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-11','2992',4,0.270000,0.190000,0.190000,0.160000,0.100000,0.090000,-0.030417,0.150700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-11','5015',5,0.000000,0.030000,0.190000,0.270000,0.200000,0.310000,0.089983,0.272800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-11','3443',6,0.070000,0.110000,0.170000,0.240000,0.250000,0.160000,0.018767,0.204400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-12','3942',1,0.300000,0.220000,0.170000,0.100000,0.110000,0.100000,0.045233,0.252300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-12','3427',2,0.200000,0.210000,0.100000,0.200000,0.100000,0.190000,0.020483,0.203700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-12','4237',3,0.330000,0.170000,0.110000,0.140000,0.110000,0.140000,0.073617,0.259100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-12','3717',4,0.300000,0.180000,0.150000,0.170000,0.080000,0.120000,-0.026250,0.159400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-12','4015',5,0.240000,0.200000,0.270000,0.160000,0.100000,0.030000,-0.010517,0.158400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-18-12','4292',6,0.200000,0.180000,0.220000,0.110000,0.190000,0.100000,-0.044500,0.131000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-01','4885',1,0.250000,0.210000,0.180000,0.120000,0.120000,0.120000,-0.017167,0.144000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-01','4463',2,0.140000,0.160000,0.170000,0.240000,0.140000,0.150000,-0.015950,0.199400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-01','4614',3,0.340000,0.190000,0.150000,0.120000,0.100000,0.100000,-0.017767,0.158900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-01','4363',4,0.140000,0.140000,0.200000,0.220000,0.180000,0.120000,-0.003900,0.163600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-01','5012',5,0.060000,0.040000,0.100000,0.140000,0.220000,0.440000,-0.000483,0.176500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-01','3352',6,0.050000,0.180000,0.240000,0.200000,0.180000,0.150000,-0.010983,0.150900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-02','3898',1,0.200000,0.220000,0.210000,0.190000,0.120000,0.060000,-0.006267,0.151200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-02','4406',2,0.120000,0.130000,0.200000,0.240000,0.180000,0.130000,0.006017,0.173100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-02','3998',3,0.130000,0.190000,0.140000,0.170000,0.200000,0.170000,-0.019800,0.166200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-02','3574',4,0.290000,0.230000,0.200000,0.100000,0.090000,0.090000,-0.023883,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-02','4942',5,0.000000,0.040000,0.100000,0.280000,0.330000,0.250000,0.006300,0.180800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-02','4272',6,0.110000,0.240000,0.220000,0.250000,0.100000,0.080000,-0.011550,0.187400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-03','4607',1,0.100000,0.290000,0.210000,0.150000,0.130000,0.120000,-0.019233,0.196700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-03','3734',2,0.160000,0.120000,0.170000,0.130000,0.170000,0.250000,0.151867,0.365400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-03','4504',3,0.340000,0.190000,0.130000,0.140000,0.140000,0.060000,0.001567,0.157500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-03','3858',4,0.140000,0.120000,0.260000,0.150000,0.200000,0.130000,-0.026717,0.156900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-03','3188',5,0.200000,0.250000,0.120000,0.210000,0.090000,0.130000,-0.001267,0.163600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-03','5009',6,0.000000,0.010000,0.040000,0.120000,0.130000,0.700000,0.016750,0.190700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-04','3360',1,0.170000,0.240000,0.140000,0.210000,0.140000,0.100000,0.019417,0.206200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-04','3741',2,0.090000,0.190000,0.140000,0.240000,0.220000,0.120000,-0.006817,0.188900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-04','4477',3,0.300000,0.220000,0.170000,0.140000,0.120000,0.050000,-0.022133,0.140100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-04','3662',4,0.270000,0.150000,0.100000,0.260000,0.110000,0.110000,-0.004600,0.160100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-04','4949',5,0.070000,0.140000,0.180000,0.170000,0.230000,0.210000,-0.006467,0.163600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-04','4952',6,0.090000,0.020000,0.140000,0.150000,0.200000,0.400000,0.008783,0.197500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-05','4193',1,0.180000,0.170000,0.240000,0.160000,0.190000,0.060000,-0.048867,0.153400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-05','3853',2,0.270000,0.170000,0.140000,0.120000,0.130000,0.170000,-0.022983,0.168200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-05','4195',3,0.160000,0.130000,0.160000,0.270000,0.120000,0.160000,-0.041700,0.145000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-05','4614',4,0.340000,0.190000,0.150000,0.120000,0.100000,0.100000,-0.017283,0.158700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-05','4136',5,0.160000,0.210000,0.210000,0.140000,0.170000,0.110000,0.061900,0.251400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-05','4122',6,0.130000,0.240000,0.220000,0.120000,0.130000,0.160000,-0.003267,0.162000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-06','4100',1,0.120000,0.170000,0.190000,0.180000,0.220000,0.120000,-0.019183,0.169000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-06','4679',2,0.240000,0.150000,0.170000,0.110000,0.120000,0.210000,-0.014850,0.174500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-06','4189',3,0.190000,0.200000,0.200000,0.200000,0.170000,0.040000,-0.017633,0.154700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-06','5012',4,0.060000,0.040000,0.090000,0.140000,0.220000,0.450000,-0.000883,0.175800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-06','4102',5,0.250000,0.270000,0.110000,0.080000,0.210000,0.080000,-0.033633,0.151800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-06','4346',6,0.130000,0.180000,0.150000,0.170000,0.170000,0.200000,-0.069117,0.165400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-07','4936',1,0.100000,0.070000,0.210000,0.160000,0.170000,0.290000,-0.065667,0.149400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-07','4329',2,0.070000,0.230000,0.180000,0.190000,0.200000,0.130000,0.071150,0.273100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-07','4363',3,0.140000,0.140000,0.210000,0.220000,0.170000,0.120000,-0.003567,0.163000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-07','4088',4,0.070000,0.160000,0.150000,0.170000,0.150000,0.300000,0.002733,0.194100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-07','5009',5,0.000000,0.010000,0.030000,0.130000,0.130000,0.700000,0.015667,0.187800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-07','4899',6,0.080000,0.070000,0.140000,0.180000,0.160000,0.370000,0.002567,0.175600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-08','4017',1,0.200000,0.230000,0.220000,0.140000,0.100000,0.110000,-0.006217,0.164400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-08','4272',2,0.110000,0.250000,0.210000,0.250000,0.100000,0.080000,-0.011317,0.187600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-08','3662',3,0.270000,0.140000,0.100000,0.260000,0.120000,0.110000,-0.003900,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-08','3734',4,0.160000,0.120000,0.170000,0.130000,0.160000,0.260000,0.152250,0.365200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-08','4463',5,0.150000,0.160000,0.170000,0.240000,0.130000,0.150000,-0.015783,0.197700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-08','4495',6,0.120000,0.160000,0.130000,0.200000,0.190000,0.200000,-0.061200,0.139100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-09','4008',1,0.180000,0.160000,0.160000,0.220000,0.140000,0.140000,-0.004100,0.189400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-09','3360',2,0.180000,0.240000,0.140000,0.200000,0.140000,0.100000,0.016950,0.204000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-09','3188',3,0.200000,0.250000,0.110000,0.210000,0.100000,0.130000,-0.001717,0.163800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-09','3898',4,0.210000,0.220000,0.210000,0.180000,0.120000,0.060000,-0.006300,0.151300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-09','3352',5,0.050000,0.180000,0.240000,0.200000,0.180000,0.150000,-0.011233,0.150300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-09','4195',6,0.160000,0.130000,0.150000,0.270000,0.130000,0.160000,-0.041433,0.145600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-10','4402',1,0.320000,0.150000,0.180000,0.200000,0.120000,0.030000,-0.011367,0.159700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-10','4136',2,0.160000,0.210000,0.210000,0.140000,0.170000,0.110000,0.062467,0.252700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-10','4329',3,0.080000,0.230000,0.170000,0.190000,0.200000,0.130000,0.071983,0.274500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-10','4607',4,0.100000,0.290000,0.220000,0.150000,0.130000,0.110000,-0.018700,0.196600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-10','4555',5,0.180000,0.230000,0.110000,0.170000,0.180000,0.130000,-0.032183,0.194100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-10','3741',6,0.090000,0.190000,0.150000,0.240000,0.220000,0.110000,-0.007350,0.189100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-11','3853',1,0.280000,0.170000,0.130000,0.120000,0.130000,0.170000,-0.023967,0.167900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-11','4477',2,0.300000,0.230000,0.170000,0.140000,0.110000,0.050000,-0.021850,0.140500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-11','3858',3,0.150000,0.120000,0.250000,0.150000,0.200000,0.130000,-0.027200,0.156300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-11','4885',4,0.250000,0.220000,0.180000,0.120000,0.120000,0.110000,-0.016933,0.143600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-11','3998',5,0.130000,0.190000,0.140000,0.160000,0.210000,0.170000,-0.019350,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-11','4679',6,0.230000,0.150000,0.170000,0.110000,0.130000,0.210000,-0.015167,0.174300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-12','4504',1,0.340000,0.200000,0.120000,0.140000,0.140000,0.060000,0.002350,0.158600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-12','4193',2,0.180000,0.170000,0.250000,0.160000,0.180000,0.060000,-0.049083,0.152100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-12','3574',3,0.290000,0.230000,0.200000,0.110000,0.080000,0.090000,-0.023683,0.166700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-12','4017',4,0.200000,0.230000,0.220000,0.130000,0.110000,0.110000,-0.005350,0.165200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-12','4008',5,0.190000,0.160000,0.160000,0.210000,0.140000,0.140000,-0.003717,0.188700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-21-12','4102',6,0.240000,0.270000,0.120000,0.080000,0.210000,0.080000,-0.034450,0.151800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-01','3674',1,0.280000,0.200000,0.170000,0.120000,0.120000,0.110000,0.044900,0.247400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-01','4046',2,0.080000,0.090000,0.160000,0.270000,0.210000,0.190000,0.002967,0.169000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-01','3350',3,0.140000,0.220000,0.210000,0.170000,0.150000,0.110000,0.000350,0.174800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-01','3802',4,0.140000,0.100000,0.200000,0.100000,0.160000,0.300000,-0.024983,0.169900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-01','3670',5,0.110000,0.130000,0.140000,0.190000,0.160000,0.270000,-0.017750,0.171600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-01','3879',6,0.070000,0.100000,0.160000,0.270000,0.230000,0.170000,0.025350,0.202300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-02','4295',1,0.210000,0.260000,0.170000,0.170000,0.110000,0.080000,-0.025933,0.155500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-02','4919',2,0.040000,0.110000,0.210000,0.200000,0.260000,0.180000,-0.018233,0.173800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-02','4040',3,0.280000,0.180000,0.180000,0.190000,0.070000,0.100000,-0.059550,0.135000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-02','4224',4,0.170000,0.090000,0.150000,0.130000,0.240000,0.220000,-0.027817,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-02','4709',5,0.150000,0.160000,0.190000,0.200000,0.210000,0.090000,0.072133,0.253900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-02','4640',6,0.160000,0.130000,0.120000,0.200000,0.190000,0.200000,-0.012217,0.177000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-03','3757',1,0.240000,0.190000,0.160000,0.210000,0.120000,0.080000,-0.035367,0.147400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-03','4537',2,0.270000,0.240000,0.210000,0.100000,0.090000,0.090000,0.073750,0.247100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-03','4485',3,0.160000,0.130000,0.220000,0.220000,0.150000,0.120000,-0.004817,0.157800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-03','4121',4,0.190000,0.140000,0.150000,0.190000,0.190000,0.140000,-0.034050,0.161500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-03','3372',5,0.070000,0.100000,0.160000,0.260000,0.250000,0.160000,0.011417,0.186700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-03','3890',6,0.200000,0.250000,0.190000,0.130000,0.110000,0.120000,-0.024400,0.148800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-04','3680',1,0.090000,0.160000,0.090000,0.270000,0.200000,0.190000,0.023400,0.222700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-04','4551',2,0.090000,0.170000,0.210000,0.180000,0.160000,0.190000,-0.002350,0.191200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-04','3871',3,0.100000,0.180000,0.210000,0.220000,0.120000,0.170000,0.096267,0.288800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-04','4395',4,0.110000,0.160000,0.180000,0.160000,0.200000,0.190000,0.004217,0.186800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-04','3051',5,0.070000,0.150000,0.120000,0.260000,0.210000,0.190000,-0.004100,0.169200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-04','4686',6,0.270000,0.210000,0.240000,0.120000,0.100000,0.060000,-0.015867,0.159300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-05','3593',1,0.050000,0.120000,0.300000,0.200000,0.210000,0.120000,0.025750,0.203000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-05','4771',2,0.130000,0.140000,0.250000,0.140000,0.190000,0.150000,0.008033,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-05','4657',3,0.210000,0.240000,0.150000,0.140000,0.130000,0.130000,0.033700,0.252900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-05','3670',4,0.110000,0.140000,0.130000,0.190000,0.160000,0.270000,-0.018050,0.170400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-05','3081',5,0.130000,0.180000,0.210000,0.130000,0.170000,0.180000,0.017683,0.279200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-05','3722',6,0.070000,0.130000,0.210000,0.290000,0.200000,0.100000,-0.015067,0.185900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-06','4014',1,0.150000,0.160000,0.210000,0.130000,0.170000,0.180000,-0.005017,0.191500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-06','4558',2,0.100000,0.150000,0.220000,0.120000,0.220000,0.190000,-0.034000,0.171700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-06','3784',3,0.250000,0.190000,0.170000,0.130000,0.110000,0.150000,-0.011667,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-06','3721',4,0.320000,0.350000,0.090000,0.120000,0.040000,0.080000,-0.072150,0.132700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-06','4046',5,0.080000,0.090000,0.160000,0.280000,0.200000,0.190000,0.002800,0.168400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-06','3787',6,0.170000,0.150000,0.160000,0.110000,0.210000,0.200000,0.084033,0.292300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-07','3631',1,0.170000,0.180000,0.200000,0.160000,0.150000,0.140000,-0.004767,0.181200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-07','4094',2,0.120000,0.160000,0.180000,0.200000,0.170000,0.170000,-0.015750,0.201200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-07','4566',3,0.290000,0.210000,0.100000,0.150000,0.140000,0.110000,-0.038483,0.153500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-07','3372',4,0.070000,0.090000,0.160000,0.260000,0.250000,0.170000,0.011767,0.187100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-07','3334',5,0.110000,0.220000,0.170000,0.180000,0.150000,0.170000,-0.018533,0.208600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-07','3802',6,0.140000,0.100000,0.200000,0.100000,0.160000,0.300000,-0.025050,0.169100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-08','4012',1,0.160000,0.180000,0.180000,0.170000,0.150000,0.160000,-0.027017,0.154000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-08','3051',2,0.070000,0.150000,0.120000,0.250000,0.220000,0.190000,-0.005033,0.168000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-08','4487',3,0.070000,0.180000,0.150000,0.220000,0.200000,0.180000,-0.027333,0.161000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-08','3350',4,0.140000,0.210000,0.220000,0.170000,0.150000,0.110000,0.000683,0.174900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-08','4224',5,0.170000,0.090000,0.150000,0.120000,0.240000,0.230000,-0.027983,0.183000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-08','4204',6,0.140000,0.180000,0.150000,0.160000,0.170000,0.200000,0.081800,0.277500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-09','3462',1,0.160000,0.170000,0.220000,0.170000,0.130000,0.150000,-0.025033,0.157200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-09','4121',2,0.190000,0.140000,0.140000,0.200000,0.190000,0.140000,-0.033450,0.161800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-09','4709',3,0.150000,0.170000,0.190000,0.200000,0.210000,0.080000,0.072117,0.253300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-09','3879',4,0.070000,0.100000,0.160000,0.270000,0.230000,0.170000,0.024917,0.200800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-09','3611',5,0.170000,0.250000,0.210000,0.160000,0.120000,0.090000,-0.024967,0.158200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-09','3871',6,0.100000,0.190000,0.210000,0.210000,0.120000,0.170000,0.096733,0.288300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-10','3784',1,0.260000,0.190000,0.170000,0.120000,0.110000,0.150000,-0.011850,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-10','3757',2,0.250000,0.190000,0.160000,0.210000,0.120000,0.070000,-0.036350,0.146600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-10','4295',3,0.220000,0.250000,0.170000,0.170000,0.110000,0.080000,-0.026750,0.153700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-10','3674',4,0.290000,0.190000,0.170000,0.120000,0.120000,0.110000,0.044667,0.246600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-10','3593',5,0.060000,0.120000,0.300000,0.190000,0.210000,0.120000,0.024333,0.202900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-10','4551',6,0.090000,0.170000,0.210000,0.190000,0.160000,0.180000,-0.003733,0.189100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-11','4040',1,0.270000,0.180000,0.190000,0.190000,0.070000,0.100000,-0.059500,0.134800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-11','4566',2,0.300000,0.210000,0.100000,0.150000,0.140000,0.100000,-0.038067,0.153700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-11','4537',3,0.270000,0.240000,0.210000,0.100000,0.090000,0.090000,0.073883,0.247300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-11','3680',4,0.100000,0.160000,0.090000,0.270000,0.190000,0.190000,0.023033,0.221300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-11','4014',5,0.150000,0.170000,0.210000,0.130000,0.160000,0.180000,-0.004700,0.191800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-11','4771',6,0.120000,0.140000,0.260000,0.140000,0.190000,0.150000,0.006767,0.177400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-12','3721',1,0.310000,0.350000,0.100000,0.120000,0.040000,0.080000,-0.072833,0.131900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-12','3631',2,0.170000,0.180000,0.200000,0.170000,0.150000,0.130000,-0.005200,0.180100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-12','4395',3,0.110000,0.160000,0.180000,0.160000,0.190000,0.200000,0.002633,0.184200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-12','4657',4,0.210000,0.230000,0.150000,0.140000,0.130000,0.140000,0.034533,0.253700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-12','4012',5,0.160000,0.180000,0.180000,0.170000,0.150000,0.160000,-0.027550,0.153100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-22-12','4485',6,0.160000,0.140000,0.220000,0.210000,0.150000,0.120000,-0.005633,0.156600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-01','3773',1,0.200000,0.130000,0.160000,0.190000,0.160000,0.160000,-0.031567,0.162800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-01','4164',2,0.050000,0.150000,0.170000,0.200000,0.240000,0.190000,0.067500,0.273400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-01','4252',3,0.110000,0.110000,0.150000,0.200000,0.300000,0.130000,-0.046117,0.186200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-01','3936',4,0.140000,0.140000,0.180000,0.210000,0.180000,0.150000,-0.005583,0.196300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-01','4248',5,0.070000,0.190000,0.240000,0.170000,0.160000,0.170000,-0.031950,0.165100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-01','4966',6,0.080000,0.110000,0.220000,0.210000,0.200000,0.180000,-0.021983,0.157700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-02','4705',1,0.090000,0.110000,0.140000,0.120000,0.200000,0.340000,-0.016933,0.148400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-02','4212',2,0.080000,0.080000,0.150000,0.150000,0.190000,0.350000,0.004867,0.223000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-02','4004',3,0.100000,0.140000,0.140000,0.260000,0.120000,0.240000,-0.018783,0.193200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-02','3151',4,0.130000,0.140000,0.170000,0.170000,0.220000,0.170000,-0.035217,0.173700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-02','4715',5,0.250000,0.210000,0.200000,0.150000,0.080000,0.110000,0.073333,0.265500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-02','5055',6,0.000000,0.020000,0.010000,0.020000,0.120000,0.360000,0.024245,0.185849)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-03','4948',1,0.060000,0.110000,0.240000,0.120000,0.280000,0.190000,0.014633,0.187500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-03','4096',2,0.350000,0.190000,0.110000,0.160000,0.130000,0.060000,-0.030000,0.141100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-03','3714',3,0.090000,0.150000,0.140000,0.240000,0.260000,0.120000,-0.005533,0.167900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-03','4222',4,0.210000,0.200000,0.200000,0.140000,0.150000,0.100000,-0.002017,0.172800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-03','5026',5,0.040000,0.020000,0.050000,0.130000,0.240000,0.520000,-0.018967,0.175000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-03','3906',6,0.190000,0.170000,0.130000,0.170000,0.210000,0.130000,0.003517,0.172100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-04','3211',1,0.100000,0.100000,0.220000,0.150000,0.300000,0.130000,-0.002117,0.167800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-04','3944',2,0.260000,0.240000,0.210000,0.130000,0.060000,0.100000,0.152183,0.367700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-04','3224',3,0.120000,0.150000,0.250000,0.180000,0.120000,0.180000,-0.026133,0.182100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-04','4562',4,0.130000,0.170000,0.180000,0.170000,0.210000,0.140000,0.002733,0.188800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-04','4323',5,0.100000,0.150000,0.090000,0.180000,0.230000,0.250000,0.000850,0.164400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-04','3527',6,0.140000,0.190000,0.230000,0.200000,0.160000,0.080000,-0.014350,0.185500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-05','3843',1,0.160000,0.250000,0.160000,0.150000,0.150000,0.130000,-0.025967,0.154300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-05','4557',2,0.160000,0.080000,0.130000,0.130000,0.280000,0.220000,-0.005483,0.185000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-05','3926',3,0.050000,0.060000,0.130000,0.280000,0.180000,0.300000,0.018817,0.201200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-05','4259',4,0.260000,0.160000,0.180000,0.150000,0.170000,0.080000,-0.054317,0.159700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-05','4241',5,0.120000,0.140000,0.140000,0.260000,0.200000,0.140000,-0.027500,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-05','5008',6,0.000000,0.000000,0.060000,0.090000,0.250000,0.600000,0.005933,0.193800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-06','3777',1,0.200000,0.190000,0.160000,0.190000,0.190000,0.070000,-0.030267,0.188600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-06','4705',2,0.090000,0.120000,0.140000,0.120000,0.200000,0.330000,-0.018017,0.146800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-06','3627',3,0.150000,0.140000,0.130000,0.140000,0.280000,0.160000,-0.020800,0.196400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-06','3773',4,0.210000,0.130000,0.160000,0.190000,0.160000,0.150000,-0.032017,0.161400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-06','5055',5,0.000000,0.020000,0.010000,0.020000,0.120000,0.370000,0.023673,0.185000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-06','4315',6,0.150000,0.140000,0.120000,0.270000,0.140000,0.180000,0.005283,0.175200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-07','4715',1,0.250000,0.200000,0.210000,0.150000,0.080000,0.110000,0.073833,0.266300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-07','4562',2,0.130000,0.170000,0.180000,0.170000,0.220000,0.130000,0.003033,0.189200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-07','3775',3,0.130000,0.150000,0.140000,0.140000,0.220000,0.220000,0.079583,0.280200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-07','4174',4,0.290000,0.250000,0.180000,0.150000,0.070000,0.060000,-0.039133,0.169800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-07','3714',5,0.090000,0.150000,0.150000,0.230000,0.260000,0.120000,-0.005967,0.168000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-07','4855',6,0.110000,0.110000,0.090000,0.190000,0.190000,0.310000,0.057200,0.253200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-08','3070',1,0.310000,0.190000,0.150000,0.090000,0.120000,0.140000,-0.016567,0.147600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-08','4252',2,0.110000,0.110000,0.140000,0.200000,0.300000,0.140000,-0.046300,0.186200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-08','4323',3,0.100000,0.150000,0.090000,0.180000,0.230000,0.250000,0.002050,0.166100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-08','3779',4,0.370000,0.180000,0.110000,0.160000,0.080000,0.100000,-0.023683,0.120100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-08','4004',5,0.100000,0.140000,0.140000,0.250000,0.130000,0.240000,-0.020150,0.191900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-08','5026',6,0.040000,0.020000,0.050000,0.130000,0.250000,0.510000,-0.018200,0.174900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-09','4171',1,0.200000,0.240000,0.190000,0.150000,0.110000,0.110000,0.011750,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-09','4070',2,0.350000,0.200000,0.110000,0.090000,0.150000,0.100000,-0.022817,0.144300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-09','4222',3,0.210000,0.210000,0.190000,0.140000,0.150000,0.100000,-0.001583,0.173700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-09','4212',4,0.080000,0.080000,0.150000,0.150000,0.190000,0.350000,0.003667,0.221300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-09','3964',5,0.090000,0.160000,0.160000,0.270000,0.200000,0.120000,0.031483,0.214000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-09','3936',6,0.140000,0.150000,0.180000,0.200000,0.180000,0.150000,-0.005567,0.196600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-10','4259',1,0.260000,0.160000,0.180000,0.150000,0.170000,0.080000,-0.054017,0.160300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-10','3777',2,0.210000,0.190000,0.160000,0.180000,0.190000,0.070000,-0.030583,0.187700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-10','4695',3,0.060000,0.120000,0.150000,0.160000,0.190000,0.320000,0.079833,0.295000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-10','3224',4,0.120000,0.150000,0.260000,0.180000,0.110000,0.180000,-0.026783,0.180900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-10','3349',5,0.230000,0.240000,0.180000,0.110000,0.160000,0.080000,-0.013733,0.151900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-10','4202',6,0.100000,0.190000,0.180000,0.210000,0.170000,0.150000,0.003783,0.182100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-11','4174',1,0.280000,0.260000,0.180000,0.150000,0.070000,0.060000,-0.039467,0.169700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-11','3070',2,0.310000,0.190000,0.150000,0.090000,0.120000,0.140000,-0.017167,0.147300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-11','3944',3,0.260000,0.240000,0.210000,0.130000,0.060000,0.100000,0.150817,0.365800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-11','3843',4,0.170000,0.240000,0.160000,0.150000,0.150000,0.130000,-0.025350,0.153600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-11','4315',5,0.150000,0.140000,0.120000,0.260000,0.150000,0.180000,0.005633,0.175400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-11','4553',6,0.200000,0.190000,0.200000,0.190000,0.160000,0.060000,0.010983,0.194200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-12','3779',1,0.370000,0.190000,0.110000,0.150000,0.080000,0.100000,-0.025317,0.118800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-12','3527',2,0.140000,0.190000,0.230000,0.200000,0.160000,0.080000,-0.013950,0.186200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-12','4096',3,0.360000,0.190000,0.100000,0.160000,0.130000,0.060000,-0.031150,0.140000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-12','4557',4,0.160000,0.080000,0.120000,0.130000,0.290000,0.220000,-0.005000,0.185600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-12','3627',5,0.150000,0.140000,0.120000,0.150000,0.280000,0.160000,-0.021200,0.195500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190428-24-12','4070',6,0.360000,0.200000,0.110000,0.090000,0.140000,0.100000,-0.022967,0.145200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-01','4847',1,0.260000,0.210000,0.130000,0.110000,0.180000,0.110000,-0.002233,0.158100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-01','4615',2,0.070000,0.100000,0.170000,0.220000,0.250000,0.190000,0.011700,0.212900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-01','4921',3,0.030000,0.080000,0.070000,0.130000,0.290000,0.400000,-0.004833,0.158200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-01','3613',4,0.280000,0.170000,0.150000,0.190000,0.120000,0.090000,-0.007633,0.146600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-01','3313',5,0.040000,0.140000,0.130000,0.260000,0.250000,0.180000,0.003383,0.200300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-01','5044',6,0.010000,0.070000,0.140000,0.120000,0.200000,0.460000,0.009350,0.193200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-02','4818',1,0.060000,0.120000,0.170000,0.190000,0.240000,0.220000,0.007467,0.201300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-02','3868',2,0.120000,0.180000,0.160000,0.210000,0.170000,0.160000,-0.028500,0.182800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-02','4245',3,0.110000,0.200000,0.250000,0.100000,0.120000,0.220000,-0.032850,0.208900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-02','4889',4,0.070000,0.090000,0.130000,0.130000,0.240000,0.340000,0.044967,0.265900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-02','3590',5,0.240000,0.210000,0.170000,0.150000,0.120000,0.110000,-0.012717,0.131500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-02','3227',6,0.270000,0.170000,0.210000,0.130000,0.110000,0.110000,-0.012817,0.163100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-03','3340',1,0.070000,0.140000,0.140000,0.230000,0.240000,0.180000,0.005450,0.185600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-03','4895',2,0.040000,0.130000,0.140000,0.230000,0.210000,0.250000,-0.000500,0.173500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-03','4956',3,0.010000,0.010000,0.070000,0.160000,0.320000,0.430000,-0.022317,0.170400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-03','4880',4,0.150000,0.080000,0.170000,0.170000,0.210000,0.220000,-0.000600,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-03','4075',5,0.320000,0.200000,0.170000,0.120000,0.110000,0.080000,-0.037683,0.156900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-03','3463',6,0.170000,0.260000,0.170000,0.180000,0.080000,0.140000,-0.031000,0.179300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-04','4152',1,0.160000,0.220000,0.180000,0.170000,0.160000,0.110000,0.009183,0.190000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-04','3382',2,0.150000,0.120000,0.130000,0.200000,0.240000,0.160000,0.064650,0.275300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-04','4460',3,0.320000,0.230000,0.200000,0.110000,0.090000,0.050000,-0.071083,0.133300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-04','3488',4,0.200000,0.160000,0.180000,0.160000,0.210000,0.090000,-0.032033,0.146400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-04','3857',5,0.040000,0.150000,0.230000,0.260000,0.150000,0.170000,-0.013367,0.164600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-04','3656',6,0.220000,0.190000,0.230000,0.180000,0.060000,0.120000,0.052500,0.273400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-05','3377',1,0.100000,0.060000,0.170000,0.160000,0.240000,0.270000,0.017700,0.203800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-05','4083',2,0.250000,0.230000,0.160000,0.130000,0.130000,0.100000,0.005167,0.163600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-05','4568',3,0.160000,0.150000,0.200000,0.180000,0.160000,0.150000,-0.013550,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-05','3236',4,0.130000,0.110000,0.130000,0.160000,0.220000,0.250000,-0.010933,0.189900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-05','4266',5,0.250000,0.170000,0.170000,0.160000,0.080000,0.170000,-0.002400,0.146800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-05','4921',6,0.030000,0.080000,0.080000,0.130000,0.290000,0.390000,-0.004583,0.156900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-06','4465',1,0.040000,0.150000,0.160000,0.190000,0.250000,0.210000,0.018367,0.195900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-06','3256',2,0.330000,0.270000,0.110000,0.130000,0.140000,0.020000,-0.021800,0.134400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-06','3641',3,0.200000,0.260000,0.180000,0.160000,0.130000,0.070000,-0.022517,0.160300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-06','3313',4,0.040000,0.140000,0.130000,0.260000,0.260000,0.170000,0.002300,0.198700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-06','3085',5,0.080000,0.200000,0.160000,0.170000,0.210000,0.180000,0.007300,0.183000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-06','4053',6,0.200000,0.220000,0.160000,0.170000,0.200000,0.050000,-0.025700,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-07','3868',1,0.110000,0.180000,0.160000,0.210000,0.170000,0.170000,-0.027217,0.184800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-07','3613',2,0.280000,0.180000,0.150000,0.190000,0.110000,0.090000,-0.008017,0.146300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-07','4895',3,0.040000,0.130000,0.140000,0.230000,0.210000,0.250000,0.000617,0.174300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-07','4086',4,0.280000,0.150000,0.180000,0.170000,0.120000,0.100000,-0.020717,0.166300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-07','4644',5,0.190000,0.140000,0.210000,0.220000,0.160000,0.080000,-0.004383,0.174600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-07','3826',6,0.270000,0.240000,0.210000,0.150000,0.100000,0.030000,-0.028533,0.178400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-08','4889',1,0.070000,0.090000,0.130000,0.130000,0.240000,0.340000,0.044667,0.266100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-08','4366',2,0.370000,0.220000,0.160000,0.100000,0.050000,0.100000,-0.022733,0.164900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-08','4075',3,0.320000,0.210000,0.160000,0.120000,0.110000,0.080000,-0.037083,0.158000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-08','4863',4,0.080000,0.090000,0.240000,0.260000,0.120000,0.210000,-0.022017,0.163400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-08','4769',5,0.240000,0.190000,0.090000,0.210000,0.110000,0.160000,-0.071333,0.115100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-08','3857',6,0.040000,0.150000,0.230000,0.260000,0.150000,0.170000,-0.013483,0.165700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-09','4460',1,0.320000,0.240000,0.200000,0.100000,0.090000,0.050000,-0.071017,0.133900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-09','4245',2,0.110000,0.200000,0.250000,0.100000,0.120000,0.220000,-0.031900,0.210400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-09','3293',3,0.080000,0.120000,0.180000,0.280000,0.140000,0.200000,0.001383,0.208100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-09','3517',4,0.270000,0.200000,0.140000,0.170000,0.160000,0.060000,0.072517,0.268600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-09','4956',5,0.010000,0.010000,0.070000,0.150000,0.320000,0.440000,-0.022967,0.170800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-09','4568',6,0.160000,0.150000,0.200000,0.180000,0.170000,0.140000,-0.013183,0.166900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-10','4083',1,0.250000,0.230000,0.160000,0.130000,0.130000,0.100000,0.005133,0.164500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-10','4880',2,0.150000,0.080000,0.160000,0.170000,0.220000,0.220000,-0.000767,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-10','3256',3,0.330000,0.270000,0.110000,0.130000,0.140000,0.020000,-0.021000,0.133900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-10','4152',4,0.170000,0.220000,0.180000,0.160000,0.160000,0.110000,0.008783,0.191200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-10','3681',5,0.240000,0.230000,0.170000,0.150000,0.110000,0.100000,-0.011267,0.150200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-10','3347',6,0.220000,0.290000,0.250000,0.150000,0.060000,0.030000,-0.017117,0.165900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-11','4266',1,0.250000,0.170000,0.170000,0.160000,0.080000,0.170000,-0.003033,0.146900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-11','3488',2,0.190000,0.160000,0.190000,0.160000,0.210000,0.090000,-0.032850,0.145800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-11','4818',3,0.060000,0.120000,0.170000,0.190000,0.240000,0.220000,0.006483,0.201000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-11','3463',4,0.180000,0.250000,0.170000,0.180000,0.080000,0.140000,-0.031767,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-11','4906',5,0.180000,0.160000,0.160000,0.140000,0.210000,0.150000,-0.005800,0.159300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-11','3641',6,0.200000,0.260000,0.180000,0.160000,0.130000,0.070000,-0.022683,0.160200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-12','3590',1,0.250000,0.210000,0.170000,0.150000,0.110000,0.110000,-0.012817,0.133000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-12','3377',2,0.110000,0.060000,0.170000,0.160000,0.240000,0.260000,0.017417,0.204100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-12','3340',3,0.060000,0.140000,0.140000,0.240000,0.240000,0.180000,0.006283,0.186900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-12','4053',4,0.200000,0.210000,0.170000,0.170000,0.200000,0.050000,-0.025517,0.161400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-12','4086',5,0.280000,0.140000,0.190000,0.170000,0.120000,0.100000,-0.020400,0.166200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-05-12','4863',6,0.080000,0.090000,0.230000,0.260000,0.130000,0.210000,-0.023067,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-01','4273',1,0.130000,0.200000,0.170000,0.130000,0.170000,0.200000,0.006733,0.203500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-01','4103',2,0.060000,0.190000,0.180000,0.210000,0.140000,0.220000,0.042383,0.226800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-01','3467',3,0.110000,0.180000,0.140000,0.160000,0.250000,0.160000,0.007850,0.187600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-01','4700',4,0.090000,0.170000,0.180000,0.200000,0.170000,0.190000,0.018067,0.184200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-01','4340',5,0.050000,0.150000,0.190000,0.190000,0.220000,0.200000,0.042867,0.235900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-01','4875',6,0.060000,0.140000,0.180000,0.300000,0.150000,0.170000,-0.034133,0.197900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-02','4310',1,0.080000,0.150000,0.140000,0.200000,0.200000,0.230000,-0.007533,0.168800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-02','4943',2,0.040000,0.110000,0.160000,0.230000,0.220000,0.240000,-0.033833,0.185800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-02','3441',3,0.100000,0.230000,0.180000,0.220000,0.150000,0.120000,-0.006733,0.194100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-02','3792',4,0.190000,0.190000,0.250000,0.130000,0.170000,0.070000,-0.008733,0.179200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-02','3503',5,0.100000,0.150000,0.130000,0.220000,0.200000,0.200000,-0.039150,0.152700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-02','4270',6,0.130000,0.140000,0.100000,0.270000,0.170000,0.190000,0.079067,0.305300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-03','4285',1,0.140000,0.140000,0.090000,0.260000,0.170000,0.200000,0.004267,0.176700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-03','4748',2,0.230000,0.230000,0.200000,0.170000,0.090000,0.080000,-0.030233,0.132000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-03','3921',3,0.210000,0.180000,0.160000,0.170000,0.190000,0.090000,0.074483,0.266400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-03','4470',4,0.190000,0.200000,0.180000,0.110000,0.160000,0.160000,-0.008450,0.153100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-03','4284',5,0.090000,0.100000,0.110000,0.140000,0.370000,0.190000,0.005900,0.184900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-03','4989',6,0.020000,0.060000,0.160000,0.170000,0.200000,0.390000,0.030017,0.232500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-04','4124',1,0.190000,0.280000,0.140000,0.130000,0.160000,0.100000,-0.018167,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-04','3398',2,0.030000,0.120000,0.130000,0.220000,0.220000,0.280000,0.108633,0.323600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-04','4664',3,0.020000,0.140000,0.140000,0.160000,0.240000,0.300000,0.008650,0.211000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-04','4059',4,0.190000,0.120000,0.200000,0.120000,0.140000,0.230000,-0.004400,0.173800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-04','4439',5,0.120000,0.100000,0.150000,0.200000,0.250000,0.180000,-0.008817,0.194400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-04','4461',6,0.110000,0.070000,0.210000,0.160000,0.260000,0.190000,-0.022017,0.171000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-05','4700',1,0.090000,0.180000,0.170000,0.200000,0.170000,0.190000,0.017133,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-05','3771',2,0.160000,0.180000,0.170000,0.200000,0.220000,0.070000,-0.027350,0.141800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-05','3992',3,0.190000,0.170000,0.190000,0.110000,0.190000,0.150000,-0.036900,0.143000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-05','2876',4,0.210000,0.190000,0.110000,0.140000,0.190000,0.160000,-0.003650,0.167300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-05','4082',5,0.240000,0.200000,0.170000,0.170000,0.100000,0.120000,-0.043483,0.163400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-05','5020',6,0.000000,0.000000,0.000000,0.010000,0.130000,0.860000,0.023800,0.207200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-06','3433',1,0.060000,0.180000,0.120000,0.190000,0.200000,0.250000,-0.013650,0.193900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-06','4875',2,0.070000,0.140000,0.180000,0.300000,0.150000,0.160000,-0.034300,0.197700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-06','4828',3,0.280000,0.180000,0.180000,0.140000,0.150000,0.070000,-0.056467,0.127800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-06','4103',4,0.060000,0.190000,0.190000,0.210000,0.140000,0.210000,0.042133,0.226400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-06','3978',5,0.210000,0.300000,0.180000,0.090000,0.110000,0.110000,-0.046517,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-06','3441',6,0.100000,0.230000,0.180000,0.210000,0.150000,0.130000,-0.007333,0.192800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-07','3502',1,0.220000,0.190000,0.200000,0.180000,0.170000,0.040000,0.003983,0.178400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-07','4461',2,0.110000,0.070000,0.220000,0.160000,0.260000,0.180000,-0.022283,0.170500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-07','3503',3,0.090000,0.150000,0.130000,0.230000,0.200000,0.200000,-0.039217,0.152700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-07','3467',4,0.110000,0.180000,0.140000,0.160000,0.240000,0.170000,0.007667,0.187300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-07','4285',5,0.140000,0.150000,0.090000,0.260000,0.170000,0.190000,0.004250,0.177700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-07','3339',6,0.100000,0.140000,0.260000,0.210000,0.100000,0.190000,-0.009617,0.161400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-08','4470',1,0.200000,0.190000,0.180000,0.110000,0.160000,0.160000,-0.009267,0.153600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-08','4439',2,0.120000,0.100000,0.150000,0.200000,0.260000,0.170000,-0.009783,0.193300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-08','4340',3,0.050000,0.150000,0.190000,0.200000,0.210000,0.200000,0.042617,0.235600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-08','3771',4,0.160000,0.180000,0.180000,0.200000,0.220000,0.060000,-0.027700,0.142900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-08','4310',5,0.070000,0.150000,0.140000,0.200000,0.210000,0.230000,-0.006217,0.168000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-08','4677',6,0.310000,0.190000,0.240000,0.070000,0.090000,0.100000,-0.069417,0.122500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-09','2876',1,0.210000,0.200000,0.100000,0.140000,0.190000,0.160000,-0.002517,0.168500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-09','4270',2,0.140000,0.140000,0.100000,0.270000,0.170000,0.180000,0.079433,0.304800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-09','4748',3,0.230000,0.230000,0.200000,0.180000,0.090000,0.070000,-0.029400,0.131600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-09','4273',4,0.130000,0.190000,0.170000,0.130000,0.180000,0.200000,0.007500,0.204500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-09','4664',5,0.020000,0.130000,0.140000,0.160000,0.240000,0.310000,0.009367,0.211400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-09','4710',6,0.140000,0.220000,0.220000,0.120000,0.110000,0.190000,0.000150,0.165800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-10','4828',1,0.290000,0.180000,0.180000,0.130000,0.150000,0.070000,-0.058400,0.126600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-10','4082',2,0.240000,0.200000,0.170000,0.170000,0.100000,0.120000,-0.043500,0.164300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-10','4059',3,0.190000,0.130000,0.190000,0.120000,0.140000,0.230000,-0.004233,0.173600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-10','3339',4,0.100000,0.140000,0.270000,0.210000,0.100000,0.180000,-0.010900,0.159700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-10','3792',5,0.190000,0.200000,0.250000,0.130000,0.170000,0.060000,-0.009150,0.178300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-10','3921',6,0.210000,0.170000,0.170000,0.170000,0.190000,0.090000,0.074950,0.268700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-11','3978',1,0.210000,0.310000,0.180000,0.090000,0.100000,0.110000,-0.048067,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-11','3502',2,0.230000,0.180000,0.200000,0.180000,0.170000,0.040000,0.004033,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-11','4677',3,0.310000,0.190000,0.230000,0.070000,0.100000,0.100000,-0.068783,0.122400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-11','4943',4,0.040000,0.100000,0.170000,0.230000,0.220000,0.240000,-0.033800,0.185100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-11','3992',5,0.190000,0.170000,0.180000,0.120000,0.190000,0.150000,-0.037467,0.143200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-11','4124',6,0.200000,0.280000,0.140000,0.130000,0.150000,0.100000,-0.018667,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-12','3439',1,0.220000,0.250000,0.230000,0.160000,0.100000,0.040000,-0.013500,0.158200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-12','3606',2,0.370000,0.260000,0.180000,0.100000,0.040000,0.050000,-0.041817,0.144700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-12','4297',3,0.370000,0.130000,0.170000,0.110000,0.110000,0.110000,-0.055583,0.136500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-12','3582',4,0.360000,0.220000,0.100000,0.130000,0.120000,0.070000,0.000950,0.173500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-12','4688',5,0.210000,0.270000,0.200000,0.090000,0.110000,0.120000,-0.057833,0.146000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-06-12','4512',6,0.310000,0.240000,0.130000,0.110000,0.080000,0.130000,0.155300,0.351500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-01','3831',1,0.210000,0.130000,0.130000,0.190000,0.200000,0.140000,-0.011800,0.151900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-01','3637',2,0.100000,0.120000,0.140000,0.240000,0.180000,0.220000,0.013317,0.190800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-01','4665',3,0.060000,0.120000,0.150000,0.250000,0.200000,0.220000,-0.014167,0.157200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-01','5068',4,0.000000,0.060000,0.110000,0.050000,0.280000,0.260000,0.006798,0.183158)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-01','4910',5,0.230000,0.210000,0.170000,0.120000,0.150000,0.120000,-0.086983,0.144800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-01','3276',6,0.080000,0.090000,0.080000,0.130000,0.290000,0.330000,0.020800,0.213300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-02','4960',1,0.180000,0.170000,0.240000,0.150000,0.150000,0.110000,-0.015983,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-02','4979',2,0.040000,0.090000,0.210000,0.120000,0.280000,0.260000,-0.006533,0.173200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-02','3867',3,0.040000,0.090000,0.200000,0.230000,0.240000,0.200000,0.050117,0.268000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-02','4681',4,0.090000,0.160000,0.100000,0.120000,0.180000,0.350000,0.090267,0.284000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-02','5049',5,0.010000,0.010000,0.040000,0.020000,0.210000,0.340000,-0.003307,0.159841)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-02','4062',6,0.120000,0.170000,0.110000,0.180000,0.160000,0.260000,-0.004317,0.176600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-03','4982',1,0.030000,0.090000,0.120000,0.170000,0.250000,0.340000,-0.020933,0.167600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-03','4593',2,0.200000,0.160000,0.110000,0.150000,0.170000,0.210000,0.075233,0.260000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-03','4176',3,0.110000,0.150000,0.210000,0.120000,0.190000,0.220000,-0.008083,0.160600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-03','4365',4,0.110000,0.170000,0.180000,0.230000,0.110000,0.200000,0.014250,0.191400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-03','3690',5,0.100000,0.230000,0.270000,0.130000,0.100000,0.170000,-0.052433,0.178200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-03','4903',6,0.260000,0.250000,0.190000,0.120000,0.110000,0.070000,-0.021650,0.144800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-04','4663',1,0.090000,0.170000,0.230000,0.190000,0.190000,0.130000,0.091033,0.295700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-04','4483',2,0.230000,0.210000,0.200000,0.160000,0.100000,0.100000,-0.015083,0.137900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-04','4162',3,0.130000,0.120000,0.140000,0.240000,0.180000,0.190000,-0.001633,0.159200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-04','4118',4,0.220000,0.130000,0.200000,0.180000,0.060000,0.210000,-0.060450,0.153800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-04','4492',5,0.240000,0.190000,0.220000,0.160000,0.090000,0.100000,-0.034400,0.138600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-04','4293',6,0.110000,0.090000,0.150000,0.230000,0.270000,0.150000,-0.006733,0.186900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-05','3988',1,0.250000,0.250000,0.150000,0.180000,0.100000,0.070000,-0.020967,0.163200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-05','3885',2,0.150000,0.110000,0.200000,0.170000,0.200000,0.170000,-0.014500,0.184300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-05','4706',3,0.160000,0.180000,0.140000,0.240000,0.130000,0.150000,0.001767,0.166700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-05','3519',4,0.120000,0.200000,0.160000,0.190000,0.210000,0.120000,-0.024267,0.181500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-05','4409',5,0.200000,0.230000,0.140000,0.200000,0.070000,0.160000,0.002267,0.157500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-05','4337',6,0.350000,0.210000,0.180000,0.080000,0.050000,0.130000,-0.006517,0.143500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-06','4080',1,0.240000,0.230000,0.200000,0.090000,0.170000,0.070000,-0.021750,0.135200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-06','4681',2,0.090000,0.160000,0.110000,0.120000,0.170000,0.350000,0.089350,0.281900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-06','3455',3,0.170000,0.220000,0.220000,0.210000,0.130000,0.050000,-0.022217,0.170100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-06','4199',4,0.150000,0.230000,0.150000,0.200000,0.190000,0.080000,0.003333,0.188900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-06','3637',5,0.100000,0.130000,0.130000,0.240000,0.180000,0.220000,0.013483,0.191200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-06','4308',6,0.200000,0.160000,0.230000,0.170000,0.110000,0.130000,0.069067,0.244300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-07','3690',1,0.100000,0.240000,0.270000,0.130000,0.100000,0.160000,-0.053800,0.176000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-07','3895',2,0.100000,0.250000,0.180000,0.130000,0.210000,0.130000,-0.000083,0.174900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-07','4307',3,0.060000,0.070000,0.120000,0.210000,0.280000,0.260000,0.009217,0.182700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-07','4369',4,0.250000,0.190000,0.130000,0.130000,0.120000,0.180000,-0.008100,0.170600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-07','4016',5,0.200000,0.200000,0.180000,0.220000,0.090000,0.110000,0.051367,0.253400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-07','4910',6,0.230000,0.210000,0.180000,0.120000,0.140000,0.120000,-0.086633,0.145100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-08','3713',1,0.190000,0.150000,0.200000,0.200000,0.170000,0.090000,-0.037333,0.137500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-08','3867',2,0.040000,0.090000,0.190000,0.240000,0.240000,0.200000,0.050283,0.267400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-08','4979',3,0.040000,0.090000,0.200000,0.120000,0.280000,0.270000,-0.006500,0.172400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-08','4665',4,0.060000,0.110000,0.150000,0.250000,0.200000,0.230000,-0.013667,0.157400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-08','4084',5,0.260000,0.160000,0.190000,0.150000,0.110000,0.130000,0.006150,0.172000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-08','3946',6,0.280000,0.200000,0.140000,0.140000,0.120000,0.120000,-0.023483,0.145400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-09','4337',1,0.350000,0.220000,0.180000,0.080000,0.050000,0.120000,-0.005667,0.145700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-09','4492',2,0.230000,0.190000,0.220000,0.160000,0.100000,0.100000,-0.033850,0.138800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-09','4365',3,0.110000,0.170000,0.180000,0.230000,0.120000,0.190000,0.012933,0.188700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-09','4080',4,0.250000,0.230000,0.200000,0.090000,0.170000,0.060000,-0.023817,0.133400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-09','4706',5,0.160000,0.170000,0.150000,0.240000,0.130000,0.150000,0.001917,0.167900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-09','4663',6,0.100000,0.170000,0.230000,0.190000,0.190000,0.120000,0.090850,0.294400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-10','4308',1,0.200000,0.160000,0.220000,0.180000,0.110000,0.130000,0.069083,0.244500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-10','4903',2,0.260000,0.250000,0.190000,0.120000,0.110000,0.070000,-0.020800,0.144300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-10','4483',3,0.230000,0.210000,0.200000,0.170000,0.090000,0.100000,-0.015267,0.137700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-10','3455',4,0.170000,0.210000,0.230000,0.210000,0.130000,0.050000,-0.022767,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-10','3988',5,0.250000,0.250000,0.150000,0.190000,0.090000,0.070000,-0.020917,0.163900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-10','3895',6,0.100000,0.240000,0.180000,0.130000,0.220000,0.130000,-0.000383,0.175300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-11','3946',1,0.270000,0.210000,0.140000,0.140000,0.120000,0.120000,-0.024100,0.145400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-11','4369',2,0.260000,0.180000,0.130000,0.130000,0.120000,0.180000,-0.008917,0.170000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-11','4199',3,0.140000,0.230000,0.150000,0.200000,0.200000,0.080000,0.003433,0.189400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-11','4593',4,0.200000,0.150000,0.120000,0.150000,0.170000,0.210000,0.075533,0.259300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-11','4162',5,0.130000,0.130000,0.140000,0.240000,0.170000,0.190000,-0.001683,0.158800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-11','3885',6,0.160000,0.110000,0.200000,0.170000,0.190000,0.170000,-0.014733,0.184600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-12','4409',1,0.200000,0.230000,0.130000,0.200000,0.080000,0.160000,0.002283,0.157700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-12','3831',2,0.210000,0.130000,0.130000,0.190000,0.200000,0.140000,-0.012267,0.151500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-12','4016',3,0.200000,0.210000,0.180000,0.220000,0.090000,0.100000,0.051600,0.254000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-12','3713',4,0.200000,0.150000,0.190000,0.200000,0.170000,0.090000,-0.038317,0.137200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-12','4960',5,0.190000,0.170000,0.230000,0.150000,0.150000,0.110000,-0.015783,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-07-12','4176',6,0.110000,0.150000,0.210000,0.110000,0.190000,0.230000,-0.008117,0.159900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-01','4622',1,0.050000,0.060000,0.220000,0.120000,0.210000,0.340000,0.082100,0.273700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-01','3565',2,0.060000,0.120000,0.140000,0.180000,0.230000,0.270000,0.016867,0.192000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-01','3470',3,0.220000,0.130000,0.130000,0.240000,0.180000,0.100000,-0.001550,0.174800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-01','5052',4,0.000000,0.000000,0.000000,0.030000,0.020000,0.510000,0.025476,0.194464)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-01','4081',5,0.120000,0.110000,0.190000,0.230000,0.200000,0.150000,0.094600,0.293400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-01','4945',6,0.030000,0.150000,0.170000,0.190000,0.210000,0.250000,-0.011867,0.185300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-02','4934',1,0.100000,0.130000,0.160000,0.210000,0.230000,0.170000,-0.005750,0.160400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-02','3072',2,0.180000,0.150000,0.160000,0.180000,0.200000,0.130000,-0.004150,0.180000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-02','3796',3,0.150000,0.170000,0.160000,0.200000,0.190000,0.130000,0.005683,0.187900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-02','5030',4,0.000000,0.000000,0.010000,0.000000,0.170000,0.820000,0.016650,0.200600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-02','3518',5,0.140000,0.210000,0.130000,0.170000,0.180000,0.170000,0.084300,0.279800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-02','3294',6,0.080000,0.210000,0.150000,0.180000,0.180000,0.200000,-0.030417,0.152900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-03','3945',1,0.080000,0.110000,0.170000,0.260000,0.190000,0.190000,0.145800,0.383500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-03','4058',2,0.210000,0.250000,0.190000,0.120000,0.120000,0.110000,-0.004000,0.188300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-03','3905',3,0.150000,0.130000,0.300000,0.140000,0.130000,0.150000,-0.024983,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-03','3692',4,0.080000,0.230000,0.180000,0.160000,0.140000,0.210000,0.003050,0.168200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-03','3489',5,0.320000,0.220000,0.160000,0.130000,0.060000,0.110000,-0.003150,0.159200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-03','3981',6,0.180000,0.160000,0.150000,0.200000,0.130000,0.180000,-0.046050,0.136800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-04','4548',1,0.050000,0.120000,0.170000,0.250000,0.240000,0.170000,0.025733,0.211900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-04','3461',2,0.060000,0.140000,0.200000,0.150000,0.300000,0.150000,0.005700,0.187400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-04','4321',3,0.150000,0.110000,0.060000,0.180000,0.200000,0.300000,-0.014267,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-04','3811',4,0.190000,0.230000,0.190000,0.130000,0.140000,0.120000,-0.015067,0.171100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-04','4436',5,0.160000,0.260000,0.180000,0.150000,0.130000,0.120000,-0.008333,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-04','3740',6,0.190000,0.250000,0.140000,0.140000,0.180000,0.100000,-0.060700,0.183700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-05','4988',1,0.030000,0.050000,0.080000,0.150000,0.190000,0.500000,0.019683,0.198300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-05','4422',2,0.090000,0.170000,0.110000,0.230000,0.190000,0.210000,-0.023050,0.171400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-05','4581',3,0.120000,0.180000,0.220000,0.200000,0.170000,0.110000,0.080183,0.267100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-05','4945',4,0.030000,0.160000,0.160000,0.190000,0.210000,0.250000,-0.011783,0.184700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-05','3918',5,0.220000,0.260000,0.190000,0.170000,0.090000,0.070000,-0.011717,0.184900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-05','3655',6,0.110000,0.170000,0.170000,0.280000,0.120000,0.150000,-0.027367,0.180900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-06','3796',1,0.160000,0.170000,0.160000,0.200000,0.180000,0.130000,0.005733,0.186700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-06','4934',2,0.100000,0.130000,0.160000,0.210000,0.230000,0.170000,-0.006067,0.159800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-06','4081',3,0.120000,0.110000,0.190000,0.230000,0.200000,0.150000,0.095200,0.293100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-06','4556',4,0.290000,0.220000,0.140000,0.080000,0.190000,0.080000,-0.051833,0.137000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-06','4058',5,0.210000,0.260000,0.190000,0.120000,0.120000,0.100000,-0.005067,0.186300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-06','3565',6,0.060000,0.120000,0.150000,0.170000,0.230000,0.270000,0.017183,0.191200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-07','3956',1,0.300000,0.190000,0.160000,0.150000,0.100000,0.100000,0.099917,0.293900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-07','4120',2,0.140000,0.170000,0.230000,0.180000,0.190000,0.090000,-0.011533,0.186900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-07','4666',3,0.050000,0.180000,0.160000,0.200000,0.230000,0.180000,-0.029833,0.140800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-07','3945',4,0.090000,0.110000,0.160000,0.260000,0.190000,0.190000,0.145950,0.383300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-07','3939',5,0.240000,0.220000,0.210000,0.140000,0.140000,0.050000,0.053967,0.260600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-07','3692',6,0.070000,0.230000,0.190000,0.160000,0.140000,0.210000,0.003100,0.168000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-08','3489',1,0.320000,0.210000,0.160000,0.130000,0.070000,0.110000,-0.002317,0.159500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-08','3981',2,0.180000,0.160000,0.150000,0.190000,0.130000,0.190000,-0.045600,0.136100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-08','3072',3,0.170000,0.150000,0.160000,0.190000,0.200000,0.130000,-0.004017,0.180000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-08','4321',4,0.150000,0.100000,0.070000,0.180000,0.200000,0.300000,-0.013483,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-08','3811',5,0.200000,0.230000,0.190000,0.120000,0.140000,0.120000,-0.013767,0.170800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-08','4953',6,0.100000,0.070000,0.140000,0.190000,0.270000,0.230000,-0.010133,0.166000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-09','3470',1,0.220000,0.130000,0.130000,0.250000,0.180000,0.090000,-0.000983,0.174800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-09','4289',2,0.180000,0.210000,0.130000,0.110000,0.210000,0.160000,-0.009183,0.157400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-09','3518',3,0.130000,0.210000,0.140000,0.170000,0.180000,0.170000,0.085083,0.280400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-09','4548',4,0.050000,0.120000,0.170000,0.260000,0.230000,0.170000,0.024400,0.209200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-09','5030',5,0.000000,0.000000,0.010000,0.000000,0.170000,0.820000,0.016183,0.199400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-09','5052',6,0.000000,0.000000,0.000000,0.030000,0.020000,0.520000,0.024561,0.192982)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-10','3740',1,0.190000,0.250000,0.140000,0.140000,0.170000,0.110000,-0.060700,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-10','3939',2,0.230000,0.220000,0.220000,0.140000,0.140000,0.050000,0.054550,0.261600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-10','3956',3,0.310000,0.180000,0.160000,0.150000,0.100000,0.100000,0.099917,0.293300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-10','3655',4,0.110000,0.170000,0.170000,0.270000,0.120000,0.160000,-0.027367,0.180900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-10','4422',5,0.100000,0.170000,0.100000,0.230000,0.190000,0.210000,-0.023600,0.169800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-10','3461',6,0.060000,0.140000,0.200000,0.150000,0.300000,0.150000,0.004450,0.184400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-11','4556',1,0.290000,0.220000,0.140000,0.080000,0.190000,0.080000,-0.051500,0.136800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-11','4436',2,0.160000,0.270000,0.180000,0.150000,0.120000,0.120000,-0.007650,0.160800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-11','3918',3,0.220000,0.260000,0.190000,0.170000,0.090000,0.070000,-0.011117,0.186100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-11','3905',4,0.150000,0.130000,0.300000,0.150000,0.130000,0.140000,-0.024717,0.164900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-11','4120',5,0.140000,0.180000,0.230000,0.170000,0.190000,0.090000,-0.011717,0.186100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-11','4666',6,0.050000,0.180000,0.160000,0.210000,0.230000,0.170000,-0.029983,0.140800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-12','3983',1,0.340000,0.220000,0.230000,0.100000,0.070000,0.040000,-0.032917,0.137000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-12','3555',2,0.290000,0.190000,0.130000,0.170000,0.100000,0.120000,-0.026083,0.151700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-12','3327',3,0.230000,0.240000,0.210000,0.190000,0.060000,0.070000,-0.025600,0.158100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-12','3679',4,0.220000,0.270000,0.170000,0.210000,0.060000,0.070000,-0.021550,0.164500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-12','4391',5,0.450000,0.210000,0.090000,0.080000,0.030000,0.140000,0.057033,0.263100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-08-12','4645',6,0.260000,0.170000,0.220000,0.110000,0.070000,0.170000,-0.034067,0.127700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-01','3999',1,0.190000,0.190000,0.230000,0.160000,0.160000,0.070000,0.159250,0.361400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-01','4941',2,0.030000,0.130000,0.230000,0.210000,0.210000,0.190000,0.001167,0.178100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-01','4990',3,0.010000,0.000000,0.020000,0.050000,0.310000,0.610000,0.031517,0.213200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-01','4775',4,0.070000,0.160000,0.190000,0.170000,0.200000,0.210000,0.141767,0.393700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-01','3474',5,0.140000,0.230000,0.150000,0.200000,0.150000,0.130000,-0.047967,0.181200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-01','5045',6,0.000000,0.010000,0.080000,0.110000,0.220000,0.580000,0.104850,0.335900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-02','4901',1,0.150000,0.110000,0.200000,0.170000,0.210000,0.160000,-0.030533,0.154000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-02','4974',2,0.060000,0.040000,0.170000,0.180000,0.260000,0.290000,0.010700,0.203400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-02','3994',3,0.130000,0.150000,0.240000,0.200000,0.160000,0.120000,0.014433,0.200700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-02','4993',4,0.010000,0.020000,0.040000,0.010000,0.220000,0.700000,0.008450,0.202300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-02','5003',5,0.020000,0.000000,0.060000,0.080000,0.250000,0.590000,0.032667,0.221300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-02','4190',6,0.280000,0.170000,0.170000,0.200000,0.110000,0.070000,-0.017717,0.153200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-03','4338',1,0.060000,0.120000,0.070000,0.100000,0.280000,0.370000,0.007733,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-03','3175',2,0.070000,0.220000,0.290000,0.190000,0.150000,0.080000,-0.030533,0.157000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-03','4897',3,0.040000,0.100000,0.150000,0.230000,0.240000,0.240000,0.087617,0.319600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-03','4924',4,0.060000,0.070000,0.110000,0.320000,0.220000,0.220000,-0.032883,0.158900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-03','3900',5,0.230000,0.170000,0.190000,0.110000,0.170000,0.130000,-0.042733,0.160700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-03','3232',6,0.280000,0.220000,0.110000,0.150000,0.110000,0.130000,-0.042533,0.129600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-04','4240',1,0.110000,0.130000,0.100000,0.120000,0.190000,0.350000,-0.046350,0.161900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-04','3845',2,0.220000,0.250000,0.230000,0.110000,0.090000,0.100000,0.007317,0.166600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-04','4045',3,0.220000,0.190000,0.170000,0.090000,0.150000,0.180000,0.142483,0.364700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-04','2983',4,0.060000,0.090000,0.210000,0.170000,0.250000,0.220000,-0.012183,0.176800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-04','4929',5,0.000000,0.070000,0.080000,0.100000,0.300000,0.450000,-0.002000,0.207600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-04','4443',6,0.130000,0.190000,0.180000,0.170000,0.160000,0.170000,0.009400,0.180800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-05','4399',1,0.350000,0.170000,0.160000,0.100000,0.100000,0.120000,0.002217,0.157400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-05','4373',2,0.160000,0.210000,0.210000,0.160000,0.140000,0.120000,0.005950,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-05','4844',3,0.110000,0.180000,0.120000,0.210000,0.230000,0.150000,-0.020033,0.199300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-05','5021',4,0.000000,0.000000,0.010000,0.040000,0.190000,0.760000,0.014017,0.215000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-05','4870',5,0.140000,0.150000,0.190000,0.200000,0.120000,0.200000,0.046100,0.248200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-05','3469',6,0.060000,0.070000,0.250000,0.180000,0.220000,0.220000,-0.029117,0.199200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-06','3302',1,0.230000,0.150000,0.150000,0.180000,0.200000,0.090000,0.176617,0.384200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-06','4744',2,0.010000,0.080000,0.200000,0.240000,0.260000,0.210000,0.088150,0.279600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-06','3932',3,0.130000,0.130000,0.180000,0.080000,0.170000,0.310000,-0.006467,0.175200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-06','5003',4,0.020000,0.000000,0.060000,0.090000,0.240000,0.590000,0.032067,0.220700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-06','4225',5,0.190000,0.210000,0.150000,0.200000,0.100000,0.150000,-0.027867,0.150300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-06','4530',6,0.390000,0.230000,0.150000,0.120000,0.070000,0.040000,-0.025017,0.148500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-07','3994',1,0.140000,0.150000,0.240000,0.200000,0.150000,0.120000,0.013567,0.199500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-07','4924',2,0.060000,0.070000,0.110000,0.320000,0.220000,0.220000,-0.033400,0.156900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-07','3618',3,0.180000,0.240000,0.220000,0.170000,0.110000,0.080000,0.004783,0.187000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-07','4678',4,0.140000,0.180000,0.190000,0.180000,0.140000,0.170000,0.008067,0.177800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-07','4990',5,0.010000,0.000000,0.020000,0.050000,0.310000,0.610000,0.032283,0.214800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-07','3580',6,0.110000,0.130000,0.230000,0.190000,0.210000,0.130000,0.157417,0.375100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-08','3900',1,0.240000,0.170000,0.190000,0.110000,0.170000,0.120000,-0.043300,0.159700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-08','2983',2,0.060000,0.090000,0.200000,0.180000,0.250000,0.220000,-0.012117,0.177000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-08','4190',3,0.270000,0.180000,0.170000,0.200000,0.110000,0.070000,-0.017817,0.154100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-08','5045',4,0.000000,0.010000,0.080000,0.120000,0.210000,0.580000,0.104367,0.336000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-08','4065',5,0.290000,0.150000,0.130000,0.130000,0.130000,0.170000,-0.015567,0.171500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-08','4183',6,0.340000,0.130000,0.110000,0.110000,0.100000,0.210000,-0.028450,0.134400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-09','4929',1,0.000000,0.070000,0.080000,0.100000,0.290000,0.460000,-0.001917,0.206200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-09','4399',2,0.360000,0.160000,0.160000,0.100000,0.100000,0.120000,0.001117,0.156600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-09','4993',3,0.010000,0.020000,0.030000,0.010000,0.220000,0.710000,0.007867,0.201300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-09','3999',4,0.190000,0.190000,0.240000,0.150000,0.160000,0.070000,0.159283,0.362300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-09','4338',5,0.060000,0.110000,0.070000,0.100000,0.290000,0.370000,0.007650,0.182900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-09','4501',6,0.210000,0.190000,0.230000,0.120000,0.140000,0.110000,-0.008133,0.161200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-10','4775',1,0.070000,0.160000,0.190000,0.170000,0.200000,0.210000,0.142033,0.393500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-10','4530',2,0.390000,0.220000,0.160000,0.120000,0.070000,0.040000,-0.023733,0.149300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-10','4974',3,0.060000,0.040000,0.170000,0.180000,0.270000,0.280000,0.012550,0.205400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-10','4045',4,0.210000,0.190000,0.180000,0.090000,0.150000,0.180000,0.142750,0.364400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-10','4243',5,0.130000,0.220000,0.160000,0.210000,0.160000,0.120000,-0.043800,0.160600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-10','3175',6,0.070000,0.230000,0.280000,0.190000,0.150000,0.080000,-0.030083,0.156800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-11','3845',1,0.210000,0.260000,0.230000,0.110000,0.090000,0.100000,0.007600,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-11','3474',2,0.150000,0.230000,0.140000,0.200000,0.150000,0.130000,-0.048767,0.181600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-11','4225',3,0.190000,0.210000,0.150000,0.200000,0.100000,0.150000,-0.027233,0.150500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-11','4964',4,0.140000,0.130000,0.190000,0.190000,0.190000,0.160000,-0.015917,0.147900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-11','4678',5,0.150000,0.180000,0.190000,0.180000,0.130000,0.170000,0.008200,0.178900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-11','4897',6,0.040000,0.100000,0.140000,0.240000,0.240000,0.240000,0.086550,0.317600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-12','3618',1,0.180000,0.240000,0.220000,0.170000,0.110000,0.080000,0.004583,0.187300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-12','4183',2,0.340000,0.130000,0.110000,0.120000,0.090000,0.210000,-0.029000,0.133700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-12','3232',3,0.280000,0.220000,0.110000,0.150000,0.110000,0.130000,-0.043117,0.127500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-12','4443',4,0.130000,0.190000,0.180000,0.170000,0.160000,0.170000,0.010000,0.181700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-12','4901',5,0.150000,0.110000,0.210000,0.170000,0.200000,0.160000,-0.031283,0.153400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-11-12','4373',6,0.160000,0.220000,0.210000,0.160000,0.130000,0.120000,0.005250,0.179800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-01','3769',1,0.180000,0.170000,0.240000,0.230000,0.120000,0.060000,0.005117,0.181000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-01','3705',2,0.120000,0.190000,0.130000,0.090000,0.210000,0.260000,-0.041200,0.196300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-01','4250',3,0.050000,0.190000,0.160000,0.200000,0.200000,0.200000,-0.015700,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-01','4253',4,0.090000,0.160000,0.170000,0.260000,0.190000,0.130000,0.009767,0.215100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-01','4712',5,0.070000,0.090000,0.150000,0.260000,0.270000,0.160000,0.025333,0.202500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-01','4833',6,0.110000,0.170000,0.160000,0.100000,0.190000,0.270000,-0.023267,0.162300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-02','4588',1,0.220000,0.110000,0.140000,0.130000,0.220000,0.180000,-0.017100,0.155100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-02','4146',2,0.160000,0.240000,0.170000,0.160000,0.160000,0.110000,-0.021217,0.171100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-02','4750',3,0.090000,0.130000,0.160000,0.190000,0.200000,0.230000,-0.034133,0.173400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-02','4648',4,0.100000,0.110000,0.150000,0.320000,0.170000,0.150000,-0.006050,0.185100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-02','4442',5,0.120000,0.170000,0.180000,0.250000,0.180000,0.100000,-0.014283,0.178500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-02','5024',6,0.000000,0.020000,0.020000,0.070000,0.220000,0.670000,0.068950,0.290600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-03','3804',1,0.130000,0.260000,0.200000,0.250000,0.050000,0.110000,-0.004517,0.154800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-03','3498',2,0.080000,0.090000,0.120000,0.180000,0.310000,0.220000,-0.003467,0.173400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-03','3187',3,0.110000,0.100000,0.160000,0.200000,0.160000,0.270000,0.017717,0.199600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-03','4743',4,0.210000,0.140000,0.210000,0.160000,0.190000,0.090000,-0.021717,0.157800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-03','4404',5,0.190000,0.220000,0.140000,0.160000,0.110000,0.180000,-0.003217,0.156400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-03','4148',6,0.290000,0.190000,0.210000,0.140000,0.080000,0.090000,-0.042450,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-04','3616',1,0.230000,0.200000,0.210000,0.110000,0.120000,0.130000,0.066650,0.273000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-04','4876',2,0.150000,0.130000,0.140000,0.190000,0.200000,0.190000,-0.020917,0.157300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-04','3904',3,0.120000,0.200000,0.200000,0.220000,0.110000,0.150000,-0.017183,0.172500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-04','4902',4,0.080000,0.140000,0.180000,0.180000,0.190000,0.230000,0.014167,0.185400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-04','3442',5,0.170000,0.160000,0.260000,0.180000,0.150000,0.080000,-0.018417,0.156500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-04','4453',6,0.140000,0.150000,0.080000,0.130000,0.190000,0.310000,-0.055317,0.156100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-05','4850',1,0.150000,0.130000,0.080000,0.120000,0.230000,0.290000,0.062833,0.231900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-05','4142',2,0.170000,0.220000,0.200000,0.140000,0.190000,0.080000,-0.023800,0.186900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-05','4648',3,0.100000,0.120000,0.150000,0.320000,0.170000,0.140000,-0.007000,0.184500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-05','4250',4,0.050000,0.180000,0.160000,0.210000,0.200000,0.200000,-0.016067,0.168400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-05','4549',5,0.050000,0.130000,0.190000,0.240000,0.280000,0.110000,0.006500,0.187500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-05','3896',6,0.180000,0.180000,0.150000,0.200000,0.160000,0.130000,0.069567,0.256700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-06','3873',1,0.220000,0.200000,0.160000,0.170000,0.180000,0.070000,-0.013117,0.184400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-06','4712',2,0.070000,0.090000,0.150000,0.260000,0.260000,0.170000,0.024817,0.201700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-06','4129',3,0.050000,0.140000,0.100000,0.180000,0.300000,0.230000,-0.021433,0.167700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-06','4394',4,0.090000,0.210000,0.190000,0.190000,0.190000,0.130000,-0.009517,0.163200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-06','4750',5,0.090000,0.130000,0.170000,0.190000,0.190000,0.230000,-0.033850,0.174000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-06','4883',6,0.120000,0.160000,0.130000,0.200000,0.200000,0.190000,0.002133,0.158500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-07','4133',1,0.230000,0.230000,0.110000,0.190000,0.100000,0.140000,-0.022900,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-07','4442',2,0.120000,0.170000,0.180000,0.250000,0.180000,0.100000,-0.014900,0.178900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-07','3705',3,0.120000,0.200000,0.130000,0.090000,0.200000,0.260000,-0.040967,0.195600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-07','3550',4,0.400000,0.230000,0.070000,0.080000,0.150000,0.070000,-0.008650,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-07','3498',5,0.080000,0.090000,0.120000,0.180000,0.300000,0.230000,-0.002950,0.173000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-07','4876',6,0.150000,0.130000,0.130000,0.200000,0.200000,0.190000,-0.019450,0.157600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-08','4549',1,0.050000,0.130000,0.190000,0.250000,0.270000,0.110000,0.005317,0.186300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-08','4446',2,0.200000,0.190000,0.240000,0.150000,0.130000,0.090000,-0.012217,0.148600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-08','3620',3,0.080000,0.100000,0.120000,0.240000,0.240000,0.220000,-0.008150,0.190500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-08','4588',4,0.230000,0.110000,0.140000,0.120000,0.220000,0.180000,-0.017500,0.156000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-08','4902',5,0.080000,0.140000,0.180000,0.180000,0.190000,0.230000,0.013450,0.183700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-08','4253',6,0.090000,0.160000,0.170000,0.260000,0.190000,0.130000,0.010233,0.214500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-09','4743',1,0.210000,0.130000,0.210000,0.160000,0.200000,0.090000,-0.022000,0.156900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-09','4394',2,0.090000,0.200000,0.190000,0.200000,0.190000,0.130000,-0.009550,0.162800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-09','3616',3,0.240000,0.200000,0.210000,0.100000,0.120000,0.130000,0.067100,0.273700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-09','3769',4,0.190000,0.170000,0.240000,0.230000,0.120000,0.050000,0.005017,0.179600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-09','4142',5,0.170000,0.220000,0.200000,0.140000,0.190000,0.080000,-0.023583,0.188000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-09','4146',6,0.160000,0.240000,0.160000,0.170000,0.160000,0.110000,-0.021017,0.171600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-10','4148',1,0.290000,0.190000,0.210000,0.150000,0.070000,0.090000,-0.042433,0.160400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-10','3873',2,0.210000,0.210000,0.160000,0.170000,0.180000,0.070000,-0.013150,0.183500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-10','4850',3,0.160000,0.130000,0.080000,0.110000,0.230000,0.290000,0.062783,0.232800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-10','3904',4,0.120000,0.190000,0.210000,0.220000,0.110000,0.150000,-0.017050,0.172200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-10','3187',5,0.100000,0.110000,0.160000,0.200000,0.160000,0.270000,0.017150,0.197700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-10','4133',6,0.230000,0.230000,0.120000,0.180000,0.100000,0.140000,-0.023233,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-11','3442',1,0.160000,0.170000,0.260000,0.180000,0.150000,0.080000,-0.018767,0.155400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-11','3896',2,0.180000,0.180000,0.160000,0.200000,0.160000,0.120000,0.069367,0.256600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-11','3550',3,0.410000,0.220000,0.070000,0.080000,0.150000,0.070000,-0.008783,0.160600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-11','4446',4,0.200000,0.200000,0.230000,0.150000,0.130000,0.090000,-0.013167,0.146800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-11','4129',5,0.060000,0.140000,0.100000,0.180000,0.290000,0.230000,-0.022133,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-11','3804',6,0.140000,0.250000,0.200000,0.250000,0.050000,0.110000,-0.004283,0.154100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-12','4586',1,0.350000,0.160000,0.150000,0.130000,0.080000,0.130000,-0.024083,0.126200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-12','3783',2,0.350000,0.300000,0.090000,0.090000,0.090000,0.080000,-0.016817,0.153400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-12','4262',3,0.450000,0.190000,0.100000,0.090000,0.050000,0.120000,-0.021733,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-12','4939',4,0.190000,0.220000,0.180000,0.110000,0.120000,0.180000,0.086267,0.261800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-12','3534',5,0.250000,0.220000,0.160000,0.150000,0.120000,0.100000,0.049283,0.242400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-12-12','4330',6,0.250000,0.230000,0.220000,0.090000,0.110000,0.100000,-0.027850,0.149900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-01','3108',1,0.040000,0.100000,0.150000,0.270000,0.220000,0.220000,-0.038767,0.178200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-01','4035',2,0.100000,0.150000,0.170000,0.090000,0.140000,0.350000,0.000717,0.195700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-01','3484',3,0.400000,0.210000,0.150000,0.110000,0.110000,0.020000,-0.016350,0.149300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-01','5050',4,0.000000,0.000000,0.000000,0.060000,0.090000,0.360000,0.021667,0.200392)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-01','4917',5,0.060000,0.070000,0.110000,0.120000,0.280000,0.360000,0.000433,0.168800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-01','5016',6,0.000000,0.010000,0.020000,0.090000,0.240000,0.640000,0.092817,0.278600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-02','3246',1,0.090000,0.180000,0.220000,0.170000,0.220000,0.120000,0.007783,0.180600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-02','3122',2,0.090000,0.160000,0.100000,0.160000,0.210000,0.280000,-0.001050,0.166500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-02','4025',3,0.240000,0.210000,0.210000,0.110000,0.150000,0.080000,0.007533,0.184500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-02','4986',4,0.000000,0.000000,0.000000,0.030000,0.130000,0.840000,0.012833,0.194400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-02','4182',5,0.090000,0.130000,0.210000,0.210000,0.210000,0.150000,-0.020583,0.195400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-02','3903',6,0.320000,0.300000,0.140000,0.120000,0.050000,0.070000,-0.049167,0.126700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-03','4543',1,0.280000,0.170000,0.220000,0.150000,0.060000,0.120000,-0.014917,0.158800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-03','4375',2,0.190000,0.180000,0.170000,0.210000,0.120000,0.130000,-0.010383,0.181500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-03','4167',3,0.080000,0.160000,0.180000,0.210000,0.250000,0.120000,-0.066967,0.141100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-03','3893',4,0.110000,0.210000,0.230000,0.180000,0.120000,0.150000,0.072117,0.263800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-03','3795',5,0.150000,0.100000,0.190000,0.180000,0.210000,0.170000,0.003467,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-03','3828',6,0.200000,0.220000,0.220000,0.150000,0.110000,0.100000,0.145917,0.372600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-04','3346',1,0.150000,0.250000,0.110000,0.190000,0.150000,0.150000,-0.024650,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-04','4290',2,0.280000,0.260000,0.170000,0.100000,0.060000,0.130000,-0.045367,0.124500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-04','4339',3,0.110000,0.130000,0.100000,0.150000,0.220000,0.290000,0.090950,0.283100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-04','4472',4,0.230000,0.200000,0.260000,0.120000,0.110000,0.080000,-0.020050,0.161600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-04','4630',5,0.210000,0.160000,0.230000,0.150000,0.130000,0.120000,-0.005083,0.161200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-04','4388',6,0.280000,0.220000,0.200000,0.080000,0.170000,0.050000,-0.002083,0.173700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-05','4654',1,0.100000,0.150000,0.180000,0.210000,0.150000,0.210000,-0.023367,0.187500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-05','3572',2,0.260000,0.190000,0.200000,0.160000,0.110000,0.080000,0.013383,0.192900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-05','4917',3,0.060000,0.080000,0.110000,0.120000,0.270000,0.360000,0.000783,0.169700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-05','4800',4,0.010000,0.090000,0.130000,0.210000,0.270000,0.290000,0.081800,0.285300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-05','3781',5,0.090000,0.130000,0.140000,0.160000,0.190000,0.290000,-0.032567,0.160500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-05','3780',6,0.250000,0.200000,0.190000,0.190000,0.100000,0.070000,0.014933,0.168900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-06','4002',1,0.370000,0.150000,0.150000,0.140000,0.160000,0.030000,-0.021417,0.154400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-06','4761',2,0.110000,0.190000,0.140000,0.170000,0.120000,0.270000,-0.017117,0.152300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-06','3820',3,0.070000,0.170000,0.140000,0.230000,0.260000,0.130000,0.074450,0.284900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-06','4278',4,0.280000,0.150000,0.230000,0.200000,0.100000,0.040000,-0.074433,0.129100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-06','3122',5,0.090000,0.160000,0.100000,0.150000,0.220000,0.280000,-0.000767,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-06','5050',6,0.000000,0.000000,0.000000,0.060000,0.090000,0.370000,0.020641,0.199038)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-07','4594',1,0.280000,0.190000,0.140000,0.140000,0.130000,0.120000,-0.026000,0.160500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-07','3246',2,0.100000,0.180000,0.220000,0.160000,0.220000,0.120000,0.006050,0.177700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-07','4857',3,0.150000,0.170000,0.200000,0.160000,0.090000,0.230000,0.029767,0.209400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-07','4735',4,0.140000,0.130000,0.190000,0.220000,0.140000,0.180000,-0.037167,0.149100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-07','3108',5,0.040000,0.100000,0.150000,0.270000,0.220000,0.220000,-0.037683,0.177600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-07','3854',6,0.390000,0.190000,0.240000,0.060000,0.070000,0.050000,-0.015717,0.140800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-08','3761',1,0.220000,0.200000,0.210000,0.100000,0.140000,0.130000,-0.019717,0.146900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-08','3529',2,0.230000,0.210000,0.200000,0.210000,0.100000,0.050000,-0.003167,0.163900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-08','4543',3,0.290000,0.170000,0.210000,0.150000,0.060000,0.120000,-0.014383,0.159100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-08','5016',4,0.000000,0.010000,0.020000,0.090000,0.250000,0.630000,0.092333,0.277900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-08','4986',5,0.000000,0.000000,0.000000,0.030000,0.130000,0.840000,0.013050,0.195000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-08','3612',6,0.270000,0.270000,0.110000,0.090000,0.120000,0.140000,-0.014617,0.143400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-09','3795',1,0.150000,0.100000,0.190000,0.170000,0.220000,0.170000,0.003833,0.180900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-09','3903',2,0.310000,0.310000,0.140000,0.120000,0.050000,0.070000,-0.048500,0.128100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-09','4800',3,0.010000,0.090000,0.130000,0.210000,0.270000,0.290000,0.081633,0.284500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-09','3881',4,0.150000,0.140000,0.240000,0.180000,0.190000,0.100000,-0.008717,0.166300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-09','3577',5,0.250000,0.150000,0.270000,0.150000,0.120000,0.060000,-0.022867,0.143100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-09','4339',6,0.110000,0.130000,0.100000,0.150000,0.230000,0.280000,0.091350,0.282900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-10','4356',1,0.260000,0.110000,0.150000,0.200000,0.160000,0.120000,0.071083,0.278900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-10','3780',2,0.250000,0.210000,0.190000,0.180000,0.100000,0.070000,0.015167,0.168900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-10','4057',3,0.200000,0.200000,0.210000,0.160000,0.130000,0.100000,-0.009650,0.156300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-10','4105',4,0.120000,0.210000,0.230000,0.150000,0.120000,0.170000,0.022833,0.212200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-10','3507',5,0.080000,0.210000,0.200000,0.230000,0.180000,0.100000,0.085000,0.280900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-10','4290',6,0.280000,0.260000,0.180000,0.100000,0.060000,0.120000,-0.045583,0.124200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-11','4472',1,0.230000,0.200000,0.260000,0.120000,0.110000,0.080000,-0.019933,0.161500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-11','4594',2,0.290000,0.190000,0.140000,0.140000,0.130000,0.110000,-0.028317,0.158500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-11','4654',3,0.110000,0.150000,0.180000,0.200000,0.150000,0.210000,-0.022833,0.187600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-11','4002',4,0.380000,0.150000,0.150000,0.140000,0.150000,0.030000,-0.021750,0.154500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-11','3828',5,0.200000,0.210000,0.220000,0.150000,0.110000,0.110000,0.146350,0.372400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-11','3484',6,0.400000,0.210000,0.160000,0.100000,0.110000,0.020000,-0.016817,0.148200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-12','4025',1,0.240000,0.210000,0.210000,0.110000,0.150000,0.080000,0.006983,0.184000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-12','4388',2,0.280000,0.220000,0.190000,0.090000,0.170000,0.050000,-0.001833,0.174400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-12','3854',3,0.380000,0.200000,0.240000,0.060000,0.070000,0.050000,-0.015867,0.141800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-12','4055',4,0.320000,0.220000,0.190000,0.100000,0.100000,0.070000,-0.025217,0.149000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-12','3572',5,0.260000,0.180000,0.210000,0.160000,0.110000,0.080000,0.012717,0.192300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-13-12','4278',6,0.280000,0.150000,0.240000,0.200000,0.100000,0.030000,-0.074517,0.129800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-01','3743',1,0.290000,0.240000,0.170000,0.110000,0.110000,0.080000,-0.006550,0.151100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-01','4701',2,0.040000,0.080000,0.150000,0.270000,0.230000,0.230000,-0.040267,0.159500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-01','4180',3,0.130000,0.160000,0.160000,0.190000,0.160000,0.200000,-0.030183,0.175100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-01','3884',4,0.110000,0.110000,0.230000,0.190000,0.250000,0.110000,0.003583,0.168500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-01','5025',5,0.000000,0.000000,0.020000,0.030000,0.130000,0.820000,-0.002067,0.165600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-01','3477',6,0.080000,0.130000,0.140000,0.240000,0.210000,0.200000,-0.006217,0.190400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-02','4826',1,0.260000,0.220000,0.130000,0.120000,0.160000,0.110000,-0.039733,0.158600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-02','4368',2,0.120000,0.130000,0.160000,0.240000,0.180000,0.170000,0.033900,0.221000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-02','3521',3,0.030000,0.110000,0.180000,0.210000,0.180000,0.290000,0.010583,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-02','3951',4,0.100000,0.180000,0.210000,0.130000,0.190000,0.190000,0.011150,0.182000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-02','4832',5,0.180000,0.260000,0.220000,0.140000,0.150000,0.050000,-0.004100,0.160200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-02','4757',6,0.440000,0.200000,0.140000,0.060000,0.040000,0.120000,-0.040167,0.127500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-03','4028',1,0.310000,0.160000,0.230000,0.140000,0.080000,0.080000,-0.016500,0.155100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-03','4674',2,0.080000,0.210000,0.140000,0.110000,0.230000,0.230000,0.008933,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-03','3281',3,0.030000,0.080000,0.200000,0.160000,0.290000,0.240000,0.124317,0.338900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-03','4357',4,0.230000,0.310000,0.150000,0.120000,0.100000,0.090000,-0.038417,0.175200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-03','4669',5,0.080000,0.130000,0.150000,0.170000,0.230000,0.240000,0.012233,0.178000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-03','3587',6,0.180000,0.130000,0.170000,0.180000,0.150000,0.190000,-0.044933,0.159300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-04','4359',1,0.210000,0.150000,0.200000,0.170000,0.160000,0.110000,-0.040150,0.143700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-04','4636',2,0.180000,0.120000,0.110000,0.140000,0.210000,0.240000,0.012650,0.181600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-04','4063',3,0.330000,0.230000,0.150000,0.130000,0.120000,0.040000,-0.012450,0.130100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-04','4571',4,0.340000,0.170000,0.180000,0.110000,0.090000,0.110000,-0.006167,0.152000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-04','4390',5,0.100000,0.150000,0.120000,0.260000,0.220000,0.150000,-0.021433,0.169200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-04','3456',6,0.040000,0.140000,0.160000,0.160000,0.170000,0.330000,0.024917,0.204200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-05','4198',1,0.110000,0.180000,0.150000,0.170000,0.180000,0.210000,0.002950,0.188100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-05','3643',2,0.100000,0.190000,0.270000,0.220000,0.140000,0.080000,-0.007567,0.178600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-05','4725',3,0.050000,0.100000,0.180000,0.200000,0.230000,0.240000,0.020067,0.196300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-05','4383',4,0.160000,0.160000,0.190000,0.180000,0.220000,0.090000,0.006283,0.189000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-05','3477',5,0.080000,0.120000,0.150000,0.240000,0.210000,0.200000,-0.006050,0.189100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-05','3841',6,0.270000,0.210000,0.240000,0.130000,0.070000,0.080000,-0.012467,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-06','4449',1,0.090000,0.140000,0.130000,0.200000,0.190000,0.250000,-0.019883,0.175600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-06','3746',2,0.240000,0.270000,0.160000,0.210000,0.100000,0.020000,-0.029883,0.170800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-06','4732',3,0.230000,0.190000,0.210000,0.170000,0.120000,0.080000,-0.025000,0.127000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-06','4232',4,0.060000,0.110000,0.150000,0.200000,0.230000,0.250000,-0.010817,0.203300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-06','3955',5,0.170000,0.180000,0.250000,0.170000,0.140000,0.090000,-0.040317,0.192300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-06','4368',6,0.120000,0.130000,0.150000,0.240000,0.190000,0.170000,0.033250,0.219500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-07','3750',1,0.050000,0.090000,0.130000,0.290000,0.190000,0.250000,0.007200,0.179900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-07','4782',2,0.150000,0.120000,0.190000,0.150000,0.190000,0.200000,-0.006317,0.161000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-07','4052',3,0.340000,0.210000,0.170000,0.130000,0.100000,0.050000,-0.046550,0.144500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-07','4701',4,0.030000,0.080000,0.150000,0.270000,0.240000,0.230000,-0.037267,0.162400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-07','3535',5,0.120000,0.120000,0.150000,0.210000,0.220000,0.180000,-0.012150,0.202700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-07','3951',6,0.100000,0.180000,0.210000,0.130000,0.190000,0.190000,0.011367,0.181100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-08','4116',1,0.160000,0.170000,0.210000,0.210000,0.170000,0.080000,0.035383,0.271000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-08','4757',2,0.430000,0.200000,0.140000,0.060000,0.040000,0.130000,-0.040133,0.127600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-08','3304',3,0.240000,0.260000,0.180000,0.160000,0.100000,0.060000,-0.026950,0.176400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-08','4674',4,0.080000,0.200000,0.150000,0.110000,0.230000,0.230000,0.009100,0.177700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-08','4489',5,0.120000,0.120000,0.210000,0.220000,0.180000,0.150000,0.007883,0.190700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-08','5025',6,0.000000,0.000000,0.020000,0.030000,0.130000,0.820000,-0.003133,0.164500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-09','4725',1,0.040000,0.100000,0.180000,0.210000,0.230000,0.240000,0.019733,0.195100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-09','4839',2,0.170000,0.190000,0.190000,0.140000,0.160000,0.150000,-0.021900,0.139000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-09','3361',3,0.070000,0.140000,0.270000,0.240000,0.190000,0.090000,0.003167,0.176400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-09','4826',4,0.270000,0.220000,0.130000,0.110000,0.160000,0.110000,-0.039517,0.158100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-09','4636',5,0.170000,0.120000,0.110000,0.150000,0.210000,0.240000,0.012967,0.182600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-09','3884',6,0.110000,0.120000,0.220000,0.190000,0.250000,0.110000,0.003167,0.167400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-10','3281',1,0.030000,0.080000,0.190000,0.160000,0.290000,0.250000,0.124933,0.340500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-10','4832',2,0.180000,0.260000,0.220000,0.140000,0.150000,0.050000,-0.003733,0.160500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-10','3643',3,0.100000,0.190000,0.270000,0.220000,0.140000,0.080000,-0.008200,0.176900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-10','3743',4,0.300000,0.230000,0.170000,0.110000,0.110000,0.080000,-0.006700,0.150600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-10','4232',5,0.060000,0.110000,0.150000,0.190000,0.230000,0.260000,-0.009167,0.204300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-10','4691',6,0.090000,0.210000,0.140000,0.190000,0.170000,0.200000,0.079367,0.258400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-11','4063',1,0.330000,0.230000,0.150000,0.130000,0.120000,0.040000,-0.013467,0.128700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-11','3841',2,0.260000,0.210000,0.250000,0.130000,0.070000,0.080000,-0.011700,0.162300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-11','3955',3,0.170000,0.190000,0.240000,0.170000,0.140000,0.090000,-0.041517,0.190000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-11','4028',4,0.320000,0.160000,0.230000,0.140000,0.070000,0.080000,-0.017467,0.154900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-11','4180',5,0.130000,0.160000,0.160000,0.200000,0.150000,0.200000,-0.031067,0.173200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-11','4782',6,0.140000,0.120000,0.200000,0.150000,0.190000,0.200000,-0.005833,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-12','4052',1,0.340000,0.210000,0.170000,0.130000,0.100000,0.050000,-0.014133,0.144300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-12','3304',2,0.250000,0.250000,0.180000,0.160000,0.100000,0.060000,-0.028000,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-12','4812',3,0.330000,0.160000,0.150000,0.150000,0.100000,0.110000,-0.015833,0.139300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-12','3746',4,0.240000,0.270000,0.170000,0.200000,0.100000,0.020000,-0.030583,0.170300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-12','4357',5,0.230000,0.310000,0.150000,0.120000,0.100000,0.090000,-0.038483,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-14-12','4383',6,0.160000,0.160000,0.190000,0.170000,0.220000,0.100000,0.005467,0.187600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-01','3832',1,0.150000,0.150000,0.220000,0.280000,0.120000,0.080000,0.126867,0.360200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-01','3910',2,0.180000,0.140000,0.230000,0.120000,0.170000,0.160000,-0.004367,0.179500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-01','4020',3,0.100000,0.240000,0.090000,0.090000,0.200000,0.280000,0.017033,0.205400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-01','3064',4,0.200000,0.260000,0.070000,0.130000,0.160000,0.180000,0.002167,0.177300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-01','3975',5,0.160000,0.200000,0.290000,0.180000,0.070000,0.100000,-0.015750,0.177100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-01','3234',6,0.090000,0.170000,0.100000,0.190000,0.170000,0.280000,-0.021117,0.163300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-02','4010',1,0.090000,0.120000,0.210000,0.210000,0.240000,0.130000,0.001117,0.203500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-02','4034',2,0.080000,0.170000,0.170000,0.120000,0.180000,0.280000,0.031183,0.207300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-02','3855',3,0.060000,0.150000,0.200000,0.180000,0.290000,0.120000,0.055700,0.249500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-02','4511',4,0.130000,0.090000,0.230000,0.190000,0.190000,0.170000,0.005583,0.162900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-02','5037',5,0.000000,0.020000,0.020000,0.070000,0.230000,0.660000,0.015500,0.200500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-02','3478',6,0.170000,0.140000,0.130000,0.150000,0.260000,0.150000,-0.012933,0.175500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-03','3710',1,0.060000,0.190000,0.170000,0.220000,0.150000,0.210000,-0.019933,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-03','4931',2,0.200000,0.150000,0.190000,0.160000,0.180000,0.120000,0.082250,0.262100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-03','3578',3,0.090000,0.130000,0.220000,0.180000,0.220000,0.160000,0.004800,0.185200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-03','3541',4,0.220000,0.310000,0.190000,0.110000,0.100000,0.070000,-0.019183,0.151800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-03','4348',5,0.120000,0.270000,0.190000,0.210000,0.090000,0.120000,-0.036967,0.182500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-03','4452',6,0.220000,0.190000,0.190000,0.130000,0.110000,0.160000,0.009783,0.175200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-04','3660',1,0.060000,0.140000,0.150000,0.260000,0.200000,0.190000,0.009200,0.193200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-04','3568',2,0.300000,0.180000,0.150000,0.110000,0.140000,0.120000,-0.017400,0.157500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-04','3753',3,0.100000,0.180000,0.150000,0.120000,0.210000,0.240000,0.002750,0.169000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-04','4946',4,0.020000,0.050000,0.110000,0.150000,0.240000,0.430000,-0.012483,0.154400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-04','4821',5,0.140000,0.160000,0.170000,0.230000,0.200000,0.100000,0.101067,0.294700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-04','4852',6,0.160000,0.140000,0.230000,0.280000,0.130000,0.060000,-0.051067,0.141700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-05','3401',1,0.200000,0.220000,0.130000,0.210000,0.150000,0.090000,-0.027783,0.179200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-05','4221',2,0.060000,0.100000,0.170000,0.150000,0.280000,0.240000,-0.019267,0.162800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-05','3837',3,0.350000,0.150000,0.200000,0.150000,0.100000,0.050000,-0.045650,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-05','4643',4,0.310000,0.150000,0.150000,0.240000,0.090000,0.060000,0.047717,0.238700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-05','4185',5,0.040000,0.110000,0.140000,0.180000,0.270000,0.260000,0.069433,0.281900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-05','4020',6,0.100000,0.240000,0.100000,0.090000,0.190000,0.280000,0.017183,0.205000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-06','3553',1,0.110000,0.140000,0.190000,0.190000,0.140000,0.230000,0.001617,0.183400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-06','3064',2,0.210000,0.250000,0.070000,0.130000,0.160000,0.180000,0.001583,0.176900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-06','4010',3,0.080000,0.130000,0.210000,0.210000,0.240000,0.130000,0.001950,0.205400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-06','5032',4,0.010000,0.000000,0.050000,0.100000,0.170000,0.670000,0.043683,0.215900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-06','4459',5,0.290000,0.220000,0.150000,0.120000,0.120000,0.100000,-0.015100,0.141600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-06','4739',6,0.240000,0.180000,0.220000,0.150000,0.080000,0.130000,-0.040683,0.129500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-07','4260',1,0.250000,0.250000,0.200000,0.120000,0.130000,0.050000,0.003317,0.170200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-07','3849',2,0.420000,0.230000,0.110000,0.100000,0.090000,0.050000,-0.036233,0.135400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-07','3543',3,0.200000,0.280000,0.160000,0.140000,0.150000,0.070000,0.004550,0.264800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-07','4931',4,0.200000,0.150000,0.190000,0.160000,0.180000,0.120000,0.081850,0.261900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-07','4249',5,0.030000,0.080000,0.100000,0.210000,0.300000,0.280000,0.173067,0.380000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-07','3855',6,0.060000,0.140000,0.200000,0.190000,0.290000,0.120000,0.055533,0.249200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-08','4821',1,0.140000,0.170000,0.170000,0.230000,0.200000,0.090000,0.100567,0.294300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-08','4030',2,0.270000,0.260000,0.230000,0.150000,0.050000,0.040000,-0.026800,0.140200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-08','3701',3,0.110000,0.150000,0.100000,0.190000,0.210000,0.240000,-0.005883,0.158500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-08','4772',4,0.330000,0.220000,0.100000,0.170000,0.090000,0.090000,-0.034250,0.146800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-08','3478',5,0.170000,0.140000,0.140000,0.150000,0.250000,0.150000,-0.013433,0.175500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-08','3578',6,0.100000,0.130000,0.220000,0.170000,0.220000,0.160000,0.004583,0.184300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-09','4643',1,0.310000,0.150000,0.150000,0.240000,0.090000,0.060000,0.047917,0.239000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-09','4852',2,0.160000,0.140000,0.230000,0.280000,0.130000,0.060000,-0.052050,0.140800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-09','3710',3,0.060000,0.200000,0.170000,0.220000,0.150000,0.200000,-0.020083,0.168400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-09','3907',4,0.160000,0.200000,0.230000,0.100000,0.130000,0.180000,-0.008083,0.156300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-09','4511',5,0.140000,0.090000,0.230000,0.190000,0.180000,0.170000,0.005200,0.163500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-09','4776',6,0.220000,0.200000,0.160000,0.170000,0.180000,0.070000,-0.010133,0.151900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-10','3568',1,0.290000,0.180000,0.150000,0.110000,0.140000,0.130000,-0.016333,0.158300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-10','3553',2,0.110000,0.150000,0.190000,0.190000,0.140000,0.220000,-0.000117,0.180600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-10','3541',3,0.220000,0.310000,0.190000,0.100000,0.100000,0.080000,-0.018650,0.153400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-10','4331',4,0.230000,0.150000,0.130000,0.190000,0.150000,0.150000,-0.030367,0.167500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-10','3401',5,0.210000,0.210000,0.130000,0.210000,0.150000,0.090000,-0.028150,0.178000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-10','3910',6,0.180000,0.140000,0.230000,0.110000,0.180000,0.160000,-0.003783,0.180400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-11','4030',1,0.280000,0.260000,0.230000,0.140000,0.050000,0.040000,-0.027067,0.140900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-11','4739',2,0.240000,0.180000,0.210000,0.150000,0.090000,0.130000,-0.040167,0.129500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-11','4452',3,0.220000,0.190000,0.190000,0.130000,0.110000,0.160000,0.009683,0.175000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-11','3975',4,0.160000,0.210000,0.280000,0.180000,0.070000,0.100000,-0.015817,0.176700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-11','3849',5,0.420000,0.230000,0.110000,0.110000,0.080000,0.050000,-0.037367,0.133600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-11','3837',6,0.340000,0.160000,0.200000,0.150000,0.100000,0.050000,-0.046317,0.164700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-12','4459',1,0.280000,0.220000,0.150000,0.130000,0.120000,0.100000,-0.014967,0.141300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-12','4772',2,0.330000,0.220000,0.110000,0.160000,0.090000,0.090000,-0.034467,0.147100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-12','3832',3,0.150000,0.150000,0.220000,0.270000,0.120000,0.090000,0.127400,0.360500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-12','4348',4,0.120000,0.260000,0.190000,0.210000,0.100000,0.120000,-0.037033,0.181400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-12','3907',5,0.160000,0.200000,0.220000,0.100000,0.130000,0.190000,-0.008033,0.156800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-15-12','3543',6,0.200000,0.280000,0.160000,0.140000,0.150000,0.070000,0.005217,0.264600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-01','3436',1,0.210000,0.180000,0.200000,0.230000,0.100000,0.080000,0.045700,0.236300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-01','4054',2,0.060000,0.110000,0.120000,0.250000,0.180000,0.280000,-0.007350,0.161000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-01','3866',3,0.130000,0.090000,0.240000,0.210000,0.180000,0.150000,-0.065450,0.150800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-01','4200',4,0.020000,0.170000,0.180000,0.260000,0.230000,0.140000,-0.008033,0.175900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-01','3715',5,0.120000,0.150000,0.220000,0.190000,0.210000,0.110000,-0.036767,0.166500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-01','3261',6,0.030000,0.210000,0.180000,0.280000,0.190000,0.110000,-0.034417,0.201300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-02','3561',1,0.120000,0.100000,0.090000,0.230000,0.250000,0.210000,-0.002317,0.198600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-02','3982',2,0.130000,0.140000,0.180000,0.110000,0.210000,0.230000,0.157417,0.382700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-02','4355',3,0.070000,0.100000,0.200000,0.190000,0.230000,0.210000,0.004917,0.197700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-02','3458',4,0.200000,0.180000,0.160000,0.160000,0.180000,0.120000,-0.000383,0.168300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-02','5001',5,0.000000,0.000000,0.050000,0.070000,0.290000,0.590000,-0.054817,0.144900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-02','3685',6,0.230000,0.190000,0.180000,0.160000,0.200000,0.040000,-0.033383,0.168500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-03','4713',1,0.210000,0.190000,0.160000,0.180000,0.170000,0.090000,-0.020733,0.157300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-03','3600',2,0.090000,0.120000,0.120000,0.160000,0.170000,0.340000,0.118200,0.312200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-03','4580',3,0.240000,0.170000,0.150000,0.130000,0.150000,0.160000,-0.012850,0.172900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-03','4603',4,0.040000,0.200000,0.170000,0.210000,0.210000,0.170000,-0.011483,0.165600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-03','4905',5,0.080000,0.110000,0.120000,0.230000,0.250000,0.210000,0.007550,0.197100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-03','4214',6,0.200000,0.200000,0.140000,0.120000,0.220000,0.120000,-0.021050,0.176200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-04','4498',1,0.150000,0.220000,0.160000,0.160000,0.150000,0.160000,0.013783,0.207400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-04','4410',2,0.140000,0.190000,0.160000,0.200000,0.170000,0.140000,0.002483,0.181900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-04','3300',3,0.280000,0.210000,0.170000,0.180000,0.100000,0.060000,-0.025500,0.149800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-04','4423',4,0.130000,0.100000,0.110000,0.240000,0.200000,0.220000,-0.013883,0.197800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-04','4538',5,0.150000,0.160000,0.210000,0.130000,0.200000,0.150000,-0.024550,0.144200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-04','4635',6,0.120000,0.130000,0.170000,0.120000,0.140000,0.320000,-0.053967,0.139300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-05','3933',1,0.270000,0.160000,0.160000,0.100000,0.170000,0.140000,-0.005117,0.164200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-05','3233',2,0.170000,0.230000,0.230000,0.210000,0.140000,0.020000,-0.018417,0.178200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-05','4533',3,0.140000,0.230000,0.150000,0.210000,0.150000,0.120000,-0.005133,0.171300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-05','4166',4,0.370000,0.230000,0.100000,0.070000,0.070000,0.160000,-0.028783,0.138300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-05','4957',5,0.060000,0.110000,0.100000,0.200000,0.220000,0.310000,-0.029983,0.155300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-05','3564',6,0.110000,0.090000,0.160000,0.190000,0.260000,0.190000,0.000367,0.169900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-06','4089',1,0.240000,0.200000,0.240000,0.150000,0.110000,0.060000,0.041450,0.256700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-06','3874',2,0.270000,0.190000,0.230000,0.070000,0.130000,0.110000,0.005633,0.166500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-06','4418',3,0.250000,0.270000,0.190000,0.150000,0.040000,0.100000,-0.004133,0.145600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-06','4213',4,0.050000,0.130000,0.160000,0.230000,0.220000,0.210000,-0.015867,0.167800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-06','3585',5,0.060000,0.170000,0.190000,0.220000,0.220000,0.140000,0.002000,0.193200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-06','5054',6,0.000000,0.000000,0.010000,0.030000,0.150000,0.380000,0.027251,0.202105)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-07','4762',1,0.280000,0.230000,0.150000,0.110000,0.160000,0.070000,-0.030550,0.141500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-07','4441',2,0.170000,0.240000,0.210000,0.150000,0.120000,0.110000,-0.005850,0.164000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-07','4172',3,0.190000,0.240000,0.230000,0.160000,0.120000,0.060000,-0.027467,0.171500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-07','4370',4,0.580000,0.170000,0.130000,0.060000,0.040000,0.020000,-0.010850,0.157900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-07','4054',5,0.070000,0.100000,0.120000,0.250000,0.180000,0.280000,-0.005433,0.162700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-07','5058',6,0.010000,0.020000,0.030000,0.070000,0.180000,0.270000,0.014914,0.183103)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-08','4584',1,0.210000,0.290000,0.160000,0.170000,0.080000,0.090000,-0.030233,0.135100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-08','4538',2,0.150000,0.160000,0.200000,0.130000,0.200000,0.160000,-0.023367,0.145000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-08','3561',3,0.120000,0.100000,0.100000,0.230000,0.250000,0.200000,-0.001367,0.199400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-08','3822',4,0.370000,0.230000,0.130000,0.060000,0.080000,0.130000,-0.007617,0.165600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-08','4886',5,0.170000,0.190000,0.230000,0.160000,0.110000,0.140000,0.047783,0.230300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-08','3600',6,0.090000,0.130000,0.120000,0.160000,0.170000,0.330000,0.117500,0.310800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-09','3458',1,0.210000,0.170000,0.160000,0.160000,0.180000,0.120000,-0.001767,0.167300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-09','3261',2,0.030000,0.210000,0.170000,0.280000,0.190000,0.120000,-0.033983,0.200300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-09','4423',3,0.130000,0.100000,0.120000,0.240000,0.200000,0.210000,-0.013717,0.197800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-09','4214',4,0.200000,0.200000,0.140000,0.120000,0.220000,0.120000,-0.022667,0.173900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-09','4959',5,0.150000,0.210000,0.170000,0.110000,0.160000,0.200000,0.075617,0.261200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-09','5046',6,0.000000,0.000000,0.000000,0.020000,0.050000,0.470000,0.023611,0.196667)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-10','4418',1,0.250000,0.280000,0.190000,0.150000,0.030000,0.100000,-0.004650,0.145300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-10','3300',2,0.280000,0.210000,0.170000,0.180000,0.100000,0.060000,-0.025400,0.150300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-10','3933',3,0.270000,0.150000,0.160000,0.100000,0.180000,0.140000,-0.005217,0.164300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-10','4533',4,0.140000,0.220000,0.150000,0.210000,0.150000,0.130000,-0.005667,0.170400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-10','4410',5,0.140000,0.190000,0.160000,0.200000,0.170000,0.140000,0.002183,0.181200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-10','4713',6,0.220000,0.180000,0.160000,0.180000,0.170000,0.090000,-0.020783,0.157200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-11','4370',1,0.580000,0.170000,0.130000,0.060000,0.040000,0.020000,-0.010700,0.156900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-11','4089',2,0.250000,0.190000,0.240000,0.150000,0.110000,0.060000,0.041550,0.255900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-11','4166',3,0.370000,0.230000,0.100000,0.070000,0.070000,0.160000,-0.029400,0.137100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-11','4580',4,0.240000,0.170000,0.150000,0.130000,0.150000,0.160000,-0.012867,0.172900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-11','3436',5,0.210000,0.190000,0.190000,0.230000,0.100000,0.080000,0.046433,0.235100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-11','4762',6,0.280000,0.230000,0.150000,0.110000,0.160000,0.070000,-0.030517,0.141000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-12','3822',1,0.370000,0.230000,0.130000,0.060000,0.080000,0.130000,-0.008783,0.165000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-12','4172',2,0.190000,0.240000,0.240000,0.160000,0.110000,0.060000,-0.027367,0.171500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-12','3874',3,0.270000,0.190000,0.240000,0.070000,0.130000,0.100000,0.005317,0.165800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-12','3233',4,0.170000,0.240000,0.220000,0.210000,0.140000,0.020000,-0.018583,0.176600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-12','4584',5,0.210000,0.300000,0.160000,0.160000,0.080000,0.090000,-0.030400,0.134100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-16-12','4498',6,0.150000,0.230000,0.160000,0.160000,0.140000,0.160000,0.014267,0.208000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-01','3663',1,0.190000,0.160000,0.210000,0.110000,0.250000,0.080000,-0.059517,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-01','4097',2,0.100000,0.190000,0.150000,0.250000,0.200000,0.110000,0.029300,0.223900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-01','4564',3,0.160000,0.150000,0.190000,0.180000,0.170000,0.150000,-0.008050,0.154800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-01','4672',4,0.070000,0.150000,0.140000,0.190000,0.160000,0.290000,-0.023917,0.161600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-01','4991',5,0.040000,0.090000,0.130000,0.200000,0.300000,0.240000,-0.005267,0.175900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-01','3058',6,0.090000,0.120000,0.190000,0.130000,0.270000,0.200000,-0.004267,0.180400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-02','3282',1,0.210000,0.220000,0.230000,0.150000,0.140000,0.050000,-0.013500,0.202100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-02','2935',2,0.090000,0.160000,0.110000,0.220000,0.220000,0.200000,-0.026300,0.184400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-02','4835',3,0.110000,0.090000,0.210000,0.230000,0.180000,0.180000,0.094833,0.287500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-02','3411',4,0.070000,0.070000,0.110000,0.190000,0.340000,0.220000,0.083600,0.303900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-02','3614',5,0.110000,0.160000,0.150000,0.150000,0.190000,0.240000,-0.022150,0.178400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-02','5067',6,0.000000,0.010000,0.000000,0.050000,0.120000,0.390000,0.007749,0.181579)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-03','4971',1,0.020000,0.010000,0.060000,0.080000,0.300000,0.530000,0.019617,0.201800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-03','4872',2,0.170000,0.180000,0.210000,0.120000,0.150000,0.170000,-0.018333,0.152100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-03','3424',3,0.060000,0.130000,0.130000,0.190000,0.210000,0.280000,0.149700,0.373300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-03','3516',4,0.140000,0.170000,0.090000,0.220000,0.190000,0.190000,-0.021533,0.175600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-03','3158',5,0.310000,0.240000,0.130000,0.080000,0.150000,0.090000,-0.046450,0.141300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-03','3273',6,0.110000,0.150000,0.240000,0.160000,0.220000,0.120000,-0.001267,0.170300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-04','4955',1,0.010000,0.030000,0.060000,0.120000,0.340000,0.440000,-0.001967,0.162500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-04','3024',2,0.320000,0.210000,0.160000,0.090000,0.160000,0.060000,-0.026867,0.154000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-04','2844',3,0.120000,0.170000,0.170000,0.150000,0.230000,0.160000,-0.007900,0.175400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-04','3430',4,0.140000,0.140000,0.240000,0.170000,0.160000,0.150000,-0.020783,0.159300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-04','4000',5,0.210000,0.180000,0.200000,0.180000,0.150000,0.080000,-0.021083,0.173500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-04','3212',6,0.210000,0.240000,0.190000,0.190000,0.130000,0.040000,-0.012517,0.173100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-05','4434',1,0.130000,0.240000,0.220000,0.170000,0.160000,0.080000,-0.007583,0.183700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-05','3058',2,0.090000,0.130000,0.190000,0.120000,0.270000,0.200000,-0.004617,0.179300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-05','3719',3,0.410000,0.240000,0.180000,0.050000,0.090000,0.030000,-0.020883,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-05','3883',4,0.050000,0.110000,0.220000,0.200000,0.260000,0.160000,-0.009233,0.186900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-05','3338',5,0.090000,0.100000,0.170000,0.260000,0.200000,0.180000,-0.010533,0.159500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-05','3979',6,0.070000,0.060000,0.160000,0.130000,0.220000,0.360000,0.001283,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-06','4708',1,0.030000,0.100000,0.130000,0.330000,0.270000,0.140000,0.016683,0.197500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-06','4257',2,0.180000,0.160000,0.150000,0.140000,0.150000,0.220000,-0.046717,0.147600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-06','3499',3,0.310000,0.180000,0.240000,0.100000,0.090000,0.080000,0.033350,0.240700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-06','4991',4,0.040000,0.090000,0.130000,0.200000,0.300000,0.240000,-0.005483,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-06','4173',5,0.240000,0.160000,0.210000,0.210000,0.130000,0.050000,-0.027750,0.188200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-06','2935',6,0.090000,0.170000,0.110000,0.220000,0.220000,0.190000,-0.027450,0.184000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-07','4416',1,0.130000,0.180000,0.150000,0.210000,0.190000,0.140000,0.016367,0.191300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-07','4111',2,0.190000,0.220000,0.140000,0.100000,0.200000,0.150000,-0.017483,0.177200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-07','4343',3,0.070000,0.130000,0.190000,0.190000,0.280000,0.140000,0.015367,0.187000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-07','3584',4,0.140000,0.200000,0.220000,0.180000,0.140000,0.120000,-0.059200,0.165800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-07','5067',5,0.000000,0.010000,0.000000,0.050000,0.120000,0.400000,0.009195,0.183448)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-07','3516',6,0.140000,0.160000,0.090000,0.230000,0.190000,0.190000,-0.020383,0.175300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-08','3797',1,0.050000,0.180000,0.140000,0.220000,0.230000,0.180000,0.008600,0.182200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-08','4398',2,0.270000,0.280000,0.140000,0.120000,0.100000,0.090000,0.065017,0.234000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-08','3024',3,0.310000,0.210000,0.170000,0.090000,0.160000,0.060000,-0.026433,0.154100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-08','3663',4,0.180000,0.160000,0.220000,0.110000,0.250000,0.080000,-0.058333,0.162600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-08','3411',5,0.070000,0.070000,0.110000,0.190000,0.340000,0.220000,0.083983,0.303400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-08','4951',6,0.030000,0.060000,0.170000,0.200000,0.300000,0.240000,0.000500,0.166700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-09','3562',1,0.200000,0.240000,0.180000,0.110000,0.130000,0.140000,0.079733,0.260300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-09','3614',2,0.110000,0.150000,0.150000,0.160000,0.190000,0.240000,-0.022633,0.178400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-09','3883',3,0.040000,0.110000,0.220000,0.210000,0.260000,0.160000,-0.008600,0.189500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-09','4816',4,0.310000,0.270000,0.140000,0.080000,0.120000,0.080000,-0.025167,0.153900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-09','4971',5,0.020000,0.010000,0.060000,0.070000,0.300000,0.540000,0.019133,0.200300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-09','4564',6,0.170000,0.150000,0.190000,0.180000,0.160000,0.150000,-0.008667,0.153500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-10','3158',1,0.310000,0.250000,0.130000,0.080000,0.150000,0.080000,-0.047150,0.140300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-10','4173',2,0.240000,0.150000,0.220000,0.210000,0.130000,0.050000,-0.027317,0.188500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-10','4097',3,0.100000,0.190000,0.140000,0.250000,0.210000,0.110000,0.029500,0.223000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-10','4835',4,0.110000,0.090000,0.220000,0.230000,0.170000,0.180000,0.094150,0.287500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-10','3920',5,0.290000,0.290000,0.120000,0.130000,0.130000,0.040000,-0.031117,0.162400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-10','3430',6,0.150000,0.140000,0.230000,0.170000,0.160000,0.150000,-0.020617,0.159600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-11','3719',1,0.410000,0.250000,0.180000,0.040000,0.090000,0.030000,-0.021167,0.166000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-11','3212',2,0.210000,0.250000,0.190000,0.180000,0.130000,0.040000,-0.012500,0.173700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-11','4872',3,0.180000,0.180000,0.210000,0.110000,0.150000,0.170000,-0.017917,0.152000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-11','4257',4,0.170000,0.160000,0.150000,0.140000,0.150000,0.230000,-0.046617,0.148200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-11','4592',5,0.110000,0.150000,0.160000,0.210000,0.230000,0.140000,-0.033983,0.153900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-11','4111',6,0.190000,0.220000,0.140000,0.100000,0.210000,0.140000,-0.016733,0.177600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-12','3499',1,0.320000,0.180000,0.230000,0.100000,0.090000,0.080000,0.033300,0.241600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-12','3562',2,0.200000,0.250000,0.170000,0.110000,0.130000,0.140000,0.079850,0.260300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-12','4000',3,0.210000,0.180000,0.200000,0.180000,0.150000,0.080000,-0.021267,0.173800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-12','4434',4,0.140000,0.240000,0.220000,0.160000,0.160000,0.080000,-0.007900,0.184700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-12','3584',5,0.140000,0.200000,0.220000,0.180000,0.140000,0.120000,-0.058650,0.164200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-17-12','4398',6,0.280000,0.280000,0.140000,0.110000,0.100000,0.090000,0.065283,0.233300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-01','4361',1,0.260000,0.230000,0.170000,0.150000,0.100000,0.090000,-0.052283,0.148900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-01','3668',2,0.070000,0.110000,0.120000,0.180000,0.220000,0.300000,0.013267,0.214700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-01','3567',3,0.030000,0.110000,0.160000,0.260000,0.190000,0.250000,0.009833,0.196200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-01','3949',4,0.040000,0.080000,0.260000,0.230000,0.240000,0.150000,-0.011400,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-01','4950',5,0.060000,0.120000,0.250000,0.180000,0.200000,0.190000,0.003083,0.172000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-01','5064',6,0.000000,0.020000,0.010000,0.060000,0.180000,0.260000,0.021887,0.198679)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-02','4292',1,0.200000,0.180000,0.210000,0.110000,0.190000,0.110000,-0.044250,0.130800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-02','3454',2,0.110000,0.230000,0.270000,0.180000,0.140000,0.070000,-0.011717,0.181400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-02','3942',3,0.310000,0.220000,0.170000,0.100000,0.100000,0.100000,0.045167,0.252800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-02','4239',4,0.260000,0.180000,0.240000,0.100000,0.160000,0.060000,-0.010100,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-02','4179',5,0.200000,0.200000,0.170000,0.150000,0.170000,0.110000,-0.010650,0.159500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-02','3925',6,0.140000,0.130000,0.190000,0.120000,0.170000,0.250000,-0.018350,0.192700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-03','4009',1,0.130000,0.190000,0.210000,0.190000,0.170000,0.110000,-0.038950,0.126400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-03','3581',2,0.120000,0.140000,0.200000,0.210000,0.190000,0.140000,0.002050,0.187200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-03','4263',3,0.230000,0.130000,0.160000,0.150000,0.170000,0.160000,-0.026350,0.170700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-03','4871',4,0.050000,0.110000,0.080000,0.220000,0.310000,0.230000,0.012150,0.194300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-03','5040',5,0.010000,0.010000,0.000000,0.050000,0.180000,0.730000,0.021956,0.195612)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-03','3684',6,0.140000,0.240000,0.170000,0.190000,0.160000,0.100000,0.009400,0.223400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-04','2992',1,0.270000,0.200000,0.180000,0.160000,0.100000,0.090000,-0.030317,0.151000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-04','4015',2,0.240000,0.200000,0.270000,0.160000,0.100000,0.030000,-0.010400,0.158000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-04','3976',3,0.090000,0.150000,0.130000,0.130000,0.150000,0.350000,0.088267,0.285800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-04','3928',4,0.080000,0.210000,0.100000,0.170000,0.230000,0.210000,0.002533,0.202400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-04','4985',5,0.070000,0.090000,0.080000,0.190000,0.370000,0.200000,0.004017,0.201300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-04','3661',6,0.080000,0.160000,0.270000,0.210000,0.190000,0.090000,0.019000,0.199500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-05','3443',1,0.070000,0.110000,0.170000,0.240000,0.250000,0.160000,0.016900,0.200800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-05','4064',2,0.330000,0.180000,0.190000,0.100000,0.140000,0.060000,-0.021983,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-05','3949',3,0.040000,0.080000,0.270000,0.230000,0.240000,0.140000,-0.011550,0.183700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-05','4403',4,0.150000,0.160000,0.210000,0.200000,0.170000,0.110000,-0.004717,0.159700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-05','5000',5,0.020000,0.080000,0.050000,0.120000,0.280000,0.450000,-0.014667,0.179700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-05','3427',6,0.200000,0.210000,0.100000,0.210000,0.100000,0.180000,0.020050,0.202800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-06','3709',1,0.060000,0.110000,0.150000,0.240000,0.270000,0.170000,0.020600,0.206300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-06','3717',2,0.300000,0.180000,0.160000,0.170000,0.080000,0.110000,-0.026617,0.159100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-06','2930',3,0.120000,0.220000,0.130000,0.150000,0.190000,0.190000,0.148667,0.383700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-06','3846',4,0.060000,0.110000,0.120000,0.260000,0.310000,0.140000,0.005200,0.176600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-06','5064',5,0.000000,0.020000,0.010000,0.060000,0.180000,0.270000,0.021451,0.197593)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-06','4239',6,0.260000,0.180000,0.240000,0.100000,0.160000,0.060000,-0.010117,0.161900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-07','3581',1,0.120000,0.150000,0.190000,0.210000,0.190000,0.140000,0.001550,0.185900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-07','4292',2,0.210000,0.170000,0.210000,0.110000,0.190000,0.110000,-0.043733,0.131100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-07','3878',3,0.140000,0.120000,0.180000,0.200000,0.230000,0.130000,-0.006950,0.167900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-07','4703',4,0.210000,0.220000,0.250000,0.130000,0.090000,0.100000,-0.013550,0.173300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-07','3834',5,0.150000,0.160000,0.180000,0.210000,0.160000,0.140000,0.088250,0.287700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-07','4251',6,0.110000,0.150000,0.070000,0.240000,0.260000,0.170000,0.000167,0.209400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-08','4574',1,0.150000,0.170000,0.160000,0.220000,0.210000,0.090000,-0.012033,0.174900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-08','4219',2,0.100000,0.110000,0.120000,0.230000,0.300000,0.140000,-0.026267,0.179600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-08','4361',3,0.260000,0.230000,0.170000,0.150000,0.100000,0.090000,-0.051417,0.150200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-08','3684',4,0.140000,0.240000,0.180000,0.190000,0.160000,0.090000,0.009367,0.222900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-08','4374',5,0.070000,0.160000,0.210000,0.220000,0.220000,0.120000,-0.009267,0.154600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-08','3928',6,0.080000,0.210000,0.100000,0.170000,0.230000,0.210000,0.003550,0.203300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-09','3976',1,0.090000,0.150000,0.130000,0.130000,0.150000,0.350000,0.088050,0.285200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-09','4263',2,0.230000,0.130000,0.150000,0.160000,0.170000,0.160000,-0.026817,0.169600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-09','3036',3,0.060000,0.200000,0.150000,0.240000,0.170000,0.180000,0.003667,0.187400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-09','3427',4,0.190000,0.220000,0.100000,0.210000,0.100000,0.180000,0.019517,0.201800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-09','3668',5,0.070000,0.120000,0.120000,0.180000,0.220000,0.290000,0.013000,0.214100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-09','5015',6,0.000000,0.030000,0.190000,0.280000,0.200000,0.300000,0.089583,0.273000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-10','3559',1,0.110000,0.210000,0.180000,0.160000,0.220000,0.120000,-0.007783,0.184800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-10','3661',2,0.080000,0.160000,0.260000,0.220000,0.190000,0.090000,0.018867,0.198500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-10','4009',3,0.140000,0.190000,0.210000,0.190000,0.160000,0.110000,-0.039283,0.126100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-10','3567',4,0.030000,0.110000,0.160000,0.270000,0.180000,0.250000,0.007800,0.193500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-10','3717',5,0.300000,0.170000,0.170000,0.170000,0.080000,0.110000,-0.026333,0.159000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-10','5000',6,0.020000,0.080000,0.050000,0.120000,0.280000,0.450000,-0.015783,0.177500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-11','4179',1,0.200000,0.200000,0.170000,0.150000,0.170000,0.110000,-0.009850,0.160800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-11','4251',2,0.110000,0.150000,0.070000,0.240000,0.250000,0.180000,0.000100,0.208800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-11','4950',3,0.060000,0.120000,0.250000,0.170000,0.210000,0.190000,0.003317,0.172000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-11','4064',4,0.330000,0.180000,0.190000,0.100000,0.140000,0.060000,-0.021650,0.168500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-11','2930',5,0.120000,0.220000,0.130000,0.160000,0.180000,0.190000,0.148533,0.383300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-11','5040',6,0.010000,0.010000,0.000000,0.050000,0.180000,0.740000,0.022020,0.195152)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-12','4237',1,0.330000,0.160000,0.110000,0.140000,0.120000,0.140000,0.073800,0.258700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-12','4403',2,0.150000,0.150000,0.210000,0.200000,0.180000,0.110000,-0.005117,0.158500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-12','2992',3,0.270000,0.210000,0.180000,0.160000,0.100000,0.080000,-0.029383,0.151700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-12','4574',4,0.150000,0.170000,0.150000,0.220000,0.210000,0.100000,-0.011083,0.176900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-12','3846',5,0.060000,0.110000,0.120000,0.260000,0.310000,0.140000,0.005133,0.176600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-18-12','3878',6,0.140000,0.110000,0.180000,0.200000,0.240000,0.130000,-0.006967,0.167300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-01','3566',1,0.220000,0.210000,0.170000,0.200000,0.130000,0.070000,0.010600,0.191500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-01','4563',2,0.070000,0.130000,0.160000,0.160000,0.280000,0.200000,0.013050,0.180700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-01','4106',3,0.090000,0.150000,0.180000,0.200000,0.190000,0.190000,-0.011083,0.205900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-01','4958',4,0.070000,0.140000,0.210000,0.290000,0.200000,0.090000,-0.035067,0.164100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-01','3636',5,0.080000,0.080000,0.140000,0.210000,0.200000,0.290000,-0.012067,0.160900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-01','4151',6,0.120000,0.300000,0.280000,0.140000,0.130000,0.030000,-0.020633,0.184400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-02','3825',1,0.160000,0.120000,0.140000,0.160000,0.230000,0.190000,-0.045900,0.136900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-02','4737',2,0.230000,0.230000,0.180000,0.150000,0.120000,0.090000,-0.019800,0.170200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-02','4153',3,0.040000,0.130000,0.170000,0.190000,0.240000,0.230000,0.013517,0.201000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-02','5028',4,0.010000,0.050000,0.090000,0.190000,0.230000,0.430000,-0.017217,0.152900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-02','2912',5,0.070000,0.170000,0.150000,0.160000,0.190000,0.260000,0.000633,0.183100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-02','4879',6,0.080000,0.130000,0.180000,0.240000,0.150000,0.220000,-0.002783,0.167800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-03','4299',1,0.110000,0.110000,0.160000,0.200000,0.210000,0.210000,0.030283,0.247500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-03','3930',2,0.170000,0.150000,0.160000,0.170000,0.170000,0.180000,-0.010167,0.172100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-03','4848',3,0.290000,0.210000,0.210000,0.110000,0.110000,0.070000,-0.011667,0.140700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-03','4007',4,0.150000,0.130000,0.130000,0.150000,0.260000,0.180000,0.049750,0.249000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-03','4023',5,0.070000,0.130000,0.220000,0.180000,0.310000,0.090000,-0.028267,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-03','3523',6,0.160000,0.230000,0.140000,0.160000,0.210000,0.100000,-0.001333,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-04','4521',1,0.180000,0.140000,0.320000,0.120000,0.090000,0.150000,-0.005483,0.165000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-04','3473',2,0.400000,0.100000,0.130000,0.120000,0.090000,0.160000,-0.011883,0.156000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-04','4868',3,0.060000,0.080000,0.130000,0.170000,0.180000,0.380000,-0.005050,0.190400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-04','4729',4,0.080000,0.090000,0.210000,0.230000,0.230000,0.160000,-0.025917,0.182000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-04','4413',5,0.270000,0.230000,0.160000,0.220000,0.070000,0.050000,-0.014350,0.151500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-04','5048',6,0.000000,0.010000,0.010000,0.070000,0.140000,0.330000,0.025119,0.207500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-05','4523',1,0.250000,0.190000,0.190000,0.150000,0.130000,0.090000,-0.015967,0.144000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-05','4350',2,0.530000,0.160000,0.230000,0.020000,0.020000,0.040000,0.020833,0.250500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-05','3953',3,0.120000,0.220000,0.160000,0.140000,0.190000,0.170000,-0.000133,0.200800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-05','4314',4,0.170000,0.220000,0.140000,0.220000,0.160000,0.090000,-0.021317,0.139400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-05','4969',5,0.030000,0.020000,0.070000,0.130000,0.290000,0.460000,0.002050,0.167700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-05','4563',6,0.070000,0.130000,0.160000,0.160000,0.280000,0.200000,0.012483,0.180300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-06','3919',1,0.280000,0.110000,0.180000,0.220000,0.130000,0.080000,-0.004800,0.168600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-06','3636',2,0.080000,0.080000,0.130000,0.210000,0.200000,0.300000,-0.010067,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-06','4371',3,0.280000,0.140000,0.240000,0.120000,0.180000,0.040000,-0.041000,0.142800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-06','3726',4,0.210000,0.240000,0.200000,0.180000,0.080000,0.090000,-0.001950,0.157400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-06','4697',5,0.080000,0.070000,0.230000,0.190000,0.180000,0.250000,0.018717,0.201200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-06','3702',6,0.150000,0.250000,0.260000,0.160000,0.100000,0.080000,-0.058650,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-07','4155',1,0.320000,0.150000,0.190000,0.110000,0.120000,0.110000,0.005533,0.179600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-07','4023',2,0.060000,0.130000,0.220000,0.190000,0.310000,0.090000,-0.027667,0.184100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-07','4545',3,0.340000,0.170000,0.190000,0.100000,0.100000,0.100000,-0.044883,0.159400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-07','4873',4,0.040000,0.090000,0.160000,0.200000,0.310000,0.200000,0.020767,0.222300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-07','4336',5,0.300000,0.240000,0.150000,0.150000,0.040000,0.120000,-0.052650,0.130200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-07','4022',6,0.120000,0.280000,0.160000,0.150000,0.150000,0.140000,0.160500,0.364100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-08','4236',1,0.310000,0.160000,0.210000,0.100000,0.130000,0.090000,-0.017567,0.144000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-08','4802',2,0.250000,0.180000,0.170000,0.170000,0.130000,0.100000,0.071167,0.247700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-08','3576',3,0.270000,0.240000,0.260000,0.120000,0.060000,0.050000,-0.048317,0.171300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-08','4868',4,0.060000,0.080000,0.140000,0.170000,0.180000,0.370000,-0.004933,0.190200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-08','4007',5,0.140000,0.130000,0.140000,0.150000,0.260000,0.180000,0.049800,0.248500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-08','5028',6,0.010000,0.050000,0.090000,0.200000,0.230000,0.420000,-0.017650,0.151400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-09','4364',1,0.380000,0.210000,0.150000,0.090000,0.100000,0.070000,0.064200,0.244100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-09','2912',2,0.070000,0.170000,0.150000,0.150000,0.190000,0.270000,0.000650,0.182200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-09','4958',3,0.070000,0.140000,0.210000,0.290000,0.200000,0.090000,-0.036717,0.163600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-09','4523',4,0.250000,0.200000,0.190000,0.140000,0.130000,0.090000,-0.015583,0.144200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-09','3974',5,0.090000,0.110000,0.180000,0.180000,0.210000,0.230000,0.087750,0.271800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-09','3876',6,0.230000,0.220000,0.220000,0.170000,0.100000,0.060000,-0.035533,0.140600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-10','4413',1,0.280000,0.230000,0.150000,0.220000,0.070000,0.050000,-0.015133,0.150000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-10','3523',2,0.160000,0.230000,0.140000,0.160000,0.200000,0.110000,-0.001383,0.166800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-10','3919',3,0.280000,0.110000,0.180000,0.220000,0.130000,0.080000,-0.005483,0.168400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-10','4737',4,0.230000,0.230000,0.180000,0.140000,0.130000,0.090000,-0.020017,0.169600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-10','4106',5,0.080000,0.150000,0.190000,0.200000,0.190000,0.190000,-0.010267,0.206300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-10','4314',6,0.170000,0.210000,0.140000,0.230000,0.160000,0.090000,-0.020200,0.139900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-11','3473',1,0.400000,0.110000,0.130000,0.120000,0.090000,0.150000,-0.011583,0.155700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-11','3576',2,0.270000,0.250000,0.260000,0.110000,0.060000,0.050000,-0.047633,0.171700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-11','4155',3,0.330000,0.150000,0.180000,0.110000,0.120000,0.110000,0.005650,0.180700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-11','4151',4,0.130000,0.300000,0.280000,0.130000,0.130000,0.030000,-0.021400,0.183700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-11','3953',5,0.120000,0.220000,0.170000,0.130000,0.190000,0.170000,-0.000617,0.200100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-11','3726',6,0.210000,0.250000,0.190000,0.180000,0.080000,0.090000,-0.002450,0.158300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-12','4350',1,0.540000,0.150000,0.230000,0.020000,0.020000,0.040000,0.020317,0.249800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-12','4371',2,0.290000,0.130000,0.240000,0.120000,0.180000,0.040000,-0.041583,0.141600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-12','4364',3,0.380000,0.210000,0.150000,0.090000,0.100000,0.070000,0.063017,0.242100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-12','4545',4,0.330000,0.170000,0.190000,0.100000,0.110000,0.100000,-0.044050,0.160700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-12','4236',5,0.320000,0.150000,0.210000,0.100000,0.130000,0.090000,-0.017350,0.143700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-20-12','4848',6,0.300000,0.200000,0.210000,0.110000,0.110000,0.070000,-0.011967,0.140800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-01','4136',1,0.160000,0.210000,0.210000,0.140000,0.170000,0.110000,0.062167,0.253100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-01','4363',2,0.140000,0.140000,0.210000,0.220000,0.170000,0.120000,-0.003000,0.163500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-01','3734',3,0.160000,0.120000,0.170000,0.130000,0.160000,0.260000,0.151883,0.365100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-01','4952',4,0.090000,0.020000,0.140000,0.150000,0.190000,0.410000,0.009667,0.200100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-01','4088',5,0.070000,0.160000,0.160000,0.170000,0.150000,0.290000,0.002233,0.193300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-01','4008',6,0.190000,0.160000,0.160000,0.210000,0.130000,0.150000,-0.003667,0.188000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-02','4679',1,0.230000,0.150000,0.170000,0.110000,0.140000,0.200000,-0.014383,0.174900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-02','4272',2,0.110000,0.260000,0.210000,0.240000,0.100000,0.080000,-0.010267,0.188000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-02','4949',3,0.070000,0.140000,0.180000,0.170000,0.230000,0.210000,-0.006617,0.163400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-02','4477',4,0.290000,0.240000,0.170000,0.140000,0.110000,0.050000,-0.021833,0.140800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-02','4100',5,0.130000,0.170000,0.190000,0.180000,0.210000,0.120000,-0.019583,0.168700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-02','4614',6,0.340000,0.190000,0.140000,0.120000,0.100000,0.110000,-0.017433,0.159000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-03','4607',1,0.100000,0.290000,0.220000,0.150000,0.130000,0.110000,-0.001217,0.198700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-03','5012',2,0.060000,0.040000,0.090000,0.140000,0.210000,0.460000,0.001450,0.178500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-03','4504',3,0.350000,0.200000,0.110000,0.140000,0.140000,0.060000,0.002400,0.158900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-03','4329',4,0.080000,0.230000,0.170000,0.180000,0.200000,0.140000,0.072350,0.275300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-03','4885',5,0.250000,0.220000,0.190000,0.110000,0.120000,0.110000,-0.016250,0.143600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-03','4406',6,0.120000,0.130000,0.210000,0.240000,0.170000,0.130000,0.005600,0.171900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-04','3853',1,0.290000,0.170000,0.120000,0.120000,0.130000,0.170000,-0.024500,0.167100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-04','4193',2,0.180000,0.180000,0.240000,0.160000,0.180000,0.060000,-0.048750,0.151600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-04','3858',3,0.150000,0.120000,0.250000,0.140000,0.200000,0.140000,-0.026100,0.157000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-04','3360',4,0.180000,0.240000,0.130000,0.200000,0.140000,0.110000,0.016650,0.203000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-04','4936',5,0.100000,0.070000,0.200000,0.170000,0.170000,0.290000,-0.065467,0.150900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-04','4346',6,0.130000,0.170000,0.150000,0.180000,0.170000,0.200000,-0.068517,0.166100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-05','3188',1,0.200000,0.250000,0.120000,0.200000,0.100000,0.130000,-0.002083,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-05','4189',2,0.190000,0.210000,0.200000,0.190000,0.170000,0.040000,-0.018317,0.155200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-05','4463',3,0.140000,0.160000,0.180000,0.240000,0.130000,0.150000,-0.016500,0.196700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-05','3741',4,0.090000,0.190000,0.140000,0.240000,0.230000,0.110000,-0.007500,0.189000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-05','4122',5,0.130000,0.230000,0.220000,0.130000,0.130000,0.160000,-0.002750,0.162900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-05','4952',6,0.090000,0.020000,0.140000,0.160000,0.190000,0.400000,0.010133,0.200600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-06','4088',1,0.070000,0.160000,0.160000,0.170000,0.150000,0.290000,0.003017,0.194400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-06','4402',2,0.330000,0.150000,0.170000,0.200000,0.120000,0.030000,-0.011433,0.160900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-06','3898',3,0.210000,0.230000,0.210000,0.170000,0.120000,0.060000,-0.006650,0.150800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-06','4017',4,0.200000,0.220000,0.220000,0.140000,0.110000,0.110000,-0.006050,0.163500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-06','3352',5,0.050000,0.180000,0.240000,0.200000,0.180000,0.150000,-0.010933,0.149700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-06','4100',6,0.120000,0.170000,0.190000,0.180000,0.220000,0.120000,-0.020167,0.168800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-07','4555',1,0.180000,0.240000,0.110000,0.170000,0.170000,0.130000,-0.032583,0.193300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-07','3998',2,0.120000,0.190000,0.140000,0.170000,0.210000,0.170000,-0.018700,0.167400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-07','4406',3,0.120000,0.130000,0.210000,0.240000,0.170000,0.130000,0.004450,0.171900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-07','4195',4,0.150000,0.130000,0.150000,0.270000,0.140000,0.160000,-0.040117,0.145700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-07','4949',5,0.070000,0.130000,0.180000,0.170000,0.230000,0.220000,-0.006083,0.163400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-07','5009',6,0.000000,0.010000,0.030000,0.130000,0.140000,0.690000,0.016100,0.188200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-08','3574',1,0.280000,0.230000,0.210000,0.110000,0.080000,0.090000,-0.023733,0.165700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-08','4899',2,0.080000,0.070000,0.130000,0.180000,0.160000,0.380000,0.002367,0.175600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-08','4679',3,0.230000,0.150000,0.180000,0.110000,0.140000,0.190000,-0.012683,0.176400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-08','4614',4,0.340000,0.200000,0.140000,0.110000,0.100000,0.110000,-0.018000,0.158600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-08','3858',5,0.150000,0.120000,0.250000,0.140000,0.200000,0.140000,-0.025750,0.158100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-08','4495',6,0.120000,0.150000,0.130000,0.200000,0.190000,0.210000,-0.061767,0.138700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-09','4102',1,0.240000,0.270000,0.120000,0.080000,0.210000,0.080000,-0.033883,0.150600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-09','4942',2,0.000000,0.040000,0.100000,0.280000,0.320000,0.260000,0.006500,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-09','4885',3,0.260000,0.210000,0.190000,0.110000,0.120000,0.110000,-0.016950,0.143300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-09','3662',4,0.270000,0.140000,0.100000,0.270000,0.120000,0.100000,-0.003317,0.162900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-09','3734',5,0.160000,0.120000,0.180000,0.130000,0.160000,0.250000,0.151833,0.364900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-09','4122',6,0.130000,0.230000,0.230000,0.120000,0.130000,0.160000,-0.002567,0.163200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-10','4504',1,0.350000,0.200000,0.120000,0.130000,0.140000,0.060000,0.002967,0.160300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-10','4136',2,0.160000,0.210000,0.210000,0.140000,0.170000,0.110000,0.060850,0.252600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-10','4272',3,0.100000,0.260000,0.210000,0.250000,0.100000,0.080000,-0.009383,0.188800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-10','4193',4,0.180000,0.190000,0.240000,0.160000,0.170000,0.060000,-0.048800,0.152900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-10','4607',5,0.100000,0.290000,0.210000,0.150000,0.140000,0.110000,-0.000900,0.199800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-10','3998',6,0.120000,0.190000,0.140000,0.180000,0.210000,0.160000,-0.019767,0.165900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-11','4189',1,0.190000,0.210000,0.200000,0.190000,0.170000,0.040000,-0.018567,0.154900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-11','3853',2,0.290000,0.170000,0.120000,0.120000,0.130000,0.170000,-0.024167,0.168300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-11','4555',3,0.180000,0.240000,0.110000,0.170000,0.170000,0.130000,-0.032267,0.194500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-11','4402',4,0.330000,0.150000,0.180000,0.190000,0.120000,0.030000,-0.011183,0.160500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-11','4463',5,0.140000,0.160000,0.180000,0.240000,0.130000,0.150000,-0.000167,0.196600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-11','4017',6,0.200000,0.220000,0.220000,0.130000,0.110000,0.120000,-0.006117,0.163200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-12','4477',1,0.300000,0.240000,0.170000,0.130000,0.110000,0.050000,-0.022483,0.140300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-12','3574',2,0.280000,0.240000,0.200000,0.110000,0.080000,0.090000,-0.023683,0.165900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-12','4102',3,0.250000,0.260000,0.120000,0.080000,0.210000,0.080000,-0.034167,0.149900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-12','4008',4,0.190000,0.150000,0.160000,0.210000,0.140000,0.150000,-0.002533,0.188700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-12','3898',5,0.210000,0.230000,0.210000,0.170000,0.120000,0.060000,-0.006317,0.151000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-21-12','4329',6,0.080000,0.240000,0.160000,0.180000,0.200000,0.140000,0.071817,0.275500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-01','4686',1,0.270000,0.210000,0.240000,0.120000,0.100000,0.060000,-0.015700,0.159600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-01','3722',2,0.070000,0.120000,0.210000,0.290000,0.210000,0.100000,-0.014550,0.186700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-01','3680',3,0.100000,0.160000,0.090000,0.260000,0.200000,0.190000,0.023300,0.220500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-01','3787',4,0.170000,0.150000,0.160000,0.110000,0.210000,0.200000,0.083883,0.292300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-01','4487',5,0.070000,0.190000,0.150000,0.220000,0.200000,0.170000,-0.027433,0.160700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-01','4558',6,0.100000,0.150000,0.220000,0.120000,0.220000,0.190000,-0.033833,0.171700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-02','3081',1,0.130000,0.180000,0.200000,0.140000,0.170000,0.180000,0.018417,0.281500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-02','4640',2,0.160000,0.120000,0.120000,0.200000,0.200000,0.200000,-0.011083,0.177500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-02','4919',3,0.040000,0.100000,0.210000,0.210000,0.260000,0.180000,-0.017983,0.173300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-02','4657',4,0.210000,0.230000,0.160000,0.130000,0.130000,0.140000,0.033950,0.252900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-02','4204',5,0.140000,0.180000,0.160000,0.150000,0.170000,0.200000,0.082217,0.276600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-02','4121',6,0.190000,0.140000,0.140000,0.200000,0.180000,0.150000,-0.032683,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-03','3670',1,0.110000,0.150000,0.130000,0.190000,0.160000,0.260000,-0.017600,0.172000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-03','4046',2,0.080000,0.090000,0.160000,0.280000,0.200000,0.190000,0.003467,0.168700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-03','4094',3,0.120000,0.170000,0.180000,0.200000,0.160000,0.170000,-0.016933,0.200300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-03','3462',4,0.170000,0.170000,0.220000,0.170000,0.120000,0.150000,-0.024867,0.156700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-03','3757',5,0.250000,0.190000,0.170000,0.200000,0.120000,0.070000,-0.035617,0.146800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-03','3593',6,0.060000,0.120000,0.300000,0.180000,0.220000,0.120000,0.024967,0.204100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-04','3611',1,0.170000,0.250000,0.210000,0.160000,0.120000,0.090000,-0.024583,0.157100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-04','4224',2,0.170000,0.090000,0.150000,0.120000,0.250000,0.220000,-0.027667,0.182800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-04','3674',3,0.280000,0.190000,0.170000,0.120000,0.120000,0.120000,0.044950,0.246800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-04','4014',4,0.150000,0.170000,0.210000,0.140000,0.160000,0.170000,-0.003367,0.192900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-04','3334',5,0.110000,0.220000,0.180000,0.170000,0.150000,0.170000,-0.018567,0.208400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-04','3802',6,0.140000,0.100000,0.200000,0.100000,0.160000,0.300000,-0.025133,0.169500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-05','4771',1,0.120000,0.140000,0.250000,0.140000,0.190000,0.160000,0.007417,0.177700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-05','3871',2,0.100000,0.180000,0.210000,0.210000,0.130000,0.170000,0.097033,0.288000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-05','4012',3,0.160000,0.180000,0.180000,0.160000,0.160000,0.160000,-0.027067,0.152500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-05','4487',4,0.070000,0.180000,0.160000,0.220000,0.200000,0.170000,-0.027317,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-05','4558',5,0.100000,0.140000,0.220000,0.130000,0.220000,0.190000,-0.033683,0.172400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-05','4709',6,0.150000,0.180000,0.190000,0.200000,0.200000,0.080000,0.071700,0.251300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-06','4395',1,0.100000,0.160000,0.180000,0.160000,0.190000,0.210000,0.003317,0.184100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-06','3081',2,0.140000,0.180000,0.190000,0.140000,0.170000,0.180000,0.018517,0.282400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-06','4485',3,0.160000,0.140000,0.220000,0.210000,0.150000,0.120000,-0.005217,0.156500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-06','4537',4,0.270000,0.240000,0.210000,0.100000,0.090000,0.090000,0.073133,0.247000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-06','4640',5,0.160000,0.120000,0.120000,0.190000,0.200000,0.210000,-0.010100,0.178700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-06','3350',6,0.140000,0.200000,0.220000,0.170000,0.150000,0.120000,0.001150,0.175000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-07','4551',1,0.090000,0.170000,0.210000,0.200000,0.150000,0.180000,-0.004033,0.188700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-07','3787',2,0.170000,0.150000,0.160000,0.110000,0.200000,0.210000,0.084800,0.294300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-07','3879',3,0.070000,0.090000,0.160000,0.280000,0.230000,0.170000,0.024650,0.199000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-07','3051',4,0.070000,0.150000,0.120000,0.250000,0.220000,0.190000,-0.004583,0.168900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-07','4094',5,0.130000,0.170000,0.180000,0.200000,0.160000,0.160000,-0.018033,0.199200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-07','3890',6,0.200000,0.250000,0.180000,0.130000,0.120000,0.120000,-0.023250,0.150100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-08','3334',1,0.110000,0.220000,0.180000,0.170000,0.150000,0.170000,-0.018800,0.208100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-08','3372',2,0.070000,0.090000,0.160000,0.250000,0.260000,0.170000,0.012017,0.187800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-08','4204',3,0.140000,0.180000,0.160000,0.150000,0.170000,0.200000,0.081967,0.278300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-08','4046',4,0.080000,0.090000,0.160000,0.290000,0.190000,0.190000,0.004133,0.169900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-08','3722',5,0.070000,0.120000,0.210000,0.290000,0.210000,0.100000,-0.015517,0.187100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-08','4919',6,0.040000,0.100000,0.220000,0.200000,0.260000,0.180000,-0.018633,0.173500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-09','4709',1,0.140000,0.190000,0.190000,0.200000,0.200000,0.080000,0.071950,0.252300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-09','3462',2,0.170000,0.160000,0.220000,0.170000,0.130000,0.150000,-0.025317,0.156900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-09','3611',3,0.170000,0.250000,0.220000,0.160000,0.110000,0.090000,-0.025233,0.155900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-09','4686',4,0.280000,0.200000,0.240000,0.120000,0.100000,0.060000,-0.016083,0.159800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-09','3871',5,0.100000,0.180000,0.210000,0.210000,0.130000,0.170000,0.096650,0.287500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-09','3670',6,0.110000,0.160000,0.130000,0.190000,0.160000,0.250000,-0.016700,0.173600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-10','3757',1,0.250000,0.190000,0.160000,0.200000,0.120000,0.080000,-0.035500,0.147400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-10','4657',2,0.200000,0.230000,0.160000,0.140000,0.130000,0.140000,0.034283,0.254600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-10','4014',3,0.140000,0.170000,0.210000,0.140000,0.170000,0.170000,-0.002800,0.193300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-10','3680',4,0.100000,0.170000,0.090000,0.260000,0.200000,0.180000,0.023300,0.220000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-10','4395',5,0.100000,0.170000,0.180000,0.150000,0.190000,0.210000,0.001883,0.181600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-10','3674',6,0.280000,0.190000,0.170000,0.120000,0.120000,0.120000,0.045217,0.247100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-11','4537',1,0.260000,0.240000,0.220000,0.100000,0.090000,0.090000,0.073050,0.247000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-11','4485',2,0.170000,0.140000,0.220000,0.210000,0.150000,0.110000,-0.005767,0.155200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-11','4551',3,0.100000,0.170000,0.200000,0.200000,0.150000,0.180000,-0.004567,0.188800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-11','3593',4,0.060000,0.120000,0.310000,0.180000,0.210000,0.120000,0.025567,0.204600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-11','4012',5,0.160000,0.170000,0.190000,0.160000,0.160000,0.160000,-0.027500,0.152800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-11','4771',6,0.130000,0.130000,0.250000,0.140000,0.190000,0.160000,0.007467,0.178300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-12','4040',1,0.280000,0.180000,0.190000,0.190000,0.060000,0.100000,-0.060350,0.134300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-12','3784',2,0.270000,0.190000,0.160000,0.120000,0.110000,0.150000,-0.012483,0.160900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-12','3721',3,0.320000,0.340000,0.100000,0.120000,0.040000,0.080000,-0.072883,0.132200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-12','3631',4,0.170000,0.190000,0.200000,0.170000,0.150000,0.120000,-0.004883,0.181500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-12','4566',5,0.300000,0.210000,0.100000,0.150000,0.140000,0.100000,-0.038817,0.152500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-22-12','4295',6,0.210000,0.260000,0.170000,0.170000,0.110000,0.080000,-0.026433,0.154400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-01','4164',1,0.050000,0.150000,0.170000,0.210000,0.240000,0.180000,-0.015267,0.174600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-01','4241',2,0.120000,0.130000,0.150000,0.260000,0.200000,0.140000,-0.027067,0.177300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-01','3964',3,0.090000,0.160000,0.170000,0.260000,0.200000,0.120000,0.032467,0.216000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-01','4855',4,0.110000,0.100000,0.090000,0.190000,0.190000,0.320000,0.057450,0.253700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-01','4705',5,0.090000,0.120000,0.150000,0.120000,0.200000,0.320000,-0.017150,0.147800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-01','4966',6,0.080000,0.110000,0.220000,0.210000,0.210000,0.170000,-0.020117,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-02','3714',1,0.090000,0.150000,0.160000,0.220000,0.260000,0.120000,-0.005733,0.168500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-02','3926',2,0.050000,0.060000,0.130000,0.280000,0.180000,0.300000,0.018733,0.201600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-02','3349',3,0.220000,0.240000,0.180000,0.110000,0.170000,0.080000,-0.013350,0.152200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-02','3843',4,0.160000,0.240000,0.160000,0.160000,0.150000,0.130000,-0.024550,0.155100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-02','3211',5,0.100000,0.110000,0.210000,0.150000,0.300000,0.130000,-0.002517,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-02','3775',6,0.130000,0.150000,0.140000,0.130000,0.230000,0.220000,0.079867,0.280700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-03','3151',1,0.140000,0.130000,0.170000,0.170000,0.220000,0.170000,-0.034450,0.173900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-03','4259',2,0.270000,0.160000,0.170000,0.150000,0.170000,0.080000,-0.054433,0.159700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-03','4004',3,0.100000,0.130000,0.140000,0.260000,0.130000,0.240000,-0.018683,0.192900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-03','4695',4,0.060000,0.120000,0.160000,0.160000,0.190000,0.310000,0.079583,0.294700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-03','4562',5,0.130000,0.160000,0.180000,0.180000,0.220000,0.130000,0.003467,0.189200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-03','5026',6,0.040000,0.010000,0.050000,0.130000,0.260000,0.510000,-0.017600,0.175100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-04','3936',1,0.140000,0.150000,0.180000,0.190000,0.190000,0.150000,-0.005383,0.197500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-04','4323',2,0.090000,0.150000,0.090000,0.180000,0.230000,0.260000,0.004367,0.168300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-04','4096',3,0.360000,0.200000,0.100000,0.150000,0.130000,0.060000,-0.032000,0.138400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-04','4174',4,0.290000,0.260000,0.180000,0.140000,0.070000,0.060000,-0.039900,0.169900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-04','4212',5,0.080000,0.080000,0.140000,0.160000,0.190000,0.350000,0.003250,0.221100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-04','5008',6,0.000000,0.000000,0.060000,0.090000,0.240000,0.610000,0.006067,0.193900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-05','4715',1,0.260000,0.190000,0.210000,0.150000,0.080000,0.110000,0.074350,0.267100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-05','3906',2,0.190000,0.170000,0.130000,0.180000,0.210000,0.120000,0.002950,0.171500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-05','4248',3,0.070000,0.190000,0.250000,0.160000,0.160000,0.170000,-0.031417,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-05','3777',4,0.210000,0.180000,0.160000,0.190000,0.190000,0.070000,-0.030500,0.187000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-05','4966',5,0.080000,0.110000,0.220000,0.210000,0.210000,0.170000,-0.019550,0.161200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-05','4948',6,0.060000,0.110000,0.240000,0.120000,0.270000,0.200000,0.016600,0.190300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-06','3944',1,0.260000,0.240000,0.210000,0.130000,0.060000,0.100000,0.150600,0.366300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-06','4557',2,0.160000,0.080000,0.120000,0.120000,0.300000,0.220000,-0.004833,0.185500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-06','4171',3,0.200000,0.250000,0.190000,0.140000,0.110000,0.110000,0.012483,0.184800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-06','3211',4,0.100000,0.110000,0.200000,0.160000,0.300000,0.130000,-0.002283,0.167600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-06','3773',5,0.210000,0.130000,0.160000,0.190000,0.160000,0.150000,-0.031833,0.160800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-06','4241',6,0.110000,0.140000,0.150000,0.260000,0.200000,0.140000,-0.027083,0.176400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-07','3527',1,0.140000,0.190000,0.240000,0.200000,0.150000,0.080000,-0.013067,0.185700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-07','3224',2,0.120000,0.150000,0.260000,0.170000,0.110000,0.190000,-0.026617,0.180700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-07','4252',3,0.110000,0.110000,0.150000,0.200000,0.290000,0.140000,-0.046617,0.186300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-07','3779',4,0.380000,0.190000,0.110000,0.150000,0.080000,0.090000,-0.025650,0.118400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-07','3926',5,0.050000,0.060000,0.140000,0.280000,0.170000,0.300000,0.020050,0.203100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-07','5055',6,0.000000,0.020000,0.010000,0.020000,0.120000,0.380000,0.023182,0.183818)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-08','3349',1,0.210000,0.240000,0.180000,0.110000,0.170000,0.090000,-0.012350,0.152200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-08','4562',2,0.120000,0.170000,0.180000,0.180000,0.220000,0.130000,0.003767,0.189900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-08','4164',3,0.050000,0.140000,0.170000,0.210000,0.240000,0.190000,-0.014883,0.175200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-08','3070',4,0.300000,0.190000,0.160000,0.090000,0.120000,0.140000,-0.018883,0.146300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-08','4948',5,0.060000,0.110000,0.230000,0.120000,0.280000,0.200000,0.016533,0.189900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-08','4222',6,0.200000,0.210000,0.190000,0.140000,0.150000,0.110000,-0.001567,0.174200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-09','4096',1,0.350000,0.210000,0.100000,0.150000,0.130000,0.060000,-0.032433,0.137000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-09','3627',2,0.150000,0.140000,0.120000,0.160000,0.280000,0.150000,-0.021017,0.195300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-09','3843',3,0.170000,0.240000,0.150000,0.160000,0.150000,0.130000,-0.024833,0.155300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-09','4202',4,0.100000,0.200000,0.180000,0.210000,0.170000,0.140000,0.003283,0.181100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-09','3151',5,0.150000,0.130000,0.160000,0.170000,0.220000,0.170000,-0.035300,0.174300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-09','3777',6,0.210000,0.170000,0.160000,0.200000,0.190000,0.070000,-0.030633,0.186800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-10','4070',1,0.360000,0.190000,0.110000,0.090000,0.140000,0.110000,-0.022133,0.144900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-10','4553',2,0.200000,0.190000,0.200000,0.180000,0.170000,0.060000,0.012100,0.196200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-10','4315',3,0.150000,0.130000,0.120000,0.260000,0.150000,0.190000,0.006183,0.176600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-10','4171',4,0.200000,0.250000,0.190000,0.140000,0.110000,0.110000,0.012567,0.183500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-10','4695',5,0.060000,0.120000,0.160000,0.170000,0.190000,0.300000,0.078983,0.295200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-10','3224',6,0.120000,0.150000,0.260000,0.170000,0.110000,0.190000,-0.025633,0.181000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-11','4174',1,0.290000,0.260000,0.180000,0.140000,0.070000,0.060000,-0.039750,0.169100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-11','4004',2,0.100000,0.130000,0.150000,0.260000,0.130000,0.230000,-0.017767,0.195900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-11','3527',3,0.130000,0.200000,0.240000,0.200000,0.150000,0.080000,-0.013333,0.185200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-11','3775',4,0.130000,0.150000,0.140000,0.120000,0.240000,0.220000,0.079467,0.279900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-11','4222',5,0.200000,0.210000,0.190000,0.140000,0.150000,0.110000,-0.018917,0.173100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-11','4248',6,0.070000,0.180000,0.260000,0.160000,0.160000,0.170000,-0.031783,0.164900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-12','3779',1,0.380000,0.190000,0.110000,0.150000,0.080000,0.090000,-0.025100,0.118300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-12','3070',2,0.310000,0.180000,0.160000,0.090000,0.120000,0.140000,-0.035667,0.146600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-12','3906',3,0.190000,0.180000,0.130000,0.180000,0.200000,0.120000,0.002500,0.170900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-12','3627',4,0.150000,0.140000,0.130000,0.150000,0.280000,0.150000,-0.020417,0.195000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-12','3944',5,0.260000,0.250000,0.200000,0.130000,0.060000,0.100000,0.150733,0.366000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190429-24-12','3964',6,0.090000,0.160000,0.170000,0.260000,0.200000,0.120000,0.033267,0.215900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-01','3463',1,0.180000,0.250000,0.160000,0.180000,0.090000,0.140000,-0.031650,0.177400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-01','4615',2,0.070000,0.100000,0.170000,0.220000,0.240000,0.200000,0.011033,0.211300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-01','3517',3,0.270000,0.200000,0.130000,0.170000,0.170000,0.060000,0.072633,0.268900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-01','4086',4,0.280000,0.150000,0.190000,0.170000,0.110000,0.100000,-0.021500,0.165000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-01','4245',5,0.110000,0.210000,0.240000,0.100000,0.120000,0.220000,-0.031017,0.211200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-01','3857',6,0.040000,0.150000,0.230000,0.250000,0.150000,0.180000,-0.011950,0.166900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-02','3236',1,0.130000,0.110000,0.140000,0.160000,0.210000,0.250000,-0.011383,0.189600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-02','3313',2,0.040000,0.140000,0.130000,0.270000,0.250000,0.170000,0.002800,0.198200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-02','4568',3,0.150000,0.150000,0.210000,0.180000,0.170000,0.140000,-0.012500,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-02','4889',4,0.080000,0.090000,0.120000,0.130000,0.240000,0.340000,0.044517,0.266300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-02','4956',5,0.010000,0.010000,0.070000,0.140000,0.320000,0.450000,-0.022783,0.171800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-02','3227',6,0.270000,0.180000,0.210000,0.130000,0.100000,0.110000,-0.014317,0.163000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-03','4769',1,0.240000,0.190000,0.100000,0.210000,0.110000,0.150000,-0.071383,0.114100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-03','3377',2,0.110000,0.050000,0.180000,0.160000,0.240000,0.260000,0.017550,0.204100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-03','4863',3,0.080000,0.090000,0.230000,0.250000,0.130000,0.220000,-0.021733,0.164000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-03','3656',4,0.220000,0.190000,0.230000,0.180000,0.060000,0.120000,0.051800,0.271900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-03','3868',5,0.120000,0.180000,0.150000,0.210000,0.170000,0.170000,-0.026700,0.185100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-03','3293',6,0.080000,0.120000,0.180000,0.280000,0.140000,0.200000,0.001067,0.208400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-04','3085',1,0.080000,0.190000,0.160000,0.170000,0.220000,0.180000,0.006250,0.180200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-04','3340',2,0.060000,0.140000,0.140000,0.240000,0.250000,0.170000,0.006067,0.186000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-04','3347',3,0.220000,0.280000,0.250000,0.150000,0.070000,0.030000,-0.017000,0.165800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-04','4895',4,0.040000,0.130000,0.140000,0.220000,0.210000,0.260000,0.001150,0.175000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-04','4818',5,0.060000,0.120000,0.170000,0.200000,0.240000,0.210000,0.006600,0.200700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-04','5044',6,0.010000,0.070000,0.140000,0.130000,0.200000,0.450000,0.008833,0.191300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-05','3517',1,0.270000,0.190000,0.130000,0.170000,0.170000,0.070000,0.073233,0.268100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-05','4880',2,0.140000,0.080000,0.160000,0.170000,0.220000,0.230000,0.000333,0.168900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-05','4644',3,0.190000,0.130000,0.210000,0.230000,0.160000,0.080000,-0.004817,0.174000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-05','4921',4,0.030000,0.080000,0.070000,0.140000,0.290000,0.390000,-0.004783,0.157100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-05','4615',5,0.080000,0.100000,0.170000,0.220000,0.240000,0.190000,0.010450,0.209500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-05','4086',6,0.270000,0.150000,0.190000,0.180000,0.110000,0.100000,-0.021583,0.163300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-06','4889',1,0.080000,0.080000,0.120000,0.130000,0.240000,0.350000,0.045417,0.267300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-06','4245',2,0.110000,0.210000,0.250000,0.100000,0.110000,0.220000,-0.031267,0.208600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-06','3463',3,0.180000,0.260000,0.160000,0.180000,0.080000,0.140000,-0.031733,0.177100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-06','3313',4,0.040000,0.150000,0.130000,0.270000,0.240000,0.170000,0.002550,0.198600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-06','3857',5,0.040000,0.150000,0.230000,0.240000,0.160000,0.180000,-0.011050,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-06','4956',6,0.010000,0.010000,0.070000,0.130000,0.330000,0.450000,-0.021217,0.173200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-07','4366',1,0.360000,0.220000,0.160000,0.110000,0.050000,0.100000,-0.022483,0.163800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-07','3868',2,0.120000,0.180000,0.150000,0.210000,0.180000,0.160000,-0.026383,0.185900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-07','3293',3,0.080000,0.110000,0.180000,0.290000,0.140000,0.200000,0.001583,0.209500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-07','4568',4,0.150000,0.150000,0.210000,0.180000,0.170000,0.140000,-0.013433,0.166300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-07','3227',5,0.260000,0.180000,0.210000,0.140000,0.100000,0.110000,-0.013933,0.163900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-07','4863',6,0.080000,0.090000,0.240000,0.250000,0.120000,0.220000,-0.021600,0.164400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-08','3656',1,0.220000,0.190000,0.230000,0.180000,0.060000,0.120000,0.051950,0.271600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-08','4818',2,0.060000,0.120000,0.170000,0.200000,0.240000,0.210000,0.005200,0.198100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-08','3236',3,0.140000,0.110000,0.140000,0.160000,0.210000,0.240000,-0.013267,0.187500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-08','3377',4,0.110000,0.050000,0.180000,0.160000,0.240000,0.260000,0.017300,0.204100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-08','5044',5,0.010000,0.070000,0.150000,0.130000,0.200000,0.440000,0.009283,0.191900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-08','4895',6,0.040000,0.130000,0.140000,0.210000,0.220000,0.260000,0.001200,0.175500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-09','3347',1,0.210000,0.290000,0.250000,0.150000,0.070000,0.030000,-0.016800,0.165700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-09','4644',2,0.190000,0.130000,0.200000,0.230000,0.160000,0.090000,-0.004700,0.174200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-09','3340',3,0.060000,0.140000,0.140000,0.250000,0.250000,0.160000,0.005867,0.185600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-09','3085',4,0.090000,0.190000,0.160000,0.160000,0.220000,0.180000,0.005717,0.181100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-09','4880',5,0.140000,0.080000,0.160000,0.180000,0.220000,0.220000,0.000433,0.168900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-09','4921',6,0.040000,0.070000,0.070000,0.140000,0.290000,0.390000,-0.005200,0.155800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-10','3641',1,0.200000,0.250000,0.190000,0.160000,0.130000,0.070000,-0.023083,0.158500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-10','4053',2,0.200000,0.210000,0.170000,0.180000,0.190000,0.050000,-0.025483,0.161700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-10','3382',3,0.150000,0.120000,0.130000,0.190000,0.240000,0.170000,0.064833,0.275200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-10','4465',4,0.040000,0.150000,0.160000,0.190000,0.240000,0.220000,0.017283,0.194100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-10','3681',5,0.240000,0.220000,0.170000,0.160000,0.110000,0.100000,-0.011467,0.150100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-10','4083',6,0.240000,0.240000,0.160000,0.130000,0.130000,0.100000,0.005567,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-11','3590',1,0.260000,0.200000,0.170000,0.150000,0.110000,0.110000,-0.012667,0.133300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-11','4075',2,0.320000,0.210000,0.160000,0.120000,0.110000,0.080000,-0.036933,0.157800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-11','3826',3,0.270000,0.250000,0.210000,0.140000,0.100000,0.030000,-0.028900,0.177500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-11','4152',4,0.170000,0.220000,0.180000,0.160000,0.160000,0.110000,0.008750,0.189900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-11','4847',5,0.260000,0.210000,0.130000,0.110000,0.180000,0.110000,-0.001717,0.158500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-11','4769',6,0.250000,0.180000,0.100000,0.210000,0.110000,0.150000,-0.071433,0.115000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-12','3256',1,0.330000,0.270000,0.110000,0.130000,0.140000,0.020000,-0.020233,0.134700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-12','3488',2,0.190000,0.170000,0.190000,0.160000,0.200000,0.090000,-0.032750,0.144800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-12','3613',3,0.280000,0.180000,0.150000,0.190000,0.110000,0.090000,-0.007983,0.146100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-12','4266',4,0.260000,0.170000,0.170000,0.160000,0.080000,0.160000,-0.001967,0.147300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-12','4460',5,0.320000,0.240000,0.200000,0.100000,0.090000,0.050000,-0.070900,0.134400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-05-12','4366',6,0.360000,0.220000,0.160000,0.110000,0.050000,0.100000,-0.022417,0.163700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-01','4307',1,0.050000,0.070000,0.120000,0.210000,0.280000,0.270000,0.009950,0.184000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-01','4982',2,0.030000,0.090000,0.120000,0.180000,0.250000,0.330000,-0.021650,0.166200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-01','3831',3,0.200000,0.130000,0.130000,0.200000,0.200000,0.140000,-0.011700,0.150500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-01','4979',4,0.040000,0.090000,0.200000,0.120000,0.280000,0.270000,-0.006133,0.173300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-01','4681',5,0.090000,0.160000,0.110000,0.120000,0.170000,0.350000,0.089567,0.282300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-01','3276',6,0.080000,0.080000,0.080000,0.130000,0.300000,0.330000,0.021483,0.213600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-02','3519',1,0.120000,0.200000,0.160000,0.180000,0.210000,0.130000,-0.025450,0.179900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-02','4663',2,0.100000,0.170000,0.220000,0.190000,0.200000,0.120000,0.090700,0.293700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-02','4960',3,0.190000,0.180000,0.220000,0.150000,0.150000,0.110000,-0.015467,0.166100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-02','3637',4,0.100000,0.140000,0.130000,0.240000,0.180000,0.210000,0.013683,0.191000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-02','4176',5,0.100000,0.150000,0.210000,0.110000,0.190000,0.240000,-0.007650,0.159800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-02','4665',6,0.060000,0.100000,0.150000,0.250000,0.200000,0.240000,-0.011950,0.158500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-03','4162',1,0.130000,0.120000,0.140000,0.240000,0.180000,0.190000,-0.002267,0.157600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-03','4365',2,0.110000,0.170000,0.170000,0.240000,0.120000,0.190000,0.012583,0.188300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-03','4409',3,0.210000,0.230000,0.130000,0.200000,0.080000,0.150000,0.002183,0.157300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-03','4118',4,0.220000,0.130000,0.210000,0.180000,0.060000,0.200000,-0.060483,0.154000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-03','3867',5,0.040000,0.090000,0.200000,0.230000,0.240000,0.200000,0.049450,0.268000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-03','5068',6,0.010000,0.060000,0.110000,0.050000,0.280000,0.260000,0.006515,0.182727)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-04','3885',1,0.160000,0.110000,0.200000,0.170000,0.190000,0.170000,-0.014900,0.183600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-04','3455',2,0.170000,0.210000,0.230000,0.210000,0.130000,0.050000,-0.022767,0.170000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-04','3713',3,0.200000,0.150000,0.190000,0.200000,0.170000,0.090000,-0.038933,0.135200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-04','4910',4,0.230000,0.210000,0.180000,0.120000,0.140000,0.120000,-0.086333,0.145000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-04','4293',5,0.100000,0.090000,0.150000,0.230000,0.270000,0.160000,-0.006367,0.186700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-04','4062',6,0.120000,0.180000,0.100000,0.180000,0.160000,0.260000,-0.003967,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-05','3895',1,0.100000,0.230000,0.180000,0.130000,0.220000,0.140000,-0.001083,0.174200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-05','3690',2,0.100000,0.240000,0.270000,0.140000,0.100000,0.150000,-0.053383,0.174600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-05','4492',3,0.230000,0.190000,0.220000,0.160000,0.100000,0.100000,-0.033317,0.139200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-05','4084',4,0.250000,0.160000,0.190000,0.160000,0.110000,0.130000,0.006967,0.173600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-05','3831',5,0.200000,0.130000,0.130000,0.200000,0.200000,0.140000,-0.012367,0.151000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-05','5049',6,0.010000,0.010000,0.040000,0.020000,0.220000,0.340000,-0.003984,0.158594)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-06','4593',1,0.200000,0.150000,0.120000,0.140000,0.170000,0.220000,0.074833,0.258000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-06','4307',2,0.060000,0.070000,0.110000,0.210000,0.280000,0.270000,0.008850,0.183800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-06','3988',3,0.250000,0.240000,0.150000,0.200000,0.090000,0.070000,-0.020700,0.164600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-06','3867',4,0.040000,0.090000,0.200000,0.220000,0.240000,0.210000,0.048450,0.268400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-06','4016',5,0.200000,0.200000,0.180000,0.220000,0.100000,0.100000,0.051800,0.253600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-06','3637',6,0.100000,0.140000,0.120000,0.250000,0.180000,0.210000,0.013783,0.191800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-07','4706',1,0.150000,0.170000,0.150000,0.240000,0.130000,0.160000,0.002433,0.167700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-07','4176',2,0.100000,0.150000,0.210000,0.110000,0.190000,0.240000,-0.007850,0.160800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-07','4062',3,0.120000,0.180000,0.100000,0.170000,0.160000,0.270000,-0.003017,0.175900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-07','4483',4,0.230000,0.210000,0.210000,0.170000,0.090000,0.090000,-0.015100,0.138700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-07','4118',5,0.230000,0.130000,0.210000,0.170000,0.060000,0.200000,-0.060917,0.154500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-07','4979',6,0.040000,0.090000,0.200000,0.110000,0.290000,0.270000,-0.004267,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-08','4199',1,0.140000,0.230000,0.150000,0.200000,0.200000,0.080000,0.003717,0.189000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-08','4960',2,0.190000,0.180000,0.220000,0.150000,0.150000,0.110000,-0.016367,0.166700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-08','4681',3,0.090000,0.150000,0.120000,0.120000,0.170000,0.350000,0.088300,0.283000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-08','5068',4,0.010000,0.060000,0.120000,0.050000,0.280000,0.260000,0.005513,0.181795)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-08','3713',5,0.200000,0.160000,0.190000,0.200000,0.160000,0.090000,-0.039000,0.134700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-08','4084',6,0.250000,0.160000,0.190000,0.160000,0.110000,0.130000,0.007100,0.174600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-09','4016',1,0.190000,0.200000,0.180000,0.220000,0.100000,0.110000,0.052033,0.252900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-09','4293',2,0.100000,0.090000,0.160000,0.220000,0.270000,0.160000,-0.005783,0.187500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-09','3690',3,0.100000,0.230000,0.270000,0.140000,0.110000,0.150000,-0.053317,0.176000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-09','4409',4,0.210000,0.230000,0.130000,0.200000,0.080000,0.150000,0.002567,0.157200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-09','3519',5,0.120000,0.210000,0.160000,0.170000,0.210000,0.130000,-0.025750,0.180400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-09','4982',6,0.030000,0.100000,0.120000,0.180000,0.250000,0.320000,-0.022183,0.166700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-10','3455',1,0.170000,0.210000,0.220000,0.210000,0.140000,0.050000,-0.023367,0.168300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-10','4162',2,0.130000,0.120000,0.140000,0.230000,0.190000,0.190000,-0.001617,0.158400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-10','4663',3,0.110000,0.170000,0.220000,0.190000,0.190000,0.120000,0.090200,0.293600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-10','4593',4,0.190000,0.160000,0.120000,0.140000,0.170000,0.220000,0.075383,0.257900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-10','4706',5,0.150000,0.170000,0.160000,0.240000,0.130000,0.150000,0.002750,0.168100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-10','3895',6,0.110000,0.230000,0.180000,0.130000,0.210000,0.140000,-0.001333,0.174600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-11','4492',1,0.220000,0.200000,0.220000,0.160000,0.100000,0.100000,-0.033283,0.140200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-11','4199',2,0.140000,0.230000,0.150000,0.200000,0.200000,0.080000,0.003967,0.188300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-11','4483',3,0.230000,0.210000,0.210000,0.160000,0.100000,0.090000,-0.015567,0.139000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-11','4365',4,0.110000,0.170000,0.170000,0.240000,0.120000,0.190000,0.011650,0.187600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-11','3988',5,0.250000,0.240000,0.150000,0.200000,0.090000,0.070000,-0.020917,0.163800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-11','3885',6,0.160000,0.110000,0.200000,0.170000,0.190000,0.170000,-0.015367,0.182300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-12','4903',1,0.270000,0.240000,0.190000,0.120000,0.110000,0.070000,-0.020567,0.145200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-12','4369',2,0.260000,0.180000,0.130000,0.130000,0.120000,0.180000,-0.008367,0.170100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-12','4080',3,0.260000,0.230000,0.200000,0.080000,0.170000,0.060000,-0.023767,0.133600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-12','3946',4,0.270000,0.220000,0.130000,0.140000,0.120000,0.120000,-0.024550,0.144800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-12','4308',5,0.190000,0.170000,0.220000,0.180000,0.110000,0.130000,0.068967,0.244500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-07-12','4337',6,0.350000,0.230000,0.180000,0.070000,0.050000,0.120000,-0.006150,0.145500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-01','4808',1,0.220000,0.170000,0.220000,0.080000,0.160000,0.150000,-0.018400,0.152900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-01','3718',2,0.090000,0.190000,0.250000,0.170000,0.190000,0.110000,-0.002233,0.177500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-01','3605',3,0.110000,0.150000,0.200000,0.180000,0.200000,0.160000,0.029433,0.295600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-01','3482',4,0.070000,0.150000,0.140000,0.240000,0.200000,0.200000,-0.012150,0.186600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-01','3644',5,0.080000,0.110000,0.200000,0.200000,0.230000,0.180000,-0.027517,0.191800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-01','5033',6,0.010000,0.000000,0.030000,0.080000,0.170000,0.710000,0.008300,0.186900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-02','4181',1,0.070000,0.140000,0.140000,0.270000,0.220000,0.160000,-0.029450,0.200000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-02','4261',2,0.290000,0.200000,0.200000,0.140000,0.090000,0.080000,-0.008500,0.176800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-02','4618',3,0.120000,0.150000,0.230000,0.180000,0.120000,0.200000,-0.001300,0.184700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-02','3268',4,0.260000,0.260000,0.140000,0.100000,0.130000,0.110000,-0.017483,0.172800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-02','4509',5,0.150000,0.190000,0.230000,0.220000,0.140000,0.070000,-0.017683,0.193300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-02','3852',6,0.180000,0.080000,0.220000,0.180000,0.150000,0.190000,-0.042833,0.137400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-03','3220',1,0.190000,0.110000,0.250000,0.200000,0.090000,0.160000,0.005950,0.187300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-03','3842',2,0.230000,0.200000,0.200000,0.190000,0.110000,0.070000,-0.021617,0.178200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-03','4049',3,0.180000,0.150000,0.330000,0.120000,0.130000,0.090000,-0.043467,0.191000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-03','4570',4,0.170000,0.170000,0.230000,0.190000,0.100000,0.140000,-0.026883,0.155100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-03','4887',5,0.110000,0.160000,0.140000,0.150000,0.180000,0.260000,-0.000350,0.177600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-03','4999',6,0.010000,0.000000,0.000000,0.040000,0.190000,0.760000,0.023733,0.195400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-04','4752',1,0.080000,0.120000,0.190000,0.200000,0.180000,0.230000,-0.006000,0.160500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-04','3536',2,0.100000,0.150000,0.170000,0.230000,0.210000,0.140000,0.004200,0.198700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-04','4376',3,0.200000,0.170000,0.230000,0.180000,0.140000,0.080000,-0.017933,0.167600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-04','3392',4,0.060000,0.130000,0.210000,0.160000,0.280000,0.160000,0.027467,0.215000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-04','4466',5,0.170000,0.170000,0.270000,0.170000,0.100000,0.120000,0.182633,0.481400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-04','4559',6,0.260000,0.150000,0.260000,0.150000,0.110000,0.070000,0.077700,0.278200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-05','4043',1,0.230000,0.230000,0.190000,0.160000,0.110000,0.080000,0.042333,0.267900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-05','3533',2,0.140000,0.190000,0.230000,0.220000,0.120000,0.100000,0.169467,0.382100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-05','3808',3,0.080000,0.120000,0.170000,0.200000,0.260000,0.170000,-0.030650,0.152500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-05','3823',4,0.090000,0.150000,0.180000,0.210000,0.150000,0.220000,-0.003067,0.195700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-05','5033',5,0.010000,0.000000,0.030000,0.090000,0.170000,0.700000,0.008283,0.187300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-05','4623',6,0.060000,0.090000,0.150000,0.210000,0.270000,0.220000,-0.017200,0.198600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-06','3987',1,0.170000,0.160000,0.150000,0.170000,0.120000,0.230000,-0.021850,0.167400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-06','3482',2,0.070000,0.160000,0.140000,0.240000,0.200000,0.190000,-0.011467,0.187400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-06','4579',3,0.180000,0.200000,0.170000,0.170000,0.120000,0.160000,-0.017917,0.137900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-06','4824',4,0.160000,0.260000,0.210000,0.150000,0.150000,0.070000,-0.021133,0.152000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-06','4962',5,0.030000,0.140000,0.180000,0.180000,0.180000,0.290000,-0.031700,0.209000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-06','4618',6,0.120000,0.150000,0.240000,0.180000,0.120000,0.190000,-0.001700,0.184600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-07','3353',1,0.130000,0.180000,0.090000,0.280000,0.160000,0.160000,-0.017267,0.171400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-07','4159',2,0.210000,0.190000,0.280000,0.090000,0.140000,0.090000,-0.008833,0.157400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-07','4344',3,0.300000,0.260000,0.120000,0.170000,0.080000,0.070000,-0.021800,0.147600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-07','4261',4,0.290000,0.200000,0.200000,0.140000,0.090000,0.080000,-0.008817,0.176900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-07','4754',5,0.170000,0.200000,0.250000,0.170000,0.110000,0.100000,-0.030600,0.148900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-07','3605',6,0.110000,0.150000,0.190000,0.180000,0.200000,0.170000,0.029400,0.296700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-08','3536',1,0.100000,0.160000,0.170000,0.220000,0.210000,0.140000,0.003800,0.196900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-08','4024',2,0.310000,0.240000,0.190000,0.150000,0.090000,0.020000,0.004117,0.149600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-08','4181',3,0.070000,0.150000,0.140000,0.260000,0.220000,0.160000,-0.029833,0.199000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-08','4491',4,0.120000,0.150000,0.200000,0.170000,0.210000,0.150000,0.006417,0.192000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-08','4358',5,0.130000,0.100000,0.180000,0.130000,0.210000,0.250000,0.018033,0.228600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-08','4887',6,0.110000,0.160000,0.140000,0.150000,0.190000,0.250000,0.000350,0.178100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-09','3842',1,0.240000,0.200000,0.190000,0.190000,0.110000,0.070000,-0.022300,0.177200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-09','4043',2,0.240000,0.230000,0.190000,0.160000,0.110000,0.070000,0.042650,0.268300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-09','4856',3,0.260000,0.170000,0.220000,0.100000,0.140000,0.110000,-0.050067,0.143100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-09','4509',4,0.150000,0.190000,0.230000,0.210000,0.150000,0.070000,-0.017600,0.192400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-09','4376',5,0.200000,0.170000,0.220000,0.180000,0.140000,0.090000,-0.018083,0.167400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-09','3922',6,0.120000,0.170000,0.100000,0.110000,0.230000,0.270000,0.096133,0.297000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-10','3268',1,0.260000,0.250000,0.140000,0.110000,0.130000,0.110000,-0.017667,0.172400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-10','3808',2,0.080000,0.120000,0.160000,0.200000,0.270000,0.170000,-0.031150,0.150200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-10','4559',3,0.260000,0.150000,0.260000,0.150000,0.110000,0.070000,0.076150,0.275300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-10','3718',4,0.090000,0.190000,0.260000,0.170000,0.180000,0.110000,-0.002500,0.177000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-10','3984',5,0.380000,0.130000,0.180000,0.090000,0.100000,0.120000,0.021483,0.267000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-10','4570',6,0.170000,0.170000,0.240000,0.190000,0.100000,0.130000,-0.027683,0.153800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-11','4049',1,0.180000,0.150000,0.330000,0.130000,0.130000,0.080000,-0.044083,0.189200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-11','4066',2,0.200000,0.290000,0.220000,0.100000,0.080000,0.110000,-0.018017,0.168400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-11','4466',3,0.170000,0.170000,0.260000,0.170000,0.110000,0.120000,0.183183,0.481800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-11','4754',4,0.170000,0.200000,0.240000,0.180000,0.110000,0.100000,-0.029883,0.149700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-11','3823',5,0.090000,0.160000,0.180000,0.200000,0.150000,0.220000,-0.002833,0.196300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-11','4824',6,0.160000,0.250000,0.220000,0.150000,0.150000,0.070000,-0.019683,0.152600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-12','4024',1,0.320000,0.240000,0.190000,0.150000,0.090000,0.010000,0.004600,0.150000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-12','4344',2,0.310000,0.250000,0.120000,0.170000,0.080000,0.070000,-0.023467,0.146000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-12','4227',3,0.310000,0.130000,0.190000,0.100000,0.130000,0.140000,0.067317,0.250600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-12','4808',4,0.230000,0.170000,0.210000,0.080000,0.160000,0.150000,-0.017950,0.154100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-12','4579',5,0.180000,0.210000,0.170000,0.170000,0.120000,0.150000,-0.018667,0.137200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-09-12','4796',6,0.230000,0.190000,0.200000,0.150000,0.140000,0.090000,-0.009133,0.160300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-01','4678',1,0.140000,0.180000,0.200000,0.180000,0.130000,0.170000,0.008517,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-01','4243',2,0.130000,0.230000,0.150000,0.210000,0.160000,0.120000,-0.043550,0.161000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-01','4338',3,0.060000,0.100000,0.070000,0.100000,0.300000,0.370000,0.006567,0.180800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-01','4240',4,0.110000,0.130000,0.100000,0.120000,0.190000,0.350000,-0.046117,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-01','5021',5,0.000000,0.000000,0.010000,0.040000,0.190000,0.760000,0.014383,0.213600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-01','4901',6,0.150000,0.110000,0.220000,0.170000,0.190000,0.160000,-0.031483,0.153300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-02','4964',1,0.140000,0.130000,0.190000,0.190000,0.190000,0.160000,-0.015550,0.149000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-02','4225',2,0.200000,0.210000,0.150000,0.190000,0.100000,0.150000,-0.027583,0.150900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-02','3469',3,0.060000,0.070000,0.240000,0.180000,0.230000,0.220000,-0.028850,0.199100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-02','4373',4,0.160000,0.220000,0.200000,0.160000,0.140000,0.120000,0.005450,0.179500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-02','5045',5,0.000000,0.010000,0.080000,0.120000,0.210000,0.580000,0.105683,0.337200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-02','3302',6,0.230000,0.150000,0.150000,0.190000,0.190000,0.090000,0.175667,0.382800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-03','4924',1,0.060000,0.070000,0.110000,0.310000,0.230000,0.220000,-0.033767,0.156000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-03','4844',2,0.110000,0.180000,0.130000,0.200000,0.230000,0.150000,-0.021083,0.196500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-03','3845',3,0.210000,0.260000,0.230000,0.110000,0.090000,0.100000,0.007000,0.166900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-03','4399',4,0.350000,0.170000,0.160000,0.100000,0.100000,0.120000,0.001233,0.155700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-03','4974',5,0.070000,0.040000,0.170000,0.180000,0.260000,0.280000,0.013650,0.206700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-03','4065',6,0.290000,0.140000,0.140000,0.130000,0.130000,0.170000,-0.016167,0.171600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-04','3474',1,0.150000,0.230000,0.130000,0.210000,0.150000,0.130000,-0.048550,0.183400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-04','4897',2,0.040000,0.100000,0.140000,0.230000,0.250000,0.240000,0.085533,0.318400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-04','4501',3,0.210000,0.190000,0.230000,0.120000,0.140000,0.110000,-0.008683,0.160700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-04','3175',4,0.060000,0.230000,0.290000,0.190000,0.150000,0.080000,-0.029967,0.157300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-04','3580',5,0.110000,0.130000,0.230000,0.190000,0.210000,0.130000,0.156983,0.375000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-04','3618',6,0.190000,0.240000,0.210000,0.170000,0.110000,0.080000,0.004350,0.186200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-05','3232',1,0.280000,0.220000,0.110000,0.160000,0.100000,0.130000,-0.043150,0.127800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-05','3994',2,0.140000,0.160000,0.230000,0.200000,0.150000,0.120000,0.013017,0.199700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-05','4929',3,0.000000,0.070000,0.090000,0.100000,0.290000,0.450000,-0.001650,0.206200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-05','5021',4,0.000000,0.000000,0.010000,0.030000,0.190000,0.770000,0.013817,0.211600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-05','3932',5,0.130000,0.130000,0.180000,0.070000,0.170000,0.320000,-0.006667,0.174300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-05','4993',6,0.010000,0.020000,0.030000,0.010000,0.220000,0.710000,0.007967,0.201300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-06','3469',1,0.050000,0.070000,0.250000,0.180000,0.230000,0.220000,-0.028883,0.199900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-06','3999',2,0.200000,0.190000,0.230000,0.150000,0.160000,0.070000,0.159933,0.362600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-06','2983',3,0.060000,0.090000,0.190000,0.180000,0.250000,0.230000,-0.011400,0.178800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-06','4190',4,0.270000,0.190000,0.170000,0.190000,0.110000,0.070000,-0.018483,0.153900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-06','4530',5,0.390000,0.210000,0.160000,0.130000,0.070000,0.040000,-0.024850,0.147400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-06','4941',6,0.030000,0.130000,0.220000,0.210000,0.220000,0.190000,0.001917,0.180000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-07','4045',1,0.210000,0.190000,0.180000,0.090000,0.150000,0.180000,0.060667,0.266800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-07','4240',2,0.110000,0.130000,0.110000,0.120000,0.180000,0.350000,-0.047183,0.160100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-07','4870',3,0.140000,0.140000,0.190000,0.210000,0.120000,0.200000,0.046517,0.248800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-07','4990',4,0.010000,0.000000,0.020000,0.050000,0.310000,0.610000,0.032150,0.214600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-07','4399',5,0.340000,0.180000,0.160000,0.100000,0.100000,0.120000,0.001333,0.157500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-07','3900',6,0.250000,0.170000,0.180000,0.110000,0.170000,0.120000,-0.042733,0.161800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-08','4501',1,0.210000,0.190000,0.230000,0.120000,0.140000,0.110000,-0.008967,0.160400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-08','4678',2,0.150000,0.180000,0.190000,0.180000,0.130000,0.170000,0.009633,0.180900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-08','4775',3,0.070000,0.160000,0.190000,0.160000,0.210000,0.210000,0.141433,0.391700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-08','4744',4,0.020000,0.080000,0.200000,0.240000,0.250000,0.210000,0.087150,0.278300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-08','3845',5,0.210000,0.260000,0.240000,0.110000,0.090000,0.090000,0.007850,0.170200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-08','5003',6,0.020000,0.000000,0.060000,0.090000,0.250000,0.580000,0.033550,0.222200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-09','4974',1,0.070000,0.040000,0.170000,0.180000,0.260000,0.280000,0.013500,0.208000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-09','4443',2,0.130000,0.180000,0.180000,0.170000,0.160000,0.180000,0.010117,0.182000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-09','4243',3,0.130000,0.230000,0.150000,0.210000,0.160000,0.120000,-0.044350,0.159600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-09','3474',4,0.150000,0.230000,0.140000,0.200000,0.150000,0.130000,-0.047333,0.184500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-09','4183',5,0.340000,0.140000,0.100000,0.120000,0.090000,0.210000,-0.028717,0.133600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-09','4225',6,0.200000,0.210000,0.140000,0.200000,0.100000,0.150000,-0.027900,0.152200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-10','3932',1,0.120000,0.130000,0.190000,0.070000,0.170000,0.320000,-0.006300,0.175100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-10','3618',2,0.190000,0.240000,0.200000,0.170000,0.120000,0.080000,0.004550,0.187300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-10','4901',3,0.150000,0.110000,0.210000,0.180000,0.190000,0.160000,-0.031267,0.152800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-10','3900',4,0.250000,0.170000,0.190000,0.110000,0.170000,0.110000,-0.043167,0.161900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-10','3999',5,0.210000,0.190000,0.230000,0.150000,0.150000,0.070000,0.159467,0.362100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-10','5045',6,0.000000,0.010000,0.070000,0.120000,0.220000,0.580000,0.106500,0.339700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-11','4373',1,0.160000,0.230000,0.190000,0.160000,0.140000,0.120000,0.006217,0.181800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-11','3232',2,0.280000,0.230000,0.100000,0.160000,0.100000,0.130000,-0.043583,0.127800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-11','4530',3,0.390000,0.210000,0.160000,0.130000,0.070000,0.040000,-0.024417,0.147800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-11','4065',4,0.280000,0.140000,0.140000,0.130000,0.130000,0.180000,-0.015650,0.173200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-11','3175',5,0.060000,0.240000,0.290000,0.190000,0.140000,0.080000,-0.030017,0.157900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-11','4744',6,0.030000,0.080000,0.200000,0.240000,0.240000,0.210000,0.087800,0.279800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-12','4190',1,0.270000,0.190000,0.170000,0.200000,0.100000,0.070000,-0.018467,0.154200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-12','3302',2,0.220000,0.150000,0.150000,0.190000,0.190000,0.100000,0.175433,0.384100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-12','3580',3,0.110000,0.130000,0.230000,0.200000,0.200000,0.130000,0.156883,0.374900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-12','4183',4,0.340000,0.140000,0.100000,0.120000,0.100000,0.200000,-0.028733,0.134200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-12','4844',5,0.110000,0.180000,0.130000,0.200000,0.230000,0.150000,-0.021200,0.197300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-11-12','3994',6,0.140000,0.160000,0.230000,0.200000,0.150000,0.120000,0.012950,0.199500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-01','4735',1,0.140000,0.120000,0.200000,0.220000,0.140000,0.180000,-0.037767,0.148200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-01','4800',2,0.010000,0.090000,0.130000,0.210000,0.280000,0.280000,0.081233,0.283400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-01','4356',3,0.270000,0.100000,0.150000,0.200000,0.160000,0.120000,0.071400,0.278500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-01','4630',4,0.200000,0.160000,0.230000,0.150000,0.130000,0.130000,-0.004317,0.160800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-01','5050',5,0.000000,0.000000,0.000000,0.060000,0.090000,0.380000,0.022830,0.201132)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-01','3781',6,0.090000,0.120000,0.140000,0.160000,0.200000,0.290000,-0.032683,0.158600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-02','4182',1,0.090000,0.130000,0.200000,0.220000,0.210000,0.150000,-0.020733,0.195400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-02','3577',2,0.240000,0.150000,0.270000,0.160000,0.120000,0.060000,-0.022017,0.142900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-02','3612',3,0.260000,0.280000,0.110000,0.090000,0.120000,0.140000,-0.014533,0.143500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-02','3820',4,0.070000,0.170000,0.140000,0.230000,0.260000,0.130000,0.072883,0.283200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-02','4035',5,0.110000,0.150000,0.170000,0.090000,0.140000,0.340000,0.000900,0.195900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-02','3893',6,0.110000,0.210000,0.240000,0.180000,0.110000,0.150000,0.072000,0.263200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-03','4339',1,0.110000,0.130000,0.100000,0.140000,0.230000,0.290000,0.091967,0.283100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-03','4055',2,0.310000,0.220000,0.200000,0.100000,0.100000,0.070000,-0.024950,0.148800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-03','4761',3,0.110000,0.200000,0.140000,0.170000,0.120000,0.260000,-0.017500,0.152000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-03','3484',4,0.400000,0.210000,0.150000,0.110000,0.110000,0.020000,-0.016333,0.148900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-03','3761',5,0.220000,0.200000,0.220000,0.090000,0.140000,0.130000,-0.018967,0.147400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-03','3881',6,0.150000,0.140000,0.250000,0.180000,0.180000,0.100000,-0.009150,0.165100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-04','4375',1,0.190000,0.190000,0.170000,0.200000,0.120000,0.130000,-0.009767,0.181200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-04','4025',2,0.240000,0.220000,0.200000,0.110000,0.150000,0.080000,0.007167,0.184200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-04','4290',3,0.270000,0.260000,0.190000,0.100000,0.060000,0.120000,-0.046600,0.122500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-04','3122',4,0.090000,0.160000,0.100000,0.150000,0.220000,0.280000,-0.001517,0.166300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-04','3246',5,0.100000,0.180000,0.210000,0.170000,0.220000,0.120000,0.007067,0.179100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-04','3346',6,0.150000,0.260000,0.100000,0.190000,0.150000,0.150000,-0.026283,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-05','3507',1,0.080000,0.210000,0.200000,0.230000,0.180000,0.100000,0.084833,0.280300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-05','4857',2,0.150000,0.160000,0.200000,0.160000,0.100000,0.230000,0.030833,0.210200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-05','4594',3,0.290000,0.200000,0.130000,0.140000,0.130000,0.110000,-0.028317,0.157500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-05','4986',4,0.000000,0.000000,0.000000,0.030000,0.130000,0.840000,0.013400,0.195600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-05','3854',5,0.390000,0.200000,0.240000,0.060000,0.070000,0.040000,-0.016083,0.142200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-05','4543',6,0.290000,0.170000,0.200000,0.160000,0.060000,0.120000,-0.014517,0.159100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-06','3529',1,0.240000,0.210000,0.190000,0.210000,0.100000,0.050000,-0.002483,0.163700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-06','4917',2,0.060000,0.080000,0.110000,0.130000,0.270000,0.350000,0.000833,0.169700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-06','4630',3,0.200000,0.170000,0.230000,0.150000,0.120000,0.130000,-0.005467,0.159100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-06','3828',4,0.200000,0.210000,0.210000,0.150000,0.110000,0.120000,0.147267,0.372500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-06','5016',5,0.000000,0.010000,0.020000,0.090000,0.250000,0.630000,0.092250,0.277500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-06','3820',6,0.070000,0.160000,0.140000,0.230000,0.270000,0.130000,0.073167,0.283400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-07','4035',1,0.120000,0.140000,0.170000,0.090000,0.140000,0.340000,0.000600,0.195300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-07','4057',2,0.190000,0.200000,0.210000,0.170000,0.130000,0.100000,-0.009283,0.156500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-07','3761',3,0.210000,0.200000,0.220000,0.100000,0.140000,0.130000,-0.016717,0.150000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-07','4167',4,0.080000,0.160000,0.180000,0.220000,0.240000,0.120000,-0.067383,0.139900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-07','3780',5,0.250000,0.220000,0.180000,0.180000,0.100000,0.070000,0.015467,0.168500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-07','3108',6,0.040000,0.100000,0.140000,0.270000,0.220000,0.230000,-0.035683,0.179500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-08','3572',1,0.250000,0.180000,0.210000,0.160000,0.110000,0.090000,0.013167,0.192800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-08','4002',2,0.380000,0.140000,0.160000,0.140000,0.150000,0.030000,-0.022583,0.153900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-08','4182',3,0.090000,0.120000,0.200000,0.230000,0.210000,0.150000,-0.020933,0.194300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-08','3346',4,0.150000,0.260000,0.100000,0.190000,0.140000,0.160000,-0.026217,0.165000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-08','4761',5,0.100000,0.200000,0.140000,0.170000,0.130000,0.260000,-0.017033,0.152500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-08','4105',6,0.120000,0.210000,0.220000,0.150000,0.130000,0.170000,0.022933,0.211900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-09','3612',1,0.260000,0.290000,0.110000,0.090000,0.110000,0.140000,-0.014333,0.143300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-09','3881',2,0.160000,0.140000,0.250000,0.180000,0.180000,0.090000,-0.009667,0.165000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-09','4472',3,0.240000,0.190000,0.260000,0.120000,0.110000,0.080000,-0.019733,0.160200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-09','4857',4,0.150000,0.160000,0.200000,0.160000,0.110000,0.220000,0.031333,0.210800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-09','4025',5,0.240000,0.220000,0.190000,0.120000,0.150000,0.080000,0.007883,0.185400)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-09','4654',6,0.100000,0.150000,0.180000,0.200000,0.160000,0.210000,-0.022567,0.188600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-10','3484',1,0.390000,0.210000,0.160000,0.110000,0.110000,0.020000,-0.016067,0.148900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-10','4278',2,0.270000,0.150000,0.240000,0.200000,0.110000,0.030000,-0.074867,0.129900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-10','3893',3,0.110000,0.200000,0.240000,0.180000,0.110000,0.160000,0.072650,0.264400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-10','4388',4,0.270000,0.220000,0.190000,0.100000,0.170000,0.050000,-0.001317,0.174600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-10','4375',5,0.190000,0.190000,0.170000,0.200000,0.120000,0.130000,-0.009533,0.181500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-10','4594',6,0.290000,0.210000,0.130000,0.140000,0.120000,0.110000,-0.028683,0.156100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-11','3780',1,0.250000,0.230000,0.180000,0.170000,0.100000,0.070000,0.015733,0.168600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-11','3795',2,0.150000,0.100000,0.190000,0.170000,0.220000,0.170000,0.003933,0.180600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-11','3507',3,0.090000,0.210000,0.190000,0.230000,0.180000,0.100000,0.084150,0.280800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-11','4356',4,0.260000,0.100000,0.160000,0.200000,0.160000,0.120000,0.071700,0.277800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-11','3529',5,0.240000,0.210000,0.190000,0.210000,0.100000,0.050000,-0.004133,0.163100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-11','4055',6,0.310000,0.230000,0.190000,0.100000,0.100000,0.070000,-0.025517,0.148000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-12','3854',1,0.390000,0.200000,0.240000,0.060000,0.070000,0.040000,-0.016450,0.142200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-12','4105',2,0.120000,0.210000,0.230000,0.150000,0.120000,0.170000,0.023233,0.211900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-12','3903',3,0.310000,0.320000,0.130000,0.120000,0.050000,0.070000,-0.047967,0.128600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-12','4057',4,0.190000,0.200000,0.220000,0.170000,0.130000,0.090000,-0.009217,0.157100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-12','4290',5,0.270000,0.260000,0.190000,0.100000,0.060000,0.120000,-0.046983,0.122200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-13-12','3577',6,0.240000,0.140000,0.280000,0.160000,0.120000,0.060000,-0.021650,0.142700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-01','4732',1,0.240000,0.190000,0.200000,0.170000,0.120000,0.080000,-0.026033,0.126300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-01','3535',2,0.120000,0.120000,0.150000,0.210000,0.220000,0.180000,-0.012450,0.202400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-01','3361',3,0.070000,0.130000,0.270000,0.240000,0.200000,0.090000,0.003433,0.176600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-01','3281',4,0.030000,0.080000,0.200000,0.150000,0.290000,0.250000,0.125100,0.339100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-01','4390',5,0.100000,0.140000,0.120000,0.260000,0.220000,0.160000,-0.020900,0.170300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-01','5025',6,0.000000,0.000000,0.020000,0.030000,0.140000,0.810000,-0.003383,0.164600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-02','4832',1,0.190000,0.260000,0.220000,0.140000,0.150000,0.040000,-0.003517,0.160600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-02','3521',2,0.020000,0.110000,0.180000,0.220000,0.180000,0.290000,0.010500,0.179300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-02','4782',3,0.140000,0.120000,0.200000,0.160000,0.190000,0.190000,-0.005100,0.162300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-02','3884',4,0.110000,0.120000,0.220000,0.190000,0.250000,0.110000,0.003533,0.168300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-02','4063',5,0.340000,0.220000,0.150000,0.130000,0.120000,0.040000,-0.013233,0.128800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-02','4812',6,0.320000,0.170000,0.150000,0.150000,0.100000,0.110000,-0.015450,0.139800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-03','4826',1,0.270000,0.220000,0.140000,0.100000,0.160000,0.110000,-0.039467,0.159200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-03','4116',2,0.150000,0.180000,0.210000,0.210000,0.170000,0.080000,0.035733,0.271400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-03','4359',3,0.220000,0.150000,0.190000,0.170000,0.160000,0.110000,-0.040650,0.143700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-03','4636',4,0.170000,0.110000,0.110000,0.160000,0.210000,0.240000,0.013233,0.182900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-03','3587',5,0.180000,0.130000,0.170000,0.190000,0.150000,0.180000,-0.045617,0.159800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-03','4701',6,0.030000,0.080000,0.150000,0.270000,0.230000,0.240000,-0.037517,0.162700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-04','4839',1,0.170000,0.200000,0.190000,0.140000,0.160000,0.140000,-0.022200,0.139900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-04','4180',2,0.130000,0.160000,0.160000,0.200000,0.150000,0.200000,-0.031400,0.172800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-04','4449',3,0.080000,0.140000,0.130000,0.200000,0.200000,0.250000,-0.020200,0.175600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-04','4757',4,0.430000,0.190000,0.150000,0.060000,0.040000,0.130000,-0.040283,0.128500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-04','3743',5,0.300000,0.240000,0.160000,0.110000,0.110000,0.080000,-0.006900,0.149600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-04','4198',6,0.100000,0.190000,0.150000,0.170000,0.180000,0.210000,0.003017,0.187700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-05','3456',1,0.040000,0.140000,0.160000,0.160000,0.170000,0.330000,0.025717,0.205300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-05','4232',2,0.060000,0.110000,0.150000,0.190000,0.230000,0.260000,-0.009800,0.203900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-05','4571',3,0.340000,0.180000,0.180000,0.110000,0.090000,0.100000,-0.006183,0.153200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-05','4368',4,0.120000,0.130000,0.150000,0.250000,0.180000,0.170000,0.033583,0.218100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-05','3304',5,0.250000,0.250000,0.180000,0.160000,0.100000,0.060000,-0.027600,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-05','3750',6,0.060000,0.090000,0.120000,0.290000,0.190000,0.250000,0.006333,0.179100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-06','3361',1,0.070000,0.140000,0.270000,0.230000,0.200000,0.090000,0.003167,0.176300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-06','4489',2,0.120000,0.120000,0.200000,0.230000,0.180000,0.150000,0.008283,0.191900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-06','4357',3,0.230000,0.310000,0.150000,0.120000,0.100000,0.090000,-0.039233,0.174800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-06','3746',4,0.240000,0.270000,0.170000,0.200000,0.100000,0.020000,-0.029967,0.170700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-06','3955',5,0.170000,0.200000,0.240000,0.170000,0.130000,0.090000,-0.041767,0.188100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-06','4725',6,0.050000,0.100000,0.180000,0.210000,0.220000,0.240000,0.020500,0.196300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-07','3477',1,0.080000,0.120000,0.150000,0.230000,0.220000,0.200000,-0.005900,0.188700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-07','4028',2,0.320000,0.160000,0.230000,0.130000,0.070000,0.090000,-0.017900,0.154700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-07','4674',3,0.080000,0.190000,0.150000,0.110000,0.230000,0.240000,0.008417,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-07','4691',4,0.080000,0.210000,0.140000,0.200000,0.170000,0.200000,0.079683,0.259000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-07','3643',5,0.100000,0.190000,0.270000,0.210000,0.150000,0.080000,-0.008783,0.175900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-07','4359',6,0.220000,0.140000,0.200000,0.170000,0.160000,0.110000,-0.040467,0.143300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-08','3587',1,0.180000,0.120000,0.170000,0.200000,0.150000,0.180000,-0.044883,0.160800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-08','4669',2,0.080000,0.130000,0.150000,0.160000,0.240000,0.240000,0.012517,0.179400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-08','3841',3,0.250000,0.210000,0.260000,0.130000,0.070000,0.080000,-0.011750,0.162800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-08','4198',4,0.100000,0.190000,0.160000,0.170000,0.180000,0.200000,0.002350,0.186700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-08','3535',5,0.120000,0.120000,0.150000,0.220000,0.220000,0.170000,-0.010967,0.203300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-08','4052',6,0.350000,0.200000,0.170000,0.130000,0.100000,0.050000,-0.014633,0.144300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-09','3951',1,0.100000,0.180000,0.210000,0.140000,0.190000,0.180000,0.012550,0.183200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-09','4390',2,0.100000,0.140000,0.120000,0.260000,0.220000,0.160000,-0.021617,0.170800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-09','3750',3,0.060000,0.080000,0.120000,0.290000,0.190000,0.260000,0.006600,0.181200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-09','3456',4,0.040000,0.150000,0.160000,0.160000,0.170000,0.320000,0.024517,0.205000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-09','3521',5,0.020000,0.110000,0.180000,0.210000,0.180000,0.300000,0.012550,0.181200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-09','4383',6,0.160000,0.160000,0.190000,0.160000,0.220000,0.110000,0.005100,0.187500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-10','3304',1,0.250000,0.240000,0.180000,0.160000,0.110000,0.060000,-0.027950,0.177600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-10','4063',2,0.340000,0.220000,0.150000,0.130000,0.120000,0.040000,-0.014217,0.128800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-10','4757',3,0.440000,0.190000,0.150000,0.060000,0.040000,0.120000,-0.041383,0.126800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-10','4357',4,0.230000,0.300000,0.160000,0.120000,0.100000,0.090000,-0.038517,0.175400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-10','4116',5,0.160000,0.170000,0.210000,0.210000,0.170000,0.080000,0.035967,0.270900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-10','4839',6,0.170000,0.200000,0.190000,0.140000,0.160000,0.140000,-0.022367,0.140800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-11','4812',1,0.310000,0.170000,0.150000,0.160000,0.100000,0.110000,-0.015100,0.140700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-11','3743',2,0.290000,0.240000,0.160000,0.120000,0.110000,0.080000,-0.006733,0.149600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-11','3746',3,0.230000,0.270000,0.170000,0.210000,0.100000,0.020000,-0.029883,0.170800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-11','4571',4,0.340000,0.170000,0.190000,0.110000,0.090000,0.100000,-0.006650,0.155100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-11','4489',5,0.130000,0.120000,0.200000,0.230000,0.170000,0.150000,0.007883,0.192300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-11','4832',6,0.180000,0.260000,0.230000,0.140000,0.150000,0.040000,-0.003817,0.160900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-12','4052',1,0.350000,0.200000,0.180000,0.120000,0.100000,0.050000,-0.014367,0.145000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-12','3955',2,0.160000,0.200000,0.240000,0.170000,0.140000,0.090000,-0.042267,0.188700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-12','4732',3,0.250000,0.190000,0.200000,0.160000,0.120000,0.080000,-0.025583,0.127600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-12','3841',4,0.260000,0.200000,0.260000,0.130000,0.070000,0.080000,-0.012583,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-12','4028',5,0.330000,0.160000,0.230000,0.130000,0.060000,0.090000,-0.018217,0.154500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-14-12','4826',6,0.270000,0.230000,0.140000,0.100000,0.150000,0.110000,-0.039417,0.159500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-01','3907',1,0.160000,0.200000,0.220000,0.100000,0.140000,0.180000,-0.008500,0.155800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-01','3753',2,0.110000,0.180000,0.150000,0.120000,0.210000,0.230000,0.002033,0.167500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-01','4034',3,0.080000,0.170000,0.170000,0.120000,0.190000,0.270000,0.031117,0.209300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-01','4020',4,0.100000,0.240000,0.100000,0.080000,0.190000,0.290000,0.018117,0.205300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-01','3910',5,0.180000,0.140000,0.220000,0.110000,0.190000,0.160000,-0.003583,0.180000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-01','5037',6,0.000000,0.020000,0.020000,0.070000,0.230000,0.660000,0.015600,0.201100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-02','4185',1,0.040000,0.110000,0.130000,0.180000,0.280000,0.260000,0.070150,0.282400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-02','3855',2,0.060000,0.140000,0.200000,0.190000,0.290000,0.120000,0.055833,0.249200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-02','3234',3,0.090000,0.170000,0.100000,0.200000,0.160000,0.280000,-0.004350,0.163100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-02','3660',4,0.060000,0.140000,0.150000,0.270000,0.200000,0.180000,0.008800,0.193000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-02','3701',5,0.110000,0.150000,0.100000,0.180000,0.220000,0.240000,-0.005683,0.159300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-02','4946',6,0.020000,0.050000,0.110000,0.150000,0.240000,0.430000,-0.012250,0.154500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-03','3578',1,0.100000,0.130000,0.220000,0.170000,0.220000,0.160000,0.005683,0.185200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-03','4010',2,0.080000,0.130000,0.210000,0.210000,0.240000,0.130000,0.001683,0.204100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-03','3837',3,0.340000,0.160000,0.190000,0.150000,0.110000,0.050000,-0.045567,0.164600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-03','3401',4,0.210000,0.210000,0.140000,0.210000,0.150000,0.080000,-0.028733,0.177100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-03','4852',5,0.160000,0.140000,0.230000,0.280000,0.130000,0.060000,-0.051550,0.141700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-03','4249',6,0.030000,0.080000,0.100000,0.200000,0.300000,0.290000,0.172867,0.380000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-04','4511',1,0.140000,0.090000,0.230000,0.190000,0.180000,0.170000,0.005383,0.164000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-04','3710',2,0.060000,0.200000,0.160000,0.220000,0.160000,0.200000,-0.019800,0.168600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-04','4821',3,0.140000,0.180000,0.170000,0.230000,0.200000,0.080000,0.018867,0.196100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-04','4331',4,0.230000,0.150000,0.130000,0.190000,0.150000,0.150000,-0.030917,0.166000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-04','5032',5,0.010000,0.000000,0.050000,0.100000,0.170000,0.670000,0.044117,0.215500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-04','4459',6,0.280000,0.220000,0.150000,0.130000,0.120000,0.100000,-0.014433,0.141800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-05','4739',1,0.230000,0.190000,0.210000,0.150000,0.090000,0.130000,-0.039400,0.130300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-05','3543',2,0.190000,0.280000,0.170000,0.140000,0.150000,0.070000,0.006133,0.264300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-05','4452',3,0.210000,0.190000,0.190000,0.140000,0.110000,0.160000,0.009783,0.174000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-05','4643',4,0.310000,0.160000,0.150000,0.240000,0.080000,0.060000,0.047383,0.239500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-05','5037',5,0.000000,0.020000,0.020000,0.070000,0.230000,0.660000,0.017217,0.202800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-05','4931',6,0.200000,0.140000,0.200000,0.160000,0.180000,0.120000,0.081533,0.262200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-06','4221',1,0.060000,0.100000,0.170000,0.160000,0.270000,0.240000,-0.019550,0.163200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-06','4776',2,0.220000,0.200000,0.160000,0.170000,0.180000,0.070000,-0.009483,0.153500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-06','3553',3,0.110000,0.140000,0.190000,0.190000,0.140000,0.230000,-0.000167,0.180000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-06','3064',4,0.220000,0.250000,0.070000,0.130000,0.150000,0.180000,0.001350,0.175900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-06','3975',5,0.170000,0.210000,0.280000,0.180000,0.070000,0.090000,-0.015817,0.176100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-06','4772',6,0.330000,0.210000,0.110000,0.170000,0.090000,0.090000,-0.034683,0.147300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-07','4034',1,0.070000,0.170000,0.180000,0.120000,0.190000,0.270000,0.030600,0.210700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-07','3568',2,0.290000,0.180000,0.150000,0.110000,0.140000,0.130000,-0.015883,0.158100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-07','3478',3,0.170000,0.140000,0.140000,0.140000,0.250000,0.160000,-0.013117,0.176000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-07','4348',4,0.120000,0.260000,0.190000,0.210000,0.100000,0.120000,-0.037017,0.180300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-07','4260',5,0.260000,0.250000,0.190000,0.120000,0.130000,0.050000,0.002767,0.169400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-07','4030',6,0.280000,0.250000,0.240000,0.140000,0.050000,0.040000,-0.026700,0.141100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-08','3849',1,0.410000,0.230000,0.110000,0.110000,0.080000,0.060000,-0.037617,0.133500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-08','3832',2,0.150000,0.150000,0.210000,0.270000,0.120000,0.100000,0.127017,0.358900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-08','4249',3,0.030000,0.080000,0.100000,0.190000,0.300000,0.300000,0.171717,0.378800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-08','3541',4,0.210000,0.310000,0.190000,0.110000,0.100000,0.080000,-0.018383,0.152700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-08','3660',5,0.060000,0.140000,0.160000,0.270000,0.190000,0.180000,0.008617,0.191800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-08','5032',6,0.010000,0.000000,0.060000,0.100000,0.160000,0.670000,0.043967,0.214900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-09','4852',1,0.160000,0.140000,0.240000,0.270000,0.130000,0.060000,-0.051850,0.142300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-09','4331',2,0.240000,0.140000,0.130000,0.190000,0.150000,0.150000,-0.031533,0.164600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-09','4643',3,0.320000,0.160000,0.140000,0.240000,0.080000,0.060000,0.046567,0.240100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-09','3837',4,0.330000,0.170000,0.190000,0.150000,0.110000,0.050000,-0.045400,0.164800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-09','3543',5,0.190000,0.270000,0.170000,0.150000,0.150000,0.070000,0.005700,0.264500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-09','3907',6,0.170000,0.200000,0.210000,0.100000,0.140000,0.180000,-0.009250,0.155900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-10','4459',1,0.270000,0.220000,0.150000,0.140000,0.120000,0.100000,-0.014033,0.142100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-10','3975',2,0.170000,0.200000,0.280000,0.180000,0.070000,0.100000,-0.015900,0.175700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-10','3064',3,0.220000,0.250000,0.070000,0.130000,0.150000,0.180000,0.002000,0.174800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-10','3568',4,0.290000,0.180000,0.140000,0.110000,0.140000,0.140000,-0.015917,0.157200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-10','3710',5,0.060000,0.200000,0.160000,0.220000,0.160000,0.200000,-0.019317,0.168300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-10','4010',6,0.080000,0.130000,0.200000,0.210000,0.250000,0.130000,0.001650,0.203000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-11','4030',1,0.280000,0.250000,0.250000,0.140000,0.050000,0.030000,-0.026767,0.141500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-11','4260',2,0.260000,0.240000,0.190000,0.120000,0.140000,0.050000,0.003533,0.169000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-11','3401',3,0.210000,0.210000,0.140000,0.210000,0.150000,0.080000,-0.029300,0.176500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-11','4739',4,0.230000,0.200000,0.210000,0.140000,0.090000,0.130000,-0.039617,0.130900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-11','3849',5,0.400000,0.240000,0.110000,0.110000,0.080000,0.060000,-0.037167,0.134200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-11','3578',6,0.110000,0.130000,0.210000,0.170000,0.220000,0.160000,0.006033,0.185200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-12','3541',1,0.210000,0.310000,0.190000,0.120000,0.090000,0.080000,-0.017850,0.152600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-12','3234',2,0.090000,0.170000,0.100000,0.190000,0.160000,0.290000,-0.004417,0.163600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-12','4348',3,0.120000,0.260000,0.190000,0.220000,0.100000,0.110000,-0.036617,0.181200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-12','4821',4,0.140000,0.190000,0.160000,0.230000,0.200000,0.080000,0.017933,0.193800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-12','4776',5,0.220000,0.200000,0.160000,0.170000,0.180000,0.070000,-0.009483,0.151500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-15-12','3553',6,0.120000,0.140000,0.190000,0.190000,0.140000,0.220000,-0.000500,0.179000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-01','4410',1,0.140000,0.190000,0.160000,0.210000,0.160000,0.140000,0.002783,0.181200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-01','4355',2,0.070000,0.100000,0.200000,0.190000,0.240000,0.200000,0.004983,0.197000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-01','4200',3,0.020000,0.170000,0.180000,0.260000,0.230000,0.140000,-0.008683,0.174700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-01','4538',4,0.150000,0.160000,0.200000,0.130000,0.200000,0.160000,-0.023767,0.144800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-01','4603',5,0.040000,0.200000,0.160000,0.220000,0.210000,0.170000,-0.011217,0.165500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-01','4213',6,0.050000,0.130000,0.160000,0.230000,0.230000,0.200000,-0.016100,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-02','3982',1,0.130000,0.140000,0.180000,0.120000,0.200000,0.230000,0.157933,0.384200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-02','4635',2,0.120000,0.120000,0.170000,0.120000,0.150000,0.320000,-0.054200,0.139000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-02','4959',3,0.150000,0.210000,0.180000,0.110000,0.160000,0.190000,0.075617,0.261700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-02','5001',4,0.000000,0.000000,0.050000,0.070000,0.290000,0.590000,-0.055450,0.145100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-02','3561',5,0.120000,0.090000,0.110000,0.230000,0.250000,0.200000,-0.001600,0.199400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-02','3866',6,0.130000,0.090000,0.240000,0.220000,0.180000,0.140000,-0.066133,0.149100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-03','4533',1,0.130000,0.220000,0.150000,0.210000,0.150000,0.140000,-0.005750,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-03','4214',2,0.200000,0.200000,0.140000,0.120000,0.220000,0.120000,-0.022667,0.173800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-03','4957',3,0.060000,0.110000,0.110000,0.200000,0.220000,0.300000,-0.029750,0.154900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-03','3715',4,0.120000,0.150000,0.220000,0.190000,0.210000,0.110000,-0.036467,0.164400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-03','3585',5,0.060000,0.170000,0.190000,0.220000,0.220000,0.140000,0.002267,0.191600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-03','5054',6,0.000000,0.000000,0.010000,0.030000,0.150000,0.390000,0.027845,0.202414)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-04','3233',1,0.160000,0.240000,0.220000,0.220000,0.140000,0.020000,-0.018017,0.176700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-04','4498',2,0.150000,0.230000,0.160000,0.150000,0.150000,0.160000,0.014617,0.207400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-04','4905',3,0.080000,0.110000,0.110000,0.230000,0.260000,0.210000,0.007183,0.195000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-04','3685',4,0.230000,0.200000,0.170000,0.160000,0.200000,0.040000,-0.035667,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-04','4713',5,0.220000,0.180000,0.160000,0.180000,0.170000,0.090000,-0.020833,0.156100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-04','5046',6,0.000000,0.000000,0.000000,0.020000,0.050000,0.480000,0.023364,0.196545)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-05','4584',1,0.200000,0.300000,0.160000,0.160000,0.080000,0.100000,-0.030783,0.133200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-05','4423',2,0.120000,0.100000,0.120000,0.240000,0.210000,0.210000,-0.012817,0.198800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-05','4441',3,0.160000,0.240000,0.210000,0.150000,0.130000,0.110000,-0.005533,0.163000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-05','4054',4,0.070000,0.100000,0.120000,0.260000,0.180000,0.270000,-0.004550,0.164000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-05','4172',5,0.180000,0.240000,0.250000,0.160000,0.110000,0.060000,-0.027283,0.170500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-05','3564',6,0.110000,0.090000,0.160000,0.200000,0.260000,0.180000,-0.000567,0.168200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-06','3933',1,0.260000,0.150000,0.170000,0.100000,0.180000,0.140000,-0.004800,0.163500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-06','4762',2,0.280000,0.230000,0.140000,0.110000,0.160000,0.080000,-0.030217,0.141500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-06','4886',3,0.170000,0.190000,0.230000,0.170000,0.110000,0.130000,0.047617,0.230500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-06','3600',4,0.090000,0.130000,0.110000,0.160000,0.170000,0.340000,0.117883,0.310100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-06','3982',5,0.130000,0.140000,0.180000,0.120000,0.200000,0.230000,0.157167,0.383100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-06','4200',6,0.010000,0.180000,0.180000,0.260000,0.230000,0.140000,-0.008983,0.174100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-07','4580',1,0.240000,0.160000,0.160000,0.130000,0.150000,0.160000,-0.012417,0.173700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-07','4957',2,0.060000,0.110000,0.110000,0.210000,0.220000,0.290000,-0.029317,0.155300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-07','4635',3,0.120000,0.110000,0.170000,0.120000,0.160000,0.320000,-0.054433,0.139200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-07','4166',4,0.370000,0.230000,0.100000,0.070000,0.080000,0.150000,-0.030167,0.136800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-07','3261',5,0.040000,0.200000,0.170000,0.280000,0.190000,0.120000,-0.032950,0.201600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-07','5058',6,0.010000,0.020000,0.030000,0.070000,0.180000,0.280000,0.016384,0.183559)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-08','3436',1,0.210000,0.190000,0.190000,0.230000,0.100000,0.080000,0.046833,0.235000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-08','4959',2,0.150000,0.220000,0.180000,0.100000,0.160000,0.190000,0.074983,0.261800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-08','3715',3,0.120000,0.150000,0.210000,0.190000,0.210000,0.120000,-0.036683,0.165500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-08','4905',4,0.080000,0.110000,0.110000,0.230000,0.260000,0.210000,0.006867,0.194100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-08','4355',5,0.070000,0.100000,0.200000,0.190000,0.230000,0.210000,0.005033,0.197100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-08','3458',6,0.210000,0.170000,0.150000,0.170000,0.180000,0.120000,-0.001500,0.167300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-09','3685',1,0.230000,0.200000,0.170000,0.160000,0.200000,0.040000,-0.035933,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-09','3585',2,0.060000,0.170000,0.200000,0.220000,0.210000,0.140000,0.002283,0.191900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-09','4213',3,0.050000,0.130000,0.160000,0.230000,0.230000,0.200000,-0.016183,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-09','4886',4,0.170000,0.190000,0.230000,0.170000,0.110000,0.130000,0.047933,0.230600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-09','4441',5,0.150000,0.240000,0.210000,0.160000,0.130000,0.110000,-0.005150,0.163700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-09','5001',6,0.000000,0.000000,0.050000,0.080000,0.290000,0.580000,-0.055583,0.145100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-10','4166',1,0.370000,0.230000,0.100000,0.070000,0.080000,0.150000,-0.030883,0.136500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-10','4713',2,0.220000,0.190000,0.150000,0.180000,0.170000,0.090000,-0.021033,0.155800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-10','4498',3,0.160000,0.220000,0.160000,0.150000,0.150000,0.160000,0.013833,0.205800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-10','4533',4,0.140000,0.220000,0.140000,0.210000,0.150000,0.140000,-0.004983,0.169900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-10','4584',5,0.210000,0.300000,0.160000,0.150000,0.080000,0.100000,-0.032217,0.131500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-10','4762',6,0.280000,0.240000,0.140000,0.110000,0.150000,0.080000,-0.030383,0.142300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-11','4172',1,0.180000,0.240000,0.260000,0.160000,0.110000,0.050000,-0.027967,0.170300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-11','3933',2,0.270000,0.150000,0.170000,0.100000,0.170000,0.140000,-0.004350,0.164100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-11','4580',3,0.240000,0.160000,0.170000,0.120000,0.150000,0.160000,-0.012567,0.173700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-11','3233',4,0.150000,0.240000,0.220000,0.230000,0.140000,0.020000,-0.018133,0.176600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-11','3436',5,0.220000,0.190000,0.190000,0.220000,0.100000,0.080000,0.046600,0.233300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-11','4410',6,0.140000,0.190000,0.170000,0.210000,0.150000,0.140000,0.001300,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-12','3822',1,0.370000,0.230000,0.130000,0.060000,0.080000,0.130000,-0.008733,0.164300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-12','4370',2,0.580000,0.170000,0.130000,0.060000,0.040000,0.020000,-0.010983,0.157200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-12','3300',3,0.290000,0.210000,0.170000,0.170000,0.100000,0.060000,-0.025650,0.149800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-12','4418',4,0.250000,0.280000,0.190000,0.150000,0.030000,0.100000,-0.003817,0.145400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-12','4089',5,0.250000,0.200000,0.230000,0.150000,0.110000,0.060000,0.041150,0.254300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-16-12','3874',6,0.270000,0.200000,0.230000,0.070000,0.130000,0.100000,0.005250,0.165400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-01','3158',1,0.310000,0.250000,0.130000,0.080000,0.150000,0.080000,-0.046200,0.140400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-01','3338',2,0.090000,0.100000,0.180000,0.260000,0.200000,0.170000,-0.011483,0.160100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-01','2844',3,0.120000,0.170000,0.160000,0.150000,0.240000,0.160000,-0.007500,0.176300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-01','3979',4,0.070000,0.050000,0.160000,0.130000,0.220000,0.370000,0.001650,0.185900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-01','5067',5,0.000000,0.010000,0.000000,0.050000,0.120000,0.410000,0.008249,0.181356)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-01','4672',6,0.070000,0.150000,0.130000,0.200000,0.160000,0.290000,-0.023467,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-02','2935',1,0.090000,0.160000,0.110000,0.230000,0.220000,0.190000,-0.026550,0.186100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-02','3411',2,0.070000,0.070000,0.120000,0.190000,0.330000,0.220000,0.083633,0.302200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-02','4955',3,0.010000,0.030000,0.060000,0.120000,0.330000,0.450000,-0.000600,0.163100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-02','3797',4,0.050000,0.170000,0.140000,0.220000,0.230000,0.190000,0.009183,0.181600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-02','3058',5,0.090000,0.130000,0.190000,0.120000,0.270000,0.200000,-0.004417,0.179900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-02','4991',6,0.040000,0.090000,0.130000,0.190000,0.310000,0.240000,-0.004383,0.177200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-03','4343',1,0.080000,0.130000,0.180000,0.190000,0.280000,0.140000,0.015383,0.185600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-03','3273',2,0.100000,0.150000,0.250000,0.160000,0.220000,0.120000,-0.000750,0.170600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-03','3663',3,0.180000,0.160000,0.220000,0.120000,0.250000,0.070000,-0.058217,0.162300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-03','4592',4,0.110000,0.150000,0.170000,0.200000,0.230000,0.140000,-0.034483,0.153100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-03','4434',5,0.140000,0.240000,0.220000,0.160000,0.160000,0.080000,-0.007950,0.184200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-03','4097',6,0.100000,0.190000,0.130000,0.250000,0.210000,0.120000,0.029967,0.223200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-04','3430',1,0.150000,0.140000,0.230000,0.170000,0.170000,0.140000,-0.020700,0.159100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-04','4173',2,0.240000,0.150000,0.230000,0.210000,0.120000,0.050000,-0.027600,0.187900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-04','3614',3,0.110000,0.150000,0.140000,0.160000,0.200000,0.240000,-0.022317,0.178200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-04','3424',4,0.060000,0.130000,0.130000,0.180000,0.220000,0.280000,0.149483,0.372300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-04','3499',5,0.320000,0.180000,0.230000,0.100000,0.090000,0.080000,0.033683,0.241200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-04','3883',6,0.040000,0.110000,0.220000,0.210000,0.260000,0.160000,-0.008617,0.189400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-05','3719',1,0.420000,0.250000,0.170000,0.040000,0.090000,0.030000,-0.021917,0.165800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-05','3979',2,0.070000,0.050000,0.160000,0.140000,0.220000,0.360000,0.001633,0.185900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-05','3562',3,0.200000,0.250000,0.170000,0.100000,0.140000,0.140000,0.080150,0.259400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-05','4708',4,0.030000,0.110000,0.130000,0.330000,0.260000,0.140000,0.016133,0.197900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-05','4564',5,0.170000,0.150000,0.200000,0.180000,0.150000,0.150000,-0.008567,0.154100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-05','4835',6,0.110000,0.090000,0.220000,0.240000,0.160000,0.180000,0.094367,0.287800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-06','3282',1,0.210000,0.220000,0.230000,0.150000,0.140000,0.050000,-0.014000,0.202500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-06','3584',2,0.140000,0.200000,0.220000,0.170000,0.140000,0.130000,-0.058550,0.163200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-06','3797',3,0.050000,0.170000,0.140000,0.230000,0.230000,0.180000,0.009600,0.183600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-06','4398',4,0.280000,0.280000,0.150000,0.100000,0.100000,0.090000,0.064967,0.233300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-06','3212',5,0.200000,0.250000,0.190000,0.180000,0.130000,0.050000,-0.012150,0.174700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-06','4971',6,0.020000,0.010000,0.060000,0.070000,0.290000,0.550000,0.018617,0.199100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-07','3920',1,0.290000,0.300000,0.120000,0.130000,0.120000,0.040000,-0.030833,0.162100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-07','4000',2,0.200000,0.190000,0.200000,0.180000,0.150000,0.080000,-0.020633,0.173200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-07','4343',3,0.080000,0.140000,0.180000,0.190000,0.270000,0.140000,0.014283,0.184700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-07','4872',4,0.180000,0.180000,0.210000,0.110000,0.160000,0.160000,-0.016817,0.153400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-07','4257',5,0.170000,0.170000,0.150000,0.140000,0.140000,0.230000,-0.047017,0.148200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-07','2844',6,0.120000,0.170000,0.160000,0.150000,0.240000,0.160000,-0.007533,0.176300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-08','4111',1,0.190000,0.210000,0.140000,0.110000,0.210000,0.140000,-0.016400,0.177700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-08','4097',2,0.100000,0.190000,0.130000,0.240000,0.210000,0.130000,0.029783,0.222700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-08','2935',3,0.100000,0.150000,0.110000,0.230000,0.220000,0.190000,-0.027250,0.186500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-08','3024',4,0.310000,0.210000,0.170000,0.090000,0.160000,0.060000,-0.026300,0.153900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-08','4816',5,0.320000,0.260000,0.140000,0.080000,0.120000,0.080000,-0.026333,0.153300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-08','3424',6,0.060000,0.130000,0.120000,0.180000,0.230000,0.280000,0.150300,0.373500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-09','3663',1,0.180000,0.160000,0.220000,0.120000,0.250000,0.070000,-0.058083,0.162400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-09','3516',2,0.140000,0.160000,0.100000,0.220000,0.190000,0.190000,-0.019750,0.174900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-09','3338',3,0.090000,0.110000,0.170000,0.260000,0.200000,0.170000,-0.011817,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-09','4416',4,0.130000,0.190000,0.150000,0.210000,0.190000,0.130000,0.016500,0.190500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-09','4951',5,0.030000,0.060000,0.170000,0.200000,0.310000,0.230000,-0.003350,0.162300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-09','4955',6,0.010000,0.040000,0.060000,0.120000,0.320000,0.450000,-0.000517,0.165200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-10','3499',1,0.320000,0.180000,0.240000,0.100000,0.090000,0.070000,0.033817,0.241100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-10','3719',2,0.430000,0.250000,0.170000,0.030000,0.090000,0.030000,-0.023250,0.164700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-10','4592',3,0.110000,0.150000,0.180000,0.200000,0.230000,0.130000,-0.033217,0.154800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-10','3158',4,0.320000,0.240000,0.130000,0.080000,0.150000,0.080000,-0.046367,0.141100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-10','3273',5,0.100000,0.150000,0.250000,0.160000,0.220000,0.120000,-0.001117,0.170000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-10','3282',6,0.220000,0.220000,0.230000,0.150000,0.130000,0.050000,-0.013950,0.202500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-11','4398',1,0.280000,0.290000,0.150000,0.100000,0.100000,0.080000,0.064617,0.234100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-11','4434',2,0.140000,0.240000,0.220000,0.170000,0.150000,0.080000,-0.008383,0.185400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-11','4872',3,0.180000,0.180000,0.210000,0.120000,0.150000,0.160000,-0.016650,0.153800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-11','4000',4,0.200000,0.190000,0.200000,0.180000,0.150000,0.080000,-0.021617,0.172900)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-11','3430',5,0.150000,0.140000,0.230000,0.170000,0.170000,0.140000,-0.020767,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-11','3562',6,0.200000,0.250000,0.170000,0.110000,0.130000,0.140000,0.080200,0.261000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-12','4816',1,0.320000,0.270000,0.140000,0.080000,0.120000,0.070000,-0.027450,0.151600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-12','3920',2,0.300000,0.290000,0.120000,0.130000,0.120000,0.040000,-0.031750,0.161200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-12','4564',3,0.170000,0.150000,0.210000,0.170000,0.150000,0.150000,-0.009183,0.154100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-12','4173',4,0.250000,0.150000,0.230000,0.210000,0.110000,0.050000,-0.028200,0.187800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-12','3584',5,0.140000,0.200000,0.220000,0.180000,0.130000,0.130000,-0.058467,0.163400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-17-12','4111',6,0.190000,0.210000,0.140000,0.110000,0.210000,0.140000,-0.016133,0.177900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-01','4263',1,0.230000,0.140000,0.150000,0.160000,0.160000,0.160000,-0.027117,0.169000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-01','3928',2,0.080000,0.210000,0.100000,0.170000,0.240000,0.200000,0.003617,0.203600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-01','3661',3,0.090000,0.160000,0.260000,0.210000,0.190000,0.090000,0.018667,0.198600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-01','3559',4,0.110000,0.220000,0.180000,0.160000,0.210000,0.120000,-0.007417,0.185200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-01','3925',5,0.130000,0.130000,0.190000,0.120000,0.170000,0.260000,-0.018217,0.192700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-01','5015',6,0.000000,0.030000,0.200000,0.270000,0.200000,0.300000,0.089483,0.273800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-02','3684',1,0.140000,0.240000,0.180000,0.190000,0.160000,0.090000,0.009567,0.224600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-02','3427',2,0.190000,0.220000,0.100000,0.220000,0.100000,0.170000,0.019100,0.201700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-02','3036',3,0.060000,0.200000,0.150000,0.240000,0.170000,0.180000,0.003267,0.187100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-02','4361',4,0.260000,0.230000,0.170000,0.150000,0.100000,0.090000,-0.051300,0.150100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-02','2992',5,0.270000,0.200000,0.190000,0.160000,0.100000,0.080000,-0.046200,0.151900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-02','4403',6,0.150000,0.160000,0.210000,0.200000,0.180000,0.100000,-0.021850,0.157600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-03','3717',1,0.300000,0.170000,0.180000,0.170000,0.080000,0.100000,-0.027183,0.158200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-03','4179',2,0.210000,0.200000,0.170000,0.150000,0.160000,0.110000,-0.009750,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-03','4985',3,0.070000,0.080000,0.090000,0.190000,0.370000,0.200000,0.004117,0.200800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-03','4219',4,0.110000,0.110000,0.120000,0.230000,0.300000,0.130000,-0.027033,0.178700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-03','5000',5,0.020000,0.080000,0.050000,0.120000,0.270000,0.460000,-0.014567,0.178100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-03','2930',6,0.120000,0.230000,0.130000,0.150000,0.180000,0.190000,0.148850,0.383200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-04','3942',1,0.310000,0.230000,0.160000,0.100000,0.100000,0.100000,0.045383,0.253500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-04','4703',2,0.210000,0.230000,0.250000,0.130000,0.090000,0.090000,-0.013433,0.173100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-04','4871',3,0.050000,0.110000,0.080000,0.210000,0.320000,0.230000,0.012433,0.194300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-04','4374',4,0.060000,0.160000,0.210000,0.230000,0.220000,0.120000,-0.009400,0.154800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-04','3709',5,0.060000,0.120000,0.150000,0.240000,0.270000,0.160000,0.020300,0.206300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-04','3846',6,0.060000,0.110000,0.110000,0.260000,0.320000,0.140000,-0.010967,0.177100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-05','3878',1,0.140000,0.110000,0.170000,0.210000,0.240000,0.130000,-0.023717,0.165700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-05','4292',2,0.220000,0.170000,0.210000,0.110000,0.190000,0.100000,-0.043650,0.131000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-05','3928',3,0.080000,0.200000,0.100000,0.170000,0.250000,0.200000,0.003817,0.204000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-05','4009',4,0.140000,0.190000,0.210000,0.180000,0.170000,0.110000,-0.039167,0.126100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-05','3949',5,0.040000,0.080000,0.270000,0.230000,0.240000,0.140000,-0.011167,0.183000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-05','3454',6,0.110000,0.230000,0.270000,0.180000,0.140000,0.070000,-0.012833,0.179900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-06','3567',1,0.030000,0.110000,0.160000,0.270000,0.180000,0.250000,0.007183,0.192900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-06','3661',2,0.090000,0.160000,0.250000,0.220000,0.190000,0.090000,0.019167,0.199800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-06','4015',3,0.240000,0.200000,0.270000,0.160000,0.100000,0.030000,-0.010783,0.156800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-06','4251',4,0.100000,0.150000,0.070000,0.240000,0.250000,0.190000,0.000467,0.208600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-06','5064',5,0.000000,0.020000,0.010000,0.060000,0.180000,0.280000,0.023121,0.199273)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-06','4237',6,0.330000,0.160000,0.110000,0.140000,0.120000,0.140000,0.057367,0.258400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-07','4985',1,0.070000,0.080000,0.080000,0.190000,0.370000,0.210000,0.004683,0.201200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-07','3684',2,0.130000,0.250000,0.180000,0.190000,0.160000,0.090000,0.009667,0.224500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-07','3717',3,0.300000,0.180000,0.180000,0.160000,0.080000,0.100000,-0.027883,0.156400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-07','3581',4,0.120000,0.150000,0.200000,0.210000,0.180000,0.140000,0.002200,0.186000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-07','5015',5,0.000000,0.030000,0.210000,0.260000,0.200000,0.300000,0.089733,0.274100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-07','3668',6,0.070000,0.120000,0.120000,0.180000,0.220000,0.290000,0.012483,0.213700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-08','4703',1,0.210000,0.240000,0.240000,0.130000,0.090000,0.090000,-0.014217,0.172000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-08','3443',2,0.070000,0.110000,0.160000,0.250000,0.250000,0.160000,0.017033,0.199900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-08','3925',3,0.130000,0.130000,0.180000,0.120000,0.170000,0.270000,-0.019017,0.192000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-08','3709',4,0.060000,0.120000,0.150000,0.240000,0.270000,0.160000,0.020033,0.206500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-08','3976',5,0.090000,0.150000,0.130000,0.130000,0.150000,0.350000,0.089150,0.286300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-08','4361',6,0.260000,0.220000,0.170000,0.150000,0.100000,0.100000,-0.050367,0.152200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-09','4871',1,0.050000,0.110000,0.070000,0.210000,0.330000,0.230000,0.012217,0.194700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-09','2992',2,0.270000,0.200000,0.200000,0.150000,0.100000,0.080000,-0.045617,0.152100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-09','4009',3,0.140000,0.200000,0.210000,0.180000,0.160000,0.110000,-0.039133,0.126700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-09','4179',4,0.210000,0.200000,0.170000,0.150000,0.160000,0.110000,-0.010017,0.159500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-09','3559',5,0.110000,0.230000,0.180000,0.160000,0.200000,0.120000,-0.007450,0.185300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-09','5064',6,0.000000,0.020000,0.010000,0.060000,0.190000,0.280000,0.023512,0.200357)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-10','4374',1,0.060000,0.150000,0.210000,0.230000,0.220000,0.130000,-0.009300,0.154900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-10','4237',2,0.330000,0.160000,0.100000,0.150000,0.120000,0.140000,0.058167,0.259500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-10','3454',3,0.110000,0.220000,0.270000,0.180000,0.150000,0.070000,-0.011833,0.180300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-10','2930',4,0.130000,0.230000,0.130000,0.150000,0.170000,0.190000,0.149083,0.383700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-10','4950',5,0.060000,0.120000,0.250000,0.170000,0.210000,0.190000,0.002733,0.171300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-10','3036',6,0.060000,0.190000,0.150000,0.250000,0.170000,0.180000,0.002750,0.186500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-11','3834',1,0.150000,0.150000,0.180000,0.220000,0.160000,0.140000,0.088150,0.286200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-11','3846',2,0.060000,0.110000,0.120000,0.260000,0.310000,0.140000,-0.010333,0.177700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-11','3427',3,0.190000,0.220000,0.100000,0.220000,0.100000,0.170000,0.018100,0.201300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-11','4292',4,0.220000,0.170000,0.210000,0.110000,0.190000,0.100000,-0.043167,0.131000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-11','4219',5,0.110000,0.110000,0.120000,0.230000,0.300000,0.130000,-0.026700,0.178900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-11','5040',6,0.010000,0.010000,0.000000,0.050000,0.190000,0.740000,0.021533,0.194100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-12','4064',1,0.320000,0.180000,0.200000,0.100000,0.140000,0.060000,-0.021050,0.168700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-12','4015',2,0.240000,0.210000,0.270000,0.150000,0.100000,0.030000,-0.012150,0.155600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-12','4239',3,0.260000,0.180000,0.240000,0.100000,0.160000,0.060000,-0.009700,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-12','3443',4,0.070000,0.120000,0.160000,0.250000,0.240000,0.160000,0.017600,0.200100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-12','3942',5,0.320000,0.230000,0.160000,0.100000,0.090000,0.100000,0.045117,0.253600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-18-12','3581',6,0.120000,0.150000,0.200000,0.210000,0.170000,0.150000,0.001650,0.185800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-01','4704',1,0.270000,0.170000,0.160000,0.140000,0.160000,0.100000,-0.016967,0.170300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-01','4425',2,0.080000,0.190000,0.150000,0.160000,0.280000,0.140000,0.011233,0.191200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-01','4683',3,0.050000,0.130000,0.130000,0.160000,0.160000,0.370000,0.096317,0.290700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-01','4846',4,0.120000,0.110000,0.140000,0.150000,0.190000,0.290000,0.007767,0.179200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-01','4332',5,0.090000,0.160000,0.120000,0.200000,0.260000,0.170000,0.087783,0.282800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-01','3539',6,0.060000,0.140000,0.150000,0.180000,0.260000,0.210000,0.015017,0.180200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-02','4475',1,0.120000,0.130000,0.290000,0.150000,0.180000,0.130000,-0.004633,0.170400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-02','4041',2,0.110000,0.150000,0.170000,0.140000,0.250000,0.180000,0.027417,0.205900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-02','4567',3,0.080000,0.120000,0.100000,0.210000,0.300000,0.190000,-0.016383,0.211900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-02','4693',4,0.040000,0.070000,0.100000,0.260000,0.330000,0.200000,0.101467,0.294900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-02','3486',5,0.120000,0.090000,0.160000,0.250000,0.140000,0.240000,0.111183,0.308400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-02','3723',6,0.040000,0.100000,0.160000,0.280000,0.190000,0.230000,-0.013817,0.152100)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-03','4247',1,0.150000,0.290000,0.210000,0.130000,0.110000,0.110000,-0.019700,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-03','4005',2,0.110000,0.100000,0.150000,0.150000,0.220000,0.270000,-0.012050,0.184200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-03','4302',3,0.290000,0.180000,0.170000,0.160000,0.140000,0.060000,-0.021633,0.173700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-03','4980',4,0.080000,0.050000,0.220000,0.240000,0.250000,0.160000,0.067883,0.278900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-03','4841',5,0.050000,0.050000,0.070000,0.110000,0.270000,0.450000,-0.027550,0.187800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-03','4482',6,0.380000,0.180000,0.110000,0.160000,0.090000,0.080000,0.052500,0.274100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-04','2942',1,0.250000,0.160000,0.140000,0.180000,0.150000,0.120000,-0.034483,0.125900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-04','3333',2,0.200000,0.200000,0.240000,0.160000,0.130000,0.070000,-0.016183,0.176800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-04','3731',3,0.220000,0.170000,0.170000,0.200000,0.130000,0.110000,-0.012967,0.182300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-04','4811',4,0.090000,0.220000,0.190000,0.130000,0.180000,0.190000,-0.027117,0.161200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-04','4884',5,0.150000,0.070000,0.130000,0.140000,0.240000,0.270000,-0.058733,0.149300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-04','4502',6,0.350000,0.200000,0.150000,0.130000,0.070000,0.100000,-0.033417,0.144900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-05','4108',1,0.320000,0.200000,0.250000,0.060000,0.090000,0.080000,-0.008717,0.161700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-05','4158',2,0.130000,0.100000,0.160000,0.140000,0.270000,0.200000,-0.025467,0.169300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-05','4271',3,0.150000,0.130000,0.170000,0.240000,0.190000,0.120000,0.076067,0.261300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-05','4264',4,0.200000,0.180000,0.200000,0.180000,0.150000,0.090000,-0.021033,0.174200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-05','4683',5,0.050000,0.140000,0.130000,0.160000,0.160000,0.360000,0.095200,0.289300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-05','4938',6,0.110000,0.210000,0.090000,0.210000,0.210000,0.170000,-0.013233,0.158800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-06','4226',1,0.110000,0.130000,0.130000,0.200000,0.210000,0.220000,-0.030933,0.172900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-06','3486',2,0.120000,0.080000,0.160000,0.250000,0.140000,0.250000,0.111583,0.309600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-06','3961',3,0.280000,0.190000,0.180000,0.180000,0.090000,0.080000,0.016217,0.180300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-06','3875',4,0.130000,0.120000,0.140000,0.150000,0.160000,0.300000,0.004900,0.174700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-06','3737',5,0.280000,0.250000,0.260000,0.080000,0.080000,0.050000,-0.004733,0.188300)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-06','3901',6,0.120000,0.240000,0.240000,0.160000,0.100000,0.140000,0.007517,0.211400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-07','3711',1,0.130000,0.230000,0.160000,0.170000,0.130000,0.180000,0.012750,0.189800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-07','4247',2,0.160000,0.290000,0.210000,0.120000,0.110000,0.110000,-0.020783,0.169200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-07','4846',3,0.120000,0.110000,0.130000,0.160000,0.190000,0.290000,0.007533,0.178500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-07','3897',4,0.450000,0.250000,0.110000,0.090000,0.060000,0.040000,-0.040117,0.138000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-07','4313',5,0.230000,0.170000,0.150000,0.200000,0.120000,0.130000,-0.043700,0.151900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-07','4396',6,0.040000,0.190000,0.190000,0.270000,0.140000,0.170000,0.006983,0.177500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-08','3333',1,0.190000,0.210000,0.240000,0.160000,0.130000,0.070000,-0.015017,0.177300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-08','3742',2,0.090000,0.240000,0.170000,0.160000,0.240000,0.100000,0.004817,0.170600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-08','4601',3,0.170000,0.300000,0.180000,0.090000,0.130000,0.130000,0.051750,0.246200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-08','4773',4,0.100000,0.120000,0.160000,0.260000,0.160000,0.200000,-0.009317,0.177400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-08','4980',5,0.080000,0.050000,0.230000,0.240000,0.240000,0.160000,0.067333,0.279100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-08','4041',6,0.110000,0.150000,0.170000,0.140000,0.250000,0.180000,0.028083,0.206600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-09','4324',1,0.250000,0.210000,0.180000,0.090000,0.120000,0.150000,-0.036183,0.153300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-09','3052',2,0.050000,0.090000,0.170000,0.280000,0.210000,0.200000,0.023383,0.194700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-09','4475',3,0.130000,0.130000,0.290000,0.150000,0.180000,0.120000,-0.004033,0.172600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-09','4817',4,0.160000,0.180000,0.220000,0.170000,0.140000,0.130000,-0.045650,0.148300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-09','4764',5,0.150000,0.160000,0.160000,0.180000,0.200000,0.150000,-0.003617,0.167300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-09','4425',6,0.090000,0.190000,0.150000,0.160000,0.280000,0.130000,0.011600,0.191700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-10','3731',1,0.220000,0.170000,0.160000,0.210000,0.130000,0.110000,-0.013750,0.180900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-10','3901',2,0.120000,0.230000,0.240000,0.160000,0.100000,0.150000,0.008667,0.212000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-10','4704',3,0.270000,0.170000,0.170000,0.130000,0.160000,0.100000,-0.017850,0.169600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-10','4482',4,0.380000,0.180000,0.110000,0.160000,0.090000,0.080000,0.052200,0.274200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-10','4567',5,0.080000,0.120000,0.110000,0.200000,0.300000,0.190000,-0.017050,0.211600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-10','4271',6,0.150000,0.120000,0.180000,0.240000,0.190000,0.120000,0.075733,0.259800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-11','3737',1,0.270000,0.250000,0.270000,0.080000,0.080000,0.050000,-0.005183,0.188500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-11','2942',2,0.250000,0.160000,0.150000,0.180000,0.150000,0.110000,-0.034133,0.126000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-11','3711',3,0.140000,0.220000,0.160000,0.170000,0.130000,0.180000,0.013750,0.189400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-11','4302',4,0.290000,0.170000,0.170000,0.160000,0.140000,0.070000,-0.021500,0.175400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-11','4158',5,0.130000,0.110000,0.150000,0.140000,0.270000,0.200000,-0.025533,0.168200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-11','3742',6,0.090000,0.250000,0.160000,0.160000,0.240000,0.100000,0.005367,0.171000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-12','3897',1,0.440000,0.260000,0.110000,0.090000,0.060000,0.040000,-0.040150,0.136500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-12','3961',2,0.290000,0.180000,0.180000,0.180000,0.090000,0.080000,0.015683,0.180300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-12','4108',3,0.330000,0.200000,0.250000,0.050000,0.090000,0.080000,-0.009233,0.160200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-12','4502',4,0.350000,0.190000,0.150000,0.130000,0.080000,0.100000,-0.033317,0.144800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-12','4324',5,0.260000,0.210000,0.180000,0.080000,0.120000,0.150000,-0.036767,0.152200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-19-12','4601',6,0.160000,0.300000,0.180000,0.100000,0.130000,0.130000,0.050867,0.244700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-01','2912',1,0.070000,0.170000,0.160000,0.140000,0.190000,0.270000,0.001667,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-01','4697',2,0.080000,0.070000,0.230000,0.190000,0.180000,0.250000,0.019417,0.202200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-01','4521',3,0.180000,0.140000,0.310000,0.130000,0.090000,0.150000,-0.004683,0.165300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-01','4969',4,0.030000,0.020000,0.070000,0.130000,0.280000,0.470000,0.002200,0.168900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-01','4729',5,0.080000,0.090000,0.210000,0.220000,0.230000,0.170000,-0.025483,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-01','3930',6,0.170000,0.150000,0.160000,0.170000,0.180000,0.170000,-0.011667,0.170600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-02','4563',1,0.070000,0.130000,0.160000,0.150000,0.290000,0.200000,0.012733,0.180700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-02','3953',2,0.120000,0.220000,0.170000,0.130000,0.180000,0.180000,-0.000500,0.200600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-02','3825',3,0.170000,0.120000,0.140000,0.160000,0.230000,0.180000,-0.046283,0.135500)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-02','4364',4,0.370000,0.210000,0.150000,0.100000,0.100000,0.070000,0.064067,0.243000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-02','5048',5,0.000000,0.010000,0.010000,0.070000,0.150000,0.330000,0.025380,0.206667)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-02','3974',6,0.090000,0.110000,0.180000,0.180000,0.220000,0.220000,0.008317,0.174700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-03','4879',1,0.080000,0.120000,0.190000,0.240000,0.150000,0.220000,-0.001967,0.167900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-03','4868',2,0.060000,0.070000,0.140000,0.170000,0.190000,0.370000,-0.003900,0.190800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-03','3876',3,0.240000,0.220000,0.210000,0.170000,0.100000,0.060000,-0.036567,0.139400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-03','4155',4,0.320000,0.150000,0.180000,0.110000,0.130000,0.110000,0.005250,0.181000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-03','4153',5,0.040000,0.140000,0.160000,0.190000,0.240000,0.230000,0.013400,0.199800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-03','4106',6,0.090000,0.150000,0.180000,0.200000,0.190000,0.190000,-0.010117,0.207800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-04','3523',1,0.160000,0.220000,0.140000,0.170000,0.200000,0.110000,-0.001367,0.168400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-04','4873',2,0.040000,0.090000,0.160000,0.200000,0.310000,0.200000,0.020917,0.222200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-04','4350',3,0.540000,0.150000,0.230000,0.020000,0.020000,0.040000,0.020333,0.250000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-04','3636',4,0.080000,0.080000,0.130000,0.220000,0.200000,0.290000,-0.010233,0.162900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-04','5028',5,0.010000,0.050000,0.090000,0.210000,0.230000,0.410000,-0.018517,0.150600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-04','3566',6,0.220000,0.220000,0.170000,0.190000,0.130000,0.070000,0.010300,0.189900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-05','4022',1,0.120000,0.280000,0.150000,0.160000,0.150000,0.140000,0.159633,0.363100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-05','4848',2,0.300000,0.210000,0.200000,0.110000,0.110000,0.070000,-0.012717,0.140200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-05','4007',3,0.140000,0.130000,0.130000,0.150000,0.260000,0.190000,0.049483,0.247300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-05','4336',4,0.300000,0.250000,0.150000,0.150000,0.040000,0.110000,-0.053117,0.130000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-05','4958',5,0.070000,0.140000,0.210000,0.300000,0.190000,0.090000,-0.036350,0.163000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-05','4521',6,0.180000,0.130000,0.320000,0.130000,0.090000,0.150000,-0.003917,0.167200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-06','3702',1,0.150000,0.250000,0.260000,0.160000,0.100000,0.080000,-0.058067,0.162900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-06','4314',2,0.170000,0.210000,0.140000,0.230000,0.160000,0.090000,-0.022100,0.138700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-06','4729',3,0.080000,0.090000,0.210000,0.230000,0.230000,0.160000,-0.025650,0.182700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-06','3825',4,0.170000,0.120000,0.140000,0.160000,0.220000,0.190000,-0.046400,0.135000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-06','4545',5,0.330000,0.170000,0.190000,0.100000,0.110000,0.100000,-0.028567,0.159600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-06','3473',6,0.400000,0.120000,0.130000,0.120000,0.090000,0.140000,-0.011217,0.155800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-07','4802',1,0.240000,0.180000,0.180000,0.170000,0.130000,0.100000,0.072050,0.248600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-07','3726',2,0.210000,0.250000,0.190000,0.190000,0.080000,0.080000,-0.002300,0.158400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-07','4969',3,0.030000,0.020000,0.070000,0.130000,0.280000,0.470000,0.002217,0.171000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-07','4371',4,0.290000,0.120000,0.240000,0.120000,0.180000,0.050000,-0.040700,0.142800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-07','3876',5,0.240000,0.210000,0.220000,0.170000,0.100000,0.060000,-0.035567,0.140300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-07','4299',6,0.110000,0.120000,0.160000,0.200000,0.200000,0.210000,0.029933,0.247500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-08','3576',1,0.280000,0.240000,0.260000,0.110000,0.060000,0.050000,-0.047367,0.172400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-08','3919',2,0.280000,0.110000,0.180000,0.210000,0.140000,0.080000,-0.004733,0.169400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-08','4236',3,0.310000,0.150000,0.210000,0.100000,0.140000,0.090000,-0.017783,0.143000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-08','4697',4,0.080000,0.080000,0.230000,0.180000,0.180000,0.250000,0.019683,0.204100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-08','4873',5,0.040000,0.090000,0.160000,0.200000,0.320000,0.190000,0.020967,0.222800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-08','5048',6,0.000000,0.010000,0.010000,0.080000,0.150000,0.330000,0.024684,0.204828)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-09','4737',1,0.220000,0.240000,0.180000,0.140000,0.130000,0.090000,-0.020350,0.169700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-09','4151',2,0.130000,0.300000,0.290000,0.120000,0.130000,0.030000,-0.021533,0.183100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-09','4023',3,0.060000,0.130000,0.220000,0.190000,0.310000,0.090000,-0.027483,0.185100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-09','4153',4,0.040000,0.140000,0.150000,0.190000,0.250000,0.230000,0.013317,0.200200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-09','4364',5,0.380000,0.200000,0.150000,0.100000,0.100000,0.070000,0.064017,0.242600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-09','4523',6,0.250000,0.200000,0.190000,0.140000,0.130000,0.090000,-0.015750,0.143700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-10','4371',1,0.280000,0.120000,0.250000,0.120000,0.180000,0.050000,-0.040567,0.143000)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-10','3974',2,0.090000,0.110000,0.180000,0.180000,0.230000,0.210000,0.007683,0.173600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-10','3930',3,0.170000,0.150000,0.160000,0.170000,0.180000,0.170000,-0.011950,0.171900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-10','3702',4,0.150000,0.250000,0.250000,0.170000,0.100000,0.080000,-0.058600,0.161300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-10','4022',5,0.120000,0.270000,0.150000,0.170000,0.150000,0.140000,0.160733,0.364200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-10','4413',6,0.280000,0.230000,0.160000,0.210000,0.070000,0.050000,-0.015450,0.149800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-11','4545',1,0.320000,0.170000,0.200000,0.100000,0.110000,0.100000,-0.027550,0.160100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-11','4879',2,0.090000,0.120000,0.190000,0.240000,0.150000,0.210000,-0.001850,0.168000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-11','4336',3,0.290000,0.260000,0.150000,0.150000,0.040000,0.110000,-0.053283,0.129800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-11','4350',4,0.540000,0.150000,0.230000,0.020000,0.020000,0.040000,0.018500,0.250400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-11','4299',5,0.100000,0.120000,0.160000,0.200000,0.210000,0.210000,0.031917,0.247900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-11','3919',6,0.280000,0.110000,0.190000,0.200000,0.140000,0.080000,-0.004383,0.169600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-12','4848',1,0.310000,0.210000,0.190000,0.110000,0.110000,0.070000,-0.012833,0.140600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-12','3566',2,0.220000,0.220000,0.170000,0.190000,0.130000,0.070000,0.010817,0.191200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-12','4737',3,0.230000,0.230000,0.180000,0.140000,0.130000,0.090000,-0.020667,0.169100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-12','3576',4,0.270000,0.250000,0.260000,0.110000,0.060000,0.050000,-0.048400,0.171000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-12','4802',5,0.240000,0.190000,0.180000,0.170000,0.120000,0.100000,0.071583,0.247700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-20-12','4155',6,0.320000,0.150000,0.180000,0.120000,0.130000,0.100000,0.005400,0.180600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-01','4885',1,0.260000,0.210000,0.200000,0.110000,0.110000,0.110000,-0.017950,0.143100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-01','3858',2,0.150000,0.120000,0.260000,0.130000,0.200000,0.140000,-0.025933,0.157500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-01','4899',3,0.080000,0.070000,0.130000,0.190000,0.150000,0.380000,0.002733,0.175400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-01','4363',4,0.140000,0.150000,0.210000,0.220000,0.160000,0.120000,-0.004967,0.161200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-01','4406',5,0.120000,0.130000,0.220000,0.230000,0.170000,0.130000,0.004367,0.172700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-01','4088',6,0.070000,0.160000,0.160000,0.160000,0.160000,0.290000,0.002450,0.192700)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-02','3360',1,0.180000,0.230000,0.130000,0.210000,0.140000,0.110000,0.017050,0.204600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-02','4008',2,0.180000,0.150000,0.170000,0.210000,0.140000,0.150000,-0.002517,0.188800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-02','4942',3,0.000000,0.040000,0.100000,0.290000,0.320000,0.250000,0.006450,0.181700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-02','3188',4,0.210000,0.250000,0.110000,0.200000,0.100000,0.130000,-0.002483,0.161500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-02','4614',5,0.330000,0.200000,0.140000,0.110000,0.110000,0.110000,-0.018933,0.158600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-02','5012',6,0.060000,0.040000,0.090000,0.140000,0.210000,0.460000,0.002867,0.181100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-03','4193',1,0.180000,0.190000,0.240000,0.150000,0.170000,0.070000,-0.048800,0.151800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-03','4195',2,0.150000,0.140000,0.150000,0.270000,0.130000,0.160000,-0.040333,0.146200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-03','3574',3,0.280000,0.240000,0.190000,0.120000,0.080000,0.090000,-0.023400,0.165600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-03','3998',4,0.120000,0.180000,0.140000,0.190000,0.210000,0.160000,-0.019017,0.166400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-03','3662',5,0.270000,0.150000,0.090000,0.270000,0.120000,0.100000,-0.003150,0.163100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-03','4936',6,0.100000,0.060000,0.200000,0.170000,0.180000,0.290000,-0.065150,0.152500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-04','4402',1,0.320000,0.150000,0.180000,0.190000,0.130000,0.030000,-0.011667,0.160300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-04','4329',2,0.080000,0.230000,0.160000,0.180000,0.200000,0.150000,0.071533,0.274200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-04','3741',3,0.090000,0.190000,0.130000,0.240000,0.240000,0.110000,-0.007417,0.189100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-04','4272',4,0.100000,0.260000,0.220000,0.250000,0.090000,0.080000,-0.009100,0.187800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-04','5009',5,0.000000,0.010000,0.030000,0.130000,0.140000,0.690000,0.015633,0.188100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-04','3352',6,0.060000,0.180000,0.240000,0.190000,0.180000,0.150000,-0.011317,0.148700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-05','4017',1,0.200000,0.220000,0.210000,0.140000,0.110000,0.120000,-0.006950,0.162500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-05','4102',2,0.250000,0.260000,0.120000,0.080000,0.210000,0.080000,-0.034100,0.148600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-05','3734',3,0.150000,0.120000,0.180000,0.130000,0.160000,0.260000,0.152850,0.365600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-05','4949',4,0.070000,0.130000,0.180000,0.170000,0.240000,0.210000,-0.005367,0.164500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-05','4899',5,0.070000,0.080000,0.130000,0.190000,0.150000,0.380000,0.003350,0.176200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-05','4495',6,0.130000,0.150000,0.130000,0.200000,0.180000,0.210000,-0.061533,0.137700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-06','4406',1,0.120000,0.120000,0.220000,0.240000,0.170000,0.130000,0.004000,0.173000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-06','4607',2,0.100000,0.290000,0.210000,0.150000,0.140000,0.110000,-0.001217,0.198900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-06','4100',3,0.120000,0.170000,0.190000,0.190000,0.210000,0.120000,-0.019733,0.168000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-06','3360',4,0.190000,0.230000,0.120000,0.210000,0.140000,0.110000,0.016983,0.203500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-06','3858',5,0.150000,0.110000,0.260000,0.130000,0.200000,0.150000,-0.025983,0.157200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-06','4122',6,0.130000,0.230000,0.230000,0.120000,0.140000,0.150000,-0.001517,0.164100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-07','4614',1,0.320000,0.200000,0.140000,0.120000,0.110000,0.110000,-0.018817,0.157700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-07','4952',2,0.090000,0.020000,0.140000,0.160000,0.190000,0.400000,0.009700,0.199400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-07','4088',3,0.060000,0.160000,0.160000,0.160000,0.170000,0.290000,0.002850,0.192900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-07','4463',4,0.140000,0.160000,0.170000,0.240000,0.130000,0.160000,0.000767,0.197700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-07','4195',5,0.140000,0.150000,0.150000,0.270000,0.130000,0.160000,-0.040750,0.145600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-07','4942',6,0.000000,0.040000,0.100000,0.290000,0.310000,0.260000,0.006750,0.180500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-08','3662',1,0.280000,0.150000,0.090000,0.260000,0.120000,0.100000,-0.003317,0.162000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-08','5012',2,0.050000,0.050000,0.090000,0.140000,0.210000,0.460000,0.003717,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-08','3188',3,0.210000,0.250000,0.110000,0.190000,0.110000,0.130000,-0.002900,0.160500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-08','4555',4,0.180000,0.240000,0.120000,0.170000,0.160000,0.130000,-0.032417,0.194200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-08','3352',5,0.060000,0.180000,0.230000,0.190000,0.190000,0.150000,-0.010367,0.148900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-08','3741',6,0.090000,0.190000,0.130000,0.240000,0.240000,0.110000,-0.007133,0.189000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-09','4363',1,0.150000,0.150000,0.210000,0.220000,0.160000,0.110000,-0.005467,0.160600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-09','4936',2,0.090000,0.060000,0.200000,0.170000,0.180000,0.300000,-0.064950,0.151400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-09','4885',3,0.260000,0.210000,0.200000,0.110000,0.110000,0.110000,-0.016733,0.144300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-09','3734',4,0.150000,0.120000,0.180000,0.130000,0.150000,0.270000,0.151983,0.365600)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-09','4100',5,0.120000,0.170000,0.200000,0.190000,0.210000,0.110000,-0.019583,0.168400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-09','5009',6,0.000000,0.010000,0.030000,0.130000,0.140000,0.690000,0.015083,0.187200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-10','4102',1,0.250000,0.270000,0.110000,0.080000,0.210000,0.080000,-0.032717,0.149100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-10','4402',2,0.330000,0.150000,0.170000,0.190000,0.130000,0.030000,-0.011917,0.159700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-10','4607',3,0.100000,0.290000,0.210000,0.150000,0.140000,0.110000,-0.000733,0.198000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-10','4193',4,0.180000,0.190000,0.240000,0.150000,0.170000,0.070000,-0.048483,0.152100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-10','4463',5,0.140000,0.170000,0.170000,0.240000,0.130000,0.150000,0.001017,0.197400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-10','4329',6,0.080000,0.240000,0.160000,0.180000,0.190000,0.150000,0.070650,0.273900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-11','4555',1,0.170000,0.240000,0.120000,0.170000,0.170000,0.130000,-0.032267,0.194500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-11','4272',2,0.100000,0.260000,0.210000,0.260000,0.090000,0.080000,-0.009233,0.188200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-11','4008',3,0.180000,0.150000,0.180000,0.210000,0.130000,0.150000,-0.002283,0.188000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-11','3574',4,0.280000,0.230000,0.190000,0.130000,0.080000,0.090000,-0.023933,0.164000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-11','3998',5,0.120000,0.180000,0.140000,0.190000,0.210000,0.160000,-0.019017,0.166300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-11','4017',6,0.210000,0.220000,0.210000,0.140000,0.110000,0.110000,-0.007100,0.162700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-12','4477',1,0.310000,0.240000,0.160000,0.130000,0.110000,0.050000,-0.022417,0.140100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-12','4189',2,0.200000,0.210000,0.200000,0.190000,0.170000,0.030000,-0.019000,0.153700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-12','4504',3,0.350000,0.200000,0.120000,0.130000,0.140000,0.060000,0.003883,0.160800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-12','4136',4,0.150000,0.220000,0.210000,0.140000,0.170000,0.110000,0.061667,0.251300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-12','3853',5,0.290000,0.180000,0.120000,0.110000,0.130000,0.170000,-0.024450,0.167800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-21-12','3898',6,0.210000,0.240000,0.210000,0.160000,0.120000,0.060000,-0.006150,0.150900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-01','3151',1,0.150000,0.120000,0.160000,0.170000,0.230000,0.170000,-0.035200,0.174800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-01','4695',2,0.060000,0.120000,0.160000,0.180000,0.180000,0.300000,0.079100,0.295700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-01','4315',3,0.150000,0.130000,0.120000,0.260000,0.160000,0.180000,0.006033,0.176800)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-01','4948',4,0.060000,0.110000,0.230000,0.120000,0.280000,0.200000,-0.000233,0.190100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-01','5008',5,0.000000,0.000000,0.060000,0.100000,0.230000,0.610000,0.006267,0.193600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-01','3773',6,0.210000,0.130000,0.160000,0.180000,0.160000,0.160000,-0.031983,0.160000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-02','4715',1,0.260000,0.190000,0.210000,0.150000,0.080000,0.110000,0.074167,0.266700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-02','4248',2,0.070000,0.180000,0.260000,0.160000,0.160000,0.170000,-0.032367,0.163700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-02','4705',3,0.090000,0.120000,0.160000,0.120000,0.200000,0.310000,-0.017333,0.148700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-02','4252',4,0.110000,0.110000,0.140000,0.200000,0.300000,0.140000,-0.046667,0.186300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-02','3775',5,0.120000,0.150000,0.140000,0.120000,0.240000,0.230000,0.079100,0.278700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-02','5055',6,0.000000,0.020000,0.010000,0.020000,0.120000,0.390000,0.022500,0.182500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-03','4323',1,0.090000,0.150000,0.090000,0.180000,0.220000,0.270000,0.004567,0.167900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-03','3936',2,0.140000,0.140000,0.190000,0.190000,0.190000,0.150000,-0.005133,0.197400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-03','3527',3,0.130000,0.190000,0.240000,0.210000,0.150000,0.080000,-0.013733,0.184100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-03','4171',4,0.200000,0.260000,0.190000,0.130000,0.110000,0.110000,0.012500,0.183900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-03','3211',5,0.100000,0.110000,0.200000,0.170000,0.290000,0.130000,-0.002700,0.167900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-03','5026',6,0.040000,0.010000,0.050000,0.130000,0.260000,0.510000,-0.017100,0.177300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-04','4202',1,0.100000,0.200000,0.180000,0.210000,0.160000,0.150000,0.002750,0.179000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-04','4222',2,0.200000,0.210000,0.200000,0.140000,0.140000,0.110000,-0.018900,0.171400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-04','3906',3,0.190000,0.170000,0.130000,0.190000,0.200000,0.120000,0.002633,0.170800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-04','4070',4,0.370000,0.180000,0.110000,0.090000,0.140000,0.110000,-0.021767,0.145900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-04','3714',5,0.080000,0.160000,0.160000,0.220000,0.260000,0.120000,-0.006483,0.166600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-04','4966',6,0.080000,0.110000,0.220000,0.210000,0.210000,0.170000,-0.019000,0.161500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-05','4004',1,0.100000,0.130000,0.150000,0.260000,0.140000,0.220000,-0.019967,0.192100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-05','3964',2,0.090000,0.160000,0.160000,0.260000,0.200000,0.130000,0.033267,0.216200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-05','4553',3,0.200000,0.190000,0.210000,0.170000,0.170000,0.060000,0.012183,0.196100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-05','4241',4,0.110000,0.130000,0.150000,0.260000,0.210000,0.140000,-0.026767,0.176300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-05','4259',5,0.260000,0.160000,0.170000,0.150000,0.180000,0.080000,-0.053083,0.162300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-05','4557',6,0.160000,0.080000,0.130000,0.120000,0.290000,0.220000,-0.004850,0.184900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-06','3843',1,0.160000,0.250000,0.150000,0.160000,0.150000,0.130000,-0.024100,0.155800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-06','3926',2,0.050000,0.060000,0.150000,0.280000,0.160000,0.300000,0.019700,0.202600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-06','4562',3,0.110000,0.170000,0.180000,0.180000,0.230000,0.130000,-0.012133,0.190900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-06','4174',4,0.300000,0.260000,0.170000,0.140000,0.070000,0.060000,-0.039333,0.169000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-06','5026',5,0.040000,0.010000,0.050000,0.130000,0.260000,0.510000,-0.016383,0.176200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-06','4252',6,0.110000,0.120000,0.140000,0.190000,0.300000,0.140000,-0.047517,0.185800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-07','4212',1,0.080000,0.070000,0.140000,0.160000,0.200000,0.350000,0.003350,0.220500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-07','4855',2,0.120000,0.100000,0.090000,0.190000,0.190000,0.310000,0.057117,0.252500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-07','3714',3,0.080000,0.150000,0.160000,0.230000,0.260000,0.120000,-0.005733,0.167000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-07','3779',4,0.380000,0.190000,0.110000,0.150000,0.080000,0.090000,-0.025117,0.118300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-07','3224',5,0.120000,0.150000,0.260000,0.170000,0.110000,0.190000,-0.025250,0.180800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-07','5008',6,0.000000,0.000000,0.060000,0.100000,0.230000,0.610000,0.006500,0.194000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-08','4070',1,0.370000,0.190000,0.110000,0.080000,0.140000,0.110000,-0.021750,0.145400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-08','3944',2,0.250000,0.250000,0.210000,0.130000,0.060000,0.100000,0.151517,0.367100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-08','4715',3,0.270000,0.190000,0.210000,0.150000,0.070000,0.110000,0.075200,0.267000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-08','3936',4,0.140000,0.140000,0.180000,0.190000,0.190000,0.160000,-0.005300,0.196700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-08','3627',5,0.150000,0.150000,0.130000,0.140000,0.280000,0.150000,-0.020517,0.194800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-08','4248',6,0.070000,0.180000,0.260000,0.160000,0.160000,0.170000,-0.031083,0.164400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-09','4096',1,0.350000,0.210000,0.100000,0.150000,0.130000,0.060000,-0.032267,0.137200)

INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-09','3906',2,0.190000,0.170000,0.120000,0.190000,0.210000,0.120000,0.001817,0.169500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-09','3070',3,0.310000,0.180000,0.160000,0.080000,0.130000,0.140000,-0.036500,0.146900)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-09','4259',4,0.260000,0.170000,0.160000,0.150000,0.180000,0.080000,-0.052617,0.162300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-09','4315',5,0.150000,0.130000,0.120000,0.270000,0.160000,0.170000,0.005517,0.177500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-09','4004',6,0.110000,0.130000,0.150000,0.250000,0.140000,0.220000,-0.021150,0.190200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-10','4174',1,0.300000,0.270000,0.160000,0.140000,0.070000,0.060000,-0.038967,0.170500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-10','3843',2,0.170000,0.250000,0.150000,0.160000,0.150000,0.120000,-0.024483,0.156500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-10','4202',3,0.110000,0.200000,0.180000,0.210000,0.160000,0.140000,0.001600,0.178800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-10','3527',4,0.130000,0.190000,0.230000,0.220000,0.150000,0.080000,-0.014667,0.182400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-10','3349',5,0.200000,0.240000,0.190000,0.110000,0.170000,0.090000,-0.026900,0.154500)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-10','4695',6,0.060000,0.130000,0.160000,0.180000,0.180000,0.290000,0.079400,0.297600)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-11','3779',1,0.370000,0.200000,0.110000,0.150000,0.080000,0.090000,-0.024533,0.118800)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-11','4171',2,0.200000,0.270000,0.190000,0.120000,0.110000,0.110000,0.012883,0.183100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-11','3151',3,0.150000,0.120000,0.160000,0.170000,0.230000,0.170000,-0.035717,0.174700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-11','4553',4,0.190000,0.190000,0.210000,0.170000,0.180000,0.060000,0.012817,0.196100)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-11','4222',5,0.200000,0.210000,0.210000,0.140000,0.130000,0.110000,-0.018383,0.172700)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-11','3926',6,0.050000,0.060000,0.140000,0.280000,0.170000,0.300000,0.019017,0.202200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-12','3777',1,0.210000,0.170000,0.160000,0.210000,0.180000,0.070000,-0.030417,0.187200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-12','4705',2,0.090000,0.120000,0.160000,0.120000,0.190000,0.320000,-0.017267,0.149400)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-12','3224',3,0.120000,0.150000,0.260000,0.160000,0.120000,0.190000,-0.024717,0.181300)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-12','3773',4,0.200000,0.130000,0.170000,0.180000,0.160000,0.160000,-0.030950,0.161200)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-12','4855',5,0.120000,0.100000,0.090000,0.200000,0.190000,0.300000,0.056083,0.252000)
INSERT INTO oldResultByToban                                (raceId,toban,lane,oldRank1,oldRank2,oldRank3,oldRank4,oldRank5,oldRank6,                                 avgStartDev,avgStartTime)                                VALUES                                ('20190430-24-12','4562',6,0.110000,0.170000,0.190000,0.180000,0.220000,0.130000,-0.012117,0.191300)