In [36]:
# ToDo 選手情報・過去レース情報から3連単舟券120種をクラス分類する

# 汎用ライブラリのimport
import sys
import os
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import statsmodels.api as sm

import tensorflow as tf

In [37]:
# 自作ライブラリのimport
if os.environ['BR_HOME']+"/boatrace" not in sys.path:
    sys.path.append(os.environ['BR_HOME']+"/boatrace")
#print(sys.path)

from setup.myUtil import dbHandler

In [38]:
# 分析期間の指定は一旦ここでまとめてみる。
trainStartDate="20180101"
trainEndDate="20180531"
testStartDate="20180401"
testEndDate="20180430"

In [39]:
dbh=dbHandler.getDBHandle()
#dbHandler.closeDBHandle(dbh)

In [40]:
# trainの元データを取得
# Todo 階級も入れて、get_dummiesする。
with dbh.cursor() as cursor:
    sel_sql = "select * from raceabst_forml_v \
               where raceDate between '%s' and '%s' \
               order by raceId "\
               % (trainStartDate,trainEndDate)
    cursor.execute(sel_sql)
    loadList=cursor.fetchall()
print("traindata:",len(loadList))

with dbh.cursor() as cursor:
    sel_sql = "select * from raceabst_forml_v \
               where raceDate between '%s' and '%s' \
               order by raceId "\
               % (testStartDate,testEndDate)
    cursor.execute(sel_sql)
    testLoadList=cursor.fetchall()
print("testdatta:",len(testLoadList))

traindata: 22761
testdatta: 4449

In [41]:
df = pd.io.json.json_normalize(loadList)
df.head()

,funaken,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1rank,l1score,l2Fcnt,l2boat2r,...,l6boat3r,l6motor2r,l6motor3r,l6rank,l6score,odds,raceDate,raceId,raceWaveHeight,raceWindSpeed
0,2-1-3,1,0.3636,0.5152,0.3558,0.5092,A1,13.871549,0,0.4746,...,0.4545,0.5421,0.6789,B2,0.851669,30.9,2018-01-01,20180101-06-01,3,5.0
1,2-1-6,0,0.2462,0.4462,0.3466,0.4830,B1,3.409304,0,0.3636,...,0.4925,0.3392,0.5088,B1,0.886552,26.2,2018-01-01,20180101-06-02,3,5.0
2,3-5-4,0,0.3692,0.5231,0.3135,0.4108,B2,2.836839,0,0.2714,...,0.4091,0.3472,0.4870,B1,0.580764,99.2,2018-01-01,20180101-06-03,3,5.0
3,1-5-2,0,0.4308,0.6308,0.3676,0.5514,A2,7.488113,0,0.3636,...,0.3939,0.3176,0.4706,B1,0.583266,16.8,2018-01-01,20180101-06-04,3,5.0
4,4-1-3,0,0.3636,0.5152,0.4469,0.5754,B1,6.454111,0,0.3231,...,0.4925,0.3916,0.5663,B2,0.470489,51.5,2018-01-01,20180101-06-05,3,5.0

In [42]:
testdf = pd.io.json.json_normalize(testLoadList)
testdf.head()

,funaken,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1rank,l1score,l2Fcnt,l2boat2r,...,l6boat3r,l6motor2r,l6motor3r,l6rank,l6score,odds,raceDate,raceId,raceWaveHeight,raceWindSpeed
0,1-5-2,0,0.3750,0.5714,0.3152,0.5163,B1,6.582412,0,0.3354,...,0.5723,0.3669,0.5089,B2,0.666744,40.6,2018-04-01,20180401-02-01,1,2.0
1,4-6-1,0,0.4034,0.5625,0.3297,0.4835,B1,7.479711,1,0.3247,...,0.4765,0.4934,0.5987,B1,1.950668,26.0,2018-04-01,20180401-02-02,1,2.0
2,3-2-5,0,0.4045,0.5955,0.3664,0.5954,B1,2.656783,0,0.3609,...,0.5465,0.3702,0.5240,A2,1.499352,9.3,2018-04-01,20180401-02-03,1,2.0
3,3-1-2,0,0.4121,0.5818,0.4138,0.5655,B1,8.429216,1,0.4653,...,0.5724,0.3627,0.5699,A2,2.021243,85.3,2018-04-01,20180401-02-04,1,2.0
4,3-4-2,0,0.3125,0.5125,0.3200,0.4400,B1,3.230705,1,0.3106,...,0.5284,0.4260,0.6036,B1,0.478606,15.9,2018-04-01,20180401-02-05,1,2.0

In [87]:
# 入力のデータ整形
xdf=df.drop(['funaken','odds','raceId','raceDate'],axis=1)
xdf=pd.get_dummies(xdf,columns=['l1rank','l2rank','l3rank','l4rank','l5rank','l6rank'])
#xdf.head()
xdf.describe()

# サンプル確認用
xdf_sample=xdf[0:5]

In [44]:
# 入力のデータ整形
testxdf=testdf.drop(['funaken','odds','raceId','raceDate'],axis=1)
testxdf=pd.get_dummies(testxdf,columns=['l1rank','l2rank','l3rank','l4rank','l5rank','l6rank'])
testxdf.head()

,l1Fcnt,l1boat2r,l1boat3r,l1motor2r,l1motor3r,l1score,l2Fcnt,l2boat2r,l2boat3r,l2motor2r,...,l4rank_B1,l4rank_B2,l5rank_A1,l5rank_A2,l5rank_B1,l5rank_B2,l6rank_A1,l6rank_A2,l6rank_B1,l6rank_B2
0,0,0.3750,0.5714,0.3152,0.5163,6.582412,0,0.3354,0.4939,0.3297,...,1,0,0,0,1,0,0,0,0,1
1,0,0.4034,0.5625,0.3297,0.4835,7.479711,1,0.3247,0.4675,0.3385,...,0,0,0,0,1,0,0,0,1,0
2,0,0.4045,0.5955,0.3664,0.5954,2.656783,0,0.3609,0.5030,0.3831,...,0,1,0,1,0,0,0,1,0,0
3,0,0.4121,0.5818,0.4138,0.5655,8.429216,1,0.4653,0.5972,0.3846,...,0,0,0,0,1,0,0,1,0,0
4,0,0.3125,0.5125,0.3200,0.4400,3.230705,1,0.3106,0.4783,0.3125,...,0,0,1,0,0,0,0,0,1,0

In [130]:
# 結果のOne-Hot表現を作る
ydf=df['funaken']
ydf=pd.get_dummies(ydf,columns=['funaken'])
#ydf.head()
ydf.describe()

# サンプル確認用
#ydf_sample=ydf[0:5]
#ydf.head()

,1-2-3,1-2-4,1-2-5,1-2-6,1-3-2,1-3-4,1-3-5,1-3-6,1-4-2,1-4-3,...,6-3-4,6-3-5,6-4-1,6-4-2,6-4-3,6-4-5,6-5-1,6-5-2,6-5-3,6-5-4
count,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,...,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000,22761.000000
mean,0.069461,0.050876,0.035895,0.028162,0.049954,0.043979,0.028777,0.023681,0.036158,0.030666,...,0.001274,0.001274,0.001582,0.001626,0.001054,0.001142,0.001713,0.001362,0.001186,0.000879
std,0.254242,0.219750,0.186032,0.165440,0.217854,0.205052,0.167184,0.152056,0.186688,0.172416,...,0.035673,0.035673,0.039739,0.040287,0.032456,0.033779,0.041359,0.036881,0.034422,0.029630
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
# 結果のOne-Hot表現を作る
testydf=testdf['funaken']
testydf=pd.get_dummies(testydf,columns=['funaken'])
testydf.head()

,1-2-3,1-2-4,1-2-5,1-2-6,1-3-2,1-3-4,1-3-5,1-3-6,1-4-2,1-4-3,...,6-3-4,6-3-5,6-4-1,6-4-2,6-4-3,6-4-5,6-5-1,6-5-2,6-5-3,6-5-4
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
#xAtrNum=62
#yclassNum=120

# create the model
## 保存しておく
#x = tf.placeholder(tf.float32,[None,xAtrNum])
#W = tf.Variable(tf.random_uniform([xAtrNum,yclassNum],-1.0,1.0))
#b = tf.Variable(tf.random_uniform([yclassNum],-1.0,1.0))
#y = tf.nn.softmax( (tf.matmul(x,W)+b) - tf.reduce_max(tf.matmul(x,W)+b)  )

In [123]:
xAtrNum=62
yclassNum=120

# create the model
## 保存しておく
#x = tf.placeholder(tf.float32,[None,xAtrNum])
#W = tf.Variable(tf.random_uniform([xAtrNum,yclassNum],-1.0,1.0))
#b = tf.Variable(tf.random_uniform([yclassNum],-1.0,1.0))
#y = tf.nn.softmax( (tf.matmul(x,W)+b) - tf.reduce_max(tf.matmul(x,W)+b)  )

# layerNumは2以上。
layerNum=5
layerClassNum=360
wInitMin= -0.1
wInitMax= 0.1
bInitMin= -0.1
bInitMax= 0.1

## 多層化
x = tf.placeholder(tf.float32,[None,xAtrNum])
x_hidden=[]
W_hidden=[]
b_hidden=[]

# 0 と最後については形が違うので個別に設定。
x_hidden.append(tf.Variable(tf.random_uniform([len(loadList),layerClassNum],-1.0,1.0)))
W_hidden.append(tf.Variable(tf.random_uniform([xAtrNum,layerClassNum],wInitMin,wInitMax)))
b_hidden.append(tf.Variable(tf.random_uniform([layerClassNum],bInitMin,bInitMax)))

for i in range(1,layerNum):
    x_hidden.append(tf.Variable(tf.random_uniform([len(loadList),layerClassNum],-1.0,1.0)))
    W_hidden.append(tf.Variable(tf.random_uniform([layerClassNum,layerClassNum],wInitMin,wInitMax)))
    b_hidden.append(tf.Variable(tf.random_uniform([layerClassNum],bInitMin,bInitMax)))

x_hidden[0]=tf.sigmoid(tf.matmul(x,W_hidden[0])+b_hidden[0])
for i in range(1,layerNum):
    x_hidden[i]=tf.sigmoid(tf.matmul(x_hidden[i-1],W_hidden[i])+b_hidden[i])

# 0 と最後については形が違うので個別に設定。
W = tf.Variable(tf.random_uniform([layerClassNum,yclassNum],wInitMin,wInitMax))
b = tf.Variable(tf.random_uniform([yclassNum],bInitMin,bInitMax))

y = tf.nn.softmax( (tf.matmul(x_hidden[layerNum-1],W)+b) - tf.reduce_max(tf.matmul(x_hidden[layerNum-1],W)+b)  )
#y = tf.nn.softmax( tf.sigmoid(tf.matmul(x_hidden[layerNum-1],W)+b))

In [124]:
# define loss and optimizer
y_ = tf.placeholder(tf.float32,[None,yclassNum])
cross_entropy=-tf.reduce_sum(y_*tf.log( tf.clip_by_value(y,1e-5,1e+5) ))

# L2正則化
lambda_2=0.01
L2_sqr=tf.nn.l2_loss(W)
for i in range(layerNum):
    L2_sqr+=tf.nn.l2_loss(W_hidden[i])

loss=cross_entropy+lambda_2*L2_sqr

#cross_entropy=-tf.reduce_sum( (y_-y)**2 )
train_step=tf.train.GradientDescentOptimizer(0.1).minimize(loss)

sess = tf.Session()

In [125]:
# tensorboard
with tf.name_scope('summary'):
    tf.summary.scalar('cross_entropy', cross_entropy)
    merged = tf.summary.merge_all()
    writer = tf.summary.FileWriter('/home/ec2-user/boatrace/log/tensorboard', sess.graph)

In [126]:
# train
maxEpochs=1000

init = tf.global_variables_initializer()
sess.run(init)
for i in range(maxEpochs):
    sess.run(train_step,feed_dict={x:xdf.values,y_:ydf.values})
    if i % (maxEpochs/10) == 0:
        correct_prediction = tf.equal(tf.argmax(y, 1), tf.argmax(y_, 1))
        accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))
        print("cross_entropy:"+str(sess.run(cross_entropy,feed_dict={x:xdf.values,y_:ydf.values}) ), \
              "loss:"+str(sess.run(loss,feed_dict={x:xdf.values,y_:ydf.values})),  \
              "accuracy:"+str(sess.run(accuracy, feed_dict={x: xdf.values, y_: ydf.values})) )
        #print("w:",sess.run(tf.reduce_sum(W),feed_dict={x: xdf.values, y_: ydf.values}))
        print("Ymax:",sess.run(tf.reduce_max(y) ,feed_dict={x:xdf.values,y_:ydf.values}))
        print("Ymin:",sess.run(tf.reduce_min(y) ,feed_dict={x:xdf.values,y_:ydf.values}))
        print("W:",sess.run(tf.reduce_sum(W) ,feed_dict={x:xdf.values,y_:ydf.values}))
        for j in range(layerNum):
            print("X%d:" % (j),sess.run(tf.reduce_max(x_hidden[j]) ,feed_dict={x:xdf.values,y_:ydf.values}))
        #print("b:",sess.run(tf.reduce_sum(b) ,feed_dict={x:xdf.values,y_:ydf.values}))
print("sample:",sess.run(x_hidden[0],feed_dict={x:xdf_sample.values,y_:ydf_sample.values}))

cross_entropy:243847.5 loss:290123.88 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -37.052734
X0: 38.832775
X1: 20.49167
X2: 95.9155
X3: 235.78658
X4: 934.91016
cross_entropy:243847.5 loss:281731.62 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -33.515625
X0: 35.13779
X1: 18.493923
X2: 86.74421
X3: 213.60846
X4: 846.7575
cross_entropy:243847.5 loss:274861.28 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -30.289062
X0: 31.794563
X1: 16.686396
X2: 78.44456
X3: 193.56561
X4: 767.04486
cross_entropy:243847.5 loss:269236.88 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -27.445312
X0: 28.769648
X1: 15.051909
X2: 70.9341
X3: 175.452
X4: 694.9602
cross_entropy:243847.5 loss:264632.47 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -24.853516
X0: 26.032726
X1: 13.595392
X2: 64.13818
X3: 159.08066
X4: 629.76953
cross_entropy:243847.5 loss:260863.1 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -22.388672
X0: 23.556389
X1: 12.29231
X2: 57.989174
X3: 144.28223
X4: 570.8069
cross_entropy:243847.5 loss:257777.3 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -20.361328
X0: 21.315817
X1: 11.119814
X2: 52.426105
X3: 130.90283
X4: 517.4702
cross_entropy:243847.5 loss:255251.14 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -18.37793
X0: 19.288551
X1: 10.0564995
X2: 47.3938
X3: 118.80351
X4: 469.2168
cross_entropy:243847.5 loss:253183.05 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -16.597656
X0: 17.454308
X1: 9.0926075
X2: 42.84253
X3: 107.86064
X4: 425.5561
cross_entropy:243847.5 loss:251490.03 accuracy:0.06946092
Ymax: 1.0
Ymin: 0.0
W: -14.994141
X0: 15.79469
X1: 8.220292
X2: 38.727455
X3: 97.95944
X4: 386.04605
sample: [[0.57388747 0.4534757  0.18919125 ... 0.21323615 0.57652175 0.4990517 ]
 [0.5002452  0.5428723  0.28427112 ... 0.32861373 0.52814746 0.51004744]
 [0.49864593 0.58109254 0.2830192  ... 0.34066907 0.57644933 0.49129122]
 [0.54909223 0.5071391  0.26669455 ... 0.3257557  0.549734   0.4570238 ]
 [0.5501631  0.5045274  0.2773626  ... 0.30150196 0.58221555 0.4739402 ]]

In [128]:
print("sample:",sess.run(x_hidden[layerNum-1],feed_dict={x:xdf_sample.values,y_:ydf_sample.values}))
print("Y:",sess.run(y,feed_dict={x:xdf_sample.values,y_:ydf_sample.values}))

sample: [[1.00000000e+00 0.00000000e+00 1.86143715e-31 ... 1.00000000e+00
  0.00000000e+00 1.25156396e-26]
 [1.00000000e+00 0.00000000e+00 1.86150815e-31 ... 1.00000000e+00
  0.00000000e+00 1.25159747e-26]
 [1.00000000e+00 0.00000000e+00 1.86149393e-31 ... 1.00000000e+00
  0.00000000e+00 1.25159747e-26]
 [1.00000000e+00 0.00000000e+00 1.86142293e-31 ... 1.00000000e+00
  0.00000000e+00 1.25157359e-26]
 [1.00000000e+00 0.00000000e+00 1.86142293e-31 ... 1.00000000e+00
  0.00000000e+00 1.25156873e-26]]
Y: [[1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [80]:
# evaluate trained_data
correct_prediction = tf.equal(tf.argmax(y, 1), tf.argmax(y_, 1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))
print(sess.run(accuracy, feed_dict={x: testxdf.values, y_: testydf.values}))

0.0636098

In [53]:
# メモリ使用チェック
print("{}{: >25}{}{: >10}{}".format('|','Variable Name','|','Memory','|'))
print(" ------------------------------------ ")
for var_name in dir():
    if not var_name.startswith("_") and sys.getsizeof(eval(var_name)) > 1000: #ここだけアレンジ
        print("{}{: >25}{}{: >10}{}".format('|',var_name,'|',sys.getsizeof(eval(var_name)),'|'))

|            Variable Name|    Memory|
 ------------------------------------
|                       df|  19096583|
|                 loadList|    200320|
|             testLoadList|     38216|
|                   testdf|   3732815|
|                  testxdf|   1459376|
|                  testydf|    533984|
|                      xdf|   7465712|
|                      ydf|   2731424|